<app-project-application-form-work-package-outputs
        *ngIf="details$ | async as details"
        [workPackage]="details.workPackage"
        [editable]="projectStore.projectEditable$ | async"
        [projectId]="projectId"
        [success$]="saveSuccess$"
        [error$]="saveError$"
        [periods]="details.project?.periods"
        [indicators]="details.indicators"
        [workPackageOutputs]="details.workPackageOutputs"
        (updateData)="updateWorkPackageOutputData$.next($event)">
</app-project-application-form-work-package-outputs>
