<ng-container *ngIf="data$ | async as data">
    <p *ngIf="!data.page?.content.length">{{'call.no.calls.submitted' | translate}}</p>
    <jems-table *ngIf="data.page.content.length"
               [configuration]="data.tableConfiguration"
               [rows]="data.page.content"
               [totalElements]="data.page?.totalElements"
               [pageIndex]="listStore.newPageIndex$ | async"
               (newPageIndex)="listStore.newPageIndex$.next($event)"
               (newPageSize)="listStore.newPageSize$.next($event)"
               (sortRows)="listStore.newSort$.next($event)">
    </jems-table>
</ng-container>

<ng-template #callActionsCell let-call>
    <button jemsText mat-raised-button color="primary"
            [disabled]="!isOpen(call)"
            (click)="$event.stopPropagation();applyToCall(call.id)">
        {{'call.table.column.action.apply' | translate}} <mat-icon>arrow_forward</mat-icon>
    </button>
</ng-template>

<ng-template #endDateCell let-call>
    {{(call.endDateTimeStep1 || call.endDateTime) | localeDate : 'L' : 'LT'}}
</ng-template>
