<div *ngIf="success"
     class="alert alert-success alert-dismissible fade show" id="successMessage" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="success = false">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{successMessage | translate}}</p>
</div>
<div *ngIf="validationError"
     class="alert alert-danger" id="errorMessage" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="validationError = ''">
        <span aria-hidden="true">&times;</span>
    </button>
    {{validationError | translate }}
</div>
