<div>
    <h4>{{'user.create.header' | translate}}</h4>
    <form [formGroup]="userForm">
        <div class="form-group">
            <mat-form-field class="col-md-12 user-submission-field">
                <mat-label>{{'user.detail.field.name' | translate}}</mat-label>
                <input name="name" formControlName="name" matInput placeholder="{{'user.detail.field.name' | translate}}" required>
                <mat-error>
                    <app-form-field-errors
                            [errors]="userForm?.controls?.name?.errors"
                            [messages]="nameErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-12 user-submission-field">
                <mat-label>{{'user.detail.field.surname' | translate}}</mat-label>
                <input name="surname" formControlName="surname" matInput placeholder="{{'user.detail.field.surname' | translate}}" required>
                <mat-error>
                    <app-form-field-errors
                            [errors]="userForm?.controls?.surname?.errors"
                            [messages]="surnameErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-12 user-submission-field">
                <mat-label>{{'user.detail.field.email' | translate}}</mat-label>
                <input name="email" formControlName="email" matInput placeholder="{{'user.detail.field.email' | translate}}" required>
                <mat-error>
                    <app-form-field-errors
                            [errors]="userForm?.controls?.email?.errors"
                            [messages]="emailErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-12 user-submission-field">
                <mat-label>{{'user.detail.field.role' | translate}}</mat-label>
                <mat-select name="role" formControlName="role" [disableOptionCentering]="true" required
                            panelClass="material-select-panel">
                    <mat-option *ngFor="let role of userRoles" [value]="role">
                        {{role.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <app-form-field-errors
                            [errors]="userForm?.controls?.role?.errors"
                            [messages]="roleErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button
                color="primary"
                type="button"
                (click)="onSubmit()"
                [disabled]="userForm.invalid || submitted">
            + {{'user.create.button.add' | translate}}
        </button>
    </form>
    <app-alert
            [show]="showSuccessMessage$ | async"
            [type]="Alert.SUCCESS">
        <p>{{'user.detail.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
