<ng-container *ngIf="(numberOfItems$ | async) as numberOfItems; else addTableButton">
    <ng-container [formGroup]="budgetForm">
        <jems-alert [closable]="true"
                   [show]="warnOpenForPeriods"
                   [type]="Alert.WARNING">
            <p>{{'project.partner.budget.table.period.warning' | translate}}</p>
        </jems-alert>
        <ng-container [formGroup]="staff">
            <jems-multi-language-container>
                <mat-table [jemsTableConfig]="tableConfig"
                           [dataSource]="dataSource" [formArrayName]="constants.FORM_CONTROL_NAMES.items"
                           class="staff-budget-table">

                    <ng-container matColumnDef="unitCost" sticky>
                        <mat-header-cell *matHeaderCellDef>
                            <span jemsText maxLines="2">{{'project.partner.budget.table.unitcosts.selection' | translate}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <mat-form-field jemsFormFieldWidth="full">
                                <mat-select
                                    #unitCostSelect
                                    (selectionChange)="onUnitCostChange($event, control, i)"
                                    [formControlName]="constants.FORM_CONTROL_NAMES.unitCost"
                                    [matTooltip]="unitCostSelect.triggerValue"
                                    [placeholder]="getUnitCost(control).value? '': 'common.not.applicable.option' | translate">
                                    <mat-option
                                            [value]="null">{{'common.not.applicable.option' | translate}}</mat-option>
                                    <mat-option *ngFor="let unitCost of availableUnitCosts"
                                                [value]="unitCost">
                                        {{ unitCost.name | translateByInputLanguage | async }}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <jems-form-field-errors
                                            [errors]="getUnitCost(control)?.errors"
                                            [messages]="constants.FORM_ERRORS.unitCost">
                                    </jems-form-field-errors>
                                </mat-error>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef>
                            <ng-container *ngIf="columnsToDisplay[0]==='unitCost'">
                                <ng-container *ngTemplateOutlet="addItemButton; context:numberOfItems"></ng-container>
                            </ng-container>
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="description" sticky>
                        <mat-header-cell *matHeaderCellDef>
                            <span jemsText maxLines="2">{{'project.partner.budget.table.staff.description' | translate}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <ng-container *ngIf="fieldEnabled(control)">
                                <div *ngIf="getUnitCost(control).value"
                                     class="text-overflow-ellipsis"> {{getUnitCost(control).value.description | translateByInputLanguage | async}}</div>
                                <jems-multi-language-form-field
                                        *ngIf="!getUnitCost(control).value"
                                        [formControlName]="constants.FORM_CONTROL_NAMES.description">
                                </jems-multi-language-form-field>
                            </ng-container>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef>
                            <ng-container *ngIf="columnsToDisplay[0]==='description'">
                                <ng-container *ngTemplateOutlet="addItemButton; context:numberOfItems"></ng-container>
                            </ng-container>
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="comments">
                        <mat-header-cell *matHeaderCellDef>
                            <span jemsText maxLines="2">{{'project.partner.budget.table.staff.comments' | translate}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <jems-multi-language-form-field
                                    *ngIf="fieldEnabled(control)"
                                    [formControlName]="constants.FORM_CONTROL_NAMES.comments"
                                    [maxLength]="constants.MAX_STAFF_COMMENTS_TEXT_LENGTH">
                            </jems-multi-language-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef>
                            <ng-container *ngIf="columnsToDisplay[0]==='comments'">
                                <ng-container *ngTemplateOutlet="addItemButton; context:numberOfItems"></ng-container>
                            </ng-container>
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="unitType">
                        <mat-header-cell *matHeaderCellDef>
                            <span jemsText maxLines="2">{{'project.partner.budget.table.unit.type' | translate}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <ng-container *ngIf="fieldEnabled(control)">
                                <div *ngIf="getUnitCost(control).value" class="text-overflow-ellipsis">
                                    {{getUnitCost(control).value.type | translateByInputLanguage | async}}
                                </div>
                                <jems-multi-language-form-field
                                        *ngIf="!getUnitCost(control)?.value"
                                        [formControlName]="constants.FORM_CONTROL_NAMES.unitType"
                                        [maxLength]="constants.MAX_UNIT_TYPE_TEXT_LENGTH"
                                        jemsFormFieldWidth="full">
                                </jems-multi-language-form-field>
                            </ng-container>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef>
                            <ng-container *ngIf="columnsToDisplay[0]==='unitType'">
                                <ng-container *ngTemplateOutlet="addItemButton; context:numberOfItems"></ng-container>
                            </ng-container>
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="numberOfUnits">
                        <mat-header-cell *matHeaderCellDef>
                            <span jemsText maxLines="2">{{'project.partner.budget.table.number.of.units' | translate}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <mat-form-field *ngIf="fieldEnabled(control)" jemsFormFieldWidth="full">
                                <input [formControlName]="constants.FORM_CONTROL_NAMES.numberOfUnits"
                                       [options]="{min: constants.MIN_VALUE, max: constants.MAX_VALUE, align: 'right'}"
                                       currencyMask matInput
                                       type="decimal">
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="pricePerUnit">
                        <mat-header-cell *matHeaderCellDef>
                            <span jemsText maxLines="2">{{'project.partner.budget.table.price.per.unit' | translate}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <mat-form-field
                                    *ngIf="fieldEnabled(control)"
                                    [class.mat-form-field-disabled]="getUnitCost(control).value"
                                    jemsFormFieldWidth="full">
                                <input [formControlName]="constants.FORM_CONTROL_NAMES.pricePerUnit"
                                       [options]="{min: constants.MIN_VALUE, max: constants.MAX_VALUE, align: 'right'}"
                                       [readonly]="getUnitCost(control).value"
                                       currencyMask matInput
                                       type="decimal">
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef>
                            <ng-container *ngIf="columnsToDisplay[0]==='pricePerUnit'">
                                <ng-container *ngTemplateOutlet="addItemButton; context:numberOfItems"></ng-container>
                            </ng-container>
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="total" stickyEnd>
                        <mat-header-cell *matHeaderCellDef class="justify-end">
                            <span jemsText maxLines="2">{{'project.partner.budget.table.total' | translate}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control;"
                                  [class.invalid]="control.get(constants.FORM_CONTROL_NAMES.rowSum).invalid"
                                  class="justify-end">
                            <span *ngIf="fieldEnabled(control)" class="text-overflow-ellipsis">
                                {{control.get(constants.FORM_CONTROL_NAMES.rowSum).value | asMoney}}
                            </span>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef
                                         [class.invalid]="total.invalid"
                                         class="justify-end">
                            <div class="text-overflow-ellipsis">{{total.value | asMoney}}</div>
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container *ngFor="let period of projectPeriods; let j = index"
                                  matColumnDef="{{'period' + period.number}}">
                        <mat-header-cell *matHeaderCellDef class="justify-end">
                            <span jemsText maxLines="2">{{'project.partner.budget.table.period' | translate }} {{period.number}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control; let k = index" [formArrayName]="k">
                            <mat-form-field
                                    *ngIf="fieldEnabled(control)"
                                    [formArrayName]="constants.FORM_CONTROL_NAMES.budgetPeriods"
                                    jemsFormFieldWidth="full">
                                <ng-container [formGroupName]="j">
                                    <input [formControlName]="constants.FORM_CONTROL_NAMES.amount"
                                           [options]="{min: constants.MIN_VALUE, max: constants.MAX_VALUE, align: 'right'}"
                                           currencyMask
                                           matInput
                                           type="decimal">
                                </ng-container>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef class="justify-end">
                            <div class="text-overflow-ellipsis">{{ items | periodsTotal : period.number | asMoney}} </div>
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="openForPeriods">
                        <mat-header-cell *matHeaderCellDef class="justify-end">
                            <span jemsText maxLines="2">{{'project.partner.budget.table.gap' | translate}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let control; let k = index"
                                  [class.allocation-warn]="openForPeriods(k).value !== 0" [formArrayName]="k"
                                  class="justify-end">
                            <div *ngIf="fieldEnabled(control)"
                                 class="text-overflow-ellipsis">{{openForPeriods(k).value | asMoney}}</div>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="action" stickyEnd>
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let control;let index=index" class="justify-end">
                            <button (click)="removeItem(index)" *ngIf="editable"
                                    class="delete-button"
                                    color="accent" mat-icon-button
                                    matTooltip="{{'common.delete.entry.tooltip' | translate}}"
                                    tabindex="-1"
                                    type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></mat-row>
                    <mat-footer-row *matFooterRowDef="columnsToDisplay"></mat-footer-row>

                </mat-table>
            </jems-multi-language-container>
            <mat-error *ngIf="total.errors" class="mt-3">
                <jems-form-field-errors
                        [args]="constants.FORM_ERRORS_ARGS.total"
                        [errors]="total.errors"
                        [messages]="constants.FORM_ERRORS.total">
                </jems-form-field-errors>
            </mat-error>
        </ng-container>
    </ng-container>
</ng-container>
<ng-template #addTableButton>
    <p *ngIf="editable">
        <button jemsText (click)="addNewItem()" color="primary"
                mat-raised-button>+ {{'project.partner.budget.button.add' | translate}}
        </button>
    </p>
</ng-template>
<ng-template #addItemButton let-numberOfItems>
    <button (click)="addNewItem()" *ngIf="editable" [disabled]="numberOfItems  >= constants.MAX_NUMBER_OF_ITEMS"
            mat-icon-button
            type="button">
        <mat-icon>add</mat-icon>
    </button>
</ng-template>
