<app-breadcrumb></app-breadcrumb>
<ng-container *ngIf="details$ | async as details">
    <div appFormLayout>
        <h2>{{details.acronym}}</h2>
        <app-project-application-information appNoWidthLimit [project]="details.project">
        </app-project-application-information>
        <h3>{{'project.assessment.fundingDecision.dialog.title' | translate}}</h3>
        <app-project-application-funding-decision
                appNoWidthLimit
                *ngIf="details.showWithConditions"
                [project]="details.project"
                [status]="details.withConditionsStatus"
                [options]="details.withConditionsStatusOptions"
                [submitLabel]="details.withConditionsSubmitLabel"
                (changeStatus)="projectStore.changeStatus($event)"
                (cancel)="redirectToProject()">
        </app-project-application-funding-decision>
        <app-project-application-funding-decision
                appNoWidthLimit
                [project]="details.project"
                [status]="details.status"
                [options]="details.statusOptions"
                [submitLabel]="details.submitLabel"
                (changeStatus)="projectStore.changeStatus($event)"
                (cancel)="redirectToProject()">
        </app-project-application-funding-decision>
    </div>
</ng-container>
