<div>
    <jems-form (save)="doSomething()"
               (discard)="resetForm()" jemsFormLayout [formGroup]="decisionForm">
        <div jemsMultiColumnRow>
            <mat-form-field jemsFormFieldWidth="half">
                <mat-label>{{'project.application.contract.monitoring.project.start.date' | translate | dateFormatInfo}}</mat-label>
                <input formControlName="startDate" matInput
                       [matDatepicker]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="decisionForm?.controls?.startDate?.errors">
    <!--                        [messages]="dateErrors">-->
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field jemsFormFieldWidth="half">
                <mat-label>{{'project.application.contract.monitoring.project.end.date' | translate | dateFormatInfo}}</mat-label>
                <input formControlName="endDate" matInput
                       [matDatepicker]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="decisionForm?.controls?.endDate?.errors">
    <!--                        [messages]="dateErrors">-->
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>

        <div jemsMultiColumnRow>
            <mat-form-field jemsFormFieldWidth="half">
                <mat-label>{{'project.application.contract.monitoring.project.entry.into.force.date' | translate | dateFormatInfo}}</mat-label>
                <input formControlName="entryIntoForceDate" matInput
                       [matDatepicker]="entryIntoForceDate">
                <mat-datepicker-toggle matSuffix [for]="entryIntoForceDate"></mat-datepicker-toggle>
                <mat-datepicker #entryIntoForceDate></mat-datepicker>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="decisionForm?.controls?.entryIntoForceDate?.errors">
    <!--                        [messages]="dateErrors">-->
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field jemsFormFieldWidth="half">
                <mat-label>{{'project.application.contract.monitoring.project.entry.into.force.comment' | translate}}</mat-label>
                <input #entryIntoForceCommentField formControlName="entryIntoForceComment" matInput name="entryIntoForceComment">
                <mat-hint [jemsHintFor]="entryIntoForceCommentField"
                          [hide]="decisionForm?.controls?.entryIntoForceComment?.errors !== null">
                    <jems-text-hint [currentLength]="entryIntoForceCommentField?.value?.length"
                                    [maxLength]="200"></jems-text-hint>
                </mat-hint>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="decisionForm?.controls?.entryIntoForceComment?.errors">
    <!--                        [messages]="inputErrorMessages"-->
                    >
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>

        <mat-table *ngIf="tableData.length > 0" jemsNoWidthLimit
                   id="additional-entry-into-force-dates-table"
                   class="table-condensed mt-3 mb-3"
                   [jemsTableConfig]="[{},{}]"
                   [dataSource]="tableData"
                   formArrayName="additionalEntryIntoForceItems">
            <ng-container matColumnDef="additionalEntryIntoForceDate" stickyEnd>
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                    <mat-form-field jemsFormFieldWidth="full">
                        <mat-label>{{'project.application.contract.monitoring.project.additional.entry.into.force.date' | translate | dateFormatInfo}}</mat-label>
                        <input formControlName="additionalEntryIntoForceDate" matInput
                               [matDatepicker]="additionalEntryIntoForceDate">
                        <mat-datepicker-toggle matSuffix [for]="additionalEntryIntoForceDate"></mat-datepicker-toggle>
                        <mat-datepicker #additionalEntryIntoForceDate></mat-datepicker>
                        <mat-error>
                            <jems-form-field-errors
                                    [errors]="decisionForm?.controls?.decisionDate?.errors">
                                <!--                            [messages]="dateErrors">-->
                            </jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="additionalEntryIntoForceComment">
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>

                <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                    <mat-form-field jemsFormFieldWidth="full">
                        <mat-label>{{'project.application.contract.monitoring.project.entry.into.force.comment' | translate}}</mat-label>
                        <input #additionalEntryIntoForceCommentField formControlName="additionalEntryIntoForceComment" matInput name="additionalEntryIntoForceComment">
                        <mat-hint [jemsHintFor]="additionalEntryIntoForceCommentField"
                                  [hide]="decisionForm?.controls?.additionalEntryIntoForceComment?.errors !== null">
                            <jems-text-hint [currentLength]="additionalEntryIntoForceCommentField?.value?.length"
                                            [maxLength]="200"></jems-text-hint>
                        </mat-hint>
                        <mat-error>
                            <jems-form-field-errors
                                    [errors]="decisionForm?.controls?.additionalEntryIntoForceComment?.errors">
                                <!--                            [messages]="inputErrorMessages"-->
                                >
                            </jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <mat-row *matRowDef="let myRowData; columns: columnsToDisplay; let rowIndex =index"
                     [class.row-has-error]="additionalEntryIntoForceItems.controls[rowIndex]?.invalid"></mat-row>

        </mat-table>

        <button *ngIf="decisionForm.enabled && !isAdditionalDataActivated && tableData.length < 11"
                mat-stroked-button type="button" class="mt-2 mb-2"
                (click)="addAdditionalEntryIntoForceData()">
            <mat-icon>add</mat-icon>
            <span>&nbsp;{{'project.application.contract.monitoring.project.entry.into.force.add' | translate}}</span>
        </button>

        <div jemsMultiColumnRow>

        </div>

        <div [jemsTableConfig]="[{},{maxInRem:10},{}]">
            <div class="mat-body-strong">
                <span>{{'project.application.contract.monitoring.project.topology' | translate }}</span>
                <span>{{'project.partner.state.aid.answer' | translate }}</span>
                <span>{{'project.application.contract.monitoring.project.topology.comment' | translate }}</span>
            </div>

            <div>
                <span>{{'project.application.contract.monitoring.project.topology.question.one' | translate}}</span>
                <div>
                    <mat-button-toggle-group formControlName="answer1">
                        <mat-button-toggle [value]="true">{{'common.yes' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="true">{{'common.partly' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="false">{{'common.no' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <jems-expandable-textarea jemsMultiColumnRow class="mt-2"
                                              [control]="decisionForm?.controls?.justification1"
                                              [errors]="decisionForm?.controls?.justification1?.errors"
                                              [characterLimit]="1000"
                                              [minRows]="1"
                                              [maxRows]="30"
                                              label='common.textarea.enter.text'>
                    </jems-expandable-textarea>
                </div>
            </div>

            <div>
                <span>{{'project.application.contract.monitoring.project.topology.question.two' | translate}}</span>
                <div>
                    <mat-button-toggle-group formControlName="answer2">
                        <mat-button-toggle [value]="true">{{'common.yes' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="true">{{'common.partly' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="false">{{'common.no' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <jems-expandable-textarea jemsMultiColumnRow class="mt-2"
                                              [control]="decisionForm?.controls?.justification2"
                                              [errors]="decisionForm?.controls?.justification2?.errors"
                                              [characterLimit]="1000"
                                              [minRows]="1"
                                              [maxRows]="30"
                                              label='common.textarea.enter.text'>
                    </jems-expandable-textarea>
                </div>
            </div>

            <div>
                <span>{{'project.application.contract.monitoring.project.topology.question.three' | translate}}</span>
                <div>
                    <mat-button-toggle-group formControlName="answer3">
                        <mat-button-toggle [value]="true">{{'common.yes' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="false">{{'common.no' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <jems-expandable-textarea jemsMultiColumnRow class="mt-2"
                                              [control]="decisionForm?.controls?.justification3"
                                              [errors]="decisionForm?.controls?.justification3?.errors"
                                              [characterLimit]="1000"
                                              [minRows]="1"
                                              [maxRows]="30"
                                              label='common.textarea.enter.text'>
                    </jems-expandable-textarea>
                </div>
            </div>

            <div>
                <span>{{'project.application.contract.monitoring.project.topology.question.four' | translate}}</span>
                <div>
                    <mat-button-toggle-group formControlName="answer4">
                        <mat-button-toggle [value]="true">{{'common.yes' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="false">{{'common.no' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <jems-expandable-textarea jemsMultiColumnRow class="mt-2"
                                              [control]="decisionForm?.controls?.justification4"
                                              [errors]="decisionForm?.controls?.justification4?.errors"
                                              [characterLimit]="1000"
                                              [minRows]="1"
                                              [maxRows]="30"
                                              label='common.textarea.enter.text'>
                    </jems-expandable-textarea>
                </div>
            </div>
        </div>
    </jems-form>
</div>
