<jems-project-page-template *ngIf="workPackageStore.workPackage$ | async as workPackage"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async}"
                           subTitleText="{{'project.application.form.workpackage.form.header' | translate}}{{workPackage.number}}">
    <nav mat-tab-nav-bar
         *ngIf="workPackageId">
        <a [active]="activeTab('objectives')" mat-tab-link
           (click)="routeTo('objectives')">
            <span jemsText maxWidth="230">{{'workpackage.tab.objectives' | translate}}</span>
        </a>
        <a *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS"
           [active]="activeTab('investments')" mat-tab-link
           (click)="routeTo('investments')">
            <span jemsText maxWidth="230">{{'workpackage.tab.investments' | translate}}</span>
        </a>
        <a *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.ACTIVITIES"
           [active]="activeTab('activities')" mat-tab-link
           (click)="routeTo('activities')">
            <span jemsText maxWidth="230">{{'workpackage.tab.activities' | translate}}</span>
        </a>
        <a *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.OUTPUTS"
           [active]="activeTab('outputs')" mat-tab-link
           (click)="routeTo('outputs')">
            <span jemsText maxWidth="230">{{'workpackage.tab.outputs' | translate}}</span>
        </a>
    </nav>

    <router-outlet></router-outlet>
</jems-project-page-template>
