<div *ngIf="show"
     class="jems-alert jems-fade jems-alert-dismissible"
     [class.show]="show"
     [class.jems-alert-success]="type === Alert.SUCCESS"
     [class.jems-alert-danger]="type === Alert.ERROR"
     [class.jems-alert-warning]="type === Alert.WARNING"
     [class.jems-alert-info]="type === Alert.INFO"
     [class.jems-alert-margins]="!disableMargins"
     id="successMessage">
    <button jemsText *ngIf="closable" type="button" data-dismiss="jems-alert" class="close-btn" aria-label="Close"
            (click)="show = false; closed.emit()">
        <span aria-hidden="true">&times;</span>
    </button>
    <ng-content></ng-content>
</div>
