.jems-alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-top: 1rem;
}

.jems-alert-dismissible {
  padding-right: (1rem * 1.5) + (1.25rem * 2);

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: .75rem 1.25rem;
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: inherit;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
  }
}

.jems-fade {
  transition: opacity .15s linear;

  &:not(.show) {
    opacity: 0;
  }
}
