<app-top-bar [isLoginNeeded]="isLoginNeeded">
</app-top-bar>

<mat-sidenav-container class="example-container">
    <mat-sidenav *ngIf="headlines$ | async as headlines " mode="side" [opened]="!!headlines.length"
                 class="side-nav-container">

        <div *ngFor="let data of headlines">
            <div class="side-nav-title">{{data.headline | translate}}</div>

            <div *ngFor="let subtitle of data.bullets" class="side-nav-main">
                <p class="side-nav-main_title" (click)="sideNavService.navigate(subtitle)">
                    {{subtitle.headline | translate}}
                </p>

                <ul class="side-nav-section" *ngIf="subtitle.bullets?.length">
                    <li *ngFor="let section of subtitle.bullets"
                        (click)="sideNavService.navigate(section)">
                        <p>{{ section.headline | translate}}</p>
                        <ul class="side-nav-subsection" *ngIf="section.bullets?.length">
                            <li *ngFor="let subsection of section.bullets"
                                (click)="$event.stopPropagation();sideNavService.navigate(subsection)">
                                <p>{{ subsection.headline | translate}}</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="main-content" class="main-content" role="main">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
