<app-top-bar [isLoginNeeded]="isLoginNeeded">
</app-top-bar>

<mat-sidenav-container class="example-container">
    <mat-sidenav *ngIf="headlines$ | async as headlines " mode="side" [opened]="!!headlines.length"
                 class="side-nav-container">

        <div *ngFor="let data of headlines">
            <div *ngIf="data.type === HeadlineType.BACKROUTE" [style.padding-left]="data.paddingLeft + 'px'">
                <a class="dialog-a-text"
                   (click)="sideNavService.navigate(data)"
                   [routerLink]="">
                    {{data.headline | translate}}
                </a>
            </div>
            <p class="side-nav-content-title"
               *ngIf="data.type === HeadlineType.TITLE"> {{data.headline | translate}}</p>
            <p class="side-nav-content-subtitle" *ngIf="data.type === HeadlineType.SUBTITLE"> {{data.headline}}</p>
        </div>

        <ul class="no-bullets">
            <li *ngFor="let data of headlines"
                (click)="sideNavService.navigate(data)">
                <p *ngIf="!data.type" class="side-nav-section"
                   [style.padding-left]="data.paddingLeft + 'px'"
                   [style.padding-top]="data.paddingTop + 'px'"
                   [style.font-size]="data.fontSize">
                    {{ data.headline | translate}}
                </p>
            </li>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content" role="main">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
