.container {
  max-width: 76%;
  margin: 5% 12% 3%;

  .field {
    width: 40%;
    padding-top: 1rem;
    margin-right: 60%;
  }
  .field-wide {
    width: 70%;
    padding-top: 1rem;
    margin-right: 30%;
  }

  .header {
    display: inline-block;
  }

  .header-button {
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 0.25rem;
  }

  .button {
    margin-right: 3rem;
  }

  .mat-input-element {
    color: var(--font-color-primary);
  }
}
