<div jemsNoWidthLimit id="budget-table"
     [jemsTableConfig]="tableConfig"
     *ngIf="budget$ | async as budgets">

    <div class="header-center">
        <span jemsText maxLines="2" >{{ 'project.breadcrumb.partnerName' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('country')">{{ 'project.partner.main-address.country' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('staffCosts')" class="justify-end">{{ 'project.partner.budget.staff' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('officeAndAdministrationCosts')" class="justify-end">{{ 'project.partner.budget.office.and.admin.header' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('travelCosts')" class="justify-end">{{ 'project.partner.budget.travel' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('externalCosts')" class="justify-end">{{ 'project.partner.budget.external' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('equipmentCosts')" class="justify-end">{{ 'project.partner.budget.equipment' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('infrastructureCosts')" class="justify-end">{{ 'project.partner.budget.infrastructure' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('otherCosts')" class="justify-end">{{ 'project.partner.budget.other' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('lumpSums')" class="justify-end">{{ 'project.partner.budget.lumpSum' | translate }}</span>
        <span jemsText maxLines="2" *ngIf="displayedColumns.includes('unitCosts')" class="justify-end">{{ 'project.partner.budget.unitCosts' | translate }}</span>
        <span jemsText maxLines="2" class="justify-end">{{ 'project.partner.budget.table.total' | adaptTranslationKeyByCallType | async | translate }}</span>
    </div>

    <ng-container *ngFor="let budget of budgets">
        <div>
            <span >{{ 'common.label.project.partner.role.shortcut.' + budget.partner?.role | adaptTranslationKeyByCallType | async | translate : {partner: budget.partner?.sortNumber} }}</span>
            <span *ngIf="displayedColumns.includes('country')">{{ budget.partner?.country }}</span>
            <span *ngIf="displayedColumns.includes('staffCosts')" class="justify-end">{{ budget.staffCosts | asMoney }}</span>
            <span *ngIf="displayedColumns.includes('officeAndAdministrationCosts')" class="justify-end">{{ budget.officeAndAdministrationCosts | asMoney }}</span>
            <span *ngIf="displayedColumns.includes('travelCosts')" class="justify-end">{{ budget.travelCosts | asMoney }}</span>
            <span *ngIf="displayedColumns.includes('externalCosts')" class="justify-end">{{ budget.externalCosts | asMoney }}</span>
            <span *ngIf="displayedColumns.includes('equipmentCosts')" class="justify-end">{{ budget.equipmentCosts | asMoney }}</span>
            <span *ngIf="displayedColumns.includes('infrastructureCosts')" class="justify-end">{{ budget.infrastructureCosts | asMoney }}</span>
            <span *ngIf="displayedColumns.includes('otherCosts')" class="justify-end">{{ budget.otherCosts | asMoney }}</span>
            <span *ngIf="displayedColumns.includes('lumpSums')" class="justify-end">{{ budget.lumpSumContribution | asMoney }}</span>
            <span *ngIf="displayedColumns.includes('unitCosts')" class="justify-end">{{ budget.unitCosts | asMoney }}</span>
            <span class="justify-end mat-body-strong">{{ budget.totalSum | asMoney }}</span>
        </div>
    </ng-container>

    <div class="footer">
        <span>{{ 'project.partner.budget.table.total' | translate }}</span>
        <span *ngIf="displayedColumns.includes('country')" ><!--blank cell--></span>
        <span *ngIf="displayedColumns.includes('staffCosts')" class="justify-end">{{ totalStaffCosts | asMoney }}</span>
        <span *ngIf="displayedColumns.includes('officeAndAdministrationCosts')" class="justify-end">{{ totalOfficeAndAdministrationCosts | asMoney }}</span>
        <span *ngIf="displayedColumns.includes('travelCosts')" class="justify-end">{{ totalTravelCosts | asMoney }}</span>
        <span *ngIf="displayedColumns.includes('externalCosts')" class="justify-end">{{ totalExternalCosts | asMoney }}</span>
        <span *ngIf="displayedColumns.includes('equipmentCosts')" class="justify-end">{{ totalEquipmentCosts | asMoney }}</span>
        <span *ngIf="displayedColumns.includes('infrastructureCosts')" class="justify-end">{{ totalInfrastructureCosts | asMoney }}</span>
        <span *ngIf="displayedColumns.includes('otherCosts')" class="justify-end">{{ totalOtherCosts | asMoney }}</span>
        <span *ngIf="displayedColumns.includes('lumpSums')" class="justify-end">{{ totalLumpSums | asMoney }}</span>
        <span *ngIf="displayedColumns.includes('unitCosts')" class="justify-end">{{ totalUnitCosts | asMoney }}</span>
        <span class="justify-end">{{ total | asMoney }}</span>
    </div>
</div>
