.side-nav-container{
  padding: 10px;
  margin-top: 60px;
  height: 100% !important;
  position: fixed !important;
  background: lightgrey;
}

.no-bullets {
  list-style-type: none;
}

.side-nav-subsection{
  padding-left: 10px;
  padding-top: 3px;
  cursor: pointer;
}
.back-link {
  padding-left: 30px;
}

.side-nav-section {
  font-size: large;
  padding-top: 20px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.side-nav-content-title {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding-top: 30px;
  cursor: default;
}

.side-nav-content-subtitle{
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding-top: 3px;
  cursor: default;
}
