.container {
  max-width: 76%;
  margin: 5% 12% 3%;
  min-height: 800px; // fixes scroll to top on tab switch https://github.com/angular/components/issues/9592

  .files-container {
    margin-top: 2rem;
  }
}
