<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <app-project-application-data></app-project-application-data>
    <br>
    <h5 id="applicationFormLifecycleAttachments">{{'file.tab.header' | translate}}</h5>
    <mat-tab-group class="files-container">
        <mat-tab label="{{'file.tab.application' | translate}}">
            <ng-template matTabContent>
                <app-project-application-files
                        [projectId]="projectId"
                        [fileType]="fileType.APPLICANTFILE">
                </app-project-application-files>
            </ng-template>
        </mat-tab>
        <mat-tab label="{{'file.tab.assessment' | translate}}" *ngIf="assessmentFilesVisible$ | async">
            <ng-template matTabContent>
                <app-project-application-files
                        [projectId]="projectId"
                        [fileType]="fileType.ASSESSMENTFILE">
                </app-project-application-files>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
