<div *ngIf="project$ | async as project">
    <app-breadcrumb></app-breadcrumb>
    <h1>{{project.acronym}}</h1>
    <app-project-application-information
            [project]="project">
    </app-project-application-information>

    <form appFormLayout [formGroup]="notesForm">
        <h2>{{'project.assessment.qualityCheck.dialog.title' | translate}}</h2>
        <mat-radio-group
                required
                name="assessment"
                formControlName="assessment"
                [disabled]="project.qualityAssessment !== null"
                (change)="assessmentChangeHandler($event)">
            <mat-radio-button
                    *ngFor="let option of options" [value]="option">
                {{'project.assessment.qualityCheck.dialog.select.' + option | translate}}
            </mat-radio-button>
        </mat-radio-group>
        <app-expandable-textarea [control]="notesForm?.controls?.notes"
                                 [errors]="notesForm?.controls?.notes?.errors"
                                 [messages]="notesErrors"
                                 [characterLimit]="1000"
                                 [label]="'project.assessment.qualityCheck.dialog.field.note'"
                                 [disabled]="project.qualityAssessment !== null"
                                 [customStyle]="'outline'">
        </app-expandable-textarea>
        <div appMultiColumnRow *ngIf="project.qualityAssessment === null">
            <button mat-stroked-button
                    (click)="onCancel()">{{'project.assessment.qualityCheck.dialog.button.cancel' | translate}}
            </button>

            <button mat-raised-button color="primary"
                    type="submit"
                    [disabled]="notesForm.invalid || submitted"
                    (click)="onSubmit()">{{'project.assessment.qualityCheck.dialog.button.submit' | translate}}
            </button>
        </div>
    </form>
</div>
