<ng-container *ngIf="data$ | async as data">
<div id="applicationFormLifecycleAssessment" *ngIf="isPanelVisible(data.currentVersionOfProjectStatus, data.callHasTwoSteps)">
    <h3 class="mt-3" *ngIf="!data.callHasTwoSteps">{{'project.assessment.header' | translate}}</h3>
    <h3 class="mt-3" *ngIf="data.callHasTwoSteps">
        {{'project.assessment.header.with.step' | translate : {step: step} }}
    </h3>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>{{'project.assessment.decision.header' | translate}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div appMultiColumnRow stretch class="mb-4">
            <div>{{'project.assessment.eligibilityDecision.title' | translate}}</div>
            <div>
                <span *ngIf="data.decision?.eligibilityDecision">
                    {{'common.label.projectapplicationstatus.' + data.decision?.eligibilityDecision.status | translate}}
                </span>
            </div>
            <div>
                <span *ngIf="data.decision?.eligibilityDecision">
                    {{data.decision?.eligibilityDecision.decisionDate | localeDate}}
                </span>
            </div>
            <ng-container *ngIf="isDecisionEditable(data.currentVersionOfProjectStatus, data.decision?.eligibilityDecision)">
                <a *hasPermission="[Permissions.ProjectStatusDecideEligible, Permissions.ProjectStatusDecideIneligible]"
                   mat-stroked-button appFormFieldWidth="x-large"
                   [disabled]="!data.decision?.eligibilityAssessment"
                   [routerLink]="data.decision?.eligibilityAssessment ? ['./assessment/eligibilityDecision', step] : []" queryParamsHandling="merge">
                    {{'project.assessment.eligibilityDecision.assessment' | translate}}
                </a>
            </ng-container>
            <ng-container *ngIf="!isDecisionEditable(data.currentVersionOfProjectStatus, data.decision?.eligibilityDecision)">
                <a *hasPermission="Permissions.ProjectAssessmentView"
                   [disabled]="!data.decision?.eligibilityDecision"
                   mat-stroked-button appFormFieldWidth="x-large"
                   [routerLink]="data.decision?.eligibilityDecision ? ['./assessment/eligibilityDecision', step] : []" queryParamsHandling="merge">
                    {{'project.assessment.eligibilityDecision.assessment.view' | translate}}
                </a>
            </ng-container>
        </div>
        <div appMultiColumnRow stretch>
            <div>{{'project.assessment.fundingDecision.title' | translate}}</div>
            <div>
                <span *ngIf="data.fundingDecisionResult">
                    {{'common.label.projectapplicationstatus.' + data.fundingDecisionResult?.status | translate}}
                </span>
            </div>
            <div>
                <span *ngIf="data.fundingDecisionResult">
                    {{ data.fundingDecisionResult.decisionDate | localeDate }}
                </span>
            </div>
            <ng-container *ngIf="(data.callHasTwoSteps && data.isStep2Now && step === 1) || data.isDecisionFinal || (data.isReturnedNow && !!data.fundingDecisionResult) || (!data.isDecisionFinal && !data.userCanChangeFunding && !!data.preFundingDecision)">
                <a *hasPermission="Permissions.ProjectAssessmentView"
                   mat-stroked-button appFormFieldWidth="x-large"
                   [routerLink]="['./assessment/fundingDecision', step]" queryParamsHandling="merge">
                    {{'project.assessment.fundingDecision.assessment.view' | translate}}
                </a>
            </ng-container>
            <ng-container  *ngIf="!data.isDecisionFinal && !data.isReturnedNow">
                <a *hasPermission="[Permissions.ProjectStatusDecideApproved, Permissions.ProjectStatusDecideApprovedWithConditions, Permissions.ProjectStatusDecideNotApproved]"
                   mat-stroked-button appFormFieldWidth="x-large"
                   [disabled]="!data.isFundingDecisionPreconditionOk"
                   [color]="data.currentVersionOfProjectStatus.status === stepStatus.approvedWithConditions ? 'primary' : null"
                   [routerLink]="data.isFundingDecisionPreconditionOk ? ['./assessment/fundingDecision', step] : []" queryParamsHandling="merge">
                    {{ (data.currentVersionOfProjectStatus.status === STATUS.APPROVEDWITHCONDITIONS || data.currentVersionOfProjectStatus.status === STATUS.CONDITIONSSUBMITTED ? 'project.assessment.fundingDecision.assessment.update' : 'project.assessment.fundingDecision.assessment') | translate}}
                </a>
            </ng-container>
        </div>
    </mat-expansion-panel>
</div>
</ng-container>
