<div id="applicationFormLifecycleAssessment"
     *ngIf="projectStatus.status !== STATUS.DRAFT && projectStatus.status !== STATUS.RETURNEDTOAPPLICANT">
    <h3>{{'project.assessment.header' | translate}}</h3>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>{{'project.assessment.decision.header' | translate}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div appMultiColumnRow stretch class="mb-4">
            <div>{{'project.assessment.eligibilityDecision.title' | translate}}</div>
            <div>
                <span *ngIf="decisions?.eligibilityDecision">
                    {{'common.label.projectapplicationstatus.' + decisions?.eligibilityDecision.status | translate}}
                </span>
            </div>
            <div>
                <span *ngIf="decisions?.eligibilityDecision">
                    {{decisions?.eligibilityDecision.decisionDate | localeDate}}
                </span>
            </div>
            <button *ngIf="!decisions?.eligibilityDecision"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [disabled]="!decisions?.eligibilityAssessment"
                    [routerLink]="'./assessment/eligibilityDecision'">
                {{'project.assessment.eligibilityDecision.assessment' | translate}}
            </button>
            <button *ngIf="decisions?.eligibilityDecision"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [routerLink]="'./assessment/eligibilityDecision'">
                {{'project.assessment.eligibilityDecision.assessment.view' | translate}}
            </button>
        </div>
        <div appMultiColumnRow stretch>
            <div>{{'project.assessment.fundingDecision.title' | translate}}</div>
            <div>
                <span *ngIf="decisions?.fundingDecision">
                    {{'common.label.projectapplicationstatus.' + decisions?.fundingDecision.status | translate}}
                </span>
            </div>
            <div>
                <span *ngIf="decisions?.fundingDecision">
                    {{decisions.fundingDecision.decisionDate | localeDate }}
                </span>
            </div>
            <button *ngIf="!decisions?.fundingDecision"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [disabled]="decisions?.eligibilityDecision?.status !== STATUS.ELIGIBLE  || !decisions?.qualityAssessment"
                    [routerLink]="'./assessment/fundingDecision'">
                {{'project.assessment.fundingDecision.assessment' | translate}}
            </button>
            <button *ngIf="!!decisions?.fundingDecision"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [color]="projectStatus.status === STATUS.APPROVEDWITHCONDITIONS ? 'primary' : null"
                    [routerLink]="'./assessment/fundingDecision'">
                {{updateOrViewFundingLabel() | translate}}
            </button>
        </div>
    </mat-expansion-panel>
</div>
