<app-form (save)="onSubmit()"
          (discard)="onCancel()">
    <form [formGroup]="workPackageForm">
        <div>
            <h6>{{'project.application.form.workpackage.form.outputs' | translate}}</h6>
            <p class="intro-text-small">{{'project.application.form.workpackage.form.intro' | translate}}</p>
        </div>

        <app-work-package-output-table
                [workPackageOutputDataSource]="workPackageOutputDataSource"
                [workPackageForm]="workPackageForm"
                [editable]="editable"
                [periods]="periods"
                [programmeOutputIndicators]="indicators"
                [workPackageNumber]="workPackageNumber"
                (changed)="tableChanged()">
        </app-work-package-output-table>
    </form>
</app-form>
