<app-main-page-template [needsCard]="true"
                        *ngIf="outputIndicator$ | async as details"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.tab.indicators">
    <app-programme-output-indicator-detail
            [outputIndicator]="details"
            [priorities]="priorities$ | async"
            [success$]="outputIndicatorSaveSuccess$"
            [error$]="outputIndicatorSaveError$"
            [isCreate]="isCreate"
            (createOutputIndicator)="createOutputIndicator($event)"
            (updateOutputIndicator)="updateOutputIndicator($event)"
            (cancelCreate)="cancelCreate()">
    </app-programme-output-indicator-detail>
</app-main-page-template>
