<jems-main-page-template [needsCard]="true"
                         *ngIf="outputIndicator$ | async as details"
                         titleKey="programme.data.page.title"
                         subTitleKey="programme.tab.indicators">
    <jems-programme-output-indicator-detail
            [outputIndicator]="details"
            [priorities$]="priorities$"
            [success$]="outputIndicatorSaveSuccess$"
            [error$]="outputIndicatorSaveError$"
            [isCreate]="isCreate"
            (createOutputIndicator)="createOutputIndicator($event)"
            (updateOutputIndicator)="updateOutputIndicator($event)"
            (cancelCreate)="cancelCreate()">
    </jems-programme-output-indicator-detail>
</jems-main-page-template>
