<jems-form *ngIf="data$ | async as data"
          (discard)="resetForm(data.call.flatRates)"
          (save)="onSubmit()">
    <form jemsFormLayout [formGroup]="callFlatRateForm">
        <h3>{{'call.detail.flat.rates' | translate}}</h3>
        <p class="mt-2 mb-3">{{'call.detail.flat.rates.info' | translate}}</p>
        <div jemsNoWidthLimit
             [jemsTableConfig]="[{maxInRem:3},{},{maxInRem:5},{maxInRem:10}]">
            <div>
                <span>{{'call.detail.flat.rate.table.activate.option' | translate}}</span>
                <span>{{'call.detail.flat.rate.table.flat.rates' | translate}}</span>
                <span>{{'call.detail.flat.rate.table.set.rate' | translate}}</span>
                <span>{{'call.detail.flat.rate.table.fixed.rate' | translate}}</span>
            </div>
            <div [formGroup]="staffCostFlatRateSetup">
                <mat-checkbox
                        [formControl]="isStaffCostFlatRateActive"
                        [disabled]="disabled(data.call.flatRates.staffCostFlatRateSetup, data)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isStaffCostFlatRateActive,staffCostFlatRate,staffCostFlatRateType, constants.FLAT_RATE_DEFAULT_VALUES.STAFF_COST, $event.checked)"
                        [checked]="isStaffCostFlatRateActive.value">
                </mat-checkbox>

                <span>{{'call.detail.flat.rate.table.staff.direct.cost' | translate}}</span>
                <mat-form-field [class.mat-form-field-disabled]="disabled(data.call.flatRates.staffCostFlatRateSetup, data) || !isStaffCostFlatRateActive.value">
                    <input [readonly]="!isStaffCostFlatRateActive.value || disabled(data.call.flatRates.staffCostFlatRateSetup, data)"
                           currencyMask type="integer" name="staffCostFlatRate" matInput
                           [formControl]="staffCostFlatRate"
                           [options]="{min: constants.FLAT_RATE_MIN_VALUES, max: constants.FLAT_RATE_MAX_VALUE, align: 'right'}">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                </mat-form-field>
                <jems-call-flat-rates-toggle-column
                        [disabled]="disabled(data.call.flatRates.staffCostFlatRateSetup, data) || !isStaffCostFlatRateActive.value"
                        (selected)="toggleFlatRateType(staffCostFlatRateType,$event)"
                        [previousSelection]="staffCostFlatRateType.value">
                </jems-call-flat-rates-toggle-column>
            </div>
            <div [formGroup]="officeOnStaffFlatRateSetup">
                <mat-checkbox
                        [formControl]="isOfficeOnStaffFlatRateActive"
                        [disabled]="disabled(data.call.flatRates.officeAndAdministrationOnStaffCostsFlatRateSetup, data)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isOfficeOnStaffFlatRateActive,officeOnStaffFlatRate,officeOnStaffFlatRateType,constants.FLAT_RATE_DEFAULT_VALUES.OFFICE_ON_STAFF,$event.checked)"
                        [checked]="isOfficeOnStaffFlatRateActive.value">
                </mat-checkbox>
                <span>{{'call.detail.flat.rate.table.office.administration.direct.staff.cost' | translate}}</span>
                <mat-form-field [class.mat-form-field-disabled]="disabled(data.call.flatRates.officeAndAdministrationOnStaffCostsFlatRateSetup, data) || !isOfficeOnStaffFlatRateActive.value">
                    <input [readonly]="!isOfficeOnStaffFlatRateActive.value || disabled(data.call.flatRates.officeAndAdministrationOnStaffCostsFlatRateSetup, data)"
                           currencyMask type="integer" name="officeOnStaffFlatRate" matInput
                           [formControl]="officeOnStaffFlatRate"
                           [options]="{min: constants.FLAT_RATE_MIN_VALUES, max: constants.FLAT_RATE_MAX_VALUE, align: 'right'}">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                </mat-form-field>
                <jems-call-flat-rates-toggle-column
                        [disabled]="disabled(data.call.flatRates.officeAndAdministrationOnStaffCostsFlatRateSetup, data) || !isOfficeOnStaffFlatRateActive.value"
                        (selected)="toggleFlatRateType(officeOnStaffFlatRateType,$event)"
                        [previousSelection]="officeOnStaffFlatRateType.value">
                </jems-call-flat-rates-toggle-column>
            </div>
            <div [formGroup]="officeOnOtherFlatRateSetup">
                <mat-checkbox
                        [formControl]="isOfficeOnOtherFlatRateActive"
                        [disabled]="disabled(data.call.flatRates.officeAndAdministrationOnDirectCostsFlatRateSetup, data)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isOfficeOnOtherFlatRateActive, officeOnOtherFlatRate,officeOnOtherFlatRateType, constants.FLAT_RATE_DEFAULT_VALUES.OFFICE_ON_OTHER, $event.checked)"
                        [checked]="isOfficeOnOtherFlatRateActive.value">
                </mat-checkbox>
                <span>{{'call.detail.flat.rate.table.office.administration.direct.cost' | translate}}</span>
                <mat-form-field [class.mat-form-field-disabled]="disabled(data.call.flatRates.officeAndAdministrationOnDirectCostsFlatRateSetup, data) || !isOfficeOnOtherFlatRateActive.value">
                    <input [readonly]="!isOfficeOnOtherFlatRateActive.value || disabled(data.call.flatRates.officeAndAdministrationOnDirectCostsFlatRateSetup, data)"
                           currencyMask type="integer" name="officeOnOtherFlatRate" matInput
                           [formControl]="officeOnOtherFlatRate"
                           [options]="{min: constants.FLAT_RATE_MIN_VALUES, max: constants.FLAT_RATE_MAX_VALUE, align: 'right'}">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                </mat-form-field>
                <jems-call-flat-rates-toggle-column
                        [disabled]="disabled(data.call.flatRates.officeAndAdministrationOnDirectCostsFlatRateSetup, data) || !isOfficeOnOtherFlatRateActive.value"
                        (selected)="toggleFlatRateType(officeOnOtherFlatRateType,$event)"
                        [previousSelection]="officeOnOtherFlatRateType.value">
                </jems-call-flat-rates-toggle-column>
            </div>
            <div [formGroup]="travelOnStaffFlatRateSetup">
                <mat-checkbox
                        [formControl]="isTravelOnStaffFlatRateActive"
                        [disabled]="disabled(data.call.flatRates.travelAndAccommodationOnStaffCostsFlatRateSetup, data)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isTravelOnStaffFlatRateActive,travelOnStaffFlatRate,travelOnStaffFlatRateType,constants.FLAT_RATE_DEFAULT_VALUES.TRAVEL_ON_STAFF,$event.checked)"
                        [checked]="isTravelOnStaffFlatRateActive.value">
                </mat-checkbox>
                <span>{{'call.detail.flat.rate.table.travel.accommodation.direct.staff.cost' | translate}}</span>
                <mat-form-field [class.mat-form-field-disabled]="disabled(data.call.flatRates.travelAndAccommodationOnStaffCostsFlatRateSetup, data) || !isTravelOnStaffFlatRateActive.value">
                    <input [readonly]="!isTravelOnStaffFlatRateActive.value || disabled(data.call.flatRates.travelAndAccommodationOnStaffCostsFlatRateSetup, data)"
                           currencyMask type="integer" name="travelOnStaffFlatRate" matInput
                           [formControl]="travelOnStaffFlatRate"
                           [options]="{min: constants.FLAT_RATE_MIN_VALUES, max: constants.FLAT_RATE_MAX_VALUE, align: 'right'}">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                </mat-form-field>
                <jems-call-flat-rates-toggle-column
                        [disabled]="disabled(data.call.flatRates.travelAndAccommodationOnStaffCostsFlatRateSetup, data) || !isTravelOnStaffFlatRateActive.value"
                        (selected)="toggleFlatRateType(travelOnStaffFlatRateType,$event)"
                        [previousSelection]="travelOnStaffFlatRateType.value">
                </jems-call-flat-rates-toggle-column>
            </div>
            <div [formGroup]="otherOnStaffFlatRateSetup">
                <mat-checkbox
                        [formControl]="isOtherOnStaffFlatRateActive"
                        [disabled]="disabled(data.call.flatRates.otherCostsOnStaffCostsFlatRateSetup, data)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isOtherOnStaffFlatRateActive, otherOnStaffFlatRate,otherOnStaffFlatRateType,constants.FLAT_RATE_DEFAULT_VALUES.OTHER_ON_STAFF, $event.checked)"
                        [checked]="isOtherOnStaffFlatRateActive.value">
                </mat-checkbox>
                <span> {{'call.detail.flat.rate.table.other.cost' | translate}}</span>
                <mat-form-field [class.mat-form-field-disabled]="disabled(data.call.flatRates.otherCostsOnStaffCostsFlatRateSetup, data) || !isOtherOnStaffFlatRateActive.value">
                    <input [readonly]="!isOtherOnStaffFlatRateActive.value || disabled(data.call.flatRates.otherCostsOnStaffCostsFlatRateSetup, data)"
                           currencyMask type="integer" name="otherOnStaffFlatRate" matInput
                           [formControl]="otherOnStaffFlatRate"
                           [options]="{min: constants.FLAT_RATE_MIN_VALUES, max: constants.FLAT_RATE_MAX_VALUE, align: 'right'}">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                </mat-form-field>
                <jems-call-flat-rates-toggle-column
                        [disabled]="disabled(data.call.flatRates.otherCostsOnStaffCostsFlatRateSetup, data) || !isOtherOnStaffFlatRateActive.value"
                        (selected)="toggleFlatRateType(otherOnStaffFlatRateType,$event)"
                        [previousSelection]="otherOnStaffFlatRateType.value">
                </jems-call-flat-rates-toggle-column>
            </div>
        </div>
    </form>
</jems-form>
