<div *ngxPermissionsExcept="Permission.APPLICANT_USER">
    <app-breadcrumb></app-breadcrumb>
    <div *ngIf="lumpSumsDataSource$ | async as lumpSumsDataSource">
        <h4 id="lumpSums">{{'lump.sums.table.title' | translate}}</h4>
        <button mat-raised-button color="primary"
                [routerLink]="'/app/programme/costs/lumpSum/create'">
            + {{ 'programme.lumpSum.add' | translate }}
        </button>
        <app-programme-lump-sums-list
                [lumpSum]="lumpSum$ | async"
                [dataSource]="lumpSumsDataSource">
        </app-programme-lump-sums-list>
    </div>

    <div *ngIf="currentUnitCostPage$ | async as unitCostPage">
        <h4 id="unitCosts">{{'unit.cost.table.title' | translate}}</h4>
        <button mat-raised-button color="primary"
                [routerLink]="'/app/programme/costs/unitCost/create'">
            + Add Unit Cost
        </button>
        <app-programme-unit-costs-list
                [unitCost]="unitCost$ | async"
                [unitCostPage]="unitCostPage"
                [pageIndex]="newUnitCostPageIndex$ | async"
                (newPageSize)="newUnitCostPageSize$.next($event)"
                (newPageIndex)="newUnitCostPageIndex$.next($event)"
                (newSort)="newUnitCostSort$.next($event)">
        </app-programme-unit-costs-list>
    </div>
</div>
