<app-main-page-template [needsCard]="true" *ngIf="auditLogStore.auditPage$ | async as auditPage">
        <h3 class="mb-0">{{'audit.list.title' | translate}}</h3>
        <div [formGroup]="referenceForm">
            <div appMultiColumnRow>
                <mat-form-field>
                    <mat-label>{{'audit.user.ids' | translate}}</mat-label>
                    <input (keyup.enter)="addFilter(MAT_CHIP_USER_IDS_INDEX, $event, false)" matInput name="userId" formControlName="userId">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'audit.user.emails' | translate}}</mat-label>
                    <input (keyup.enter)="addFilter(MAT_CHIP_USER_EMAILS_INDEX, $event, false)" matInput name="userEmail" formControlName="userEmail">
                </mat-form-field>
                <mat-form-field class="actions-field">
                    <mat-label>{{'audit.actions' | translate}}</mat-label>
                    <input (keyup.enter)="addFilter(MAT_CHIP_ACTIONS_INDEX, $event, false)" matInput [matAutocomplete]="autoActions" name="actions" formControlName="actions">
                    <mat-autocomplete #autoActions="matAutocomplete">
                        <mat-option *ngFor="let action of filteredActions | async" [value]="action">
                            {{action}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'audit.projectIds' | translate}}</mat-label>
                    <input (keyup.enter)="addFilter(MAT_CHIP_PROJECT_IDS_INDEX, $event, false)" matInput name="projectIds" formControlName="projectIds">
                </mat-form-field>
            </div>
            <div appMultiColumnRow>
                <mat-form-field>
                    <mat-label>{{'audit.start.date' | translate | dateFormatInfo : true}}</mat-label>
                    <input formControlName="timeFrom" (keyup.enter)="addFilter(MAT_CHIP_START_DATE_INDEX, $event, true)" matInput name="timeFrom"
                           [ngxMatDatetimePicker]="start">
                    <mat-datepicker-toggle matSuffix [for]="start">
                    </mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #start></ngx-mat-datetime-picker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'audit.end.date' | translate | dateFormatInfo : true}}</mat-label>
                    <input formControlName="timeTo" (keyup.enter)="addFilter(MAT_CHIP_END_DATE_INDEX, $event, true)" matInput name="timeTo"
                           [ngxMatDatetimePicker]="end">
                    <mat-datepicker-toggle matSuffix [for]="end">
                    </mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #end></ngx-mat-datetime-picker>
                </mat-form-field>
            </div>
        </div>

        <mat-chip-list [selectable]="false">
            <ng-container *ngFor="let control of filtersForm.controls; let filterIndex = index;">
                <mat-chip *ngFor="let filterItem of control.get('values').value; let itemIndex = index;"
                          [removable]="true"
                          [selectable]="false"
                          (removed)="getValuesForFilterOnIndex(filterIndex).removeAt(itemIndex)">
                    {{ control.get('name').value }} = {{ formatDateValueInChip(filterItem) }}<mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </ng-container>
        </mat-chip-list>

    <app-table *ngIf="auditPage?.content.length"
               [configuration]="auditTableConfiguration"
               [rows]="auditPage?.content"
               [totalElements]="auditPage?.totalElements"
               [pageIndex]="auditLogStore.auditPageIndex$ | async"
               (newPageIndex)="auditLogStore.auditPageIndex$.next($event)"
               (newPageSize)="auditLogStore.auditPageSize$.next($event)"
               (sortRows)="auditLogStore.auditPageSort$.next($event)">
    </app-table>
</app-main-page-template>

<ng-template #userIdCell let-audit>
    <ng-container *ngIf="audit.user">
        <span>{{audit.user.id}}</span>
        <mat-icon (click)="addFilterToIndex(MAT_CHIP_USER_IDS_INDEX, audit.user.id)">zoom_in</mat-icon>
    </ng-container>
</ng-template>

<ng-template #projectIdCell let-audit>
    <ng-container *ngIf="audit.project">
        <span [matTooltip]="audit.project.name">{{audit.project.id}}</span>
        <mat-icon (click)="addFilterToIndex(MAT_CHIP_PROJECT_IDS_INDEX, audit.project.id)">zoom_in</mat-icon>
    </ng-container>
</ng-template>
