<jems-main-page-template *ngIf="auditLogStore.auditPage$ | async as auditPage" [needsCard]="true">
    <h3 class="mb-0">{{'audit.list.title' | translate}}</h3>
    <jems-filter-template [formGroup]="filterForm"
                         [isThereAnyActiveFilter]="isThereAnyActiveFilter()">
        <div jemsMultiColumnRow>
            <jems-filter-date-input
                    formControlName="timeFrom"
                    label="audit.start.date">
            </jems-filter-date-input>

            <jems-filter-date-input
                    formControlName="timeTo"
                    label="audit.end.date">
            </jems-filter-date-input>
        </div>
        <div jemsMultiColumnRow>
            <jems-filter-list-input
              #userIdFilter
              formControlName="userIds"
              label="audit.user.ids"
              placeholder="audit.user.ids"
              type="number">
            </jems-filter-list-input>

            <jems-filter-list-input
                    formControlName="userEmails"
                    label="audit.user.emails"
                    placeholder="audit.user.emails">
            </jems-filter-list-input>

            <jems-filter-autocomplete-input
                    [options]="actions"
                    [hasPartialLockingOfValues]="false"
                    formControlName="actions"
                    label="audit.actions">
            </jems-filter-autocomplete-input>

            <jems-filter-list-input
              #projectIdFilter
              formControlName="projectIds"
              label="audit.projectIds"
              placeholder="audit.projectIds"
              type="number">
            </jems-filter-list-input>
        </div>
    </jems-filter-template>

    <jems-table (newPageIndex)="auditLogStore.auditPageIndex$.next($event)"
               (newPageSize)="auditLogStore.auditPageSize$.next($event)"
               (sortRows)="auditLogStore.auditPageSort$.next($event)"
               *ngIf="auditPage?.content.length"
               [configuration]="auditTableConfiguration"
               [pageIndex]="auditLogStore.auditPageIndex$ | async"
               [rows]="auditPage?.content"
               [totalElements]="auditPage?.totalElements">
    </jems-table>
</jems-main-page-template>

<ng-template #userIdCell let-audit>
    <ng-container *ngIf="audit.user">
        <span>{{audit.user.id}}</span>
        <mat-icon (click)="userIdFilter.addToFilters(audit.user.id)">zoom_in</mat-icon>
    </ng-container>
</ng-template>

<ng-template #projectIdCell let-audit>
    <ng-container *ngIf="audit.project">
        <span [matTooltip]="audit.project.name">{{audit.project.id}}</span>
        <mat-icon (click)="projectIdFilter.addToFilters(audit.project.id)">zoom_in</mat-icon>
    </ng-container>
</ng-template>

<ng-template #descriptionCell let-audit>
    <span [innerHTML]="getDescription(audit.description)"></span>
</ng-template>
