<app-main-page-template *ngIf="data$ | async as data" subTitleKey="call.general.settings"
                        titleKey="call.detail.title">
    <app-form (discard)="onCancel(data.call)"
              (save)="onSubmit(data.call, data.priorityCheckboxes, data.strategies, data.stateAids)">
        <app-alert [show]="published && data.callIsEditable"
                   [type]="Alert.WARNING">
            <span>{{'call.detail.edit.published.warning' | translate}}</span>
        </app-alert>
        <app-alert [show]="published && data.userCanApply && !isOpen(data.call)"
                   [type]="Alert.WARNING">
            <span>{{'call.table.column.action.apply.inactive.note' | translate}}</span>
        </app-alert>
        <form [formGroup]="callForm" appFormLayout>
            <app-pending-button
                    (clicked)="publishCall()"
                    *ngIf="data.call?.id && data.callIsEditable && !published"
                    [confirm]="confirmData() | async"
                    [disabled]="isPublishDisabled(data.call) | async"
                    [pending]="publishPending">
                {{'call.detail.button.publish' | translate}}
            </app-pending-button>
            <h3>{{'call.identification.title' | translate}}</h3>
            <mat-form-field>
                <mat-label>{{'call.detail.field.name' | translate}}</mat-label>
                <input formControlName="name" matInput name="name" required>
                <mat-error>
                    <app-form-field-errors
                            [args]="dateNameArgs"
                            [errors]="callForm?.controls?.name?.errors"
                            [messages]="inputErrorMessages"
                    >
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-checkbox
                    (change)="callForm?.controls?.is2Step.patchValue($event.checked)"
                    [class.hide]="published && !callForm?.controls?.is2Step.value"
                    formControlName="is2Step"
                    name="is2Step">
                {{'call.is2Step' | translate}}
            </mat-checkbox>
            <div appMultiColumnRow stretch>
                <mat-form-field>
                    <mat-label>{{'call.detail.field.start' | translate | dateFormatInfo : true}}</mat-label>
                    <input [disabled]="published" [max]="callForm?.controls?.endDateTime?.value"
                           [ngxMatDatetimePicker]="start" formControlName="startDateTime"
                           matInput
                           name="startDateTime"
                           required>
                    <mat-datepicker-toggle [disabled]="published" [for]="start" matSuffix>
                    </mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #start [enableMeridian]="true"></ngx-mat-datetime-picker>
                    <mat-error>
                        <app-form-field-errors
                                [args]="dateNameArgs"
                                [errors]="callForm?.controls?.startDateTime?.errors"
                                [messages]="inputErrorMessages"
                        >
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>

                <mat-form-field [class.hide]="!callForm?.controls?.is2Step.value">
                    <mat-label>{{'call.detail.field.end.step1' | translate | dateFormatInfo : true}}</mat-label>
                    <input [max]="callForm?.controls?.endDateTime?.value"
                           [min]="callForm?.controls?.startDateTime?.value" [ngxMatDatetimePicker]="endStep1"
                           [required]="callForm?.controls?.is2Step.value"
                           formControlName="endDateTimeStep1"
                           matInput
                           name="endDateTimeStep1">
                    <mat-datepicker-toggle [for]="endStep1" matSuffix>
                    </mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #endStep1 [enableMeridian]="true"></ngx-mat-datetime-picker>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="callForm?.controls?.endDateTimeStep1?.errors"
                                [messages]="inputErrorMessagesForEndDateStep1">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'call.detail.field.end' | translate | dateFormatInfo : true}}</mat-label>
                    <input [min]="callForm?.controls?.startDateTime?.value" [ngxMatDatetimePicker]="end"
                           formControlName="endDateTime" matInput
                           name="endDateTime"
                           required>
                    <mat-datepicker-toggle [for]="end" matSuffix>
                    </mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #end [enableMeridian]="true"></ngx-mat-datetime-picker>
                    <mat-error>
                        <app-form-field-errors
                                [args]="dateNameArgs"
                                [errors]="callForm?.controls?.endDateTime?.errors"
                                [messages]="inputErrorMessages"
                        >
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </div>

            <p *ngIf="!data.userCanApply">{{'call.detail.field.lengthOfPeriod.help' | translate}}</p>
            <mat-form-field>
                <mat-label>{{'call.detail.field.lengthOfPeriod' | translate}}</mat-label>
                <input (keypress)="tools.checkDigitsOnInput($event)" (paste)="tools.checkDigitsOnPaste($event)"
                       formControlName="lengthOfPeriod" matInput name="lengthOfPeriod"
                       required type="number">
                <mat-error>
                    <app-form-field-errors
                            [args]="dateNameArgs"
                            [errors]="callForm?.controls?.lengthOfPeriod?.errors"
                            [messages]="inputErrorMessages"
                    >
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>

            <app-multi-language-container
                    [switchButtonsVisible]="data.callIsEditable || (published && !data.userCanApply)"
                    [useSystemLanguages]="true"
                    class="pb-3">
                <app-multi-language-form-field
                        [maxLength]="1000"
                        formControlName="description"
                        label="call.detail.field.description"
                        type="textarea">
                </app-multi-language-form-field>
            </app-multi-language-container>

            <h3>{{'call.programme.priorities.title' | translate}}</h3>
            <app-call-priority-tree
                    (selectionChanged)="formChanged()"
                    *ngIf="data.priorityCheckboxes"
                    [initialPriorityCheckboxes]="data.initialPriorityCheckboxes"
                    [priorityCheckboxes]="data.priorityCheckboxes">
            </app-call-priority-tree>

            <span *ngIf="isStrategySectionShown(data)">
                <h3>{{'call.strategy.title' | translate}}</h3>
                <app-call-strategies
                        (selectionChanged)="formChanged()"
                        [initialStrategies]="data.initialStrategies"
                        [strategies]="data.strategies">
                </app-call-strategies>
            </span>

            <h3>{{'call.funds.title' | translate}}</h3>
            <span *ngIf="data.callIsEditable || callForm?.controls?.additionalFundAllowed.value">
                <h4>{{'call.funds.options' | translate}}</h4>
                <mat-checkbox
                        (click)="$event.stopPropagation()"
                        [checked]="callForm?.controls?.additionalFundAllowed.value"
                        [disabled]="!data.callIsEditable && (!data.userCanApply && published && data.call.additionalFundAllowed)"
                        formControlName="additionalFundAllowed"
                        name="additionalFundAllowed">
                    {{'call.multiple.funds.allowed' | translate}}
                </mat-checkbox>
            </span>
            <h4>{{'call.funds.select.funds' | translate}}</h4>
            <app-call-funds (selectionChanged)="formChanged()"
                            [callForm]="callForm"
                            appFormFieldWidth="full">
            </app-call-funds>

            <span *ngIf="isStateAidSectionShown(data)">
                <h3>{{'call.state.aid.title' | translate}}</h3>
                <app-call-state-aids
                        (selectionChanged)="formChanged()"
                        [initialStateAids]="data.initialStateAids"
                        [stateAids]="data.stateAids">
                </app-call-state-aids>
            </span>
        </form>
    </app-form>

    <mat-card-footer *ngIf="published && data.userCanApply && isOpen(data.call)" class="footer">
        <button appText (click)="applyToCall(data.call.id)" class="action-button"
                color="primary"
                mat-raised-button>
            {{'call.table.column.action.apply' | translate}}
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-card-footer>
</app-main-page-template>

