<h5 *ngxPermissionsExcept="Permission.APPLICANT_USER">{{'project.list.header' | translate}}</h5>
<p *ngIf="!projectPage?.content.length">{{'project.list.empty' | translate}}</p>
<app-table *ngIf="projectPage.content.length"
           [configuration]="tableConfiguration"
           [rows]="projectPage.content"
           [totalElements]="projectPage?.totalElements"
           [pageIndex]="pageIndex"
           (newPageIndex)="newPageIndex.emit($event)"
           (newPageSize)="newPageSize.emit($event)"
           (sortRows)="newSort.emit($event)">
</app-table>
