:host {
  display: inline-block;
  width: 100%;
}

#contract-files {
  display: flex;

  jems-category-tree {
    width: 20rem;
    border: 1px solid var(--table-border-color);
    margin-right: 1rem;
  }

  jems-file-list {
    width: calc(100% - 20rem - 1rem);
  }
}

.overflow-auto {
  overflow: auto;
}
