.table-list {
  width: 47rem;
}

.flat-rate-percentage {
  max-width: 4rem;
  padding-right: 1rem;
}

.flat-rate-including-percentage {
  max-width: 7rem;
  padding-right: 2rem;
}

.flat-rates {
  max-width: 20rem;
  min-width: 20rem;
}

.fixed-rate {
  max-width: 10rem;
}

.percent {
  vertical-align: text-bottom;
}
