<app-form (discard)="initForm(call.flatRates)"
          (save)="onSubmit()">
    <form [formGroup]="callFlatRateForm">
        <h5>
            {{'call.detail.flat.rates' | translate}}
        </h5>
        <div
                class="my-5"
                appTableConfig
                [appearance]="'material-table'"
                [widthConfig]="['max-3-rem','','max-5-rem','max-10-rem']">
            <div>
                <span>{{'call.detail.flat.rate.table.activate.option' | translate}}</span>
                <span>{{'call.detail.flat.rate.table.flat.rates' | translate}}</span>
                <span>{{'call.detail.flat.rate.table.set.rate' | translate}}</span>
                <span>{{'call.detail.flat.rate.table.fixed.rate' | translate}}</span>
            </div>
            <div [formGroup]="staffCostFlatRateSetup">
                <mat-checkbox
                        [formControl]="isStaffCostFlatRateActive"
                        [disabled]="published"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isStaffCostFlatRateActive,staffCostFlatRate,staffCostFlatRateType, constants.FLAT_RATE_MAX_VALUES.STAFF_COST, $event.checked)"
                        [checked]="isStaffCostFlatRateActive.value">
                </mat-checkbox>
                <span>{{'call.detail.flat.rate.table.staff.direct.cost' | translate}}</span>
                <mat-form-field>
                    <input [readonly]="!isStaffCostFlatRateActive.value"
                           name="staffCostFlatRate"
                           [formControl]="staffCostFlatRate"
                           [max]="constants.FLAT_RATE_MAX_VALUES.STAFF_COST"
                           min="1"
                           matInput
                           class="text-right"
                           type="number">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="staffCostFlatRate?.errors"
                                [messages]="constants.FORM_ERRORS.staffCostErrors">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <app-call-flat-rates-toggle-column
                        [disabled]="published || !isStaffCostFlatRateActive.value"
                        (selected)="toggleFlatRateType(staffCostFlatRateType,$event)"
                        [previousSelection]="staffCostFlatRateType.value">
                </app-call-flat-rates-toggle-column>
            </div>
            <div [formGroup]="officeOnStaffFlatRateSetup">
                <mat-checkbox
                        [formControl]="isOfficeOnStaffFlatRateActive"
                        [disabled]="published"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isOfficeOnStaffFlatRateActive,officeOnStaffFlatRate,officeOnStaffFlatRateType,constants.FLAT_RATE_MAX_VALUES.OFFICE_ON_STAFF,$event.checked)"
                        [checked]="isOfficeOnStaffFlatRateActive.value">
                </mat-checkbox>
                <span>{{'call.detail.flat.rate.table.office.administration.direct.staff.cost' | translate}}</span>
                <mat-form-field>
                    <input [readonly]="!isOfficeOnStaffFlatRateActive.value"
                           name="officeOnStaffFlatRate"
                           [formControl]="officeOnStaffFlatRate"
                           [max]="constants.FLAT_RATE_MAX_VALUES.OFFICE_ON_STAFF"
                           min="1"
                           matInput
                           class="text-right"
                           type="number">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="officeOnStaffFlatRate?.errors"
                                [messages]="constants.FORM_ERRORS.officeAdminDirectStaffCostPercentErrors">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <app-call-flat-rates-toggle-column
                        [disabled]="published || !isOfficeOnStaffFlatRateActive.value"
                        (selected)="toggleFlatRateType(officeOnStaffFlatRateType,$event)"
                        [previousSelection]="officeOnStaffFlatRateType.value">
                </app-call-flat-rates-toggle-column>
            </div>
            <div [formGroup]="officeOnOtherFlatRateSetup">
                <mat-checkbox
                        [formControl]="isOfficeOnOtherFlatRateActive"
                        [disabled]="published"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isOfficeOnOtherFlatRateActive, officeOnOtherFlatRate,officeOnOtherFlatRateType, constants.FLAT_RATE_MAX_VALUES.OFFICE_ON_OTHER, $event.checked)"
                        [checked]="isOfficeOnOtherFlatRateActive.value">
                </mat-checkbox>
                <span>{{'call.detail.flat.rate.table.office.administration.direct.cost' | translate}}</span>
                <mat-form-field>
                    <input [readonly]="!isOfficeOnOtherFlatRateActive.value"
                           class="text-right"
                           name="officeOnOtherFlatRate"
                           [formControl]="officeOnOtherFlatRate"
                           [max]="constants.FLAT_RATE_MAX_VALUES.OFFICE_ON_OTHER"
                           min="1"
                           matInput
                           type="number">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="officeOnOtherFlatRate?.errors"
                                [messages]="constants.FORM_ERRORS.officeAdministrationDirectCostPercentErrors">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <app-call-flat-rates-toggle-column
                        [disabled]="published || !isOfficeOnOtherFlatRateActive.value"
                        (selected)="toggleFlatRateType(officeOnOtherFlatRateType,$event)"
                        [previousSelection]="officeOnOtherFlatRateType.value">
                </app-call-flat-rates-toggle-column>
            </div>
            <div [formGroup]="travelOnStaffFlatRateSetup">
                <mat-checkbox
                        [formControl]="isTravelOnStaffFlatRateActive"
                        [disabled]="published"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isTravelOnStaffFlatRateActive,travelOnStaffFlatRate,travelOnStaffFlatRateType,constants.FLAT_RATE_MAX_VALUES.TRAVEL_ON_STAFF,$event.checked)"
                        [checked]="isTravelOnStaffFlatRateActive.value">
                </mat-checkbox>
                <span>{{'call.detail.flat.rate.table.travel.accommodation.direct.staff.cost' | translate}}</span>
                <mat-form-field>
                    <input [readonly]="!isTravelOnStaffFlatRateActive.value"
                           name="travelOnStaffFlatRate"
                           class="text-right"
                           [formControl]="travelOnStaffFlatRate"
                           [max]="constants.FLAT_RATE_MAX_VALUES.TRAVEL_ON_STAFF"
                           min="1"
                           matInput
                           type="number">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="travelOnStaffFlatRate?.errors"
                                [messages]="constants.FORM_ERRORS.travelAccommodationDirectStaffCostPercentErrors">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <app-call-flat-rates-toggle-column
                        [disabled]="published || !isTravelOnStaffFlatRateActive.value"
                        (selected)="toggleFlatRateType(travelOnStaffFlatRateType,$event)"
                        [previousSelection]="travelOnStaffFlatRateType.value">
                </app-call-flat-rates-toggle-column>
            </div>
            <div [formGroup]="otherOnStaffFlatRateSetup">
                <mat-checkbox
                        [formControl]="isOtherOnStaffFlatRateActive"
                        [disabled]="published"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFlatRate(isOtherOnStaffFlatRateActive, otherOnStaffFlatRate,otherOnStaffFlatRateType,constants.FLAT_RATE_MAX_VALUES.OTHER_ON_STAFF, $event.checked)"
                        [checked]="isOtherOnStaffFlatRateActive.value">
                </mat-checkbox>
                <span> {{'call.detail.flat.rate.table.other.cost' | translate}}</span>
                <mat-form-field>
                    <input [readonly]="!isOtherOnStaffFlatRateActive.value"
                           name="otherOnStaffFlatRate"
                           [formControl]="otherOnStaffFlatRate"
                           [max]="constants.FLAT_RATE_MAX_VALUES.OTHER_ON_STAFF"
                           min="1"
                           matInput
                           class="text-right"
                           type="number">
                    <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="otherOnStaffFlatRate?.errors"
                                [messages]="constants.FORM_ERRORS.otherCostsPercentErrors">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <app-call-flat-rates-toggle-column
                        [disabled]="published || !isOtherOnStaffFlatRateActive.value"
                        (selected)="toggleFlatRateType(otherOnStaffFlatRateType,$event)"
                        [previousSelection]="otherOnStaffFlatRateType.value">
                </app-call-flat-rates-toggle-column>
            </div>
        </div>
    </form>
</app-form>
