<jems-main-page-template [needsCard]="true"
                        *ngIf="programme$ | async as programme"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.tab.data">
    <form jemsFormLayout [formGroup]="programmeForm">
        <div jemsMultiColumnRow>
            <h3 class="mb-0">{{'programme.data.header' | translate}}</h3>
            <button color="primary" mat-raised-button
                    *ngIf="(changeFormState$ | async) === FormState.VIEW && (programmeEditableStateStore.hasEditPermission$ | async)"
                    (click)="changeFormState$.next(FormState.EDIT)">
                {{'common.edit.label' | translate}}
            </button>
        </div>
        <mat-form-field>
            <mat-label>{{'programme.data.field.cci' | translate}}</mat-label>
            <input name="cci" formControlName="cci" matInput>
            <mat-error>
                <jems-form-field-errors [errors]="programmeForm?.controls?.cci?.errors"></jems-form-field-errors>
            </mat-error>
        </mat-form-field>
        <div jemsMultiColumnRow stretch>
            <mat-form-field>
                <mat-label>{{'programme.data.field.title' | translate}}</mat-label>
                <input [title]="programme.title" name="title" formControlName="title" matInput>
                <mat-error>
                    <jems-form-field-errors [errors]="programmeForm?.controls?.title?.errors"></jems-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'programme.data.field.version' | translate}}</mat-label>
                <input [title]="programme.version" name="version" formControlName="version" matInput>
                <mat-error>
                    <jems-form-field-errors [errors]="programmeForm?.controls?.version?.errors"></jems-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>
        <div jemsMultiColumnRow stretch>
            <mat-form-field>
                <mat-label>{{'programme.data.field.year.from' | translate}}</mat-label>
                <input type="number" name="firstYear" formControlName="firstYear" matInput
                       [max]="programmeForm?.controls?.lastYear?.value"
                       (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
                <mat-error>
                    <jems-form-field-errors
                            [errors]="programmeForm?.controls?.firstYear?.errors"
                            [messages]="firstYearErrors"
                            [args]="yearErrorsArgs">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'programme.data.field.year.until' | translate}}</mat-label>
                <input type="number" name="lastYear" formControlName="lastYear" matInput
                       [min]="programmeForm?.controls?.firstYear?.value"
                       (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
                <mat-error>
                    <jems-form-field-errors
                            [errors]="programmeForm?.controls?.lastYear?.errors"
                            [messages]="lastYearErrors"
                            [args]="yearErrorsArgs"
                    >
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-error *ngIf="programmeForm.errors?.lastYearBeforeFirstYear">
            {{'common.error.field.end.after.start' | translate : {
            startDate: "first year",
            endDate: "Last year"
        } }}    </mat-error>
        <div jemsMultiColumnRow stretch>
            <mat-form-field>
                <mat-label>{{'programme.data.field.eligible.from' | translate | dateFormatInfo}}</mat-label>
                <input name="eligibleFrom" formControlName="eligibleFrom" matInput
                       [matDatepicker]="eligibleFromPicker"
                       [max]="programmeForm?.controls?.eligibleUntil?.value">
                <mat-datepicker-toggle matSuffix [for]="eligibleFromPicker"></mat-datepicker-toggle>
                <mat-datepicker #eligibleFromPicker></mat-datepicker>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="programmeForm?.controls?.eligibleFrom?.errors"
                            [messages]="eligibleFromErrors">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'programme.data.field.eligible.until' | translate | dateFormatInfo}}</mat-label>
                <input name="eligibleUntil" formControlName="eligibleUntil" matInput
                       [matDatepicker]="eligibleUntilPicker"
                       [min]="programmeForm?.controls?.eligibleFrom?.value">
                <mat-datepicker-toggle matSuffix [for]="eligibleUntilPicker"></mat-datepicker-toggle>
                <mat-datepicker #eligibleUntilPicker></mat-datepicker>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="programmeForm?.controls?.eligibleUntil?.errors"
                            [messages]="eligibleUntilErrors">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>
        <div jemsMultiColumnRow stretch>
            <mat-form-field>
                <mat-label>{{'programme.data.field.commission.number' | translate}}</mat-label>
                <input [title]="programme.commissionDecisionNumber" name="commissionDecisionNumber"
                       formControlName="commissionDecisionNumber" matInput>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="programmeForm?.controls?.commissionDecisionNumber?.errors"></jems-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'programme.data.field.commission.date' | translate | dateFormatInfo}}</mat-label>
                <input name="commissionDecisionDate" formControlName="commissionDecisionDate" matInput
                       [matDatepicker]="commissionDecisionPicker">
                <mat-datepicker-toggle matSuffix [for]="commissionDecisionPicker"></mat-datepicker-toggle>
                <mat-datepicker #commissionDecisionPicker></mat-datepicker>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="programmeForm?.controls?.commissionDecisionDate?.errors"
                            [messages]="dateErrors">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>
        <div jemsMultiColumnRow stretch>
            <mat-form-field>
                <mat-label>{{'programme.data.field.amending.decision.number' | translate}}</mat-label>
                <input [title]="programme.programmeAmendingDecisionNumber" name="programmeAmendingDecisionNumber"
                       formControlName="programmeAmendingDecisionNumber" matInput>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="programmeForm?.controls?.programmeAmendingDecisionNumber?.errors"></jems-form-field-errors>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    {{'programme.data.field.amending.decision.date' | translate | dateFormatInfo}}
                </mat-label>
                <input name="programmeAmendingDecisionDate" formControlName="programmeAmendingDecisionDate" matInput
                       [matDatepicker]="programmeAmendingDecisionPicker">
                <mat-datepicker-toggle matSuffix [for]="programmeAmendingDecisionPicker"></mat-datepicker-toggle>
                <mat-datepicker #programmeAmendingDecisionPicker></mat-datepicker>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="programmeForm?.controls?.programmeAmendingDecisionDate?.errors"
                            [messages]="dateErrors">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>
        <h3>{{'programme.data.field.project.id' | translate}}</h3>
        <span>{{'programme.data.field.project.id.description' | translate}}</span>
        <div jemsMultiColumnRow stretch class="mb-3">
            <div>
                <mat-form-field>
                    <mat-label>{{'programme.data.field.project.id.programme.abbreviation' | translate }}</mat-label>
                    <input name="projectIdProgrammeAbbreviation" formControlName="projectIdProgrammeAbbreviation"
                           matInput>
                    <mat-error>
                        <jems-form-field-errors
                                [errors]="programmeForm?.controls?.projectIdProgrammeAbbreviation?.errors"></jems-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <mat-checkbox class="pl-3" name="projectIdUseCallId" formControlName="projectIdUseCallId">
                    {{'programme.data.field.project.id.use.call.id' | translate }}
                </mat-checkbox>
            </div>
            <div>
                <mat-label>{{'programme.data.field.project.id.preview' | translate }}</mat-label>
                <div>{{ projectIdExample$ | async }}</div>
            </div>
        </div>

        <div jemsMultiColumnRow *ngIf="formState === FormState.EDIT">
            <button mat-stroked-button
                    type="button"
                    (click)="changeFormState$.next(FormState.VIEW)">
                {{'common.cancel.label' | translate}}
            </button>
            <button mat-raised-button
                    color="primary"
                    type="button"
                    [disabled]="programmeForm.invalid || submitted"
                    (click)="onSubmit()">
                {{'programme.data.button.save' | translate}}
            </button>
        </div>
        <jems-alert
                [show]="!submitted && (showSuccessMessage$ | async)"
                [type]="Alert.SUCCESS">
            <p>{{'programme.data.save.success' | translate}}</p>
        </jems-alert>
        <jems-alert *ngIf="programmeSaveError$ | async as error"
                   [show]="!submitted && !!error.i18nMessage?.i18nKey"
                   [type]="Alert.ERROR">
            <jems-api-error-content [error]="error"></jems-api-error-content>
        </jems-alert>
    </form>
</jems-main-page-template>
