@import "custom-buttons-styles";
@import "custom-tooltip-styles";
@import "custom-tab-group-styles";
@import "custom-form-field-styles";
@import "custom-mat-table-styles";
@import "custom-date-time-picker-styles";

// source: https://stackoverflow.com/a/57288409
@mixin generate-css-vars-and-custom-styles($theme, $app-typography) {
  $foreground-palette: map-get($theme, foreground);
  $background-palette: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);

  $primary-theme: map-get($theme, primary);
  $primary: mat-color(map-get($theme, primary));
  $primary-halftone: mat-color(map-get($theme, primary), if($is-dark-theme, darker, lighter));
  $accent: mat-color(map-get($theme, accent));
  $warn: mat-color(map-get($theme, warn));

  $text: mat-color($foreground-palette, text);
  $text-secondary: mat-color($foreground-palette, secondary-text);
  $text-contrast: mat-color($primary-theme, default-contrast);
  $text-contrast-lighter: mat-color($primary-theme, lighter-contrast);
  $text-contrast-darker: mat-color($primary-theme, darker-contrast);
  $text-link: if($is-dark-theme, $text, $primary);
  $underline-color: mat-color($foreground-palette, text, if($is-dark-theme, .7, .42));

  $background: mat-color($background-palette, background);
  $background-card: mat-color($background-palette, card);
  $background-lighter: mat-color($primary-theme, if($is-dark-theme, darker, lighter));
  $app-bar: mat-color($background-palette, app-bar);
  $hover: mat-color($background-palette, hover);
  $outline: mat-color($foreground-palette, divider, if($is-dark-theme, 0.3, 0.12));

  $body-strong-font-size: mat-font-size($app-typography, body-2);
  $body-strong-font-weight: mat-font-weight($app-typography, body-2);

  --blue-gray: #{mat-color($mat-blue-gray, if($is-dark-theme, 50, 100))};
  --light-blue-gray: #{mat-color($mat-blue-gray, 100, if($is-dark-theme, 0.25, 0.5))};
  --pale-blue-gray: #{mat-color($mat-blue-gray, 50, if($is-dark-theme, 0.0625, 0.375))};
  --table-backaground-color: #{if($is-dark-theme, $background, white)};
  --table-highlight-color: #{if($is-dark-theme, lighten($background,2), lighten(mat-color($primary-theme,50),3.5))};
  --table-hover-color: #{if($is-dark-theme, lighten($background,1), mat-color($mat-gray,100))};
  --table-border-color: #{if($is-dark-theme, $background, lighten(mat-color($mat-blue-gray,100),1))};
  --table-header-text-color: #{if($is-dark-theme, mat-color($mat-gray,400), mat-color($mat-gray,600,0.85))};

  --light-yellow: #{mat-color($mat-yellow, 100)};
  --pale-yellow: #{mat-color($mat-yellow, 50)};

  --primary-color: #{$primary};
  --primary-halftone-color: #{$primary-halftone};
  --accent-color: #{$accent};
  --error-color: #{$warn};
  --warn-color: #{#F6D15E};
  --info-color: #{#155724};

  --font-color-primary: #{$text};
  --font-color-secondary: #{$text-secondary};
  --font-color-contrast: #{$text-contrast};
  --font-color-contrast-lighter: #{$text-contrast-lighter};
  --font-color-contrast-darker: #{$text-contrast-darker};
  --font-text-link: #{$text-link};

  --hover-color: #{$hover};
  --background: #{$background};
  --background-card: #{$background-card};
  --background-lighter: #{$background-lighter};
  --app-bar: #{$app-bar};
  --underline-color: #{$underline-color};
  --outline-color: #{$outline};
  --sidebar-color: #5FB3D9;

  --body-strong-font-size: #{$body-strong-font-size};
  --body-strong-font-weight: #{$body-strong-font-weight};

  --status-draft: #8EBED1;
  --status-submitted: #9BA3CD;
  --status-approved-with-conditions: #FBB900;
  --status-declined: #E76A4C;
  --status-approved: #86AC63;

  @include custom-global-styles($is-dark-theme);

}


@mixin custom-global-styles($is-dark-theme) {

  @include custom-buttons-styles($is-dark-theme);
  @include custom-tooltip-styles();
  @include custom-tab-group-styles();
  @include custom-form-field-styles();
  @include custom-mat-table-styles($is-dark-theme);
  @include custom-date-time-picker-styles()

}
