@use '~@angular/material' as mat;
@import "custom-buttons-styles";
@import "custom-tooltip-styles";
@import "custom-form-field-styles";
@import "custom-mat-table-styles";
@import "custom-date-time-picker-styles";

// source: https://stackoverflow.com/a/57288409
@mixin generate-css-vars-and-custom-styles($theme, $app-typography) {
  $foreground-palette: map-get($theme, foreground);
  $background-palette: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);

  $primary-theme: map-get($theme, primary);
  $primary: mat.get-color-from-palette(map-get($theme, primary));
  $primary-halftone: mat.get-color-from-palette(map-get($theme, primary), if($is-dark-theme, darker, lighter));
  $accent: mat.get-color-from-palette(map-get($theme, accent));
  $warn: mat.get-color-from-palette(map-get($theme, warn));

  $text: mat.get-color-from-palette($foreground-palette, text);
  $text-secondary: mat.get-color-from-palette($foreground-palette, text, 0.6);
  $text-contrast: mat.get-color-from-palette($primary-theme, default-contrast);
  $text-contrast-lighter: mat.get-color-from-palette($primary-theme, lighter-contrast);
  $text-contrast-darker: mat.get-color-from-palette($primary-theme, darker-contrast);
  $text-link: if($is-dark-theme, $text, $primary);
  $underline-color: mat.get-color-from-palette($foreground-palette, text, if($is-dark-theme, .7, .42));

  $background: mat.get-color-from-palette($background-palette, background);
  $background-card: mat.get-color-from-palette($background-palette, card);
  $background-lighter: mat.get-color-from-palette($primary-theme, if($is-dark-theme, darker, lighter));
  $app-bar: mat.get-color-from-palette($background-palette, app-bar);
  $hover: mat.get-color-from-palette($background-palette, hover);
  $outline: mat.get-color-from-palette($foreground-palette, divider, if($is-dark-theme, 0.3, 0.12));

  $body-strong-font-size: mat.font-size($app-typography, body-2);
  $body-strong-font-weight: mat.font-weight($app-typography, body-2);

  --blue-gray: #{mat.get-color-from-palette(mat.$blue-gray-palette, if($is-dark-theme, 50, 100))};
  --light-blue-gray: #{mat.get-color-from-palette(mat.$blue-gray-palette, 100, if($is-dark-theme, 0.25, 0.5))};
  --pale-blue-gray: #{mat.get-color-from-palette(mat.$blue-gray-palette, 50, if($is-dark-theme, 0.0625, 0.375))};
  --table-backaground-color: #{if($is-dark-theme, $background, white)};
  --table-highlight-color: #{if($is-dark-theme, lighten($background,2), lighten(mat.get-color-from-palette($primary-theme,50),5))};
  --table-hover-color: #c9e8fb;
  --table-border-color: #{if($is-dark-theme, $background, lighten(mat.get-color-from-palette(mat.$blue-gray-palette,100),1))};
  --table-header-text-color: #{mat.get-color-from-palette(mat.$gray-palette,600)};

  --light-yellow: #fde5c2;
  --pale-yellow: #fef5e7;

  --primary-color: #{$primary};
  --primary-halftone-color: #{$primary-halftone};
  --primary-dark-color: rgb(18, 61, 103);
  --accent-color: #{$accent};

  --info-color: #{#267067};
  --info-color-lighter: #{#bfddde};
  --success-color: #{#63ba8d};
  --success-color-lighter: #{#e1efe3};
  --warn-color: #{#cd732a};
  --warn-color-lighter: #{#fff2ce};
  --error-color: #{$warn};
  --error-color-lighter: rgba(201,12,15, 0.3);;

  --font-weight-strong: 600;
  --font-color-primary: #{$text};
  --font-color-secondary: #{$text-secondary};
  --font-color-contrast: #{$text-contrast};
  --font-color-contrast-lighter: #{$text-contrast-lighter};
  --font-color-contrast-darker: #{$text-contrast-darker};
  --font-text-link: #{$text-link};

  --hover-color: #{$hover};
  --background: #{$background};
  --background-card: #{$background-card};
  --background-lighter: #{$background-lighter};
  --background-login: mat-light-theme;
  --background-top-bar: var(--primary-dark-color);
  --sidebar-background-color: #87b7db;
  --sidebar-dark-background-color: rgba(18, 61, 103, 0.1);
  --app-bar: white;
  --app-bar-secondary: #76d7e7;
  --underline-color: #{$underline-color};
  --outline-color: #{$outline};

  --body-strong-font-size: #{$body-strong-font-size};
  --body-strong-font-weight: #{$body-strong-font-weight};

  --font-color-status-chips: var(--font-color-primary);
  --status-draft: rgba(255,164,69, 0.5); // sunny
  --status-submitted: rgba(38,165,192, 0.3); // azure
  --status-approved-with-conditions: rgba(18,61,103, 0.3); // deep sea
  --status-declined: rgba(201,12,15, 0.5); // financial red
  --status-reopencertification: var(--error-color-lighter); // financial red
  --status-reopencontrol: var(--error-color-lighter); // financial red
  --status-approved: rgba(38,112,103, 0.4); // deep woods
  --status-contracted: rgb(99,186,141, 0.75); // fresh grass
  --status-closed: rgb(191,221,222, 0.75);

  --report-type-content: #cfdbea;
  --report-type-finance: #bfddde;
  --report-type-both: #f7dcc4;

  --parked-by-control: rgba(38,165,192, 0.3); // azure
  --parked-by-jsma: rgba(255,164,69, 0.5); // sunny

  --navigation-shadow: 0.5rem 0 0.75rem rgba(0,0,0,0.5);

  @include custom-global-styles($is-dark-theme);

}


@mixin custom-global-styles($is-dark-theme) {

  @include custom-buttons-styles($is-dark-theme);
  @include custom-tooltip-styles();
  @include custom-form-field-styles();
  @include custom-mat-table-styles($is-dark-theme);
  @include custom-date-time-picker-styles()

}
