@use "sass:math";

@use '~@angular/material' as mat;
@import "src/app/theme/typography";

@mixin custom-form-field-styles() {

  @include custom-general-form-field-styles();
  @include custom-disabled-form-fields();
  @include shorten-mat-form-field-appearance-fill-with-no-label($app-typography);
}


@mixin shorten-mat-form-field-appearance-fill-with-no-label($app-typography) {

  //////////////////////////////////////////////////////////////////////////////////////////////
  // These calculations are the same as default material calculations in the
  // 'mat-form-field-typography($config)' mixin int the _theming file
  // so we can have same rules as defined there
  $line-height: mat.line-height($app-typography, input);
  $subscript-font-scale: 0.75;
  $subscript-margin-top: math.div(0.5em, $subscript-font-scale);
  $wrapper-padding-bottom: ($subscript-margin-top + $line-height) * $subscript-font-scale;
  ///////////////////////////////////////////////////////////////////////////////////////////////

  .mat-form-field-appearance-fill:not(.mat-form-field-has-label) {
    .mat-form-field-wrapper {
      padding-top: $wrapper-padding-bottom;
    }

    .mat-form-field-flex {
      padding-top: 1px;
      align-items: center;
    }

    .mat-form-field-infix {
      padding-top: 0
    }

    .mat-select-arrow-wrapper {
      transform: translateY(0);
    }
  }
}

@mixin custom-general-form-field-styles() {
  .mat-form-field-label {
    color: var(--font-color-secondary);
  }

  .mat-form-field-required-marker {
    color: inherit;
    float: left;
    margin-right: 0.25em;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 0.725em;
    &.empty {
      color: var(--error-color);
    }
  }
  .mat-focused, label.mat-empty.mat-form-field-empty {
    .mat-form-field-required-marker {
      color: var(--error-color);
    }
  }

}

@mixin custom-disabled-form-fields() {

  .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex{
    background: none;
    border-bottom: 1px dotted;
    border-color: var(--outline-color);
  }

  .mat-form-field-disabled .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-disabled {
    .mat-select-arrow {
      visibility: hidden;
    }

    .mat-form-field-label-wrapper {
      .mat-form-field-label {
        color: var(--font-color-secondary);
      }
    }

    .mat-form-field-wrapper {
      .mat-input-element {
        color: var(--font-color-primary);
      }
    }
  }

  .mat-form-field-disabled .mat-select-value-text, .light-theme .mat-input-element:disabled {
    color: var(--font-color-primary);
  }

  /* usage:
   * on dropdowns and inputs inside of tables, use the "placeholder" property instead of a label
   * add class "placeholder-required" to the e.g. mat-select or mat-input...
   *
   * use the mat-required-marker class to show the same asterisk on related text e.g. the intro-text for a toggle-switch
   * "mat-required-marker empty" (red) while user input is missing
   * "mat-required-marker" (neutral color) when input value is fine
  */
  .mat-required-marker.empty::before,
  .placeholder-required span.mat-select-placeholder::before {
    content: "*";
    font-weight: 500;
    margin-right: 0.2em;
    font-size: 1.25em;
    line-height: 0.725em;
    color: var(--error-color);
  }
  .mat-required-marker::before{
    content: "*";
    margin-right: 0.2em;
    font-weight: 200;
    font-size: 1.25em;
    line-height: 0.725em;
    display: inline;
    color: inherit;
  }
}
