@import "src/app/theme/typography";

@mixin custom-form-field-styles() {

  @include custom-general-form-field-styles();
  @include custom-disabled-form-fields();
  @include shorten-mat-form-field-appearance-fill-with-no-label($app-typography);
}


@mixin shorten-mat-form-field-appearance-fill-with-no-label($app-typography) {

  //////////////////////////////////////////////////////////////////////////////////////////////
  // These calculations are the same as default material calculations in the
  // 'mat-form-field-typography($config)' mixin int the _theming file
  // so we can have same rules as defined there
  $line-height: mat-line-height($app-typography, input);
  $subscript-font-scale: 0.75;
  $subscript-margin-top: 0.5em / $subscript-font-scale;
  $wrapper-padding-bottom: ($subscript-margin-top + $line-height) * $subscript-font-scale;
  ///////////////////////////////////////////////////////////////////////////////////////////////

  .mat-form-field-appearance-fill:not(.mat-form-field-has-label) {
    .mat-form-field-wrapper {
      padding-top: $wrapper-padding-bottom;
    }

    .mat-form-field-flex {
      padding-top: 0
    }

    .mat-form-field-infix {
      padding-top: 0
    }

    .mat-select-arrow-wrapper {
      transform: translateY(0);
    }
  }
}

@mixin custom-general-form-field-styles() {
  .mat-form-field-label {
    color: var(--input-label-color);
  }
}

@mixin custom-disabled-form-fields() {

  .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex{
    background: none;
    border-bottom: 1px dotted;
    border-color: var(--outline-color);
  }
  
  .mat-form-field-disabled .mat-form-field-underline {
    height: 0;
  }

  .mat-form-field-disabled {
    .mat-select-arrow {
      visibility: hidden;
    }

    .mat-form-field-label-wrapper {
      .mat-form-field-label {
        color: var(--input-label-color);
      }
    }

    .mat-form-field-wrapper {
      .mat-input-element {
        color: var(--font-color-secondary);
      }
    }
  }

  .mat-form-field-disabled .mat-select-value-text, .light-theme .mat-input-element:disabled {
    color: var(--font-color-primary);
  }
}
