<jems-project-page-template *ngIf="data$ | async as data" [needsCard]="false"
                            titleKey="project.application.contracting.title"
                            subTitleKey="project.application.contract.monitoring.title"
                            [isVersionedData]="false">

    <mat-card class="p-4 mb-2" jemsFormLayout>
    <mat-card-content>
        <h3>{{'project.application.contract.monitoring.title' | translate}}</h3>
        <p>{{'project.application.set.to.contracted.intro.one' | translate}}</p>
        <p>{{'project.application.set.to.contracted.intro.two' | translate}}</p>
        <div class="mt-2">
            <ng-container *ngIf="!ProjectUtil.isContractedOrAnyStatusAfterContracted(data.currentVersionOfProject.projectStatus.status)" >
                <jems-pending-button class="mt-2"
                        [disabled] = "!data.canSetToContracted"
                        [pending]="actionPending"
                        icon="approval"
                        (clicked)="setToContracted(data.currentVersionOfProject.id, data.currentVersionOfProjectTitle)">
                    {{'project.application.set.to.contracted' | translate}}
                </jems-pending-button>
                <jems-context-info *ngIf="!data.canSetToContracted"
                                   infoText="{{ 'project.application.set.to.contracted.info' | translate }}"
                                   infoPosition="right">
                </jems-context-info>
            </ng-container>
            <ng-container *ngIf="ProjectUtil.isContractedOrAnyStatusAfterContracted(data.currentVersionOfProject.projectStatus.status) && data.currentVersionOfProject.projectStatus.status !== STATUS.CLOSED">
                <jems-pending-button class="mt-2"
                                     [disabled] = "!data.canSetToClosed"
                                     [pending]="actionPending"
                                     icon="hail"
                                     (clicked)="setToClosed(data.currentVersionOfProject.id, data.currentVersionOfProjectTitle)">
                    {{'project.application.set.to.closed' | translate}}
                </jems-pending-button>
                <jems-context-info *ngIf="!data.canSetToClosed"
                                   infoText="{{ 'project.application.set.to.closed.info' | translate }}"
                                   infoPosition="right">
                </jems-context-info>
            </ng-container>
            <ng-container *ngIf="data.currentVersionOfProject.projectStatus.status === STATUS.CLOSED">
                <jems-pending-button class="mt-2"
                                     [disabled] = "!data.canRevertToContracted"
                                     [pending]="actionPending"
                                     icon="undo"
                                     (clicked)="revertToContracted(data.currentVersionOfProject.id, data.currentVersionOfProjectTitle)">
                    {{'project.application.revert.decision' | translate}}
                </jems-pending-button>
                <jems-context-info infoText="{{ 'project.application.revert.decision.info' | translate }}"
                                   infoPosition="right">
                </jems-context-info>
            </ng-container>
            <ng-container *ngIf="ProjectUtil.isContractedOrAnyStatusAfterContracted(data.currentVersionOfProject.projectStatus.status)">
                <jems-alert [show]="true"
                            [type]="Alert.INFO"
                            [closable]="false">
                    <p *ngIf="data.currentVersionOfProject.projectStatus.status !== STATUS.CLOSED; else closed">{{'project.application.set.to.contracted.status.message' | translate : {contractDate: (data.currentVersionOfProject.contractedDecision.updated | localeDate) ?? ''} }}</p>
                    <ng-template #closed>
                        <p>{{'project.application.set.to.closed.status.message' | translate : {closedDate: (data.currentVersionOfProject.contractedDecision.updated | localeDate) ?? ''} }}</p>
                    </ng-template>
                </jems-alert>
            </ng-container>

            <jems-alert *ngIf="error$ | async as error"
                       [show]="!!error.i18nMessage?.i18nKey"
                       [type]="Alert.ERROR">
                <jems-api-error-content [error]="error"></jems-api-error-content>
            </jems-alert>

            <ng-container *ngIf="showSetToContractedSuccessMessage$ | async as successMessageArg">
                <jems-alert
                        [show]="successMessageArg"
                        [type]="Alert.SUCCESS">
                    <p>{{'project.application.set.to.contracted.success.message' | translate : {projectName: successMessageArg} }}</p>
                </jems-alert>
            </ng-container>

            <ng-container *ngIf="showSetToClosedSuccessMessage$ | async as successMessageArg">
                <jems-alert
                        [show]="successMessageArg"
                        [type]="Alert.SUCCESS">
                    <p>{{'project.application.set.to.closed.success.message' | translate : {projectName: successMessageArg} }}</p>
                </jems-alert>
            </ng-container>

            <ng-container *ngIf="showRevertToContractedSuccessMessage$ | async as successMessageArg">
                <jems-alert
                        [show]="successMessageArg"
                        [type]="Alert.SUCCESS">
                    <p>{{'project.application.revert.decision.success.message' | translate : {projectName: successMessageArg} }}</p>
                </jems-alert>
            </ng-container>

        </div>
    </mat-card-content>
    </mat-card>

    <jems-contract-monitoring-extension *ngIf="data.canSeeMonitoringExtension"></jems-contract-monitoring-extension>

    <mat-card class="mt-2">
        <jems-contracting-files class="mt-2 mb-2"></jems-contracting-files>
    </mat-card>

</jems-project-page-template>
