.spaced-elements{
  margin-top: 1rem;
}

.field {
  width: 100% !important;
  padding-top: 1rem;
}

.header {
  display: inline-block;
}

.header-button {
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 0.25rem;
}

.button {
  margin-right: 3rem;
}

.intro-text {
  width: 100%;
  padding-top: 1rem;
}

.intro-text-small{
  font-size: 0.75rem;
}
