<jems-main-page-template [needsCard]="true"
                        *ngIf="lumpSum$ | async as details"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.tab.costs.option">
    <jems-programme-lump-sum-detail
            [lumpSum]="details"
            [success$]="lumpSumSaveSuccess$"
            [error$]="lumpSumSaveError$"
            [isCreate]="isCreate"
            (createLumpSum)="createLumpSum($event)"
            (updateLumpSum)="updateLumpSum($event)"
            (cancelCreate)="cancelCreate()">
    </jems-programme-lump-sum-detail>
</jems-main-page-template>
