<jems-paginator
        *ngIf="configuration?.sortable"
        [length]="totalElements"
        [currentPageIndex]="pageIndex"
        [currentPageSize]="currentPageSize"
        [confirmPageChange]="confirmPageChange"
        (pageIndexChanged)="newPageIndex.emit($event)"
        (pageSizeChanged)="currentPageSize = $event;newPageSize.emit($event)">
</jems-paginator>

<div class="overflow-auto">
    <table matSort
           mat-table
           id="table"
           [dataSource]="rows"
           (matSortChange)="sortRows.emit($event)">

        <ng-container *ngFor="let column of configuration.columns; let i = index"
                      matColumnDef="{{column.displayedColumn}}">
            <ng-container *ngIf="column.sortProperty; else noSort">
                <mat-header-cell *matHeaderCellDef
                                 [class.wide-column-width]="column.columnWidth === ColumnWidth.WideColumn"
                                 [class.extra-wide-column-width]="column.columnWidth === ColumnWidth.extraWideColumn"
                                 [class.id-column-width]="column.columnWidth === ColumnWidth.IdColumn"
                                 [class.date-column-width]="column.columnWidth === ColumnWidth.DateColumn"
                                 [class.narrow-column-width]="column.columnWidth === ColumnWidth.NarrowColumn"
                                 [mat-sort-header]="column.sortProperty"
                                 [class.justify-end]="column.columnType === ColumnType.Decimal" class="cell"
                                 [arrowPosition]="column.columnType === ColumnType.Decimal ? 'before' : 'after'">
                    <span jemsText maxLines="2">{{column.displayedColumn | translate}}</span>
                    <jems-context-info *ngIf="column.infoMessage"
                                       infoText="{{column.infoMessage| translate}}"
                                       infoPosition="right">
                    </jems-context-info>
                </mat-header-cell>
            </ng-container>

            <ng-template #noSort>
                <mat-header-cell
                        [class.wide-column-width]="column.columnWidth === ColumnWidth.WideColumn"
                        [class.extra-wide-column-width]="column.columnWidth === ColumnWidth.extraWideColumn"
                        [class.id-column-width]="column.columnWidth === ColumnWidth.IdColumn"
                        [class.date-column-width]="column.columnWidth === ColumnWidth.DateColumn"
                    [class.narrow-column-width]="column.columnWidth === ColumnWidth.NarrowColumn"
                        *matHeaderCellDef class="cell">
                    <span jemsText maxLines="2">{{column.displayedColumn | translate}}</span>
                    <jems-context-info *ngIf="column.infoMessage"
                                       infoText="{{column.infoMessage| translate}}"
                                       infoPosition="right">
                    </jems-context-info>
                </mat-header-cell>
            </ng-template>

            <mat-cell *matCellDef="let row"
                      [class.justify-end]="column.columnType === ColumnType.Decimal"
                      [class.wide-column-width]="column.columnWidth === ColumnWidth.WideColumn"
                      [class.extra-wide-column-width]="column.columnWidth === ColumnWidth.extraWideColumn"
                      [class.id-column-width]="column.columnWidth === ColumnWidth.IdColumn"
                      [class.date-column-width]="column.columnWidth === ColumnWidth.DateColumn"
                      [class.narrow-column-width]="column.columnWidth === ColumnWidth.NarrowColumn"
                      (click)="cellClicked(row, column)"
                      class="cell">
                <div *ngIf="!column.customCellTemplate; else customCellTemplate"
                     [title]="column.tooltip ? (formatColumnTooltip(column, row) | translate) : ''">
                    {{ formatColumnValue(column, row, (languageStore.currentSystemLanguage$ | async)!) | translate : getI18nArgs(column, row) }}
                </div>

                <ng-template #customCellTemplate>
                    <ng-template [ngTemplateOutlet]="column.customCellTemplate"
                                 [ngTemplateOutletContext]="{ $implicit: row }"></ng-template>
                </ng-template>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
        <mat-row [class.clickable-table-row]="configuration.isTableClickable"
                 *matRowDef="let row; columns: columnsToDisplay;"
                 queryParamsHandling="merge"></mat-row>
    </table>
</div>

<jems-paginator
        *ngIf="configuration?.sortable"
        [length]="totalElements"
        [currentPageIndex]="pageIndex"
        [currentPageSize]="currentPageSize"
        [confirmPageChange]="confirmPageChange"
        (pageIndexChanged)="newPageIndex.emit($event)"
        (pageSizeChanged)="currentPageSize = $event;newPageSize.emit($event)">
</jems-paginator>
