:host {
  display: inline-block;
  width: 100%;
}

mat-header-cell,
mat-cell,
mat-footer-cell {
  margin: 0 .25rem;
}

.justify-end {
  justify-content: flex-end;
}

.clickable-table-row{
  cursor: pointer;
}

.clickable-table-row:hover {
  background-color: var(--hover-color);
}

.clickable-table-row:active {
  background-color: var(--hover-color);
}

.id-column-width {
  max-width: 4rem;
  padding-right: 2rem;
}

.narrow-column-width {
  max-width: 1.5rem;
  padding-right: 1.5rem;
}

.date-column-width {
  max-width: 10rem;
}

.wide-column-width {
  min-width: 12rem;
}
.extra-wide-column-width {
  min-width: 20rem;
}
