<app-paginator
        *ngIf="configuration?.sortable"
        [length]="totalElements"
        [currentPageIndex]="pageIndex"
        [currentPageSize]="currentPageSize"
        (pageIndexChanged)="newPageIndex.emit($event)"
        (pageSizeChanged)="currentPageSize = $event;newPageSize.emit($event)">
</app-paginator>
<table mat-table matSort
       [dataSource]="rows"
       (matSortChange)="sortRows.emit($event)"
       class="mat-elevation-z8 general-application-table">

    <ng-container *ngFor="let column of configuration.columns; let i = index"
                  matColumnDef="{{column.displayedColumn}}">
        <ng-container *ngIf="column.sortProperty; else noSort">
            <th mat-header-cell *matHeaderCellDef
                [mat-sort-header]="column.sortProperty">
                {{column.displayedColumn | translate}}
            </th>
        </ng-container>

        <ng-template #noSort>
            <th mat-header-cell *matHeaderCellDef>{{column.displayedColumn | translate}}</th>
        </ng-template>

        <td mat-cell *matCellDef="let row">
            <div *ngIf="!column.customCellTemplate; else customCellTemplate"
                 [title]="column.tooltip ? (formatColumnTooltip(column, row) | translate) : ''">
                {{ formatColumnValue(column, row) | translate : getI18nArgs(column, row) }}
            </div>

            <ng-template #customCellTemplate>
                <ng-template [ngTemplateOutlet]="column.customCellTemplate"
                             [ngTemplateOutletContext]="{ $implicit: row }"></ng-template>
            </ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row
        [class.clickable-table-row]="configuration.isTableClickable"
        *matRowDef="let row; columns: columnsToDisplay;"
        [routerLink]="configuration.isTableClickable ? [configuration.routerLink, row.id] : []"></tr>
</table>
<app-paginator
        *ngIf="configuration?.sortable"
        [length]="totalElements"
        [currentPageIndex]="pageIndex"
        [currentPageSize]="currentPageSize"
        (pageIndexChanged)="newPageIndex.emit($event)"
        (pageSizeChanged)="currentPageSize = $event;newPageSize.emit($event)">
</app-paginator>
