<app-form (save)="onSubmit()"
          (discard)="onCancel()">
    <form [formGroup]="associatedOrganizationForm" class="wrapper">
        <h4 *ngIf="!associatedOrganization?.sortNumber">{{'project.application.form.associatedOrganization.add' | translate}}</h4>
        <h4 *ngIf="associatedOrganization?.sortNumber">{{'project.breadcrumb.associatedOrganizationName' | translate}} {{ 'project.organization.number.format.short' | translate : {sortNumber: associatedOrganization.sortNumber} }}</h4>
        <h5><span>{{'project.breadcrumb.associatedOrganizationName' | translate}}</span></h5>
        <mat-form-field class="field">
            <mat-label>{{'project.organization.original.name.label' | translate}}</mat-label>
            <input name="nameInOriginalLanguage" formControlName="nameInOriginalLanguage" matInput
                   placeholder="{{'project.organization.original.name.label' | translate}}" required>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm.controls?.nameInOriginalLanguage?.errors"
                        [messages]="nameInOriginalLanguageErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label>{{'project.organization.english.name.label' | translate}}</mat-label>
            <input name="nameInEnglish" formControlName="nameInEnglish" matInput
                   placeholder="{{'project.organization.english.name.label' | translate}}" required>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm.controls?.nameInEnglish?.errors"
                        [messages]="nameInEnglishErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>{{'project.organization.partner' | translate}}</mat-label>
            <mat-select name="partnerId"
                        panelClass="material-select-panel" formControlName="partnerId" required>
                <mat-option *ngFor="let partner of partners" [value]="partner.id">
                    {{ 'common.label.project.partner.role.shortcut.' + partner.role | translate : {partner: partner.sortNumber + ' ' + partner.abbreviation} }}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm.controls?.partnerId?.errors"
                        [messages]="partnerIdErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <app-project-application-form-address
                [addressForm]="associatedOrganizationForm"
                [nuts]="nuts">
        </app-project-application-form-address>

        <!--    LEGAL REPRESENTATIVE-->

        <h5><span>{{'project.partner.representative.header.detail' | translate}}</span></h5>
        <mat-form-field class="field">
            <mat-label>{{'project.partner.representative.title' | translate}}</mat-label>
            <input name="representativeTitle" formControlName="representativeTitle" matInput
                   placeholder="{{'project.partner.representative.title' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.representativeTitle?.errors"
                        [messages]="representativeTitleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>{{'project.partner.representative.first.name' | translate}}</mat-label>
            <input name="representativeFirstName" formControlName="representativeFirstName" matInput
                   placeholder="{{'project.partner.representative.first.name' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.representativeFirstName?.errors"
                        [messages]="representativeFirstNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>{{'project.partner.representative.last.name' | translate}}</mat-label>
            <input name="representativeLastName" formControlName="representativeLastName" matInput
                   placeholder="{{'project.partner.representative.last.name' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.representativeLastName?.errors"
                        [messages]="representativeLastNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <!--    CONTACT-->
        <h5>{{'project.partner.contact.header.detail' | translate}}</h5>

        <mat-form-field class="field">
            <mat-label>{{'project.partner.contact.title' | translate}}</mat-label>
            <input name="contactTitle" formControlName="contactTitle" matInput
                   placeholder="{{'project.partner.contact.title' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactTitle?.errors"
                        [messages]="contactTitleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>{{'project.partner.contact.first.name' | translate}}</mat-label>
            <input name="contactFirstName" formControlName="contactFirstName" matInput
                   placeholder="{{'project.partner.contact.first.name' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactFirstName?.errors"
                        [messages]="contactFirstNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>{{'project.partner.contact.last.name' | translate}}</mat-label>
            <input name="contactLastName" formControlName="contactLastName" matInput
                   placeholder="{{'project.partner.contact.last.name' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactLastName?.errors"
                        [messages]="contactLastNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>{{'project.partner.contact.email' | translate}}</mat-label>
            <input name="contactEmail" formControlName="contactEmail" matInput
                   placeholder="{{'project.partner.contact.email' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactEmail?.errors"
                        [messages]="contactEmailErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>{{'project.partner.contact.telephone' | translate}}</mat-label>
            <input name="contactTelephone" formControlName="contactTelephone" matInput
                   placeholder="{{'project.partner.contact.telephone' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactTelephone?.errors"
                        [messages]="contactTelephoneErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <app-multi-language
                [inputs]="[roleDescription]">
            <mat-form-field class="field">
                <mat-label>{{'project.organization.roleDescription' | translate}}</mat-label>
                <textarea name="roleDescription" formControlName="roleDescription" matInput
                          placeholder="{{'project.organization.roleDescription' | translate}}" rows="5"></textarea>
                <mat-error>
                    <app-form-field-errors
                            [errors]="associatedOrganizationForm?.controls?.roleDescription?.errors"
                            [messages]="roleDescriptionErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-multi-language>
    </form>
</app-form>
