<app-form (save)="onSubmit()"
          (discard)="onCancel()">
    <form appFormLayout [formGroup]="associatedOrganizationForm">
        <h3 *ngIf="!associatedOrganization?.sortNumber">{{'project.application.form.associatedOrganization.add' | translate}}</h3>
        <h3 *ngIf="associatedOrganization?.sortNumber">{{'project.breadcrumb.associatedOrganizationName' | translate}} {{ 'project.organization.number.format.short' | translate : {sortNumber: associatedOrganization.sortNumber} }}</h3>
        <h4>{{'project.breadcrumb.associatedOrganizationName' | translate}}</h4>
        <mat-form-field>
            <mat-label>{{'project.organization.original.name.label' | translate}}</mat-label>
            <input name="nameInOriginalLanguage" formControlName="nameInOriginalLanguage" matInput required>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm.controls?.nameInOriginalLanguage?.errors"
                        [messages]="nameInOriginalLanguageErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <app-multi-language [staticLanguages]="[LANGUAGE.EN]">
            <mat-form-field>
                <mat-label>{{'project.organization.english.name.label' | translate}}</mat-label>
                <input name="nameInEnglish" formControlName="nameInEnglish" matInput required>
                <mat-error>
                    <app-form-field-errors
                            [errors]="associatedOrganizationForm.controls?.nameInEnglish?.errors"
                            [messages]="nameInEnglishErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-multi-language>

        <mat-form-field>
            <mat-label>{{'project.organization.partner' | translate}}</mat-label>
            <mat-select name="partnerId" formControlName="partnerId" required>
                <mat-option *ngFor="let partner of partners" [value]="partner.id">
                    {{ 'common.label.project.partner.role.shortcut.' + partner.role | translate : {partner: partner.sortNumber + ' ' + partner.abbreviation} }}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm.controls?.partnerId?.errors"
                        [messages]="partnerIdErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <app-project-application-form-address
                [addressForm]="associatedOrganizationForm"
                [nuts]="nuts">
        </app-project-application-form-address>

        <h4>{{'project.partner.representative.header.detail' | translate}}</h4>
        <mat-form-field>
            <mat-label>{{'project.partner.representative.title' | translate}}</mat-label>
            <input name="representativeTitle" formControlName="representativeTitle" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.representativeTitle?.errors"
                        [messages]="representativeTitleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.representative.first.name' | translate}}</mat-label>
            <input name="representativeFirstName" formControlName="representativeFirstName" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.representativeFirstName?.errors"
                        [messages]="representativeFirstNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.representative.last.name' | translate}}</mat-label>
            <input name="representativeLastName" formControlName="representativeLastName" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.representativeLastName?.errors"
                        [messages]="representativeLastNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>


        <h4>{{'project.partner.contact.header.detail' | translate}}</h4>
        <mat-form-field>
            <mat-label>{{'project.partner.contact.title' | translate}}</mat-label>
            <input name="contactTitle" formControlName="contactTitle" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactTitle?.errors"
                        [messages]="contactTitleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.first.name' | translate}}</mat-label>
            <input name="contactFirstName" formControlName="contactFirstName" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactFirstName?.errors"
                        [messages]="contactFirstNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.last.name' | translate}}</mat-label>
            <input name="contactLastName" formControlName="contactLastName" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactLastName?.errors"
                        [messages]="contactLastNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.email' | translate}}</mat-label>
            <input name="contactEmail" formControlName="contactEmail" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactEmail?.errors"
                        [messages]="contactEmailErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.telephone' | translate}}</mat-label>
            <input name="contactTelephone" formControlName="contactTelephone" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="associatedOrganizationForm?.controls?.contactTelephone?.errors"
                        [messages]="contactTelephoneErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <app-multi-language>
            <app-multi-language-form-field [label]="'project.organization.roleDescription'"
                                           type="textarea"
                                           formControlName="roleDescription"
                                           [maxLength]="2000">
            </app-multi-language-form-field>
        </app-multi-language>
    </form>
</app-form>
