version: '3'

services:

  jems-database:
    image: mariadb/server:10.3.13
    container_name: jems-database
#    volumes:
#      - [YOUR/PATH/HERE]:/var/lib/mysql
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: jemsdb
      MYSQL_ROOT_PASSWORD: Mariadb@2020
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]

  jems-minio:
    image: minio/minio:RELEASE.2021-08-05T22-01-19Z
    container_name: jems-minio
#    volumes:
#      - [YOUR/PATH/HERE]:/data
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: jemsminio
      MINIO_ROOT_PASSWORD: Minio@2020
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  audit-database:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.1
    container_name: audit-database
    ports:
      - '9200:9200'
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"

#
#  Optional: if you need, you can create mailhog container to test sending mail notifications:
#
#  mailhog:
#    image: mailhog/mailhog:latest
#    container_name: mailhog
#    restart: always
#    ports:
#      - '1025:1025'
#      - '8025:8025'

#
#  Optional: if you need, you can create kibana container to analyze all ElasticSearch data:
#
#  audit-analyzer:
#    image: docker.elastic.co/kibana/kibana:7.16.1
#    container_name: audit-analyzer
#    ports:
#      - '5601:5601'
#    depends_on:
#      - audit-database
#    environment:
#      ELASTICSEARCH_HOSTS: 'http://audit-database:9200'
