<mat-card class="edit-form-wrapper"
          [class.active-card]="formService.dirty$ | async">

    <mat-card-content class="content">
        <ng-content></ng-content>
    </mat-card-content>

    <ng-container *ngIf="showSaveDiscard$ | async"
                  [ngTemplateOutlet]="saveDiscard">
    </ng-container>
    <ng-container *ngIf="formService.success$ | async as success"
                  [ngTemplateOutlet]="saveSuccess"
                  [ngTemplateOutletContext]="{$implicit: success}">
    </ng-container>
    <ng-container *ngIf="formService.error$ | async as error"
                  [ngTemplateOutlet]="saveError"
                  [ngTemplateOutletContext]="{$implicit: error}">
    </ng-container>
</mat-card>

<ng-template #saveDiscard>
    <mat-card-footer [@slideInOut] class="footer">
        <button appText [disabled]="(formService.pending$ | async) === true"
                mat-stroked-button class="action-button discard" type="button"
                (click)="formService.setDirty(false); this.discard.emit(); formService.reset()">
            <mat-icon>cancel</mat-icon>&nbsp;{{'common.cancel.label' | translate}}
        </button>
        <app-pending-button
                icon="save"
                [confirm]="confirmSave"
                [disabled]="(formService.valid$ | async) === false"
                [pending]="(formService.pending$ | async) === true"
                (clicked)="submit()">
            {{formService.saveLabel | translate}}
        </app-pending-button>
    </mat-card-footer>
</ng-template>

<ng-template #saveSuccess let-message>
    <mat-card-footer [@slideInOut] class="footer">
        <div class="message-wrapper">
            <div class="message app-alert-success">
                <mat-icon class="app-alert-icon">check_circle</mat-icon>
                <span *ngIf="message.i18nKey">{{message.i18nKey | translate : message.i18nArguments}}</span>
                <span *ngIf="!message.i18nKey">{{message | translate}}</span>
            </div>
        </div>
    </mat-card-footer>
</ng-template>

<ng-template #saveError let-error>
    <mat-card-footer [@slideInOut] class="footer">
        <div class="message-wrapper">
            <div class="message app-alert-danger">
                <mat-icon class="app-alert-icon">warning_amber</mat-icon>
                <div>
                    <div>
                        <span class="mat-body-strong">
                            {{error?.i18nMessage.i18nKey ?
                                (error?.i18nMessage.i18nKey | translate) : error?.message}}
                        </span>
                        <span *ngIf="error?.code" class="ml-1 mat-body-strong">(error code: {{error?.code | translate}}
                            )</span>
                    </div>
                    <div class="detail-error ml-3 mt-1" *ngFor="let detail of error?.details as any">
                          <span>
                               {{$any(detail).i18nMessage.i18nKey ?
                                  ($any(detail)?.i18nMessage.i18nKey | translate) : detail?.message}}
                           </span>
                        <span *ngIf="detail?.code" class="ml-1">(error code: {{detail?.code | translate}})</span>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngTemplateOutlet="saveDiscard"></ng-container>
    </mat-card-footer>
</ng-template>
