<mat-card class="edit-form-wrapper"
          [class.active-card]="formService.dirty$ | async">

    <mat-card-content class="content">
        <ng-content></ng-content>
    </mat-card-content>

    <ng-container *ngIf="showSaveDiscard$ | async"
                  [ngTemplateOutlet]="saveDiscard">
    </ng-container>
    <ng-container *ngIf="formService.success$ | async as success"
                  [ngTemplateOutlet]="saveSuccess"
                  [ngTemplateOutletContext]="{$implicit: success}">
    </ng-container>
    <ng-container *ngIf="formService.error$ | async as error"
                  [ngTemplateOutlet]="saveError"
                  [ngTemplateOutletContext]="{$implicit: error}">
    </ng-container>
</mat-card>

<ng-template #saveDiscard>
    <mat-card-footer [@slideInOut] class="footer">
        <button jemsText [disabled]="(formService.pending$ | async) === true"
                mat-stroked-button class="action-button discard" type="button"
                (click)="formService.setDirty(false); this.discard.emit(); formService.reset()">
            <mat-icon>cancel</mat-icon>&nbsp;{{'common.cancel.label' | translate}}
        </button>
        <jems-pending-button
                icon="save"
                [confirm]="confirmSave"
                [disabled]="(formService.valid$ | async) === false"
                [pending]="(formService.pending$ | async) === true"
                (clicked)="submit()">
            {{formService.saveLabel | translate}}
        </jems-pending-button>
    </mat-card-footer>
</ng-template>

<ng-template #saveSuccess let-message>
    <mat-card-footer [@slideInOut] class="footer">
        <div class="message-wrapper">
            <div class="message jems-alert-success">
                <mat-icon class="jems-alert-icon">check_circle</mat-icon>
                <span *ngIf="message.i18nKey">{{message.i18nKey | translate : message.i18nArguments}}</span>
                <span *ngIf="!message.i18nKey">{{message | translate}}</span>
            </div>
        </div>
    </mat-card-footer>
</ng-template>

<ng-template #saveError let-error>
    <mat-card-footer [@slideInOut] class="footer">
        <div class="message-wrapper">
            <jems-api-error-content [error]="error"></jems-api-error-content>
        </div>
        <ng-container *ngTemplateOutlet="saveDiscard"></ng-container>
    </mat-card-footer>
</ng-template>
