.mat-card {
  border: .1rem solid transparent;
  padding: 0;
}

.active-card {
  border: .1rem solid var(--background-lighter);
}

.active-border {
  border-color: var(--background-lighter);
}

.edit-form-wrapper {
  .content {
    padding: 2rem;
  }

  .footer {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    min-height: 4rem;
    background-color: var(--background-lighter);
    bottom: -4rem;
    position: sticky;
    z-index: 4;
    margin: 0;

    .action-button {
      margin: 1rem 0.3rem 0.2rem 1rem;

      mat-icon {
        font-size: 1.33em;
        line-height: 1.33em;
      }

      &.discard {
        background-color: var(--background-card);
      }
    }
  }

  .message-wrapper {
    border-radius: .3rem;
    height: 100%;
  }

  .message {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding: 1.4rem;

    .detail-error {
      display: list-item;
    }
  }

}
