<mat-card class="edit-form-wrapper"
          [class.active-card]="formService.dirty$ | async">

    <mat-card-content class="content">
        <ng-content></ng-content>
    </mat-card-content>

    <ng-container *ngIf="showSaveDiscard$ | async"
                  [ngTemplateOutlet]="saveDiscard">
    </ng-container>
</mat-card>

<ng-template #saveDiscard>
    <mat-card-footer [@slideInOut] class="footer">
        <button jemsText [disabled]="(formService.pending$ | async) === true"
                mat-stroked-button class="action-button discard" type="button"
                (click)="formService.setDirty(false); this.discard.emit(); formService.reset()">
            <mat-icon>cancel</mat-icon>&nbsp;{{'common.cancel.label' | translate}}
        </button>
        <jems-pending-button
                icon="save"
                [confirm]="confirmSave"
                [disabled]="(formService.valid$ | async) === false"
                [pending]="(formService.pending$ | async) === true"
                (clicked)="submit()">
            {{formService.saveLabel | translate}}
        </jems-pending-button>
    </mat-card-footer>
</ng-template>

<jems-alert *ngIf="formService.success$ | async as success"
            [show]="!!formService.success$"
            [type]="Alert.SUCCESS">
    <span *ngIf="success.i18nKey">{{success.i18nKey | translate : success.i18nArguments}}</span>
    <span *ngIf="!success.i18nKey">{{success | translate}}</span>
</jems-alert>
<jems-alert *ngIf="formService.error$ | async as error"
            [show]="!!error"
            [type]="Alert.ERROR">
    <jems-api-error-content [error]="error"></jems-api-error-content>
</jems-alert>
<jems-alert *ngIf="formService.fileSizeOverLimitError$ | async as error"
            [show]="!!error"
            [type]="Alert.ERROR">
    <p>{{'project.file.size.over.limit' | translate}} {{error}} MB</p>
</jems-alert>
