<jems-project-page-template
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
        subTitleKey="project.application.form.section.part.c">
    <jems-project-application-form-overall-objective-detail
            *ngIf="details$ | async as details"
            [inputProjectOverallObjective]="details.projectDescription?.projectOverallObjective"
            [projectId]="projectId"
            [specificObjective]="details.project.specificObjective"
            [editable]="projectStore.projectEditable$ | async">
    </jems-project-application-form-overall-objective-detail>
</jems-project-page-template>
