<app-main-page-template
        [titleText]="'project.application.form.acronym' | translate : {acronym: projectStore.getAcronym() | async} "
        subTitleKey="project.application.form.section.part.c">
    <app-project-application-form-overall-objective-detail
            *ngIf="details$ | async as details"
            [success$]="saveSuccess$"
            [project]="details.description"
            [specificObjective]="details.project.projectData?.specificObjective"
            [editable]="projectStore.projectEditable$ | async"
            [error$]="saveError$"
            (updateData)="updateProjectDescription$.next($event)">
    </app-project-application-form-overall-objective-detail>
</app-main-page-template>
