<form [formGroup]="projectPartnershipForm">
    <h5 class="header" id="projectPartnershipHeading">
        {{'project.application.form.section.part.c.subsection.three' | translate}}
        <span class="header-button" *ngxPermissionsExcept="Permission.PROGRAMME_USER">
        <button color="primary" mat-raised-button
                *ngIf="formState === FormState.VIEW && editable"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'common.edit.label' | translate}}
        </button>
    </span>
    </h5>

    <div class="intro-text">
        <p class="intro-text-small">{{'project.application.form.project.partnership.field.row.one' | translate}}</p>
        <p class="intro-text-small">{{'project.application.form.project.partnership.field.row.two' | translate}}</p>
    </div>
    <app-expandable-textarea class="field"
                             [control]="projectPartnershipForm?.controls?.projectPartnership"
                             [errors]="projectPartnershipForm?.controls?.projectPartnership?.errors"
                             [messages]="projectPartnershipErrors"
                             [characterLimit]="5000"
                             [minRows]="3"
                             [label]="'project.application.form.project.partnership.form.field'"
                             [disabled]="formState === FormState.VIEW">
    </app-expandable-textarea>

    <div *ngIf="formState === FormState.EDIT" class="spaced-elements">
        <button mat-raised-button class="button"
                (click)="changeFormState$.next(FormState.VIEW)">
            {{'common.cancel.label' | translate}}
        </button>
        <button mat-raised-button color="primary" type="submit" class="button"
                [disabled]="projectPartnershipForm.invalid || submitted"
                (click)="onSubmit()">
            {{'common.save.label' | translate}}
        </button>
    </div>

    <app-alert
            [show]="showSuccessMessage$ | async"
            [type]="Alert.SUCCESS">
        <p>{{'project.application.form.project.partnership.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</form>
