@mixin generate-widths() {
  @for $i from 1 through 50 {
    &.max-width-#{$i} {
      max-width: #{$i}rem;
    }
    &.min-width-#{$i} {
      min-width: #{$i}rem;
    }
  }
}

.jems-table-config {

  margin: 0;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  &.table-condensed {
    > * {
      > * {
        padding-right:  0.25em;
        padding-left:  0.25em;
      }
    }

    .mat-form-field-wrapper {
      padding-top: 0.25em !important;
      padding-bottom: 0.25em;

      .mat-form-field-underline {
        bottom: 0.25em;
      }
      .mat-form-field-subscript-wrapper {
        width: auto;
        margin-top: 0;
        top: 0em;
        right: 0;
        padding: 0 0.5em;

        .mat-form-field-hint-wrapper {
          mat-hint {
            display: none;
          }
        }
        .error-icon {
            font-size: 1rem;
            font-weight: 800;
            color: var(--error-color);
        }
      }
    }
  }

  > * {
    min-height: 72px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    > :first-child {
      padding-left: var(--first-col-left-padding);
    }
    > :last-child {
      padding-right: var(--last-col-right-padding);
    }

    > * {
      display: flex;
      align-items: center;
      padding-right:  var(--cols-right-padding);
      padding-left:  var(--cols-left-padding);
      flex: 1 1 0;
      @include generate-widths()

    }

    > .mat-checkbox {
      display: flex;
    }
  }


  &.material-table-appearance {
    border: 1px solid;
    border-color: var(--table-border-color);
    background: var(--table-backaground-color);

    > :first-child {
      min-height: 3.5rem;
      border-bottom: 1px solid;
      border-color: var(--table-border-color);
      color: var(--table-header-text-color);
      font-size: var(--body-strong-font-size);
      font-weight: var(--body-strong-font-weight);
      > * &:hover {
        background-color: var(--table-backaground-color);
      }
    }

    > * {
      padding: 0;
      min-height: 3rem;
      border-bottom: 0;

      &:nth-child(even) {
        background-color: var(--table-highlight-color);
      }

      &:hover {
        background-color: var(--table-hover-color);
      }

      &.footer {
        background-color: var(--table-backaground-color);
        border-top: 1px solid;
        border-color: var(--table-border-color);
        font-size: var(--body-strong-font-size);
        font-weight: var(--body-strong-font-weight);
        min-height: 3rem;
      }

      > :last-child {
        margin-right: 0;
      }

      > * {
        flex: 1 1 0;
        &.last-left-sticky-column{
          border-right: 1px solid var(--table-border-color);
        }
        &.first-sticky-end-column{
          border-left: 1px solid var(--table-border-color);
        }
      }

    }
  }
}

