.jems-layout  {
  &.jems-layout-row {
    &.jems-multi-column-row {
      flex-direction: row;
      align-items: var(--alignItems);
      justify-content: var(--justifyContent);

      > * {
        flex: var(--flex);
        margin-right: var(--column-gap);
      }

      > :last-child {
        margin-right: 0;
      }
    }
  }
}
