:host {
  display: inline-block;
  background-color: var(--app-bar);
  background: linear-gradient(157deg, var(--app-bar) 0%, var(--background-lighter) 100%);
}

.navbar {
  padding: 0 .5rem;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-text-link);
}
.navbar-nav {
  &.divide {
    border-top: 1px solid var(--font-text-link) !important;
  }
}

.language-select {
  width: 6rem;
}

.mat-stroked-button {
  padding: 0;
}

.toolbar {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}

.nav-item {
  padding: 0 1rem;

  .nav-link {
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    color: var(--font-text-link) !important;
  }

  &.active-collapsed {
    border-bottom: .125rem solid var(--font-text-link);
  }

  &.active-not-collapsed {
    text-decoration: underline;
    font-weight: 600;
  }

}

.mat-select {
  font-weight: 500;
}

.spacer {
  flex: 1;
}

.dropdown-menu {
  margin-bottom: 1rem;
}

.logout-button {
  &.not-collapsed {
    margin: 1rem 0;
  }
}
