:host {
  display: inline-block;
  background-color: var(--app-bar);
  background: linear-gradient(90deg, var(--app-bar) 0%, var(--background-lighter) 100%);
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-text-link);
  margin-left: 2rem;
}

.language-select {
  width: 6rem;
  margin-right: 1rem;
}
button {
  margin-right: 2rem;
}

.toolbar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  z-index: 100;
}

.mat-select {
  font-weight: 500;
}

.spacer {
  flex: 1;
}
