<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">{{ 'app.name' | translate }}</a>

    <!--Hamburger Menu-->
    <button mat-stroked-button class="navbar-toggler" [ngClass]="{'collapsed': isNavBarCollapsed}" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isNavBarCollapsed = !isNavBarCollapsed">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Content -->
    <div class="navbar-collapse collapse" [ngClass]="{'show': !isNavBarCollapsed}" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <ng-container *ngIf="currentUser">
                <li class="nav-item" *ngFor="let item of menuItems | async"
                    [ngClass]="{
                         'active-not-collapsed': router.url.startsWith(item.route) && !isNavBarCollapsed,
                         'active-collapsed': router.url.startsWith(item.route) && isNavBarCollapsed
                       }">
                    <a class="nav-link" *ngIf="item.isInternal" [routerLink]="item.route"
                       (click)="isNavBarCollapsed = true">
                        {{item.name | translate}}
                    </a>
                    <a class="nav-link" *ngIf="!item.isInternal" [href]="item.route" target="_blank">
                        {{item.name | translate}}
                    </a>
                </li>
            </ng-container>
        </ul>

        <ul class="navbar-nav" [ngClass]="{'divide': !isNavBarCollapsed}">
            <!-- Help -->
            <li class="nav-item">
                <app-help-menu class="nav-link"></app-help-menu>
            </li>

            <!-- Language selection -->
            <li class="nav-item language-list" *ngIf="languageSettings$ | async as languageSettings">
                <mat-select #langSelect
                            class="language-select nav-link"
                            [value]="translate.currentLang"
                            (selectionChange)="changeLanguage(langSelect.value)">
                    <mat-option
                            *ngIf="!languageSettings.isDefaultAvailable && translate.currentLang === languageSettings.fallbackLanguage"
                            [value]="languageSettings.fallbackLanguage">
                        <mat-label>{{'language.' + languageSettings.fallbackLanguage.toLowerCase() | translate}}</mat-label>
                    </mat-option>
                    <mat-option *ngFor="let lang of languageSettings.languages" [value]="lang">
                        <mat-label>{{'language.' + lang.toLowerCase() | translate}}</mat-label>
                    </mat-option>
                </mat-select>
            </li>

            <!-- Logout -->
            <li class="nav-item" *ngIf="currentUser">
                <button mat-flat-button class="logout-button" color="primary"
                        (click)="logout()" [ngClass]="{'not-collapsed': !isNavBarCollapsed}">
                    {{'topbar.main.button.logout' | translate}}
                </button>
            </li>
        </ul>
    </div>
</nav>
