<nav class="navbar navbar-expand-lg">
    <img *ngIf="smallLogo$ | async as logo; else defaultLogo" class="img" src="data:image/png;base64,{{logo.value}}" alt="">
    <ng-template #defaultLogo>
        <img class="img" src="assets/logos/InteractProgrammeLogo_48.png" alt="">
    </ng-template>
    <!--Hamburger Menu-->
    <button mat-stroked-button class="navbar-toggler" [ngClass]="{'collapsed': isNavBarCollapsed}" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isNavBarCollapsed = !isNavBarCollapsed">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Content -->
    <div class="navbar-collapse collapse" [ngClass]="{'show': !isNavBarCollapsed}" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto left-side-menu">

            <ng-container *ngIf="currentUser">
                <li class="nav-item" *ngFor="let item of menuItems$ | async"
                    [ngClass]="{
                         'active-not-collapsed': router.url.startsWith(item.route) && !isNavBarCollapsed,
                         'active-collapsed': router.url.startsWith(item.route) && isNavBarCollapsed
                       }">
                    <a class="nav-link" *ngIf="item.isInternal"
                       (click)="isNavBarCollapsed = true; router.navigate([item.route])">
                        <mat-icon  *ngIf="item.icon">{{item.icon}}</mat-icon>
                        <span class="icon-text">{{item.name | translate}}</span>
                    </a>
                    <a class="nav-link" *ngIf="!item.isInternal" [href]="item.route" target="_blank">
                        <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
                        <span class="icon-text">{{item.name | translate}}</span>
                    </a>
                </li>
            </ng-container>
        </ul>

        <ul class="navbar-nav" [ngClass]="{'divide': !isNavBarCollapsed}">
            <!-- Help -->
            <li class="nav-item">
                <app-help-menu class="nav-link"></app-help-menu>
            </li>

            <!-- Language selection -->
            <li class="nav-item language-list" *ngIf="languageSettings$ | async as languageSettings">
                <mat-select #langSelect
                            class="language-select nav-link"
                            aria-label="{{'topbar.help.language.select' | translate}}"
                            [value]="translate.currentLang"
                            (selectionChange)="changeLanguage(langSelect.value)">
                    <mat-option
                            *ngIf="!languageSettings.isDefaultAvailable && translate.currentLang === languageSettings.fallbackLanguage"
                            [value]="languageSettings.fallbackLanguage"
                            role="option">
                        <mat-label>{{'language.' + languageSettings.fallbackLanguage.toLowerCase() | translate}}</mat-label>
                    </mat-option>
                    <mat-option *ngFor="let lang of languageSettings.languages" [value]="lang"
                                role="option">
                        <mat-label>{{'language.' + lang.toLowerCase() | translate}}</mat-label>
                    </mat-option>
                </mat-select>
            </li>

            <!-- Logout -->
            <li class="nav-item" *ngIf="currentUser">
                <button mat-flat-button class="logout-button" color="primary"
                        (click)="logout()" [ngClass]="{'not-collapsed': !isNavBarCollapsed}">
                    {{'topbar.main.button.logout' | translate}}
                </button>
            </li>
        </ul>
    </div>
</nav>
