<div>
    <h3>{{'programme.area.nuts.explorer.header' | translate}}
        <button *ngIf=" formState === FormState.VIEW" mat-raised-button color="primary"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'common.edit.label' | translate}}
        </button>
    </h3>
    <div id="nuts-explorer-container">
        <div>
            <p>{{'programme.area.nuts.explorer.select' | translate}}</p>
            <div class="pane pt-3">
                <app-programme-regions-tree
                        [dataSource]="dataSource"
                        [disabled]="formState === FormState.VIEW"
                        (selectionChanged)="selectionChanged.emit($event)">
                </app-programme-regions-tree>
            </div>
        </div>
        <div>
            <p>{{'programme.area.nuts.explorer.selected' | translate}}</p>
            <div class="pane pt-3 pl-3">
                <app-programme-selected-regions
                        [selectedRegions]="selectedRegions">
                </app-programme-selected-regions>
            </div>
        </div>
    </div>
    <div  *ngIf="formState === FormState.EDIT && (programmeEditableStateStore.hasEditPermission$ | async)" class="mt-3">
        <button mat-stroked-button class="mr-3"
                (click)="onCancel()">
            {{'common.cancel.label' | translate}}
        </button>
        <button mat-raised-button color="primary"
                (click)="onSubmit()">
            {{'common.save.label' | translate}}
        </button>
    </div>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'programme.area.nuts.explorer.save.success' | translate}}</p>
    </app-alert>
</div>
