:host {
  display: inline-block;
  width: 100%;
}

#nuts-explorer-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    flex: 1 1 0;
    min-width: 0;
  }
}
.pane {
  height: 40rem;
  overflow-y: scroll;
}
