<div class="container vertical-center">
    <h3 *ngxPermissionsExcept="Permission.APPLICANT_USER">{{'call.header' | translate}}</h3>
    <h3 *ngxPermissionsOnly="Permission.APPLICANT_USER">{{'call.dashboard.header' | translate}}</h3>

    <div *ngxPermissionsOnly="Permission.APPLICANT_USER">
        <h5>{{'call.applications.title' | translate}}</h5>
        <div *ngIf="currentApplicationPage$ | async as projectPage">
            <app-project-application-list
                    [projectPage]="projectPage"
                    [pageIndex]="newPageIndex$ | async"
                    (newPageSize)="newPageSize$.next($event)"
                    (newPageIndex)="newPageIndex$.next($event)"
                    (newSort)="newSort$.next($event)">
            </app-project-application-list>
        </div>
    </div>

    <br>

    <div *ngxPermissionsExcept="Permission.APPLICANT_USER">
        <button mat-raised-button color="primary"
                [routerLink]="'/call/create'">
            + {{'call.add.new' | translate}}
        </button>
        <div *ngIf="currentPage$ | async as callPage">
            <h5>{{'call.list.header' | translate}}</h5>
            <app-call-list
                    [isApplicant]="false"
                    [publishedCall]="publishedCall$ | async"
                    [callPage]="callPage"
                    [pageIndex]="newPageIndex$ | async"
                    (newPageSize)="newPageSize$.next($event)"
                    (newPageIndex)="newPageIndex$.next($event)"
                    (newSort)="newSort$.next($event)">
            </app-call-list>
        </div>
    </div>

    <div *ngxPermissionsOnly="Permission.APPLICANT_USER">
        <div *ngIf="currentPage$ | async as callPage">
            <h5>{{'call.list.open.title' | translate}}</h5>
            <app-call-list
                    [isApplicant]="true"
                    [publishedCall]="publishedCall$ | async"
                    [callPage]="callPage"
                    [pageIndex]="newPageIndex$ | async"
                    (newPageSize)="newPageSize$.next($event)"
                    (newPageIndex)="newPageIndex$.next($event)"
                    (newSort)="newSort$.next($event)">
            </app-call-list>
        </div>
    </div>
</div>
