<div class="container">
    <h4>Call Overview</h4>
    <button mat-raised-button color="primary"
            [routerLink]="'/call/create'">
        + Add new Call
    </button>
    <div *ngIf="currentPage$ | async as callPage" class="col-md-7">
        <app-call-list [callPage]="callPage"
                       [pageIndex]="newPageIndex$ | async"
                       (newPageSize)="newPageSize$.next($event)"
                       (newPageIndex)="newPageIndex$.next($event)"
                       (newSort)="newSort$.next($event)">
        </app-call-list>
    </div>
</div>
