<app-breadcrumb></app-breadcrumb>
<h2 *ngIf="currentUser$ | async as currentUser">
    {{'project.welcome' | translate: {name: currentUser.name, surname: currentUser.surname} }}</h2>
<div>
    <div *ngIf="currentPage$ | async as projectPage">
        <app-project-application-list
                [projectPage]="projectPage"
                [pageIndex]="newPageIndex$ | async"
                (newPageSize)="newPageSize$.next($event)"
                (newPageIndex)="newPageIndex$.next($event)"
                (newSort)="newSort$.next($event)">
        </app-project-application-list>
    </div>
</div>
