<div jemsFormLayout>
  <h3 class="mt-4">{{ 'payments.to.ec.detail.correction.tab.cumulative.amounts.title' | translate }}</h3>
  <div>
    <div>{{ 'payments.to.ec.detail.correction.tab.cumulative.amounts.description.1' | translate }}</div>
    <div>{{ 'payments.to.ec.detail.correction.tab.cumulative.amounts.description.2' | translate }}</div>
  </div>
  <ng-container *ngIf="cumulativeForCurrentTab$ | async as cumulativeForCurrentTab">
    <jems-payment-to-ec-cumulative-table [data]=cumulativeForCurrentTab.data></jems-payment-to-ec-cumulative-table>
  </ng-container>
</div>

<div class="mt-5">
  <h3>{{ 'payments.to.ec.detail.correction.tab.title' | translate }}</h3>
  <div class="mb-2">
    <div>{{ 'payments.to.ec.detail.correction.tab.description.1' | translate }}</div>
    <div>{{ 'payments.to.ec.detail.correction.tab.description.2' | translate }}</div>
    <div>{{ 'payments.to.ec.detail.correction.tab.description.3' | translate }}</div>
    <div>{{ 'payments.to.ec.detail.correction.tab.description.4' | translate }}</div>
  </div>

  <jems-alert *ngIf="error$ | async as error"
              [show]="!!error.i18nMessage?.i18nKey"
              [type]="Alert.ERROR">
    <jems-api-error-content [error]="error"></jems-api-error-content>
  </jems-alert>

  <ng-container *ngIf="data$ | async as data">

    <jems-alert [show]="successfulUpdateMessage"
                [type]="Alert.SUCCESS">
      <p>{{'payments.to.ec.detail.correction.update.save.message' | translate}}</p>
    </jems-alert>

    <ng-container *ngIf="data.ecCorrections.totalElements">

      <jems-payment-to-ec-correction-select-table
          [displayedColumns]="displayedColumns"
          [form]="form"
          [data]="tableData"
          [dataSource]="dataSource"
          [dialogTitle]="'payments.to.ec.detail.ftls.select.title'"
          [dialogMessage]="'payments.to.ec.detail.ftls.select.message'"
          (submitAmountChanged$)="submitAmountChanges($event)"
          (selectionChanged$)="selectionChanged($event)"
          (sortChanged$)="pageStore.correctionNewSort$.next($event)"
      ></jems-payment-to-ec-correction-select-table>

      <jems-paginator
          [length]="data.ecCorrections.totalElements"
          [currentPageIndex]="data.ecCorrections.pageable.pageNumber"
          [currentPageSize]="data.ecCorrections.pageable.pageSize"
          (pageIndexChanged)="pageStore.correctionNewPageIndex$.next($event)"
          (pageSizeChanged)="pageStore.correctionNewPageSize$.next($event)">
      </jems-paginator>
    </ng-container>

    <jems-alert [show]="data.ecCorrections.content?.length === 0" [type]="Alert.INFO">
      <p>{{ 'payments.to.ec.detail.correction.table.empty' | translate }}</p>
    </jems-alert>
  </ng-container>
</div>
