<a *ngIf="call?.id" [routerLink]="['/calls']">{{'back.call.list' | translate}}</a>
<br>
<form [formGroup]="callForm" class="container">
    <h4 class="col-md-12">{{'call.detail.title' | translate}}</h4>
    <mat-form-field class="field col-md-12">
        <mat-label>{{'call.detail.field.name' | translate}}</mat-label>
        <input name="name" formControlName="name" matInput placeholder="{{'call.detail.field.name' | translate}}" required>
        <mat-error>
            <app-form-field-errors
                    [errors]="callForm?.controls?.name?.errors"
                    [messages]="nameErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="field col-md-6">
        <mat-label>{{'call.detail.field.start' | translate}}</mat-label>
        <input required formControlName="startDate" matInput name="startDate"
               [max]="callForm?.controls?.endDate?.value"
               [ngxMatDatetimePicker]="start">
        <mat-datepicker-toggle matSuffix [for]="start">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #start></ngx-mat-datetime-picker>
        <mat-error>
            <app-form-field-errors
                    [errors]="callForm?.controls?.startDate?.errors"
                    [messages]="startDateErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="field col-md-6">
        <mat-label>{{'call.detail.field.end' | translate}}</mat-label>
        <input required formControlName="endDate" matInput name="endDate"
               [min]="callForm?.controls?.startDate?.value"
               [ngxMatDatetimePicker]="end">
        <mat-datepicker-toggle matSuffix [for]="end">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #end></ngx-mat-datetime-picker>
        <mat-error>
            <app-form-field-errors
                    [errors]="callForm?.controls?.endDate?.errors"
                    [messages]="endDateErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="field col-md-12">
        <mat-label>{{'call.detail.field.description' | translate}}</mat-label>
        <textarea formControlName="description" matInput name="description">
        </textarea>
        <mat-error>
            <app-form-field-errors
                    [errors]="callForm?.controls?.description?.errors"
                    [messages]="descriptionErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>

    <ng-container *ngIf="!published">
        <button mat-raised-button color="secondary"
                (click)="cancel.emit()">
            {{'call.detail.button.cancel' | translate}}
        </button>
        <button mat-raised-button color="primary"
                [disabled]="callForm.invalid"
                (click)="onSubmit()">
            {{'call.detail.button.save' | translate}}
        </button>
        <button *ngIf="call?.id" mat-raised-button color="primary"
                [disabled]="callForm.invalid"
                (click)="publishCall()">
            {{'call.detail.button.publish' | translate}}
        </button>
    </ng-container>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</form>

