.container {
  max-width: 30rem;
}

.field {
  padding-bottom: 1rem;
}

button {
  margin-right: 1rem;
}

a {
  float: left;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline {
  height: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.mat-input-element {
  color: #343a40;
}
