.container {
  width: 40rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .nuts-database {
    padding: 0.5rem;
    border: 1px solid black;
  }

  .download {
    align-content: center;
  }
}
