<app-form (discard)="onCancel()"
          (save)="onSubmit()">
    <app-alert [show]="published && !isApplicant"
               [type]="Alert.WARNING">
        <p>{{'call.detail.edit.published.warning' | translate}}</p>
    </app-alert>
    <form appFormLayout [formGroup]="callForm">
        <app-pending-button
                *ngIf="call?.id && editable"
                [confirm]="confirmData()"
                [disabled]="publishingRequirementsNotAchieved()"
                [pending]="publishPending"
                (clicked)="publishCall()">
            {{'call.detail.button.publish' | translate}}
        </app-pending-button>
        <h3>{{'call.identification.title' | translate}}</h3>
        <mat-form-field>
            <mat-label>{{'call.detail.field.name' | translate}}</mat-label>
            <input name="name" formControlName="name" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="callForm?.controls?.name?.errors"
                        [messages]="inputErrorMessages">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-checkbox
                [class.hide]="published && !callForm?.controls?.is2Step.value"
                name="is2Step"
                formControlName="is2Step"
                (change)="callForm?.controls?.is2Step.patchValue($event.checked)">
            {{'call.is2Step' | translate}}
        </mat-checkbox>
        <div appMultiColumnRow stretch>
            <mat-form-field>
                <mat-label>{{'call.detail.field.start' | translate | dateFormatInfo : true}}</mat-label>
                <input required formControlName="startDateTime" matInput name="startDateTime"
                       [max]="callForm?.controls?.endDateTime?.value"
                       [disabled]="published"
                       [ngxMatDatetimePicker]="start">
                <mat-datepicker-toggle matSuffix [for]="start" [disabled]="published">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #start></ngx-mat-datetime-picker>
                <mat-error>
                    <app-form-field-errors
                            [errors]="callForm?.controls?.startDateTime?.errors"
                            [messages]="inputErrorMessages">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field [class.hide]="!callForm?.controls?.is2Step.value">
                <mat-label>{{'call.detail.field.end.step1' | translate | dateFormatInfo : true}}</mat-label>
                <input formControlName="endDateTimeStep1" matInput name="endDateTimeStep1"
                       [required]="callForm?.controls?.is2Step.value"
                       [min]="callForm?.controls?.startDateTime?.value"
                       [max]="callForm?.controls?.endDateTime?.value"
                       [ngxMatDatetimePicker]="endStep1">
                <mat-datepicker-toggle matSuffix [for]="endStep1">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endStep1></ngx-mat-datetime-picker>
                <mat-error>
                    <app-form-field-errors
                            [errors]="callForm?.controls?.endDateTimeStep1?.errors"
                            [messages]="inputErrorMessagesForEndDateStep1">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{'call.detail.field.end' | translate | dateFormatInfo : true}}</mat-label>
                <input required formControlName="endDateTime" matInput name="endDateTime"
                       [min]="callForm?.controls?.startDateTime?.value"
                       [ngxMatDatetimePicker]="end">
                <mat-datepicker-toggle matSuffix [for]="end">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #end></ngx-mat-datetime-picker>
                <mat-error>
                    <app-form-field-errors
                            [errors]="callForm?.controls?.endDateTime?.errors"
                            [messages]="inputErrorMessages">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>

        <p *ngIf="!isApplicant">{{'call.detail.field.lengthOfPeriod.help' | translate}}</p>
        <mat-form-field>
            <mat-label>{{'call.detail.field.lengthOfPeriod' | translate}}</mat-label>
            <input required type="number" name="lengthOfPeriod" formControlName="lengthOfPeriod" matInput
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
            <mat-error>
                <app-form-field-errors
                        [errors]="callForm?.controls?.lengthOfPeriod?.errors"
                        [messages]="inputErrorMessages">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <app-multi-language-container class="pb-3"
                                      [useSystemLanguages]="true"
                                      [switchButtonsVisible]="editable || (published && !isApplicant)">
            <app-multi-language-form-field
                    type="textarea"
                    formControlName="description"
                    label="call.detail.field.description"
                    [maxLength]="1000">
            </app-multi-language-form-field>
        </app-multi-language-container>

        <h3>{{'call.programme.priorities.title' | translate}}</h3>
        <app-call-priority-tree
                *ngIf="priorityCheckboxes"
                [priorityCheckboxes]="priorityCheckboxes"
                [initialPriorityCheckboxes]="initialPriorityCheckboxes"
                [disabled]="published || isApplicant"
                [isApplicant]="isApplicant"
                (selectionChanged)="formChanged()">
        </app-call-priority-tree>

        <h3>{{'call.strategy.title' | translate}}</h3>
        <app-call-strategies
                [strategies]="strategies"
                [initialStrategies]="initialStrategies"
                [disabled]="!editable"
                [isApplicant]="isApplicant"
                (selectionChanged)="formChanged()">
        </app-call-strategies>

        <h3>{{'call.funds.title' | translate}}</h3>
        <h4 *ngIf="!isApplicant || callForm?.controls?.multipleFundsAllowed.value">{{'call.funds.options' | translate}}</h4>
        <div *ngIf="!isApplicant || callForm?.controls?.multipleFundsAllowed.value">
            <mat-checkbox
                    name="multipleFundsAllowed"
                    formControlName="multipleFundsAllowed"
                    (click)="$event.stopPropagation()"
                    [disabled]="!editable && (!isApplicant && published && call.isAdditionalFundAllowed)"
                    [checked]="callForm?.controls?.multipleFundsAllowed.value">
                {{'call.multiple.funds.allowed' | translate}}
            </mat-checkbox>
        </div>

        <h4>{{'call.funds.select.funds' | translate}}</h4>
        <app-call-funds
                [funds]="funds"
                [initialFunds]="initialFunds"
                [disabled]="!editable"
                [isApplicant]="isApplicant"
                (selectionChanged)="formChanged()">
        </app-call-funds>
    </form>
</app-form>

<mat-card-footer *ngIf="isApplicant" class="footer">
    <button mat-raised-button color="primary"
            class="action-button"
            [disabled]="!isOpen(call)"
            (click)="applyToCall(call.id)">
        {{'call.table.column.action.apply' | translate}} <mat-icon>arrow_forward</mat-icon>
    </button>
</mat-card-footer>
