#call-form {

  > * {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }
  #datepicker-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > * {
      flex: 1 1 auto;
    }
  }

  #publish-btn {
    align-self: start;
  }
  .mat-input-element {
    color: var(--font-color-primary) !important;
  }
}
