<ol class="breadcrumbs" *ngIf="breadcrumbs">
    <li *ngFor="let breadcrumb of breadcrumbs; let first = first; let last = last" [class.active]="last">

        <a *ngIf="!last" [routerLink]="[breadcrumb.url]">
            <mat-icon *ngIf="first">home</mat-icon>
            <ng-container *ngTemplateOutlet="breadcrumbLabel; context:{$implicit: breadcrumb}"></ng-container>
        </a>
        <span *ngIf="last" class="current-page">
            <ng-container *ngTemplateOutlet="breadcrumbLabel; context:{$implicit: breadcrumb}"></ng-container>
        </span>
        <span *ngIf="!last" class="separator">/</span>

    </li>
</ol>

<ng-template let-breadcrumb #breadcrumbLabel>
    {{ breadcrumb.i18nKey ? (breadcrumb.i18nKey | translate) : breadcrumb.label }}
</ng-template>
