<form appFormLayout [formGroup]="outputIndicatorForm">
    <div appMultiColumnRow>
        <h3 class="mb-0">{{'output.indicator.title' | translate}}</h3>
        <button *ngIf="formState === FormState.VIEW" mat-raised-button color="primary"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'output.indicator.button.edit' | translate}}
        </button>
    </div>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.identifier' | translate}}</mat-label>
        <input name="identifier" formControlName="identifier" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.identifier?.errors"
                    [messages]="inputErrorMessages"
                    [args]="getMaxLengthErrorArgs(outputIndicatorForm?.controls?.identifier?.value.length,5)">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.specific.code' | translate}}</mat-label>
        <mat-select name="indicatorCode" formControlName="indicatorCode">
            <mat-option>
                {{'output.indicator.code.not.applicable' | translate}}
            </mat-option>
            <mat-option *ngFor="let code of indicatorCodes" [value]="code">
                {{code}}
            </mat-option>
        </mat-select>
        <mat-error>
            <app-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.indicatorCode?.errors"
                    [messages]="inputErrorMessages"
                    [args]="getMaxLengthErrorArgs(outputIndicatorForm?.controls?.indicatorCode?.value?.length,6 )">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <app-multi-language [useSystemLanguages]="true" [switchButtonsVisible]="formState === FormState.EDIT">
        <app-multi-language-form-field
                label="output.indicator.form.field.name"
                name="indicatorName" formControlName="indicatorName">
        </app-multi-language-form-field>
    </app-multi-language>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.specific.objective' | translate}}</mat-label>
        <mat-select name="specificObjective" formControlName="specificObjective" required>
            <mat-optgroup *ngFor="let priority of priorities" [label]="priority.title">
                <mat-option *ngFor="let objective of priority.specificObjectives"
                            [value]="objective.programmeObjectivePolicy">
                    {{objective.code}} -  {{'programme.policy.' + objective.programmeObjectivePolicy | translate}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
        <mat-error>
            <app-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.specificObjective?.errors"
                    [messages]="inputErrorMessages">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <ng-container *ngIf="filteredResultIndicators$ | async as filteredResultIndicators">
        <mat-form-field>
            <mat-label>{{'output.indicator.form.field.result.indicator' | translate}}</mat-label>
            <mat-select formControlName="resultIndicatorId">
                <mat-option *ngIf="filteredResultIndicators.length>0" [value]="null"></mat-option>
                <mat-option *ngFor="let resultIndicator of filteredResultIndicators"
                            [value]="resultIndicator.id">
                    {{resultIndicator.identifier}}
                </mat-option>
            </mat-select>
            <mat-hint
                    *ngIf="filteredResultIndicators.length===0">{{'output.indicator.result.indicator.empty.hint' | translate}}</mat-hint>
        </mat-form-field>
    </ng-container>
    <app-multi-language [useSystemLanguages]="true" [switchButtonsVisible]="formState === FormState.EDIT">
        <app-multi-language-form-field label="output.indicator.form.field.measurement.unit"
                                       name="measurementUnit" formControlName="measurementUnit">
        </app-multi-language-form-field>
    </app-multi-language>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.milestone' | translate}}</mat-label>
        <input currencyMask type="decimal"
               name="milestone" formControlName="milestone" matInput>
        <mat-error>
            <app-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.milestone?.errors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.final.target' | translate}}</mat-label>
        <input currencyMask type="decimal"
               name="finalTarget" formControlName="finalTarget" matInput>
        <mat-error>
            <app-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.finalTarget?.errors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <div appMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button *ngxPermissionsExcept="Permission.APPLICANT_USER"
                mat-stroked-button
                type="button"
                (click)="onCancel()">
            {{'output.indicator.new.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                [disabled]="outputIndicatorForm.invalid || submitted"
                (click)="onSubmit()">
            {{'output.indicator.new.button.save' | translate}}
        </button>
    </div>

    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'output.indicator.new.message.successful' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nMessage?.i18nKey"
               [type]="Alert.ERROR">
        <app-api-error-content [error]="error"></app-api-error-content>
    </app-alert>
</form>

