<form jemsFormLayout [formGroup]="outputIndicatorForm">
    <div jemsMultiColumnRow>
        <a color="primary" class="mr-1" mat-icon-button *ngIf="formState !== FormState.EDIT"
           routerLink="../../.."
           matTooltip="{{ 'programme.indicator.back.to.list' | translate }}">
            <mat-icon class="icon-back" fontSet="material-icons-outlined">arrow_circle_left</mat-icon>
        </a>
        <h3 class="mb-0 put-icon-to-header-line">{{'output.indicator.title' | translate}}</h3>
        <button mat-raised-button color="primary"
                *ngIf="formState === FormState.VIEW && (programmeEditableStateStore.hasEditPermission$ | async)"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'output.indicator.button.edit' | translate}}
        </button>
    </div>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.identifier' | translate}}</mat-label>
        <input name="identifier" formControlName="identifier" matInput required>
        <mat-error>
            <jems-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.identifier?.errors"
                    [messages]="inputErrorMessages">
            </jems-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.specific.code' | translate}}</mat-label>
        <mat-select name="indicatorCode" formControlName="indicatorCode" (selectionChange)="updateIndicatorCode($event.value)">
            <mat-option>
                {{'output.indicator.code.not.applicable' | translate}}
            </mat-option>
            <mat-option *ngFor="let indicatorCode of indicatorCodes" [value]="indicatorCode">
                {{ indicatorCode.code }}
            </mat-option>
        </mat-select>
        <mat-error>
            <jems-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.indicatorCode?.errors"
                    [messages]="inputErrorMessages">
            </jems-form-field-errors>
        </mat-error>
    </mat-form-field>
    <jems-multi-language-container [useSystemLanguages]="true" [switchButtonsVisible]="formState === FormState.EDIT">
        <jems-multi-language-form-field
                label="output.indicator.form.field.name"
                name="indicatorName" formControlName="indicatorName">
        </jems-multi-language-form-field>
    </jems-multi-language-container>
    <jems-alert [show]="!(priorities$ | async)?.length"
                [type]="Alert.WARNING"
                [closable]="false">
        <span>{{'indicator.specific.objective.empty.warning' | translate}}</span>
    </jems-alert>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.specific.objective' | translate}}</mat-label>
        <mat-select name="specificObjective" formControlName="specificObjective" required>
            <mat-optgroup *ngFor="let priority of priorities$ | async"
                          [label]="priority.title | translateBySystemLanguage | async">
                <mat-option *ngFor="let objective of priority.specificObjectives"
                            [value]="objective.programmeObjectivePolicy">
                    {{objective.code}} -  {{'programme.policy.' + objective.programmeObjectivePolicy | translate}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
        <mat-error>
            <jems-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.specificObjective?.errors"
                    [messages]="inputErrorMessages">
            </jems-form-field-errors>
        </mat-error>
    </mat-form-field>
    <ng-container *ngIf="filteredResultIndicators$ | async as filteredResultIndicators">
        <jems-alert [show]="filteredResultIndicators.length < 1 && outputIndicatorForm.get('specificObjective')?.value && formState === FormState.EDIT"
                    [type]="Alert.WARNING"
                    [closable]="false">
            <span>{{'output.indicator.result.indicator.empty.hint' | translate}}</span>
        </jems-alert>
        <mat-form-field>
            <mat-label>{{'output.indicator.form.field.result.indicator' | translate}}</mat-label>
            <mat-select formControlName="resultIndicatorId">
                <mat-option *ngIf="filteredResultIndicators.length>0" [value]="0">{{ 'common.not.applicable.option' | translate }}</mat-option>
                <mat-option *ngFor="let resultIndicator of filteredResultIndicators"
                            [value]="resultIndicator.id">
                    {{resultIndicator.identifier}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <jems-multi-language-container [useSystemLanguages]="true" [switchButtonsVisible]="formState === FormState.EDIT">
        <jems-multi-language-form-field label="output.indicator.form.field.measurement.unit"
                                       name="measurementUnit" formControlName="measurementUnit">
        </jems-multi-language-form-field>
    </jems-multi-language-container>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.milestone' | translate}}</mat-label>
        <input currencyMask type="decimal"
               name="milestone" formControlName="milestone" matInput>
        <mat-error>
            <jems-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.milestone?.errors">
            </jems-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'output.indicator.form.field.final.target' | translate}}</mat-label>
        <input currencyMask type="decimal"
               name="finalTarget" formControlName="finalTarget" matInput>
        <mat-error>
            <jems-form-field-errors
                    [errors]="outputIndicatorForm?.controls?.finalTarget?.errors">
            </jems-form-field-errors>
        </mat-error>
    </mat-form-field>
    <div jemsMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button mat-stroked-button
                type="button"
                (click)="onCancel()">
            {{'output.indicator.new.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                [disabled]="outputIndicatorForm.invalid || submitted"
                (click)="onSubmit()">
            {{'output.indicator.new.button.save' | translate}}
        </button>
    </div>

    <jems-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'output.indicator.new.message.successful' | translate}}</p>
    </jems-alert>
    <jems-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nMessage?.i18nKey"
               [type]="Alert.ERROR">
        <jems-api-error-content [error]="error"></jems-api-error-content>
    </jems-alert>
</form>
