<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form [formGroup]="overallObjectiveForm">
        <h5 class="header" id="projectOverallObjectiveHeading">
            {{'project.application.form.section.part.c.subsection.one' | translate}}
        </h5>

        <div class="intro-text-small">
            <span>{{'project.application.form.overall.objective.field.row.one' | translate}}</span>
            <span>{{'project.application.form.overall.objective.field.row.two' | translate}}</span>
            <span>{{'project.application.form.overall.objective.field.row.three' | translate}}</span>
            <ul>
                <li>{{'project.application.form.overall.objective.field.row.four' | translate}}</li>
                <li>{{'project.application.form.overall.objective.field.row.five' | translate}}</li>
                <li>{{'project.application.form.overall.objective.field.row.six' | translate}}</li>
            </ul>
        </div>
        <mat-form-field
                [ngClass]="!overallObjectiveForm?.controls?.projectSpecificObjective?.value && editable ? 'disable-warning-field' : 'field'"
                name="projectSpecificObjective">
            <mat-label>{{'project.application.form.overall.objective.field.projectSpecificObjective' | translate}}</mat-label>
            <input readonly formControlName="projectSpecificObjective" matInput
                   placeholder="{{'project.application.form.overall.objective.field.projectSpecificObjective' | translate}}">
            <mat-hint *ngIf="!overallObjectiveForm?.controls?.projectSpecificObjective?.value && editable"
                      class="warning-hint">
                {{'project.application.form.overall.objective.specific.objective.required' | translate}}
            </mat-hint>
        </mat-form-field>

        <app-multi-language
                [inputs]="{projectOverallObjective: projectOverallObjective}"
                [form]="overallObjectiveForm">
            <app-expandable-textarea
                    class="field"
                    [control]="overallObjectiveForm?.controls?.projectOverallObjective"
                    [errors]="overallObjectiveForm?.controls?.projectOverallObjective?.errors"
                    [messages]="projectOverallObjectiveError"
                    [characterLimit]="500"
                    [minRows]="3"
                    [label]="'project.application.form.overall.objective.field.projectOverallObjective'"
                    [disabled]="!editable">
            </app-expandable-textarea>
        </app-multi-language>
    </form>
</app-form>
