.field {
  width: 100% !important;
  padding-top: 1rem;
}

.disable-warning-field {
  width: 100% !important;
  padding-top: 1rem;

  ::ng-deep.mat-form-field-label {
    color: red !important;
  }

  ::ng-deep.mat-form-field-underline {
    background-color: red !important;
  }
}

.button {
  margin-right: 3rem;
}
.warning-hint {
  color: red;
}
