<app-alert
        [show]="!!lumpSum"
        [type]="Alert.SUCCESS">
    <p>{{'lump.sum.save.success' | translate: {lumpSum: lumpSum} }}</p>
</app-alert>

<p *ngIf="!dataSource.data.length">{{'lump.sum.empty.list' | translate}}</p>
<app-multi-language-container [switchButtonsVisible]="!!dataSource.data.length" appNoWidthLimit>
    <mat-table appNoWidthLimit *ngIf="dataSource.data.length" [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <span appText maxLines="2">{{ 'lump.sum.table.column.name.name' | translate }}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element?.name | translateByInputLanguage | async }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
            <mat-header-cell *matHeaderCellDef
                             class="justify-end">
                <span appText maxLines="2">{{ 'lump.sum.table.column.name.cost' | translate }}</span></mat-header-cell>
            <mat-cell *matCellDef="let element" class="justify-end">{{ element?.cost | asMoney }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 [routerLink]="['lumpSum', 'detail', row.id]"></mat-row>

    </mat-table>
</app-multi-language-container>
