<app-main-page-template [needsCard]="true" *ngIf="details$ | async as details"
                        titleKey="user.breadcrumb.create">

    <app-user-edit
            [success$]="userStore.userSaveSuccess$"
            [error$]="userStore.userSaveError$"
            [user]="details.user"
            [userRoles]="details.roles"
            [disabled]="userEditDisabled"
            (submitUser)="userStore.saveUser$.next($event)"
            (switchedFormState)="editSwitchedMode($event)">
    </app-user-edit>
    <app-user-password
            class="mt-3 block"
            [success$]="passwordSaveSuccess$"
            [error$]="passwordSaveError$"
            [ownUser]="details.currentUser.id === details.user.id"
            [disabled]="passwordEditDisabled"
            (submitPassword)="changePassword($event)"
            (switchedFormState)="passwordSwitchedMode($event)">
    </app-user-password>
</app-main-page-template>
