<jems-main-page-template [needsCard]="true" *ngIf="data$ | async as data"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.priority.add.title">
    <form jemsFormLayout [formGroup]="form">
        <div page-sub-title jemsMultiColumnRow>
            <h2 class="mb-0">{{'programme.priority.add.title' | translate}}</h2>
            <button jemsText color="primary" mat-raised-button
                    *ngIf="form.disabled && (programmeEditableStateStore.hasEditPermission$ | async)"
                    (click)="form.enable(); resetForm(data.priority, data.freePrioritiesWithPolicies)">
                {{'common.edit.label' | translate}}
            </button>
        </div>
        <div jemsMultiColumnRow stretch>
            <mat-form-field jemsFormFieldWidth="large">
                <mat-label>{{'programme.priority.field.code' | translate}}</mat-label>
                <input #codeInput [formControlName]="constants.CODE.name" matInput required>
                <mat-hint [jemsHintFor]="codeInput" [hide]="form.get(constants.CODE.name)?.errors !== null">
                    <jems-text-hint [currentLength]="codeInput?.value?.length" [maxLength]="50"></jems-text-hint>
                </mat-hint>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="form.get(constants.CODE.name)?.errors"
                            [messages]="constants.CODE.errorMessages">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>

            <jems-multi-language-container [useSystemLanguages]="true"
                                          [switchButtonsVisible]="!form.disabled">
                <jems-multi-language-form-field
                        [formControlName]="constants.TITLE.name"
                        label="programme.priority.field.title"
                        [maxLength]="300">
                </jems-multi-language-form-field>
            </jems-multi-language-container>
        </div>

        <h3>{{'programme.priority.add.objective.title' | translate}}</h3>

        <mat-form-field>
            <mat-label>{{'programme.priority.field.objective.select' | translate}}</mat-label>
            <mat-select [formControlName]="constants.OBJECTIVE.name" required
                        (selectionChange)="changeCurrentObjective($event.value, data.freePrioritiesWithPolicies)"
                        [disabled]="isProgrammeSetupLocked && priorityId">
                <mat-option *ngFor="let objective of data.objectives" [value]="objective">
                    {{objective}} - {{'programme.objective.' + objective | translate}}
                </mat-option>
            </mat-select>
            <mat-error>
                <jems-form-field-errors
                        [errors]="form.get(constants.OBJECTIVE.name)?.errors"
                        [messages]="constants.OBJECTIVE.errorMessages">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <ng-container *ngIf="specificObjectives.length">
            <h3>{{'programme.priority.objective.title' | translate}}</h3>
            <div jemsNoWidthLimit
                 [jemsTableConfig]="[{maxInRem: 2},{maxInRem:16},{},{maxInRem:12}]">
                <div>
                    <span></span>
                    <div class="mat-body-strong">{{'programme.priority.objective.table.column.programmeCode' | translate}}</div>
                    <div class="mat-body-strong">{{'programme.priority.objective.table.column.title' | translate}}</div>
                    <div class="mat-body-strong">{{'programme.priority.objective.table.column.officialCode' | translate}}</div>
                </div>
                <div *ngFor="let control of specificObjectives.controls; let i=index"
                     [formArrayName]="constants.SPECIFIC_OBJECTIVES.name">
                    <ng-container [formGroupName]="i">
                        <mat-checkbox
                                [formControlName]="constants.POLICY_SELECTED.name"
                                (change)="setCheckedStatus(i, $event.checked)">
                        </mat-checkbox>
                        <div>
                            <mat-form-field jemsFormFieldWidth="full" extendError>
                                <mat-label>{{'programme.priority.objective.table.field.code' | translate}}</mat-label>
                                <input #policyCode [formControlName]="constants.POLICY_CODE.name" [required]="control.get(constants.POLICY_SELECTED.name).value" matInput>
                                <mat-hint [jemsHintFor]="policyCode" [hide]="control.get(constants.POLICY_CODE.name)?.errors !== null">
                                    <jems-text-hint [currentLength]="policyCode?.value?.length" [maxLength]="50"></jems-text-hint>
                                </mat-hint>
                                <mat-error>
                                    <jems-form-field-errors
                                            [errors]="control.get(constants.POLICY_CODE.name)?.errors"
                                            [messages]="constants.POLICY_CODE.errorMessages">
                                    </jems-form-field-errors>
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </ng-container>
                    <div>{{'programme.policy.' + control.get(constants.POLICY_OBJECTIVE.name).value | translate}}</div>
                    <div>{{control.get(constants.POLICY_OFFICIAL_CODE.name).value}}</div>
                </div>
            </div>
            <mat-error>
                <jems-form-field-errors
                        [errors]="form.get(constants.SPECIFIC_OBJECTIVES.name)?.errors"
                        [messages]="constants.SPECIFIC_OBJECTIVES.errorMessages">
                </jems-form-field-errors>
            </mat-error>
        </ng-container>

        <!--TODO: remove when new edit mode is introduced-->
        <div jemsMultiColumnRow *ngIf="form.enabled">
            <button mat-stroked-button type="button"
                    (click)="cancel(data.priority, data.freePrioritiesWithPolicies)">
                {{'programme.priority.button.cancel' | translate}}
            </button>
            <button mat-raised-button color="primary" type="button"
                    [disabled]="form.invalid"
                    (click)="submit()">
                <span *ngIf="!priorityId">{{'programme.priority.button.add' | translate}}</span>
                <span *ngIf="priorityId">{{'programme.priority.button.update' | translate}}</span>
            </button>
        </div>

        <jems-alert [show]="!!saveSuccess"
                   [type]="Alert.SUCCESS">
            <p>{{saveSuccess | translate}}</p>
        </jems-alert>
        <jems-alert *ngIf="saveError"
                   [show]="!!saveError"
                   [type]="Alert.ERROR">
            <jems-api-error-content *ngIf="!!saveError.i18nMessage.i18nKey" [error]="saveError"></jems-api-error-content>

            <p *ngIf="!saveError.i18nMessage.i18nKey && !specificObjectiveError()">
                {{'programme.priority.code.or.title.already.in.use' | translate}}
            </p>

            <p *ngIf="!!specificObjectiveError()">
                {{specificObjectiveError()?.i18nKey | translate : specificObjectiveError()?.i8nArguments }}
            </p>
        </jems-alert>
    </form>
</jems-main-page-template>
