<div *ngxPermissionsExcept="Permission.APPLICANT_USER">
    <app-breadcrumb></app-breadcrumb>
    <h4>{{'programme.priority.list.header' | translate}}</h4>
    <button mat-raised-button
            color="primary"
            [routerLink]="'/app/programme/priorities/priority'">
        + {{'programme.priority.add.new' | translate}}
    </button>
    <div *ngIf="priorities$ | async as priorities" class="priority-items">
        <app-programme-priority-items
                [priorities]="priorities">
        </app-programme-priority-items>
    </div>
</div>
