:host::ng-deep {
  .id-column-width {
    padding-right: 0 !important;
  }
  .mat-column-checklists-instance-visible {
    justify-content: flex-end;
  }
}

.edit-description-buttons {
  float: right;
}
