<jems-project-page-template
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
        subTitleKey="project.application.form.section.part.c">
    <jems-project-application-form-project-relevance-and-context-detail
            *ngIf="details$ | async as details"
            [projectId]="projectId"
            [inputProjectRelevance]="details.relevance"
            [editable]="projectStore.projectEditable$ | async"
            [strategiesFromCall]="details.callStrategies">
    </jems-project-application-form-project-relevance-and-context-detail>
</jems-project-page-template>
