:host::ng-deep {
  .id-column-width {
    padding-right: 0 !important;
  }
  .mat-column-checklists-instance-visible {
    justify-content: flex-end;
  }
}
.locked {
  opacity: 1;
}
.unlocked {
  opacity: 0.25;
}
.edit-description-buttons {
  float: right;
}
