<jems-project-page-template
        [needsCard]="true"
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
        subTitleKey="project.application.form.section.part.b">

    <h3>{{'project.application.form.section.part.b.partners' | translate}}</h3>
    <ng-container *ngxPermissionsExcept="Permission.PROGRAMME_USER">
        <button *ngIf="(projectStore.projectEditable$ | async) === true"
                [disabled]="isAddPartnerDisabled() | async"
                mat-stroked-button color="primary"
                [routerLink]="'/app/project/detail/' + projectId + '/applicationFormPartner/create'">
            + {{'project.application.form.partner.add' | translate}}
        </button>
    </ng-container>

    <jems-project-application-form-partner-list
            *ngIf="partnerPage$ | async as partnerPage"
            [projectId]="projectId"
            [projectStatus]="projectStore.projectStatus$ | async"
            [editable]="projectStore.projectEditable$ | async"
            [partnerPage$]="partnerPage$"
            [pageIndex]="newPageIndex$ | async"
            (newPageSize)="newPageSize$.next($event)"
            (newPageIndex)="newPageIndex$.next($event)"
            (newSort)="newSort$.next($event)"
            (deletePartner)="deletePartner($event)"
            (deactivatePartner) = "deactivatePartner($event, partnerPage.content)">
    </jems-project-application-form-partner-list>

    <ng-container *ngIf="showSuccessMessage$ | async as successMessageArg">
        <jems-alert
                [show]="successMessageArg"
                [type]="Alert.SUCCESS">
            <p>{{'project.application.form.section.part.b.partner.deactivated.success.message' | translate : {name:successMessageArg} }}</p>
        </jems-alert>
    </ng-container>

</jems-project-page-template>
