.jems-layout  {
  &.jems-form-field {
    &.jems-form-field-width {
      .mat-form-field-infix {
        width: var(--widthBasedOnNumberChars);
      }

      width: var(--widthBasedOnType);
      min-width: var(--widthBasedOnType);
      max-width: var(--widthBasedOnType);
    }

    &[extendError] {
      .mat-form-field-subscript-wrapper {
        width: 100vw;
      }
    }
  }
}
