table {
  width: 100%;

  th, td {
    text-align: right;
  }

  .total {
    font-weight: var(--body-strong-font-weight);
    border-top: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    min-height: 3rem;
  }

  .mat-column-programmeFunding, .mat-column-contribution {
    text-align: center;
  }

  .percentage-spacing {
    padding-right: .3rem;
  }

  .mat-column-fundingSource {
    text-align: left;
  }

  th.border-cell-left,
  td.border-cell-left {
    border-left: .0625rem solid var(--table-border-color);
  }

  .total-padding-on-extended-row {
    padding-right: 0 !important;
  }

  td.border-cell-bottom {
    border-bottom: .0625rem solid var(--table-border-color);
  }

  .header-cell {
    color: var(--table-header-text-color);
    font-size: var(--body-strong-font-size);
    font-weight: var(--body-strong-font-weight);
  }

  border-right: .1rem solid var(--table-border-color) !important;
}

.overflow-auto {
  overflow: auto !important;
}
