<div appFormLayout [formGroup]="formGroup">
    <app-multi-language appNoWidthLimit [inputs]="allInputs" *ngIf="synergiesForm.controls.length>0">
        <div [appearance]="'table'"
             [appTableConfig]="[{},{}, {maxInRem:2}]">
            <div>
                <span class="mat-body-strong">{{'project.application.form.relevance.project.or.initiative' | translate}}</span>
                <span class="mat-body-strong">{{'project.application.form.relevance.synergy' | translate}}</span>
                <div class="mat-body-strong"></div>
            </div>
            <div *ngFor="let synergy of synergiesForm.controls;let i=index">
                <ng-container formArrayName="synergies">
                    <ng-container [formGroupName]="i">
                        <div>
                            <textarea *ngIf="!editable" matInput formControlName="initiative"
                                      [cdkTextareaAutosize]
                                      [cdkAutosizeMinRows]="1"
                                      [cdkAutosizeMaxRows]="50"
                                      [readonly]="!editable">
                            </textarea>
                            <app-expandable-textarea *ngIf="editable" class="text-area"
                                                     [control]="synergy.get('initiative')"
                                                     [errors]="synergy.get('initiative')?.errors"
                                                     [messages]="projectErrors"
                                                     [characterLimit]="2000"
                                                     [minRows]="1"
                                                     [label]="'project.application.form.relevance.project.or.initiative'"
                                                     [disabled]="!editable">
                            </app-expandable-textarea>
                        </div>

                        <div>
                            <textarea *ngIf="!editable" matInput formControlName="synergy"
                                      [cdkTextareaAutosize]
                                      [cdkAutosizeMinRows]="1"
                                      [cdkAutosizeMaxRows]="50"
                                      [readonly]="!editable">
                            </textarea>
                            <app-expandable-textarea *ngIf="editable" class="text-area"
                                                     [control]="synergy.get('synergy')"
                                                     [errors]="synergy.get('synergy')?.errors"
                                                     [messages]="synergyErrors"
                                                     [characterLimit]="2000"
                                                     [minRows]="1"
                                                     [label]="'project.application.form.relevance.synergy'"
                                                     [disabled]="!editable">
                            </app-expandable-textarea>
                        </div>

                        <div>
                            <button type="button" (click)="deleteEntry(i)" mat-icon-button color="accent">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </app-multi-language>
    <button *ngIf="editable" mat-stroked-button type="button" (click)="addNewSynergy()">
        <mat-icon>add</mat-icon>
    </button>
</div>
