<ng-container>
    <jems-project-partner-budget-overview class="mb-3"></jems-project-partner-budget-overview>
    <jems-project-partner-budget-options class="mb-3"></jems-project-partner-budget-options>
    <jems-project-partner-budget class="mb-3"
                                *ngIf="projectStore.allowedBudgetCategories$ | async as allowedBudgetCategories"
                                [allowedBudgetCategories]="allowedBudgetCategories">
    </jems-project-partner-budget>
    <ng-container *ngIf="isCallSpf$ | async">
        <jems-small-project-fund-budget class="mb-3"></jems-small-project-fund-budget>
    </ng-container>
</ng-container>
