<jems-form (save)="save.emit(formComponents.value)"
           (discard)="resetForm()">

    <jems-alert [type]="Alert.WARNING"
                [closable]="false"
                [show]="!!warning">
        <div>{{warning | translate}}</div>
    </jems-alert>

    <ng-container *ngIf="status">
        <ng-container [ngTemplateOutlet]="statusChip"></ng-container>
        <ng-container [ngTemplateOutlet]="finishChecklist"></ng-container>
    </ng-container>

    <div *ngIf="formComponents?.length" jemsFormLayout>
        <ng-container *ngFor="let component of formComponents.controls">
            <div [ngSwitch]="component.get('type')?.value" class="mt-3">
                <ng-container *ngSwitchCase="ComponentType.HEADLINE"
                              [ngTemplateOutlet]="headline"
                              [ngTemplateOutletContext]="{
                              headline: component.get('programmeMetadata').value
                              }">
                </ng-container>
                <ng-container *ngSwitchCase="ComponentType.OPTIONSTOGGLE"
                              [ngTemplateOutlet]="optionsToggle"
                              [ngTemplateOutletContext]="{
                                options: component.get('programmeMetadata').value,
                                controls: component.get('instanceMetadata')
                              }">
                </ng-container>
                <ng-container *ngSwitchCase="ComponentType.TEXTINPUT"
                              [ngTemplateOutlet]="textInput"
                              [ngTemplateOutletContext]="{
                              options: component.get('programmeMetadata').value,
                              control: component.get('instanceMetadata')?.get('explanation')
                              }">
                </ng-container>
                <ng-container *ngSwitchDefault></ng-container>
            </div>
        </ng-container>
    </div>
</jems-form>

<ng-template #finishChecklist>
    <jems-pending-button *ngIf="status === Status.DRAFT" class="mr-2"
                         type="secondary"
                         [confirm]="confirmFinish"
                         (clicked)="finish.emit(formComponents.value)">
        {{'checklists.instance.confirm.finish.title' | translate}}
    </jems-pending-button>
</ng-template>

<ng-template #statusChip>
    <div id="status" class="mb-3">
        {{'common.status' | translate}}:
        <mat-chip-list class="mr-1 ml-1">
            <mat-chip selected="true"
                      [class.draft]="status === Status.DRAFT"
                      [class.finished]="status === Status.FINISHED">
                {{'checklists.instance.status.' + status | translate}}
            </mat-chip>
        </mat-chip-list>
        <span *ngIf="finishedDate">{{'checklists.instance.finished.since' | translate : {date: finishedDate | localeDate} }}</span>
    </div>
</ng-template>

<ng-template #headline let-headline="headline">
    <h4>{{headline.value}}</h4>
</ng-template>

<ng-template #optionsToggle let-options="options" let-controls="controls">
    <div>
        <p jemsText jemsMultiColumnRow>{{options.question}}</p>
        <span class="box mt-2" jemsMultiColumnRow>
            <mat-button-toggle-group [formControl]="controls?.get('answer') || {}">
                <mat-button-toggle [value]="options.firstOption">
                    <span jemsText maxWidth="70">{{options.firstOption}}</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="options.secondOption">
                    <span jemsText maxWidth="70">{{options.secondOption}}</span>
                </mat-button-toggle>
                <mat-button-toggle *ngIf="options.thirdOption"
                                   [value]="options.thirdOption">
                    <span jemsText maxWidth="70">{{options.thirdOption}}</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </span>
        <jems-expandable-textarea jemsMultiColumnRow class="mt-2"
                                  [control]="controls?.get('justification')"
                                  [errors]="controls?.get('justification')?.errors"
                                  [characterLimit]="5000"
                                  [minRows]="1"
                                  [maxRows]="30"
                                  label='checklists.instance.component.field.justification'>
        </jems-expandable-textarea>
    </div>
</ng-template>

<ng-template #textInput let-options="options" let-control="control">
    <div jemsNoWidthLimit stretch>
        <p jemsText>{{options.question}}</p>
        <mat-form-field jemsFormFieldWidth="full" >
            <mat-label>{{options.explanationLabel}}</mat-label>
            <pre>{{form.get('explanation')}}</pre>
            <textarea #explanation matInput
                      [formControl]="control || {}"
                      [cdkTextareaAutosize]
                      [cdkAutosizeMinRows]="1"
                      [cdkAutosizeMaxRows]="5"></textarea>
            <mat-hint [jemsHintFor]="explanation">
                <jems-text-hint [currentLength]="explanation?.value?.length" [maxLength]="options.explanationMaxLength || 0"></jems-text-hint>
            </mat-hint>
            <mat-error>
                <jems-form-field-errors [errors]="control?.errors"></jems-form-field-errors>
            </mat-error>
        </mat-form-field>
    </div>
</ng-template>

