<jems-main-page-template [needsCard]="true"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.tab.strategies">
    <jems-programme-strategies
            *ngIf="details$ | async as strategies"
            [strategies]="strategies"
            [success$]="strategiesSaveSuccess$"
            [error$]="strategiesSaveError$"
            (updateProgrammeStrategy)="saveStrategies$.next($event)">
    </jems-programme-strategies>
</jems-main-page-template>>
