<form jemsFormLayout [formGroup]="unitCostForm">
    <div jemsMultiColumnRow>
        <h3 class="mb-0">{{'unit.cost.title' | translate}}</h3>
        <button mat-raised-button color="primary"
                *ngIf="formState === FormState.VIEW && (programmeEditableStateStore.hasEditPermission$ | async)"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'unit.cost.button.edit' | translate}}
        </button>
    </div>

    <jems-multi-language-container [switchButtonsVisible]="formState === FormState.EDIT">
        <jems-multi-language-form-field
                formControlName="name"
                label="unit.cost.form.field.name"
                [maxLength]="50">
        </jems-multi-language-form-field>
    </jems-multi-language-container>
    <jems-multi-language-container [switchButtonsVisible]="formState === FormState.EDIT">
        <jems-multi-language-form-field
                formControlName="description"
                label="unit.cost.form.field.description"
                [maxLength]="255">
        </jems-multi-language-form-field>
    </jems-multi-language-container>
    <jems-multi-language-container [switchButtonsVisible]="formState === FormState.EDIT">
        <jems-multi-language-form-field
                formControlName="type"
                label="unit.cost.form.field.unit.type"
                [maxLength]="25">
        </jems-multi-language-form-field>
    </jems-multi-language-container>
    <mat-form-field>
        <mat-label>{{'unit.cost.form.field.cost.currency.euro' | translate}}</mat-label>
        <input currencyMask type="decimal"
               [options]="{nullable: true}"
               name="costPerUnit" formControlName="costPerUnit" matInput required>
        <jems-context-info infoPosition="after" infoText="{{'unit.cost.form.field.cost.info.currency.euro' | translate}}"></jems-context-info>
        <mat-error>
            <jems-form-field-errors
                    [errors]="unitCostForm?.controls?.costPerUnit?.errors"
                    [messages]="costErrors">
            </jems-form-field-errors>
        </mat-error>
    </mat-form-field>

    <div jemsMultiColumnRow>
        <mat-form-field jemsFormFieldWidth="two-thirds" class="mr-2" [class.mat-form-field-disabled]="!isForeignCurrencySelected()">
            <mat-label>{{'unit.cost.form.field.cost.currency.other' | translate}}</mat-label>
            <input currencyMask type="decimal"
                   [required]="isForeignCurrencySelected()"
                   [readonly]="!isForeignCurrencySelected()"
                   [options]="{nullable:true}"
                   name="costPerUnitForeignCurrency" formControlName="costPerUnitForeignCurrency" matInput>
            <mat-error>
                <jems-form-field-errors
                        [errors]="unitCostForm?.controls?.costPerUnitForeignCurrency?.errors"
                        [messages]="costForeignCurrencyErrors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field jemsFormFieldWidth="one-third">
            <mat-label>{{'unit.cost.form.field.cost.currencies' | translate}}</mat-label>
            <mat-select formControlName="foreignCurrencyCode"
                        placeholder="{{'project.application.partner.report.expenditures.currency.placeholder' | translate}}"
                        (selectionChange)="onForeignCurrencyChange($event)">
                <mat-option [value]="null">{{'common.not.applicable.option' | translate}}</mat-option>
                <mat-option *ngFor="let currency of availableCurrencies" [value]="currency.code">{{currency.code}}</mat-option>
            </mat-select>
            <jems-context-info infoPosition="after" infoText="{{'unit.cost.form.field.cost.info.currency.other' | translate}}"></jems-context-info>
            <mat-error>
                <jems-form-field-errors [errors]="unitCostForm?.controls?.foreignCurrencyCode?.errors"></jems-form-field-errors>
            </mat-error>
        </mat-form-field>
    </div>

    <h4 jemsLabel class="mat-required-marker"
         [ngClass]="{'empty': !oneCostToggle.checked && !multiCostToggle.checked}">
        {{'unit.cost.cost.categories' | translate}}</h4>
    <div>{{'unit.cost.toggle.row.one' | translate}}</div>
    <div>{{'unit.cost.toggle.row.two' | translate}}</div>
    <div>
        <mat-button-toggle-group
                [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)">
            <mat-button-toggle #oneCostToggle
                    [value]="true"
                    [checked]="unitCostForm.controls.isOneCostCategory.value === true"
                    (change)="changeAllowedCategories($event.value)">
                <span jemsText maxWidth="230">{{'unit.cost.toggle.allow.single' | translate}}</span>
            </mat-button-toggle>
            <mat-button-toggle #multiCostToggle
                    [value]="false"
                    [checked]="unitCostForm.controls.isOneCostCategory.value === false"
                    (change)="changeAllowedCategories($event.value)">
                <span jemsText maxWidth="230">{{'unit.cost.toggle.allow.multiple' | translate}}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>
    <div *ngIf="unitCostForm.controls.isOneCostCategory.value !== null">
        <div *ngIf="unitCostForm.controls.isOneCostCategory.value === false">
            <p jemsLabel class="mat-required-marker mat-body-strong"
                 [ngClass]="{'empty': unitCostForm?.controls?.categories?.errors}">
                {{'programme.unitCost.categories.min.2' | translate}}:
            </p>
            <p *ngFor="let element of multipleCostCategories">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="checkSelectionMultiple(element)"
                              [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)"
                              [checked]="selectionMultiple.isSelected(element)">
                    {{'unit.cost.cost.category.' + element | translate}}
                </mat-checkbox>
            </p>
        </div>

        <div *ngIf="unitCostForm.controls.isOneCostCategory.value === true">
            <p jemsLabel class="mat-required-marker mat-body-strong"
                 [ngClass]="{'empty': unitCostForm?.controls?.categories?.errors}">
                {{'unit.cost.categories.should.not.be.empty.single' | translate}}:
            </p>
            <p *ngFor="let element of singleCostCategories">
                <mat-radio-button (click)="$event.stopPropagation()"
                              (change)="checkSelectionSingle(element)"
                              [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)"
                              [checked]="selectionSingle.isSelected(element)">
                    {{'unit.cost.cost.category.' + element | translate}}
                </mat-radio-button>
            </p>
        </div>
    </div>
    <br><br>

    <div jemsMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button mat-stroked-button
                type="button"
                (click)="onCancel()">
            {{'unit.cost.new.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                [disabled]="unitCostForm.invalid || submitted || !validNumberOfSelections"
                (click)="onSubmit()">
            {{'unit.cost.new.button.save' | translate}}
        </button>
    </div>
    <jems-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'unit.cost.new.message.successful' | translate}}</p>
    </jems-alert>
    <jems-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nMessage?.i18nKey"
               [type]="Alert.ERROR">
        <jems-api-error-content [error]="error"></jems-api-error-content>
    </jems-alert>
</form>

