<div>
    <h4>{{'unit.cost.title' | translate}}
        <button *ngIf="formState === FormState.VIEW" mat-raised-button color="primary"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'unit.cost.button.edit' | translate}}
        </button>
    </h4>
    <form [formGroup]="unitCostForm" class="flex-container">
        <mat-form-field class="field-third pad-top-1">
            <mat-label>{{'unit.cost.form.field.name' | translate}}</mat-label>
            <input name="name" formControlName="name" matInput
                   placeholder="{{'unit.cost.form.field.name' | translate}}" required>
            <mat-error>
                <app-form-field-errors
                        [errors]="unitCostForm?.controls?.name?.errors"
                        [messages]="nameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-third pad-top-1">
            <mat-label>{{'unit.cost.form.field.description' | translate}}</mat-label>
            <input name="description" formControlName="description" matInput
                   placeholder="{{'unit.cost.form.field.description' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="unitCostForm?.controls?.description?.errors"
                        [messages]="descriptionErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-third pad-top-1">
            <mat-label>{{'unit.cost.form.field.unit.type' | translate}}</mat-label>
            <input name="type" formControlName="type" matInput
                   placeholder="{{'unit.cost.form.field.unit.type' | translate}}" required>
            <mat-error>
                <app-form-field-errors
                        [errors]="unitCostForm?.controls?.type?.errors"
                        [messages]="typeErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-third pad-top-1">
            <mat-label>{{'unit.cost.form.field.cost' | translate}}</mat-label>
            <input name="costPerUnit" formControlName="costPerUnit" matInput type="number" required
                   placeholder="{{'unit.cost.form.field.cost' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="unitCostForm?.controls?.costPerUnit?.errors"
                        [messages]="costErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <div [class.valid-option]="!unitCostForm?.controls?.categories?.errors"
             [class.invalid-option]="!!unitCostForm?.controls?.categories?.errors"
             class="mt-3 mb-2">
            {{'unit.cost.cost.categories' | translate}} *
        </div>
        <span *ngFor="let element of categories">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="checkSelection(element)"
                          [disabled]="formState === FormState.VIEW"
                          [checked]="selection.isSelected(element)">
                {{'unit.cost.cost.category.' + element | translate}}
            </mat-checkbox>
            <br>
        </span>
        <mat-error>
            <app-form-field-errors
                    [errors]="unitCostForm?.controls?.categories?.errors"
                    [messages]="categoriesErrors">
            </app-form-field-errors>
        </mat-error>

        <div *ngIf="formState === FormState.EDIT">
            <button *ngxPermissionsExcept="Permission.APPLICANT_USER"
                    mat-stroked-button
                    class="mr-4 mb-1 mt-3"
                    type="button"
                    (click)="onCancel()">
                {{'unit.cost.new.button.cancel' | translate}}
            </button>
            <button mat-raised-button
                    color="primary"
                    type="button"
                    class="mr-4 mb-1 mt-3"
                    [disabled]="unitCostForm.invalid || submitted || !validNumberOfSelections"
                    (click)="onSubmit()">
                {{'unit.cost.new.button.save' | translate}}
            </button>
        </div>
    </form>

    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'unit.cost.new.message.successful' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>


