<form appFormLayout [formGroup]="unitCostForm">
    <div appMultiColumnRow>
        <h3 class="mb-0">{{'unit.cost.title' | translate}}</h3>
        <button *ngIf="formState === FormState.VIEW" mat-raised-button color="primary"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'unit.cost.button.edit' | translate}}
        </button>
    </div>

    <div>
        <mat-button-toggle-group
                [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)">
            <mat-button-toggle
                    [value]="true"
                    [checked]="unitCostForm.controls.isOneCostCategory.value === true"
                    (change)="changeAllowedCategories($event.value)">
                {{'unit.cost.toggle.allow.single' | translate}}
            </mat-button-toggle>
            <mat-button-toggle
                    [value]="false"
                    [checked]="unitCostForm.controls.isOneCostCategory.value === false"
                    (change)="changeAllowedCategories($event.value)">
                {{'unit.cost.toggle.allow.multiple' | translate}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-error>
            <app-form-field-errors
                    [errors]="unitCostForm?.controls?.allowMultipleCostCategories?.errors"
                    [messages]="allowMultipleCostCategoriesErrors">
            </app-form-field-errors>
        </mat-error>
    </div>

    <div>{{'unit.cost.toggle.row.one' | translate}}</div>
    <div>{{'unit.cost.toggle.row.two' | translate}}</div>

    <app-multi-language [useSystemLanguages]="true"
                        [switchButtonsVisible]="formState === FormState.EDIT">
        <app-multi-language-form-field
                formControlName="name"
                label="unit.cost.form.field.name"
                [maxLength]="50">
        </app-multi-language-form-field>
    </app-multi-language>
    <app-multi-language [useSystemLanguages]="true"
                        [switchButtonsVisible]="formState === FormState.EDIT">
        <app-multi-language-form-field
                formControlName="description"
                label="unit.cost.form.field.description"
                [maxLength]="50">
        </app-multi-language-form-field>
    </app-multi-language>
    <app-multi-language [useSystemLanguages]="true"
                        [switchButtonsVisible]="formState === FormState.EDIT">
        <app-multi-language-form-field
                formControlName="type"
                label="unit.cost.form.field.unit.type"
                [maxLength]="25">
        </app-multi-language-form-field>
    </app-multi-language>
    <mat-form-field>
        <mat-label>{{'unit.cost.form.field.cost' | translate}}</mat-label>
        <input currencyMask type="decimal"
               name="costPerUnit" formControlName="costPerUnit" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="unitCostForm?.controls?.costPerUnit?.errors"
                    [messages]="costErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>

    <div appLabel>{{'unit.cost.cost.categories' | translate}} *</div>
    <div *ngIf="unitCostForm.controls.isOneCostCategory.value === false || unitCostForm.controls.isOneCostCategory.value === null">
        <div *ngFor="let element of multipleCostCategories">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="checkSelectionMultiple(element)"
                          [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)"
                          [checked]="selectionMultiple.isSelected(element)">
                {{'unit.cost.cost.category.' + element | translate}}
            </mat-checkbox>
        </div>
        <mat-error>
            <app-form-field-errors
                    [errors]="unitCostForm?.controls?.categories?.errors"
                    [messages]="categoriesErrorsMultiple">
            </app-form-field-errors>
        </mat-error>
    </div>

    <div *ngIf="unitCostForm.controls.isOneCostCategory.value">
        <div *ngFor="let element of singleCostCategories">
            <mat-radio-button (click)="$event.stopPropagation()"
                          (change)="checkSelectionSingle(element)"
                          [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)"
                          [checked]="selectionSingle.isSelected(element)">
                {{'unit.cost.cost.category.' + element | translate}}
            </mat-radio-button>
        </div>
        <mat-error>
            <app-form-field-errors
                    [errors]="unitCostForm?.controls?.categories?.errors"
                    [messages]="categoriesErrorsSingle">
            </app-form-field-errors>
        </mat-error>
    </div>

    <div appMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button *ngxPermissionsExcept="Permission.APPLICANT_USER"
                mat-stroked-button
                type="button"
                (click)="onCancel()">
            {{'unit.cost.new.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                [disabled]="unitCostForm.invalid || submitted || !validNumberOfSelections"
                (click)="onSubmit()">
            {{'unit.cost.new.button.save' | translate}}
        </button>
    </div>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'unit.cost.new.message.successful' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</form>

