<app-project-page-template
        [needsCard]="true"
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
        subTitleKey="project.application.form.section.part.c">
    <h3>{{'project.application.form.section.part.c.subsection.four' | translate}}</h3>

    <ng-container *ngxPermissionsExcept="Permission.PROGRAMME_USER">
        <button *ngIf="(projectStore.projectEditable$ | async) === true"
                mat-stroked-button
                [routerLink]="'/app/project/detail/' + projectId + '/applicationFormWorkPackage/create'">
            + {{'project.application.form.add.workpackage' | translate}}
        </button>
    </ng-container>

    <app-project-application-form-work-packages-list
            *ngIf="workPackages$ | async as workPackages"
            [workPackages]="workPackages"
            [editable]="projectStore.projectEditable$ | async"
            (deleteWorkPackage)="deleteWorkPackage($event)">
    </app-project-application-form-work-packages-list>
</app-project-page-template>
