<app-breadcrumb></app-breadcrumb>
<h1>{{'project.application.form.acronym' | translate : {acronym: projectStore.getAcronym() | async} }}</h1>
<h2>{{'project.application.form.section.part.c' | translate}}</h2>
<h3>{{'project.application.form.section.part.c.subsection.four' | translate}}</h3>

<span *ngxPermissionsExcept="Permission.PROGRAMME_USER">
    <button *ngIf="(projectStore.projectEditable$ | async) === true"
            mat-stroked-button
            [routerLink]="'/app/project/detail/' + projectId + '/applicationFormWorkPackage/create'">
        + {{'project.application.form.add.workpackage' | translate}}
    </button>
</span>

<app-project-application-form-work-packages-list
        *ngIf="currentWorkPackagePage$ | async as workPackagePage"
        [workPackagePage]="workPackagePage"
        [pageIndex]="newPageIndex$ | async"
        [editable]="projectStore.projectEditable$ | async"
        (newPageSize)="newPageSize$.next($event)"
        (newPageIndex)="newPageIndex$.next($event)"
        (newSort)="newSort$.next($event)"
        (deleteWorkPackage)="deleteWorkPackage($event)">
</app-project-application-form-work-packages-list>
