<jems-form (save)="onSubmit()"
           (discard)="resetForm()"
           *ngIf="callType$ | async as callType">
    <form jemsFormLayout [formGroup]="projectRelevanceForm">
        <h3>{{'project.application.form.section.part.c.subsection.two' | translate}}</h3>

        <ng-container
                *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_RELEVANCE_AND_CONTEXT.TERRITORIAL_CHALLENGES">
            <h4>{{'project.application.form.relevance.field.1' | translate}}</h4>
            <p>{{'project.application.form.relevance.field.1.intro' | translate}}</p>

            <jems-multi-language-container>
                <jems-multi-language-form-field
                        type="textarea"
                        formControlName="territorialChallenge"
                        maxLength="5000"
                        label="common.textarea.enter.text">
                </jems-multi-language-form-field>
            </jems-multi-language-container>
        </ng-container>

        <ng-container
                *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_RELEVANCE_AND_CONTEXT.HOW_ARE_CHALLENGES_AND_OPPORTUNITIES_TACKLED">
            <h4>{{'project.application.form.relevance.field.2' | translate}}</h4>
            <p>{{'project.application.form.relevance.field.2.intro' | translate}}</p>

            <jems-multi-language-container>
                <jems-multi-language-form-field
                        type="textarea"
                        formControlName="commonChallenge"
                        maxLength="5000"
                        label="common.textarea.enter.text">
                </jems-multi-language-form-field>
            </jems-multi-language-container>
        </ng-container>

        <ng-container
                *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_RELEVANCE_AND_CONTEXT.WHY_IS_COOPERATION_NEEDED">
            <h4>{{'project.application.form.relevance.field.3' | adaptTranslationKeyByCallType | async | translate}}</h4>
            <p>{{'project.application.form.relevance.field.3.intro' | adaptTranslationKeyByCallType | async | translate}}</p>
            <jems-multi-language-container>
                <jems-multi-language-form-field
                        type="textarea"
                        formControlName="transnationalCooperation"
                        maxLength="5000"
                        label="common.textarea.enter.text">
                </jems-multi-language-form-field>
            </jems-multi-language-container>
        </ng-container>

        <ng-container
                *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_RELEVANCE_AND_CONTEXT.TARGET_GROUP">
            <h4>{{'project.application.form.relevance.field.4' | translate}}</h4>
            <p>{{'project.application.form.relevance.field.4.intro' | translate}}</p>
            <jems-benefits-table jemsNoWidthLimit
                                 [formGroup]="projectRelevanceForm"
                                 [benefits]="benefits"
                                 [editable]="editable"
                                 (changed)="tableChanged()">
            </jems-benefits-table>
        </ng-container>

        <ng-container *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_RELEVANCE_AND_CONTEXT.SPF_RECIPIENT_GROUP">
            <h4>{{'spf.project.application.form.relevance.field.4a' | translate}}</h4>
            <p>{{'spf.project.application.form.relevance.field.4a.intro' | translate}}</p>
            <jems-spf-recipients-table jemsNoWidthLimit
                                       [formGroup]="projectRelevanceForm"
                                       [spfRecipients]="spfRecipients"
                                       [editable]="editable"
                                       (changed)="tableChanged()">
            </jems-spf-recipients-table>
        </ng-container>

        <ng-container
                *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_RELEVANCE_AND_CONTEXT.STRATEGY_CONTRIBUTION">
            <h4>{{'project.application.form.relevance.field.5' | translate}}</h4>
            <p>{{'project.application.form.relevance.field.5.intro' | translate}}</p>
            <jems-strategy-table jemsNoWidthLimit
                                [formGroup]="projectRelevanceForm"
                                [strategies]="strategies"
                                [callStrategies]="strategiesFromCall"
                                [editable]="editable"
                                (changed)="tableChanged()">
            </jems-strategy-table>
        </ng-container>

        <ng-container
                *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_RELEVANCE_AND_CONTEXT.SYNERGIES">
            <h4>{{'project.application.form.relevance.field.6' | translate}}</h4>
            <p>{{'project.application.form.relevance.field.6.intro' | translate}}</p>
            <jems-synergy-table jemsNoWidthLimit
                               [formGroup]="projectRelevanceForm"
                               [synergies]="synergies"
                               [editable]="editable"
                               (changed)="tableChanged()">
            </jems-synergy-table>
        </ng-container>

        <ng-container
                *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_RELEVANCE_AND_CONTEXT.HOW_BUILDS_PROJECT_ON_AVAILABLE_KNOWLEDGE">
            <h4>{{'project.application.form.relevance.field.7' | translate}}</h4>
            <p>{{'project.application.form.relevance.field.7.intro' | translate}}</p>
            <jems-multi-language-container>
                <jems-multi-language-form-field
                        type="textarea"
                        formControlName="availableKnowledge"
                        maxLength="5000"
                        label="common.textarea.enter.text"
                        [disabled]="!editable">
                </jems-multi-language-form-field>
            </jems-multi-language-container>
        </ng-container>
    </form>
</jems-form>
