.mat-table-sticky {
  position: initial !important;
}
mat-button-toggle {
  vertical-align: middle;
  span {
    margin: 0 0.25rem;
  }
  mat-icon {
    font-size: 1.25em;
    line-height: 1.25em;
    width: 1em;
  }
}
.content-toggle.mat-button-toggle-checked {
  background-color: var(--report-type-content) !important;
}

.finance-toggle.mat-button-toggle-checked {
  background-color: var(--report-type-finance) !important;
}

.both-toggle.mat-button-toggle-checked {
  background-color: var(--report-type-both) !important;
}

#timeplanHeader {
  margin-bottom: -0.75rem;
}

.projectDatesRow {
  display: flex;
  gap: 1rem;
  > * {
    flex-grow: 1;
  }
}

::ng-deep {
  jems-form {
    jems-breadcrumb {
      display: none !important;
    }
  }
  #timeplanContainer {
    #main-page-container {
      overflow: visible;
    }
    #main-page-content {
      padding: 0 !important;
      overflow: visible !important;
      .page-content-container {
        margin: 0 !important;
      }
    }
    .mat-form-field-wrapper {
      padding-bottom: 1.15rem;
      padding-top: 1.15rem;
    }
  }

  jems-expandable-textarea .mat-form-field-infix {
    min-height: 1.8rem;
  }

  .date-readonly {
    .mat-form-field-flex {
      background-color: inherit !important;
      border-bottom-style: dotted !important;
      border-width: thin !important;
      border-color: rgb(220, 220, 220) !important;
    }
    .mat-form-field-underline {
      display: none;
    }
  }
}

#deadline-dates-table mat-cell {
  align-items: flex-start;
}

.report-type-cell {
  flex-direction: column;
}

mat-cell.mat-column-deadlineDelete, .report-type-cell, .final-report-cell {
  padding-top: 1.15rem;
}

.mat-column-deadlineFinalReport {
  max-width: 3rem;
}

.number-cell, .linked-report-cell {
  padding-top: 1.75rem;
}
