<ng-container *ngIf="data$ | async as data">

    <jems-file-list-table
            [fileList]="data.fileList"
            [setDescriptionCallback]="setDescriptionCallback"
            [deleteCallback]="deleteCallback"
            (onDownload)="downloadFile($event)"
            (refresh)="fileManagementStore.filesChanged$.next()">
    </jems-file-list-table>

    <jems-paginator (pageIndexChanged)="fileManagementStore.newPageIndex$.next($event)"
                   (pageSizeChanged)="fileManagementStore.newPageSize$.next($event)"
                   *ngIf="data.files.content?.length"
                   [currentPageIndex]="fileManagementStore.newPageIndex$ | async"
                   [currentPageSize]="fileManagementStore.newPageSize$ | async"
                   [length]="data.files.totalElements">
    </jems-paginator>

    <div *ngIf="fileManagementStore.canUpload$ | async">
        <input #selectFile (change)="uploadFile($event?.target)" onclick="this.value=null;"
               type="file" [accept]="acceptedFilesTypes" aria-label="upload file">
        <jems-pending-button (clicked)="selectFile.click()"
                             type="secondary"
                             icon="file_upload"
                             [pending]="isUploadInProgress">
            {{ 'file.upload.add.new' | translate }}
        </jems-pending-button>
    </div>
</ng-container>

<jems-alert [show]="fileManagementStore.deleteSuccess$ | async"
           [type]="Alert.SUCCESS">
    <p>{{'file.delete.message.successful' | translate}}</p>
</jems-alert>
<jems-alert *ngIf="fileManagementStore.error$ | async as error"
           [show]="!!error"
           [type]="Alert.ERROR">
    <jems-api-error-content [error]="error"></jems-api-error-content>
</jems-alert>
<jems-alert *ngIf="fileSizeOverLimitError$ | async as showError"
           [show]="showError"
           [type]="Alert.ERROR">
    <p>{{'project.file.size.over.limit' | translate}} {{maximumAllowedFileSizeInMB}} MB</p>
</jems-alert>

<ng-template #noFiles>
    <jems-alert [show]="true"
               [type]="Alert.WARNING">
        <p>{{'file.table.no.files' | translate}}</p>
    </jems-alert>
</ng-template>
