<ng-container *ngIf="data$ | async as data">
    <mat-table *ngIf="data.files.content?.length; else noFiles"
               [dataSource]="dataSource" jemsNoWidthLimit>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <span jemsText maxLines="2">{{'file.table.column.name.name' | translate }}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let file">{{ file?.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="uploadDate">
            <mat-header-cell *matHeaderCellDef>
                <span jemsText maxLines="2">{{'file.table.column.name.timestamp' | translate }}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let file">
                {{ file?.uploadedAt | localeDate: 'L' : 'LT'}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef>
                <span jemsText maxLines="2">{{'file.table.column.name.username' | translate }}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let file">{{ file?.uploadedBy?.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>
                <span jemsText maxLines="2">{{'file.table.column.name.description' | translate }}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let file">
                <jems-description-cell
                        (editFinished)="editableDescriptionFileId = null"
                        (saveFile)="setFileDescription($event)"
                        [editable]="editableDescriptionFileId === file?.id"
                        [file]="file">
                </jems-description-cell>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="justify-end">
                <span jemsText maxLines="2">{{'file.table.column.name.action' | translate }}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let file" class="justify-end">
                <jems-actions-cell
                        (delete)="deleteFile($event)"
                        (download)="downloadFile($event)"
                        (edit)="editableDescriptionFileId = $event"
                        [file]="file"
                        [isAllowedToChangeApplicationFile]="fileManagementStore.canChangeApplicationFile$ | async"
                        [isAllowedToChangeAssessmentFile]="fileManagementStore.canChangeAssessmentFile$ | async"
                        [isThisUserOwner]="fileManagementStore.userIsProjectOwnerOrEditCollaborator$ | async"
                        [projectStatus]="data.projectStatus"
                        [type]="data.selectedCategory?.type">
                </jems-actions-cell>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <jems-paginator (pageIndexChanged)="fileManagementStore.newPageIndex$.next($event)"
                   (pageSizeChanged)="fileManagementStore.newPageSize$.next($event)"
                   *ngIf="data.files.content?.length"
                   [currentPageIndex]="Tables.DEFAULT_INITIAL_PAGE_INDEX"
                   [currentPageSize]="Tables.DEFAULT_INITIAL_PAGE_SIZE"
                   [length]="data.files.totalElements">
    </jems-paginator>

    <div *ngIf="fileManagementStore.canUpload$ | async">
        <input #selectFile (change)="uploadFile($event?.target)" onclick="this.value=null;"
               type="file" [accept]="acceptedFilesTypes">
        <button (click)="selectFile.click()"
                mat-stroked-button>+ {{'file.upload.add.new' | translate}}
        </button>
    </div>
</ng-container>

<jems-alert [show]="fileManagementStore.deleteSuccess$ | async"
           [type]="Alert.SUCCESS">
    <p>{{'file.delete.message.successful' | translate}}</p>
</jems-alert>
<jems-alert *ngIf="fileManagementStore.error$ | async as error"
           [show]="!!error"
           [type]="Alert.ERROR">
    <jems-api-error-content [error]="error"></jems-api-error-content>
</jems-alert>
<jems-alert *ngIf="fileSizeOverLimitError$ | async as showError"
           [show]="showError"
           [type]="Alert.ERROR">
    <p>{{'project.file.size.over.limit' | translate}} {{maximumAllowedFileSizeInMB}} MB</p>
</jems-alert>

<ng-template #noFiles>
    <jems-alert [show]="true"
               [type]="Alert.WARNING">
        <p>{{'file.table.no.files' | translate}}</p>
    </jems-alert>
</ng-template>
