<div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <label for="username">CORE Username</label>
            <input id="username" type="text" formControlName="username">
            <span class="info-text" *ngIf="invalid">
                Invalid username
            </span>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <p>Try admin or user</p>
    <p>I18n: {{'i18ntest' | translate }}</p>
</div>
