.project-detail-container {
  margin-top: 5%;
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;

  .column {
    display: inline-block;
    text-align: center;
  }

  .row {
    margin-bottom: 3%;
    margin-left: 0;
  }
}
