<h3>{{'project.application.form.lifecycle.title' | translate}}</h3>
<div *ngIf="project$ | async as project" class="project-detail-container">
    <app-project-application-information
            [project]="project">
    </app-project-application-information>
    <app-project-application-actions
            [projectId]="project.id"
            [success$]="projectChanged$"
            [error$]="changeStatusError$"
            [projectStatus]="project.projectStatus.status"
            [projectRevertStatus]="revertStatus$ | async"
            [projectCallEndDate]="project.call.endDate"
            (changeStatus)="changeProjectStatus($event)"
            (revertStatus)="revertStatus($event)">
    </app-project-application-actions>
    <app-project-application-decisions
            *ngxPermissionsExcept="[Permission.APPLICANT_USER]"
            [project]="project"
            [projectStatus]="project.projectStatus.status">
    </app-project-application-decisions>
    <app-project-application-assessments
            *ngxPermissionsExcept="[Permission.APPLICANT_USER]"
            [project]="project"
            [projectStatus]="project.projectStatus.status">
    </app-project-application-assessments>
</div>
