<div *ngIf="project$ | async as project" class="project-detail-container">
    <app-project-application-information
            [project]="project">
    </app-project-application-information>

    <app-project-application-assessments
            [projectStatus]="project.projectStatus.status"
            [success$]="projectChanged$"
            [submittingUser]="project.applicant"
            (submitProjectApplication)="changeProjectStatus($event)">
    </app-project-application-assessments>

    <app-project-application-file-upload
            *ngxPermissionsExcept="[Permission.PROGRAMME_USER]"
            [fileNumber]="fileNumber"
            [statusMessages]="statusMessages"
            [projectStatus]="project.projectStatus.status"
            (uploadFile)="uploadFile.emit($event)">
    </app-project-application-file-upload>
</div>
