<h1 mat-dialog-title>
    {{data.title | translate}}
</h1>

<div mat-dialog-content>
    <p *ngIf="message">{{message | translate : arguments}}</p>

    <jems-alert [closable]="false"
               [show]="!!data.warnMessage"
               [type]="Alert.WARNING">
        <p>{{warnMessage | translate : warnArguments}}</p>
    </jems-alert>
</div>

<div mat-dialog-actions>
    <button jemsText (click)="onDismiss()" cdkFocusInitial mat-dialog-close
            mat-stroked-button>{{'common.dialog.dismiss' | translate}}</button>
    <button jemsText (click)="onConfirm()" color="primary" mat-dialog-close
            mat-raised-button>{{'common.dialog.confirm' | translate}}</button>
</div>

