<h1 mat-dialog-title>
    {{title | translate}}
</h1>

<div mat-dialog-content>
    <p>{{message | translate : arguments}}</p>
    <p *ngIf="arguments?.boldWarningMessage" class="bold-message-area">
        {{arguments['boldWarningMessage'] | translate}}
    </p>
</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close (click)="onDismiss()" cdkFocusInitial>{{'common.dialog.dismiss' | translate}}</button>
    <button mat-raised-button mat-dialog-close (click)="onConfirm()" color="primary">{{'common.dialog.confirm' | translate}}</button>
</div>

