<div class="side-nav">
    <div *ngFor="let data of headlines">
        <mat-expansion-panel class="mat-elevation-z0"
                             [expanded]="data.bullets?.length !== 0"
                             [disabled]="getExpansionDisabledStatus(data.bullets)">
            <mat-expansion-panel-header class="header-with-left-arrow">
                <mat-panel-title (click)="$event.stopPropagation()" class="title-with-left-arrow">
                    <div class="side-nav-title">{{data.headline | translate}}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let subtitle of data.bullets" class="side-nav-main">
                <mat-expansion-panel class="mat-elevation-z0"
                                     [expanded]="subtitle.bullets?.length !== 0"
                                     [disabled]="getExpansionDisabledStatus(subtitle.bullets)">
                    <mat-expansion-panel-header>
                        <mat-panel-title (click)="$event.stopPropagation()">
                            <p *ngIf="!getExpansionDisabledStatus(subtitle.bullets) || subtitle.headline.includes('project.application.form.section')"
                               class="side-nav-main_title"
                               (click)="sideNavService.navigate(subtitle)">
                                {{subtitle.headline | translate}}
                            </p>
                            <p *ngIf="getExpansionDisabledStatus(subtitle.bullets) && !subtitle.headline.includes('project.application.form.section')"
                               class="side-nav-main_title_white-text"
                               (click)="sideNavService.navigate(subtitle)">
                                {{subtitle.headline | translate}}
                            </p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="side-nav-section" *ngIf="subtitle.bullets?.length">
                        <li *ngFor="let section of subtitle.bullets"
                            (click)="sideNavService.navigate(section)">
                            <p class="first-list-item">{{ section.headline | translate}}</p>
                            <ul class="side-nav-subsection" *ngIf="section.bullets?.length">
                                <li *ngFor="let subsection of section.bullets"
                                    (click)="$event.stopPropagation();sideNavService.navigate(subsection)">
                                    <p class="second-list-item">{{ subsection.headline | translate}}</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </mat-expansion-panel>
            </div>
        </mat-expansion-panel>
        <hr class="solid">
    </div>
</div>
