<mat-expansion-panel
        *ngIf="projectStatus !== OutputProjectStatus.StatusEnum.DRAFT
            && projectStatus !== OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT"
        [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title><h6>Decisions</h6></mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
        <div class="col-4">Eligibility Decision:</div>
        <div class="col-3">
            <div *ngIf="project.eligibilityDecision">
                {{project.eligibilityDecision.status}}
            </div>
        </div>
        <div class="col-2">
            <div *ngIf="project.eligibilityDecision">
                {{project.eligibilityDecision.decisionDate | date : Tables.DEFAULT_DATE_FORMAT_NO_TIME}}
            </div>
        </div>
        <div *ngIf="!project.eligibilityDecision" class="col-3 column">
            <button mat-raised-button color="primary" class="assessment-button"
                    [disabled]="!project.eligibilityAssessment"
                    [routerLink]="'/project/'+ project.id + '/eligibilityDecision'">
                {{'project.assessment.eligibilityDecision.assessment' | translate}}
            </button>
        </div>
        <div *ngIf="project.eligibilityDecision" class="col-3 column">
            <button mat-raised-button color="secondary" class="assessment-button"
                    [routerLink]="'/project/'+ project.id + '/eligibilityDecision'">
                {{'project.assessment.eligibilityDecision.assessment.view' | translate}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Funding Decision:</div>
        <div class="col-3">
            <div *ngIf="project.fundingDecision">
                {{project.projectStatus.status}}
            </div>
        </div>
        <div class="col-2">
            <div *ngIf="project.fundingDecision">
                {{project.projectStatus.decisionDate | date : Tables.DEFAULT_DATE_FORMAT_NO_TIME}}
            </div>
        </div>
        <div *ngIf="!project.fundingDecision" class="col-3 column">
            <button mat-raised-button color="primary" class="assessment-button"
                    [disabled]="project.eligibilityDecision?.status !== OutputProjectStatus.StatusEnum.ELIGIBLE
                            || !project.qualityAssessment"
                    [routerLink]="'/project/'+ project.id + '/fundingDecision'">
                {{'project.assessment.fundingDecision.assessment' | translate}}
            </button>
        </div>
        <div *ngIf="!!project.fundingDecision" class="col-3 column">
            <button mat-raised-button class="assessment-button"
                    [color]="projectStatus === OutputProjectStatus.StatusEnum.APPROVEDWITHCONDITIONS ? 'primary' : null"
                    [routerLink]="'/project/'+ project.id + '/fundingDecision'">
                {{updateOrViewFundingLabel() | translate}}
            </button>
        </div>
    </div>
</mat-expansion-panel>
