<div appFormLayout [formGroup]="formGroup">
    <app-multi-language-container appNoWidthLimit>
        <div [appTableConfig]="[{},{}, {maxInRem:2}]">
            <div>
                <span class="mat-body-strong">{{ 'project.application.form.relevance.target.group' | translate }}</span>
                <span class="mat-body-strong">{{ 'project.application.form.relevance.specification' | translate }}</span>
                <div class="mat-body-strong"></div>
            </div>
            <div *ngFor="let benefit of benefitsForm.controls;let i=index">
                <ng-container formArrayName="benefits">
                    <ng-container [formGroupName]="i">

                        <mat-form-field>
                            <mat-label>{{'project.application.form.relevance.target.group' | translate}}</mat-label>
                            <mat-select [disabled]="!editable" formControlName="targetGroup" required>
                                <mat-option *ngFor="let targetGroup of benefitEnums" [value]="targetGroup">
                                    {{'project.application.form.relevance.target.group.' + targetGroup | translate}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <app-form-field-errors [errors]="benefit.get('targetGroup')?.errors"
                                                       [messages]="targetGroupErrors"></app-form-field-errors>
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <app-multi-language-form-field
                                    type="textarea"
                                    formControlName="specification"
                                    maxLength="2000"
                                    minRows="1"
                                    label="project.application.form.relevance.specification"
                                    [disabled]="!editable">
                            </app-multi-language-form-field>
                        </div>

                        <div>
                            <button *ngIf="editable" type="button" (click)="deleteEntry(i)" mat-icon-button color="accent">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </app-multi-language-container>
    <button *ngIf="editable && benefitsForm.controls?.length < 20" mat-stroked-button type="button"
            (click)="addNewBenefit()">
        <mat-icon>add</mat-icon>
    </button>
</div>
