<app-multi-language [inputs]="specificationInputs">
    <div [formGroup]="formGroup">
        <app-row-list-template [appearance]="'table'"
                               [columnClassList]="['column','column', 'max-2-rem']">
            <div>
                <span class="mat-body-strong">{{ 'project.application.form.relevance.target.group' | translate }}</span>
                <span class="mat-body-strong">{{ 'project.application.form.relevance.specification' | translate }}</span>
                <div class="mat-body-strong"></div>
            </div>
            <div *ngFor="let benefit of benefitsForm.controls;let i=index">
                <ng-container formArrayName="benefits">
                    <ng-container [formGroupName]="i">

                        <mat-form-field>
                            <mat-label>{{'project.application.form.relevance.target.group' | translate}}</mat-label>
                            <mat-select [disabled]="!editable"
                                        panelClass="material-select-panel" formControlName="targetGroup" required>
                                <mat-option *ngFor="let targetGroup of benefitEnums" [value]="targetGroup">
                                    {{'project.application.form.relevance.target.group.' + targetGroup | translate}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <app-form-field-errors [errors]="benefit.get('targetGroup')?.errors"
                                                       [messages]="targetGroupErrors"></app-form-field-errors>
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <textarea *ngIf="!editable" matInput formControlName="specification"
                                      [cdkTextareaAutosize]
                                      [cdkAutosizeMinRows]="3"
                                      [cdkAutosizeMaxRows]="50"
                                      [readonly]="!editable">
                            </textarea>
                            <app-expandable-textarea *ngIf="editable" class="text-area"
                                                     [control]="benefit.get('specification')"
                                                     [errors]="benefit.get('specification')?.errors"
                                                     [messages]="specificationErrors"
                                                     [characterLimit]="2000"
                                                     [label]="'project.application.form.relevance.specification'"
                                                     [disabled]="!editable">
                            </app-expandable-textarea>
                        </div>

                        <div>
                            <button type="button" (click)="deleteEntry(i)" mat-icon-button color="accent">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </app-row-list-template>
    </div>
    <button *ngIf="editable" mat-icon-button type="button" (click)="addNewBenefit()">
        <mat-icon>add</mat-icon>
    </button>
</app-multi-language>
