<jems-project-page-template
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
        subTitleKey="project.application.form.section.part.c">
    <jems-project-application-form-management-detail
            *ngIf="management$ | async as management"
            [success$]="saveSuccess$"
            [project]="management"
            [editable]="projectStore.projectEditable$ | async"
            [error$]="saveError$"
            (updateData)="updateManagement$.next($event)">
    </jems-project-application-form-management-detail>
</jems-project-page-template>
