<app-breadcrumb></app-breadcrumb>
<h1>{{'project.application.form.acronym' | translate : {acronym: projectStore.getAcronym() | async} }}</h1>
<h2>{{'project.application.form.section.part.c' | translate}}</h2>

<app-project-application-form-management-detail
        *ngIf="management$ | async as management"
        [success$]="saveSuccess$"
        [project]="management"
        [editable]="projectStore.projectEditable$ | async"
        [error$]="saveError$"
        (updateData)="updateManagement$.next($event)">
</app-project-application-form-management-detail>
