<mat-card>
    <ng-container *ngIf="formState === FormState.VIEW">
        <mat-form-field>
            <mat-label>{{'user.detail.field.password' | translate}}</mat-label>
            <input [disabled]="true"
                   [ngModel]="'****'"
                   name="fakePwd" matInput>
        </mat-form-field>
        <button mat-raised-button
                [disabled]="disabled"
                (click)="changeFormState$.next(FormState.EDIT)"
                color="primary">
            {{'user.detail.button.password.new' | translate}}
        </button>
    </ng-container>
    <form appFormLayout [formGroup]="passwordForm" *ngIf="formState === FormState.EDIT"
          (keydown.enter)="$event.preventDefault()">

        <app-password-field
                *ngIf="ownUser && passwordForm?.controls?.oldPassword"
                [name]="'user.detail.field.password.old'"
                [passwordControl]="passwordForm.controls.oldPassword"
                [passwordErrors]="oldPasswordErrors"
                [showHint]="false">
        </app-password-field>
        <app-password-field
                *ngIf="passwordForm?.controls?.password"
                [name]="'user.detail.field.password.new'"
                [passwordControl]="passwordForm.controls.password"
                [passwordErrors]="passwordErrors"
                [showHint]="true">
        </app-password-field>
        <div appMultiColumnRow>
            <button mat-stroked-button
                    [disabled]="disabled"
                    (click)="changeFormState$.next(FormState.VIEW)">
                {{'user.detail.password.button.cancel' | translate}}
            </button>
            <button mat-raised-button
                    color="primary"
                    [disabled]="disabled || passwordForm.invalid || submitted"
                    (click)="onSubmit()">
                {{'user.detail.password.button.save' | translate}}
            </button>
        </div>
        <app-alert
                [show]="!submitted && (showSuccessMessage$ | async)"
                [type]="Alert.SUCCESS">
            <p>{{'user.detail.password.save.success' | translate}}</p>
        </app-alert>
        <app-alert *ngIf="error$ | async as error"
                   [show]="!submitted && !!error.i18nKey"
                   [type]="Alert.ERROR">
            <p>{{error.i18nKey | translate}}</p>
        </app-alert>
    </form>
</mat-card>
