<ng-container *ngIf="data$ | async as data">
    <jems-form (discard)="resetForm(data.accountDetail)"
               (save)="savePaymentAccount()"
               [formGroup]="summaryForm">

        <h3>{{'payments.accounts.detail.summary.tab.header' | translate}}</h3>
        <p>{{'payments.accounts.detail.summary.tab.subheader' | translate}}</p>


        <div class="summary-form">
            <div>
                <div>
                    <mat-form-field jemsFormFieldWidth="full">
                        <mat-label>{{'payments.accounts.detail.summary.tab.other.details.national.reference.label' | translate}}</mat-label>
                        <input formControlName="nationalReference" name="nationalReference" matInput #nationalReference>
                        <mat-hint [jemsHintFor]="nationalReference" [hide]="summaryForm?.get('nationalReference')?.errors !== null">
                            <jems-text-hint [currentLength]="nationalReference.value.length" [maxLength]="50"></jems-text-hint>
                        </mat-hint>
                        <mat-error>
                            <jems-form-field-errors [errors]="summaryForm?.get('nationalReference')?.errors"></jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field jemsFormFieldWidth="xx-large">
                        <mat-label>{{'payments.accounts.detail.summary.tab.other.details.technical.assistance.label' | translate}}</mat-label>
                        <input formControlName="technicalAssistance" name="technicalAssistance" currencyMask matInput type="decimal"
                               [options]="{allowNegative: true, max: MAX_VALUE}">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field jemsFormFieldWidth="xx-large">
                        <mat-label>{{'payments.accounts.detail.summary.tab.other.details.submission.to.sfc.date.label' | translate}}</mat-label>
                        <input formControlName="submissionToSFCDate" [matDatepicker]="submissionToSFCDatePicker" matInput>
                        <mat-datepicker-toggle matSuffix [for]="submissionToSFCDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #submissionToSFCDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field jemsFormFieldWidth="full">
                        <mat-label>{{'payments.accounts.detail.summary.tab.other.details.sfc.number.label' | translate}}</mat-label>
                        <input formControlName="sfcNumber" name="sfcNumber" matInput #sfcNumber>
                        <mat-hint [jemsHintFor]="sfcNumber" [hide]="summaryForm?.get('sfcNumber')?.errors !== null">
                            <jems-text-hint [currentLength]="sfcNumber.value.length" [maxLength]="50"></jems-text-hint>
                        </mat-hint>
                        <mat-error>
                            <jems-form-field-errors [errors]="summaryForm?.get('sfcNumber')?.errors"></jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </div>

                <jems-expandable-textarea jemsMultiColumnRow jemsFormFieldWidth="full"
                                          [control]="summaryForm.controls.comment"
                                          [errors]="summaryForm?.get('comment')?.errors"
                                          label="payments.accounts.detail.summary.tab.other.details.comment.label"
                                          [characterLimit]="5000"
                                          [minRows]="5"
                                          [maxRows]="10">
                </jems-expandable-textarea>
            </div>
        </div>
    </jems-form>

    <mat-card jemsFormLayout class="mt-4">
        <h3>{{'payments.accounts.detail.summary.tab.amounts.summary' | translate}}</h3>
        <p>{{'payments.accounts.detail.summary.tab.amounts.summary.detail' | translate}}</p>
        <jems-accounts-cumulative-table [data]="data.accountAmountSummary"
                                        [infoBubble]="'summary'"></jems-accounts-cumulative-table>
    </mat-card>

    <mat-card class="mt-4">
        <jems-payment-account-attachments *ngIf="data.accountDetail.id"></jems-payment-account-attachments>
    </mat-card>

</ng-container>
