
/* reduce the space needed by inline cell editing overlay */
.ag-theme-material .ag-cell-inline-editing {
  padding: 0 0.5em;
  height: 3.5em;

  input.ag-input-field-input.ag-text-field-input {
    padding-bottom: 0 !important;
    height: 2em !important;
  }
}
