.mat-form-field-disabled .mat-form-field-underline {
  height: 0 !important;
}

.mat-form-field-disabled .mat-select-arrow {
  visibility: hidden;
}
.mat-form-field-disabled .mat-select-value-text, .light-theme .mat-input-element:disabled {
  color: var(--font-color-primary);
}
