
#language-switcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.25rem;

  .mat-button-toggle-group {
    z-index: 1;

    .mat-button-toggle-appearance-standard div.mat-button-toggle-label-content {
      line-height: 1.75em;
    }
  }
}

// Adapt layout when paired with specific components:
app-multi-language {
  // Specifically allow for an overlap between language-switcher and textarea
  > app-expandable-textarea {
    margin-top: -2rem;
  }
  // Specifically allow for an overlap between language-switcher and multilang-form-field
  > app-multi-language-form-field {
    margin-top: -1.25rem;
  }
}
