
#language-switcher {
  float: right;
  padding-top: 1rem;
  margin-bottom: -1.5rem;

  .mat-button-toggle-group {
    z-index: 1;
    .mat-button-toggle-appearance-standard div.mat-button-toggle-label-content {
      line-height: 1.75em;
    }
  }
}
