.top-bar-nav {
  .mat-ink-bar {
    // change active link underline
    background-color: var(--font-text-link) !important;
  }
}

// change language dropdown styling
app-top-bar {
  .mat-select-value-text,
  .mat-select-arrow {
    font-size: .875rem;
    color: var(--font-text-link) !important;
  }
}
