.description-form {
  width: 12rem;
}

.description-text-area-field {
  display: block;
}
.description-text-area {
  border: 1px solid lightgray;
  height: 50px;
}

.button {
  width: 80px;
}

.right-button {
  float: right;
}

label {
  padding-left: 10px;
}
