<form [formGroup]="decisionForm" class="description-form">
    <mat-radio-group
            required class="assessment-radio-group" formControlName="status"
            name="status-{{status?.status}}"
            [disabled]="!!status">
        <mat-radio-button class="assessment-radio-button" *ngFor="let option of options" [value]="option">
            {{'project.assessment.fundingDecision.' + option | translate}}
        </mat-radio-button>
    </mat-radio-group>
    <app-expandable-textarea class="assessment-text-area"
            [control]="decisionForm?.controls?.notes"
            [errors]="decisionForm?.controls?.notes?.errors"
            [messages]="noteErrors"
            [characterLimit]="10000"
            [label]="'project.assessment.fundingDecision.dialog.field.note'"
            [disabled]="!!status"
            [customStyle]="'outline'">
    </app-expandable-textarea>
    <mat-form-field class="assessment-date-picker">
        <mat-label>{{'project.assessment.fundingDecision.dialog.field.date' | translate}}</mat-label>
        <input required formControlName="decisionDate" matInput
               name="decisionDate-{{status?.status}}"
               [readonly]="!!project.fundingDecision"
               [matDatepicker]="picker"
               [max]="today"
               [min]="project?.eligibilityDecision?.decisionDate">
        <mat-datepicker-toggle
                matSuffix
                [disabled]="!!status"
                [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
            <app-form-field-errors
                    [errors]="decisionForm?.controls?.decisionDate?.errors"
                    [messages]="dateErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <div *ngIf="!status">
        <button mat-raised-button
                color="secondary"
                (click)="cancel.emit()">{{'project.assessment.fundingDecision.dialog.button.cancel' | translate}}
        </button>

        <button mat-raised-button color="primary"
                class="right-button"
                type="submit"
                [disabled]="decisionForm.invalid || submitted"
                (click)="onSubmit()">{{submitLabel | translate}}
        </button>
    </div>
</form>


