<ng-container *ngxPermissionsExcept="[Permission.PROGRAMME_USER]">
    <div *ngIf="projectStatus === STATUS.DRAFT" class="row">
        <button mat-raised-button color="primary"
                [disabled]="!isOpen()"
                (click)="submitProject()">{{'project.detail.button.submit' | translate}}
        </button>
    </div>
    <div *ngIf="projectStatus === STATUS.RETURNEDTOAPPLICANT" class="row">
        <button mat-raised-button color="primary"
                (click)="resubmitProject()">{{'project.detail.button.resubmit' | translate}}
        </button>
    </div>
</ng-container>

<ng-container *ngxPermissionsOnly="[Permission.ADMINISTRATOR, Permission.PROGRAMME_USER]">
    <div class="row">
        <button *ngIf="returnableStatuses.includes(projectStatus)"
                mat-raised-button color="primary"
                (click)="returnToApplicant()">{{'project.detail.button.return.applicant' | translate}}
        </button>
        <ng-container *ngxPermissionsOnly="Permission.ADMINISTRATOR">
            <button *ngIf="revertToStatus; else revertNotPossible"
                    mat-raised-button color="primary"
                    (click)="revertProjectStatus()">
                {{ 'project.application.revert.decision.button.label' | translate}}
                {{ 'common.label.projectapplicationstatus.' + revertToStatus | translate }}
            </button>
        </ng-container>
    </div>
</ng-container>

<ng-template #revertNotPossible>
    <button *ngxPermissionsOnly="Permission.ADMINISTRATOR"
            mat-raised-button disabled
            (click)="revertProjectStatus()">
        {{ 'project.application.revert.decision.impossible.button.label' | translate }}
    </button>
</ng-template>

<app-alert [show]="successMessage"
           [type]="Alert.SUCCESS">
    <p *ngIf="projectStatus !== STATUS.RETURNEDTOAPPLICANT">
        {{'project.detail.submitted.success' | translate}}
    </p>
    <p *ngIf="projectStatus === STATUS.RETURNEDTOAPPLICANT">
        {{'project.detail.returned.to.applicant.success' | translate}}
    </p>
</app-alert>
