<jems-project-page-template *ngIf="pageStore.projectTitle$ | async as title"
                            [titleText]="'project.application.form.acronym' | translate : {projectTitle: title} "
                            subTitleKey="project.application.form.section.privileges"
                            [isVersionedData]="false">
    <jems-alert [show]="true"
                [closable]="false"
                [type]="Alert.WARNING">
        <p>{{'project.application.form.section.privileges.warning' | translate}}</p>
    </jems-alert>

    <ng-container *ngIf="pageStore.projectCollaborators$ | async as projectCollaborators">
        <jems-application-form-privileges-expansion-panel
                [projectTitle]="title"
                [projectCollaboratorsData]="projectCollaborators">
        </jems-application-form-privileges-expansion-panel>
    </ng-container>

    <ng-container *ngIf="pageStore.partnerTeamsVisible$ | async">
        <ng-container *ngIf="pageStore.partnerCollaborators$ | async as teams">
            <ng-container *ngFor="let partner of teams.keys()">
                <jems-partner-team-privileges-expansion-panel
                        *ngIf="teams.get(partner)"
                        [partner]="partner"
                        [collaborators]="teams.get(partner)">
                </jems-partner-team-privileges-expansion-panel>
            </ng-container>
        </ng-container>
    </ng-container>

</jems-project-page-template>
