<form id="funds" appFormLayout [formGroup]="editableFundsForm">
    <div appMultiColumnRow>
        <h3 class="mb-0">{{'programme.fund.list.title' | translate}}</h3>
        <button appFormFieldWidth="small" color="primary"
                *ngIf="formState === FormState.VIEW" mat-raised-button
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'common.edit.label' | translate}}
        </button>
    </div>
    <app-multi-language [useSystemLanguages]="true" [switchButtonsVisible]="formState === FormState.EDIT">
        <div [appTableConfig]="[{maxInRem: 2},{},{}]">
            <div>
                <span class="mat-body-strong">{{ 'programme.fund.list.select' | translate }}</span>
                <span class="mat-body-strong">{{ 'programme.fund.list.abbreviation' | translate }}</span>
                <span class="mat-body-strong">{{ 'programme.fund.list.description' | translate }}</span>
            </div>
            <div *ngFor="let fund of fundsForm.controls;let i=index">
                <ng-container formArrayName="funds">
                    <ng-container [formGroupName]="i">

                        <mat-checkbox
                                name="multipleFundsAllowed"
                                formControlName="selected"
                                (click)="$event.stopPropagation()"
                                [disabled]="formState === FormState.VIEW">
                        </mat-checkbox>

                        <app-multi-language-form-field
                                hideCountersWhenInView="true"
                                formControlName="abbreviation"
                                maxLength="127"
                                label="programme.fund.list.abbreviation">
                        </app-multi-language-form-field>

                        <app-multi-language-form-field
                                formControlName="description"
                                maxLength="127"
                                label="programme.fund.list.description">
                        </app-multi-language-form-field>

                    </ng-container>
                </ng-container>
            </div>
        </div>
    </app-multi-language>
    <div appMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button mat-stroked-button type="button"
                (click)="changeFormState$.next(FormState.VIEW)">
            {{'common.cancel.label' | translate}}
        </button>
        <button mat-raised-button color="primary" type="button"
                [disabled]="submitted"
                (click)="onSubmit()">
            {{'common.save.label' | translate}}
        </button>
    </div>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'programme.fund.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</form>
