<div class="language-switcher-container">
    <ng-container *ngIf="switchButtonsVisible">
        <div class="language-switcher"
             *ngIf="multiLanguageContainerService.languages$ | async as languages"
             [class.toggle-button-exists]="isMoreThanOneLanguageEnabled(languages)">
            <mat-button-toggle-group
                    class="language-switcher-toggle-group"
                    *ngIf="isMoreThanOneLanguageEnabled(languages)"
                    [value]="multiLanguageContainerService.activeLanguage$ | async"
                    (change)="multiLanguageContainerService.changeLanguage($event.value, useSystemLanguages)">
                <mat-button-toggle *ngFor="let language of languages; let index = index"
                                   matBadgeSize="small" matBadgePosition="after"
                                   [class.empty]="isEmptyState(language)"
                                   [class.error]="isErrorState(language)"
                                   [matBadge]="getBadgeContent(language)"
                                   [value]="language">
                    <span>{{language}}</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </ng-container>
    <ng-content></ng-content>
</div>
