@import "../../../../theme/custom-styles/custom-buttons-styles";

.language-switcher-container {
  .language-switcher {
    display: flex;
    justify-content: flex-end;

    &.toggle-button-exists {
      margin-bottom: -0.75rem;
    }

    .mat-button-toggle-group {
      z-index: 2;
      margin-right: 0.5rem;
      padding: .1rem;
    }
  }

  ::ng-deep {
    .language-switcher-toggle-group {
      overflow: visible;
      @include customize-toggle-button-size('small');
    }

    > * {
      width: 100%;
    }
  }

  ::ng-deep.mat-badge-small.mat-badge-overlap .mat-badge-content {
    z-index: 3;
    right: .1rem;
    width: .7rem;
    height: .7rem;
    line-height: .8rem;
  }

  ::ng-deep.mat-badge.empty .mat-badge-content {
    color: transparent;
    border: 1px solid var(--primary-color);
    background: var(--background);
  }

  ::ng-deep.mat-badge.error .mat-badge-content {
    border: 1px solid var(--error-color);
    background: var(--error-color);
  }
}

