<app-breadcrumb></app-breadcrumb>
<app-form *ngIf="workPackageInvestment$ | async as investment"
          (save)="onSubmit()">
    <form [formGroup]="workPackageInvestmentForm" class="container">

        <h5>{{'project.application.form.workpackage.investment.form.title' | translate}}
            <span *ngIf="investment.investmentNumber">
                    {{workPackageNumber}}.{{investment.investmentNumber}}
            </span>
        </h5>

        <mat-form-field class="field">
            <mat-label>{{'project.application.form.workpackage.investment.number' | translate}}</mat-label>
            <input name="number" formControlName="number" matInput
                   placeholder="{{'project.application.form.workpackage.investment.number' | translate}}">
        </mat-form-field>

        <app-multi-language>
            <app-multi-language-form-field
                    label="project.application.form.workpackage.investment.title"
                    [formControlName]="constants.TITLE.name"
                    [maxLength]="constants.TITLE.maxLength">
            </app-multi-language-form-field>
        </app-multi-language>

        <div class="subsection">
            <h6>{{'project.application.form.workpackage.investment.justification' | translate}}</h6>
        </div>

        <div class="pb-3">
            <mat-label>{{'project.application.form.workpackage.investment.justification.explanation' | translate}}</mat-label>
            <app-multi-language>
                <app-multi-language-form-field
                        type="textarea"
                        [label]="'common.textarea.enter.text'"
                        [formControlName]="constants.JUSTIFICATION_EXPLANATION.name"
                        [maxLength]="constants.JUSTIFICATION_EXPLANATION.maxLength">
                </app-multi-language-form-field>
            </app-multi-language>
        </div>

        <div class="pb-3">
            <mat-label>{{'project.application.form.workpackage.investment.justification.transactional.relevance' | translate}}</mat-label>
            <app-multi-language>
                <app-multi-language-form-field
                        type="textarea"
                        [label]="'common.textarea.enter.text'"
                        [formControlName]="constants.JUSTIFICATION_TRANSNATIONAL_RELEVANCE.name"
                        [maxLength]="constants.JUSTIFICATION_TRANSNATIONAL_RELEVANCE.maxLength">
                </app-multi-language-form-field>
            </app-multi-language>
        </div>

        <div class="pb-3">
            <mat-label>{{'project.application.form.workpackage.investment.justification.benefits' | translate}}</mat-label>
            <app-multi-language>
                <app-multi-language-form-field
                        type="textarea"
                        [label]="'common.textarea.enter.text'"
                        [formControlName]="constants.JUSTIFICATION_BENEFITS.name"
                        [maxLength]="constants.JUSTIFICATION_BENEFITS.maxLength">
                </app-multi-language-form-field>
            </app-multi-language>
        </div>

        <div class="pb-3">
            <mat-label>{{'project.application.form.workpackage.investment.justification.pilot' | translate}}</mat-label>
            <app-multi-language>
                <app-multi-language-form-field
                        type="textarea"
                        [label]="'common.textarea.enter.text'"
                        [formControlName]="constants.JUSTIFICATION_PILOT.name"
                        [maxLength]="constants.JUSTIFICATION_PILOT.maxLength">
                </app-multi-language-form-field>
            </app-multi-language>
        </div>

        <div class="subsection">
            <h6>{{'project.application.form.workpackage.investment.location' | translate}}</h6>
        </div>
        <span>{{'project.application.form.workpackage.investment.location.description' | translate}}</span>

        <app-project-application-form-address
                *ngIf="nuts$ | async as nuts"
                [addressForm]="workPackageInvestmentForm.controls.address"
                [nuts]="nuts">
        </app-project-application-form-address>

        <div class="subsection">
            <h6>{{'project.application.form.workpackage.investment.risk' | translate}}</h6>
        </div>

        <mat-label>{{'project.application.form.workpackage.investment.risk.description' | translate}}</mat-label>
        <app-multi-language>
            <app-multi-language-form-field
                    type="textarea"
                    [label]="'common.textarea.enter.text'"
                    [formControlName]="constants.RISK.name"
                    [maxLength]="constants.RISK.maxLength">
            </app-multi-language-form-field>
        </app-multi-language>

        <div class="subsection">
            <h6>{{'project.application.form.workpackage.investment.documentation' | translate}}</h6>
        </div>

        <mat-label>{{'project.application.form.workpackage.investment.documentation.description' | translate}}</mat-label>
        <app-multi-language>
            <app-multi-language-form-field
                    type="textarea"
                    [label]="'common.textarea.enter.text'"
                    [formControlName]="constants.DOCUMENTATION.name"
                    [maxLength]="constants.DOCUMENTATION.maxLength">
            </app-multi-language-form-field>
        </app-multi-language>

        <div class="subsection">
            <h6>{{'project.application.form.workpackage.investment.ownership' | translate}}</h6>
        </div>

        <div class="pb-3">
            <mat-label>{{'project.application.form.workpackage.investment.ownership.site.location' | translate}}</mat-label>
            <app-multi-language>
                <app-multi-language-form-field
                        type="textarea"
                        [label]="'common.textarea.enter.text'"
                        [formControlName]="constants.OWNERSHIP_SITE_LOCATION.name"
                        [maxLength]="constants.OWNERSHIP_SITE_LOCATION.maxLength">
                </app-multi-language-form-field>
            </app-multi-language>
        </div>


        <div class="pb-3">
            <mat-label>{{'project.application.form.workpackage.investment.ownership.retain' | translate}}</mat-label>
            <app-multi-language>
                <app-multi-language-form-field
                        type="textarea"
                        [label]="'common.textarea.enter.text'"
                        [formControlName]="constants.OWNERSHIP_RETAIN.name"
                        [maxLength]="constants.OWNERSHIP_RETAIN.maxLength">
                </app-multi-language-form-field>
            </app-multi-language>
        </div>

        <mat-label>{{'project.application.form.workpackage.investment.ownership.maintenance' | translate}}</mat-label>
        <app-multi-language>
            <app-multi-language-form-field
                    type="textarea"
                    [label]="'common.textarea.enter.text'"
                    [formControlName]="constants.OWNERSHIP_MAINTENANCE.name"
                    [maxLength]="constants.OWNERSHIP_MAINTENANCE.maxLength">
            </app-multi-language-form-field>
        </app-multi-language>

    </form>
</app-form>
