<app-project-page-template *ngIf="data$ | async as data" [needsCard]="true"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: data.projectTitle}"
                           subTitleKey="project.application.form.section.assessment.and.decision">
    <div appFormLayout>
        <div appNoWidthLimit>
            <ng-container *hasPermission="PermissionsEnum.ProjectStatusReturnToApplicant">
                <app-pending-button *ngIf="data.returnToApplicantAvailable && data.projectStatus === STATUS.APPROVEDWITHCONDITIONS"
                                    class="mr-2 mt-2"
                                    [confirm]="{title: 'project.detail.return.dialog.title', message: 'project.detail.return.dialog.message'}"
                                    [pending]="actionPending"
                                    (clicked)="returnToApplicantForConditionsIncreaseVersion(data.projectId)">
                    {{'project.detail.button.return.applicant' | translate}}
                </app-pending-button>
                <app-pending-button *ngIf="data.returnToApplicantAvailable && data.projectStatus === STATUS.CONDITIONSSUBMITTED"
                        class="mr-2 mt-2"
                        [confirm]="{title: 'project.detail.return.dialog.title', message: 'project.detail.return.dialog.message'}"
                        [pending]="actionPending"
                        (clicked)="returnToApplicantForConditions(data.projectId)">
                    {{'project.detail.button.hand.back.applicant' | translate}}
                </app-pending-button>
            </ng-container>
            <ng-container *hasPermission="PermissionsEnum.ProjectStatusDecisionRevert">
                <app-pending-button
                        class="mr-2 mt-2"
                        *ngIf="data.revertToStatus; else revertNotPossible"
                        [confirm]="getRevertConfirmation(data.projectStatus, data.revertToStatus)"
                        [pending]="actionPending"
                        [disabled]="!data.isProjectLatestVersion"
                        (clicked)="revertProjectStatus(data.projectId)">
                    {{ 'project.application.revert.decision.button.label' | translate}}
                    {{ 'common.label.projectapplicationstatus.' + data.revertToStatus | translate }}
                </app-pending-button>
            </ng-container>
            <ng-container *hasPermission="PermissionsEnum.ProjectStartStepTwo">
                <app-pending-button *ngIf="data.startStepTwoAvailable"
                                    class="mr-2 mt-2"
                                    [pending]="actionPending"
                                    (clicked)="startStepTwo(data.projectId)">
                    {{'project.application.start.step.two.button.label' | translate}}
                </app-pending-button>
            </ng-container>

            <div *hasPermission="PermissionsEnum.ProjectAssessmentView" appFormLayout id="project-detail-container">
                <ng-container *ngIf="data.callHasTwoSteps">
                    <app-project-application-decisions appNoWidthLimit step="1">
                    </app-project-application-decisions>
                    <app-project-application-assessments [decisions]="data.project.firstStepDecision"
                                                         [projectStatus]="data.project.projectStatus"
                                                         appNoWidthLimit
                                                         step="1">
                    </app-project-application-assessments>
                </ng-container>

                <ng-container *ngIf="data.project.step2Active && data.project.projectStatus.status !== STATUS.DRAFT">
                    <app-project-application-decisions appNoWidthLimit step="2">
                    </app-project-application-decisions>
                    <app-project-application-assessments [decisions]="data.project.secondStepDecision"
                                                         [projectStatus]="data.project.projectStatus"
                                                         appNoWidthLimit
                                                         step="2">
                    </app-project-application-assessments>
                </ng-container>
            </div>
        </div>
        <ng-container *hasPermission="PermissionsEnum.ProjectFileAssessmentRetrieve">
            <h3>
                {{'file.tab.header' | translate}}
                <app-context-info infoPosition="right" infoText="{{'file.tab.info' | translate}}"></app-context-info>
            </h3>
            <app-file-management [section]="fileManagementSection" appNoWidthLimit></app-file-management>
        </ng-container>
        <ng-template #revertNotPossible>
            <button class="mr-2 mt-2" *hasPermission="PermissionsEnum.ProjectStatusDecisionRevert"
                    mat-raised-button disabled
                    (click)="revertProjectStatus(data.projectId)">
                {{ 'project.application.revert.decision.impossible.button.label' | translate }}
            </button>
        </ng-template>

        <app-alert [show]="successMessage"
                   [type]="Alert.SUCCESS">
            <p *ngIf="data.projectStatus === STATUS.RETURNEDTOAPPLICANT">
                {{'project.detail.returned.to.applicant.success' | translate}}
            </p>
        </app-alert>
        <app-alert *ngIf="error$ | async as error"
                   [show]="!!error.i18nMessage?.i18nKey"
                   [type]="Alert.ERROR">
            <app-api-error-content [error]="error"></app-api-error-content>
        </app-alert>
    </div>
</app-project-page-template>
