<jems-project-page-template *ngIf="data$ | async as data" [needsCard]="true"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: data.currentVersionOfProjectTitle}"
                           subTitleKey="project.application.form.section.assessment.and.decision"
                           [isVersionedData]="false">
    <div jemsFormLayout>
        <div jemsNoWidthLimit>
            <ng-container *jemsHasPermission="PermissionsEnum.ProjectStatusReturnToApplicant">
                <jems-pending-button *ngIf="data.returnToApplicantAvailable && data.currentVersionOfProjectStatus !== STATUS.CONDITIONSSUBMITTED"
                                    class="mr-2 mt-2"
                                    [confirm]="{title: 'project.detail.return.dialog.title', message: 'project.detail.return.dialog.message'}"
                                    [pending]="actionPending"
                                    (clicked)="returnToApplicant(data.projectId)">
                    {{'project.detail.button.return.applicant' | translate}}
                </jems-pending-button>
                <jems-pending-button *ngIf="data.returnToApplicantAvailable && data.currentVersionOfProjectStatus === STATUS.CONDITIONSSUBMITTED"
                        class="mr-2 mt-2"
                        [confirm]="{title: 'project.detail.return.dialog.title', message: 'project.detail.return.dialog.message'}"
                        [pending]="actionPending"
                        (clicked)="returnToApplicantForConditions(data.projectId)">
                    {{'project.detail.button.hand.back.applicant' | translate}}
                </jems-pending-button>
            </ng-container>
            <ng-container *jemsHasPermission="PermissionsEnum.ProjectStatusDecisionRevert">
                <jems-pending-button
                        class="mr-2 mt-2"
                        *ngIf="data.revertToStatus; else revertNotPossible"
                        [confirm]="getRevertConfirmation(data.currentVersionOfProjectStatus, data.revertToStatus)"
                        [pending]="actionPending"
                        (clicked)="revertProjectStatus(data.projectId)">
                    {{ 'project.application.revert.decision.button.label' | translate}}
                    {{ 'common.label.projectapplicationstatus.' + data.revertToStatus | translate }}
                </jems-pending-button>
            </ng-container>
            <ng-container *jemsHasPermission="PermissionsEnum.ProjectStartStepTwo">
                <jems-pending-button *ngIf="data.startStepTwoAvailable"
                                    class="mr-2 mt-2"
                                    [pending]="actionPending"
                                    (clicked)="startStepTwo(data.projectId)">
                    {{'project.application.start.step.two.button.label' | translate}}
                </jems-pending-button>
            </ng-container>

            <div *jemsHasPermission="PermissionsEnum.ProjectAssessmentView" jemsFormLayout id="project-detail-container">
                <ng-container *ngIf="data.callHasTwoSteps">
                    <jems-project-application-decisions jemsNoWidthLimit step="1">
                    </jems-project-application-decisions>
                    <jems-project-application-assessments [decisions]="data.currentVersionOfProject.firstStepDecision"
                                                         [currentVersionOfProjectStatus]="data.currentVersionOfProject.projectStatus"
                                                         jemsNoWidthLimit
                                                         step="1">
                    </jems-project-application-assessments>
                </ng-container>

                <ng-container *ngIf="data.currentVersionOfProject.step2Active && data.currentVersionOfProjectStatus !== STATUS.DRAFT">
                    <jems-project-application-decisions jemsNoWidthLimit step="2">
                    </jems-project-application-decisions>
                    <jems-project-application-assessments [decisions]="data.currentVersionOfProject.secondStepDecision"
                                                         [currentVersionOfProjectStatus]="data.currentVersionOfProject.projectStatus"
                                                         jemsNoWidthLimit
                                                         step="2">
                    </jems-project-application-assessments>
                </ng-container>
            </div>
        </div>
        <ng-container *jemsHasPermission="PermissionsEnum.ProjectFileAssessmentRetrieve">
            <h3>
                {{'file.tab.header' | translate}}
                <jems-context-info infoPosition="right" infoText="{{'file.tab.info' | translate}}"></jems-context-info>
            </h3>
            <jems-file-management [section]="fileManagementSection" jemsNoWidthLimit></jems-file-management>
        </ng-container>
        <ng-template #revertNotPossible>
            <button jemsText class="mr-2 mt-2" *jemsHasPermission="PermissionsEnum.ProjectStatusDecisionRevert"
                    mat-raised-button disabled
                    (click)="revertProjectStatus(data.projectId)">
                {{ 'project.application.revert.decision.impossible.button.label' | translate }}
            </button>
        </ng-template>

        <jems-alert [show]="successMessage"
                   [type]="Alert.SUCCESS">
            <p *ngIf="data.currentVersionOfProjectStatus === STATUS.RETURNEDTOAPPLICANT || data.currentVersionOfProjectStatus === STATUS.RETURNEDTOAPPLICANTFORCONDITIONS">
                {{'project.detail.returned.to.applicant.success' | translate}}
            </p>
        </jems-alert>
        <jems-alert *ngIf="error$ | async as error"
                   [show]="!!error.i18nMessage?.i18nKey"
                   [type]="Alert.ERROR">
            <jems-api-error-content [error]="error"></jems-api-error-content>
        </jems-alert>
    </div>
</jems-project-page-template>
