<jems-main-page-template *ngIf="data$ | async as data"
                         [titleText]=""
                         subTitleKey="">

    <jems-form (discard)="resetForm(data.paymentDetail)"
               (save)="updatePaymentInstallments(paymentId, partnerPaymentsForm.getRawValue())"
               [formGroup]="partnerPaymentsForm">

        <div jemsMultiColumnRow>
            <a color="primary" class="mr-1" mat-icon-button
               routerLink=".."
               matTooltip="{{ 'payments.payment.to.project.detail.back.tooltip.button' | translate }}">
                <mat-icon class="icon-back" fontSet="material-icons-outlined">arrow_circle_left</mat-icon>
            </a>
            <h3 class="mb-4 put-icon-to-header-line">{{'payments.payment.to.project.detail.back.button' | translate}}</h3>
        </div>

        <h3>{{'payments.payment.to.project.detail.header' | translate : {
            paymentId: data.paymentDetail.id,
            projectId: data.paymentDetail.projectCustomIdentifier,
            fundName: data.paymentDetail.fundName
        } }}</h3>
        <p>{{'payments.payment.to.project.detail.subtext' | translate}}</p>

            <ng-container *ngIf="partnerPayments">
                <div jemsNoWidthLimit id="payments-per-partner-table" class="mb-3 payments-per-partner-container"
                    *ngIf="data.paymentDetail.partnerPayments as partnerPayments">

                    <div class="payments-per-partner-header table-row header-color" jemsNoWidthLimit jemsMultiColumnRow justifyContent="start">
                        <div class="column-partner-id justify-start" jemsNoWidthLimit jemsMultiColumnRow>
                            {{ 'payments.detail.table.header.partner' | translate }}
                        </div>
                        <div class="column-partner-name justify-start">
                            {{ 'payments.detail.table.header.partner.name' | translate }}
                            <jems-context-info
                                    infoPosition="right"
                                    infoText="{{ 'payments.detail.table.header.partner.name.contextinfo' | adaptTranslationKeyByCallType | async | translate }}">
                            </jems-context-info>
                        </div>
                        <div class="column-amount-approved justify-end">
                            {{ 'payments.detail.table.header.amount.approved' | translate }}
                            <jems-context-info
                                    infoPosition="right"
                                    infoText="{{ 'payments.detail.table.header.amount.approved.contextinfo' | adaptTranslationKeyByCallType | async | translate }}">
                            </jems-context-info>
                        </div>
                        <div class="column-add-payment"><!-- Empty - just for alignment reasons --></div>
                    </div>

                    <ng-container *ngFor="let partnerPayment of partnerPayments; let index = index"
                        [formArrayName]="constants.FORM_CONTROL_NAMES.partnerPayments">

                        <div [formGroupName]="index" jemsMultiColumnRow class="table-row full-payment-row">
                            <div class="column-partner-id justify-start">{{partnerPayment.partnerType === 'LEAD_PARTNER' ? 'LP' : 'PP' + partnerPayment.partnerNumber}}</div>
                            <div class="column-partner-name justify-left">{{partnerPayment.partnerAbbreviation}}</div>
                            <div class="column-amount-approved justify-end">{{partnerPayment.amountApproved | asMoney}}</div>
                            <div *ngIf="installmentsArray(index).length === 0">
                                <button mat-stroked-button (click)="addInstallmentButtonClicked(null, index);">
                                    + {{'payments.detail.table.header.add.detail.button' | translate}}
                                </button>
                            </div>
                        </div>
                        <div class="installment-table-container" *ngIf="installmentsArray(index).length">
                            <div id="installments-table" jemsNoWidthLimit
                                 [jemsTableConfig]="constants.columnsWidths">
                                <div class="table-row">
                                    <div class="column-installment-number justify-start">{{ 'payments.detail.table.header.installment.installment.number' | translate }}</div>
                                    <div class="column-installment-amount-paid justify-end" >{{ 'payments.detail.table.header.installment.amount.paid' | translate }}</div>
                                    <div class="column-installment-date justify-start">{{ 'payments.detail.table.header.installment.payment.date' | translate }}</div>
                                    <div jemsText class="column-installment-comment">{{ 'payments.detail.table.header.installment.comment' | translate }}</div>
                                    <div jemsText class="column-installment-authorise-checkbox justify-center">
                                        {{ 'payments.detail.table.header.installment.save.payment.info' | translate }}
                                        <jems-context-info
                                                infoPosition="right"
                                                infoText="{{ 'payments.detail.table.header.installment.user.saving.payment.contextinfo' | adaptTranslationKeyByCallType | async | translate }}">
                                        </jems-context-info>
                                    </div>
                                    <div jemsText class="column-installment-authorise-user justify-start">{{ 'payments.detail.table.header.installment.user.saving.payment.info' | translate }}</div>
                                    <div jemsText class="column-installment-authorise-date justify-start">{{ 'payments.detail.table.header.installment.save.payment.date' | translate }}</div>
                                    <div jemsText class="column-installment-confirm-checkbox justify-center">
                                        {{ 'payments.detail.table.header.installment.confirm.payment' | translate }}
                                        <jems-context-info
                                                infoPosition="right"
                                                infoText="{{ 'payments.detail.table.header.installment.confirm.payment.contextinfo' | adaptTranslationKeyByCallType | async | translate }}">
                                        </jems-context-info>
                                    </div>
                                    <div jemsText class="column-installment-confirm-user justify-start">{{ 'payments.detail.table.header.installment.user.confirming.payment' | translate }}</div>
                                    <div jemsText class="column-installment-confirm-date justify-start">{{ 'payments.detail.table.header.installment.payment.confirmation.date' | translate }}</div>
                                    <div jemsText class="column-installment-delete justify-center">{{ 'common.delete.entry' | translate }}</div>
                                </div>

                                <ng-container [formGroupName]="index">
                                    <ng-container
                                            *ngFor="let installment of installmentsArray(index).controls; let installmentIndex = index"
                                            [formArrayName]="constants.FORM_CONTROL_NAMES.installments">
                                        <div [formGroupName]="installmentIndex">
                                            <div>{{installmentIndex + 1}}</div>
                                            <div>
                                               <mat-form-field class="w-100">
                                                    <input matInput type="decimal" currencyMask
                                                           [options]="{allowNegative: true, max: constants.MAX_VALUE, align:'right'}"
                                                           [formControlName]="constants.FORM_CONTROL_NAMES.amountPaid">
                                               </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="w-100">
                                                    <input name="paymentDate"
                                                           class="placeholder-required"
                                                           placeholder="*"
                                                           [formControlName]="constants.FORM_CONTROL_NAMES.paymentDate" matInput required
                                                           [matDatepicker]="paymentDatePicker">
                                                    <mat-error>
                                                        <jems-form-field-errors [errors]="installment.get(constants.FORM_CONTROL_NAMES.paymentDate)?.errors"></jems-form-field-errors>
                                                    </mat-error>
                                                    <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #paymentDatePicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field class="w-100">
                                                    <input matInput #comment class="text-overflow-ellipsis"
                                                              [formControlName]="constants.FORM_CONTROL_NAMES.comment"
                                                              [matTooltip]="installment.get(constants.FORM_CONTROL_NAMES.comment).value"/>
                                                    <mat-hint [jemsHintFor]="comment">
                                                        <jems-text-hint [currentLength]="comment.value.length" [maxLength]="500"></jems-text-hint>
                                                    </mat-hint>
                                                    <mat-error>
                                                        <jems-form-field-errors [errors]="installment.get(constants.FORM_CONTROL_NAMES.comment)?.errors"></jems-form-field-errors>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="justify-center">
                                                <mat-checkbox
                                                              [disabled]="isPaymentConfirmed(index, installmentIndex)"
                                                              (change)="setSavePaymentDate($event.checked, index, installmentIndex)"
                                                              [formControlName]="constants.FORM_CONTROL_NAMES.savePaymentInfo">
                                                </mat-checkbox>
                                            </div>
                                            <div>{{installment.get(constants.FORM_CONTROL_NAMES.savePaymentInfoUser).value?.email}}</div>
                                            <div>{{getFormattedDate(installment.get(constants.FORM_CONTROL_NAMES.savePaymentDate).value)}}</div>
                                            <div  class="justify-center">
                                                <mat-checkbox
                                                              (change)="setConfirmPaymentDate($event.checked, index, installmentIndex)"
                                                              [disabled]="!isPaymentSaved(index, installmentIndex)"
                                                              [formControlName]="constants.FORM_CONTROL_NAMES.paymentConfirmed">
                                                </mat-checkbox>
                                            </div>
                                            <div>{{installment.get(constants.FORM_CONTROL_NAMES.paymentConfirmedUser).value?.email}}</div>
                                            <div>{{getFormattedDate(installment.get(constants.FORM_CONTROL_NAMES.paymentConfirmedDate).value)}}</div>
                                            <div>
                                                <button *ngIf="!isPaymentSaved(index, installmentIndex)"
                                                        (click)="removeItem(index, installmentIndex)"
                                                        class="delete-button"
                                                        color="accent" mat-icon-button
                                                        matTooltip="{{'common.delete.entry.tooltip' | translate}}"
                                                        type="button">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div *ngIf="installmentsArray(index).length>0 && installmentsArray(index).length<5" class="footer-with-button justify-start">
                                <button mat-stroked-button class="button-add-installment"
                                        (click)="addInstallmentButtonClicked(null, index);">
                                        + {{'payments.detail.table.header.installment.add.button' | translate}}
                                </button>
                            </div>
                        </div>

                    </ng-container>
                </div>
            </ng-container>
    </jems-form>

    <jems-payments-to-project-attachments *ngIf="data.paymentDetail.id > 0"
                                          [paymentId]="data.paymentDetail.id"></jems-payments-to-project-attachments>
</jems-main-page-template>
