

table {
  width: 100%;
}
.full-payment-row {
  border: 1px solid var(--light-blue-gray);
}
.table-row {
  padding: 0.5rem 0;
  max-width: 100%;
  height: 3rem;
  > :first-child {
    padding-left: 1rem
  }
  > * {
    padding: 0.5rem;
  }
}

// payment columns
.column-partner-id {
  min-width: 4rem !important;
  max-width: 4rem !important;
}
.column-partner-name {
  min-width: 9rem !important;
  max-width: 100% !important;
  width: auto;
}
.column-amount-approved {
  min-width: 9rem !important;
  max-width: 9rem !important;
}
.column-add-payment {
  min-width: 9rem !important;
  max-width: 100% !important;
  width: auto;
}


.colored-row {
  background: var(--table-highlight-color);
}
.normal-row {
  background: white !important;
}
.normal-row:hover {
  background: var(--table-hover-color) !important;
}

.icon-back {
  font-size: 2rem;
  margin-top: -.25rem;
}
.put-icon-to-header-line {
  display: inline-block;
  margin-top: 1.3rem !important;
}

.payments-per-partner-container {
  border: 1px solid var(--light-blue-gray);
  overflow: auto !important;
  width: 100%;

  .payments-per-partner-header {
    color: var(--table-header-text-color);
    font-size: var(--body-strong-font-size);
    font-weight: var(--body-strong-font-weight);
    background-color: var(--light-blue-gray);
    overflow: hidden;
  }
}
.header {
  width: 100%;
  background-color: var(--light-blue-gray);
}
.installment-table-container {
  padding: 0 1rem 0.5rem 12rem;
}
.footer-with-button {
  background: none !important;
  border: 1px solid var(--table-border-color);
  border-top: none;
  padding: 0.5rem 1rem;
}



jems-payments-to-project-attachments {
  width: 100%;
  display: inline-block;
  padding-top: 1rem;
}
