<jems-project-page-template *ngIf="data$ | async as data"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: data.currentVersionOfProjectTitle} "
                           subTitleKey="project.application.form.section.modification"
                           [isVersionedData]="false">

    <mat-card>
        <h3>{{'project.application.form.section.modification.open' | translate}}
            <jems-pending-button
                    *ngIf="data.canHandBackModification"
                    class="ml-2"
                    [pending]="pendingButtonProgress"
                    (clicked)="handBackToApplicant()">
                {{'project.detail.button.hand.back.applicant' | translate}}
            </jems-pending-button>
        </h3>

        <jems-alert [show]="successMessage"
                   [type]="Alert.SUCCESS">
            <p>{{'project.application.form.section.modification.open.button.success.message' | translate}}</p>
        </jems-alert>

        <div *ngIf="!isModificationOpenedOrSubmitted(data.currentVersionOfProjectStatus)">
            <p>{{'project.application.form.section.modification.open.empty' | translate}}</p>
            <jems-pending-button *ngIf="data.canOpenModification"
                    class="mr-2 mt-2"
                    [pending]="pendingButtonProgress"
                    (clicked)="startModification()"
                    icon="lock_open">
                    {{'project.application.form.section.modification.open.button' | translate}}
            </jems-pending-button>
        </div>

        <ng-container *ngIf="isModificationOpenedOrSubmitted(data.currentVersionOfProjectStatus)">
            <jems-alert
                [show]="isModificationOpened(data.currentVersionOfProjectStatus)"
                [type]="Alert.INFO"
                [closable]="false">
                <span>{{'project.application.form.section.modification.open.ongoing.alert' | translate}}</span>
            </jems-alert>
            <jems-alert
                [show]="(isModificationSubmitted(data.currentVersionOfProjectStatus) && !data.canHandBackModification)"
                [type]="Alert.INFO"
                [closable]="false">
                <span>{{'project.application.form.section.modification.open.decision.alert' | translate}}</span>
            </jems-alert>
            <ng-container *jemsHasPermission="[PermissionsEnum.ProjectStatusDecideModificationApproved, PermissionsEnum.ProjectStatusDecideModificationNotApproved]">
                <jems-modification-confirmation
                        [index]="data.modificationDecisions.length + 1"
                        [currentStatus]="data.currentVersionOfProjectStatus"
                        [corrections]="availableCorrections$ | async">
                </jems-modification-confirmation>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="data.modificationDecisions.length">
            <h3>{{'project.application.form.section.modification.past' | translate}}</h3>
            <jems-modification-confirmation
                    *ngFor="let decision of data.modificationDecisions; let i=index"
                    [index]="data.modificationDecisions.length - i"
                    [projectStatus]="decision.projectStatus"
                    [version]="data.versions[i]"
                    [currentStatus]="data.currentVersionOfProjectStatus"
                    [corrections]="decision.corrections">
            </jems-modification-confirmation>
        </ng-container>
    </mat-card>

    <ng-container *jemsHasPermission="PermissionsEnum.ProjectModificationFileAssessmentRetrieve">
        <mat-card class="mt-4">
            <h3>
                {{'file.tab.header' | translate}}
                <jems-context-info infoPosition="right" infoText="{{'file.tab.info' | translate}}"></jems-context-info>
            </h3>
            <jems-file-management [section]="fileManagementSection" jemsNoWidthLimit></jems-file-management>
        </mat-card>
    </ng-container>

</jems-project-page-template>
