<ng-container *ngIf="(data$ | async) as data">
    <jems-form [confirmSave]="realCostsConfirmationConfig(formToBudgetOptions(data.callFlatRateSettings), data.budgets)"
              (save)="updateBudgetOptions(formToBudgetOptions(data.callFlatRateSettings))">
        <form jemsFormLayout *ngIf="data.isAnyOptionAvailable else noOptionIsAvailable" [formGroup]="budgetOptionForm">
            <h3>{{'project.partner.budget.options.header' | translate}}</h3>
            <jems-alert *ngIf="pageStore.isProjectEditable$ | async"
                        [closable]="false" [show]="(pageStore.canChangeContractedFlatRates$ | async) === false"
                        [type]="Alert.INFO">
                <span>{{'project.partner.budget.options.restrict.contracted' | translate}}</span>
            </jems-alert>
            <mat-list>
                <mat-list-item *ngIf="data.callFlatRateSettings.staffCostFlatRateSetup">
                    <mat-checkbox
                            [formControl]="isStaffCostsFlatRateSelected"
                            (click)="$event.stopPropagation()"
                            (change)="toggleFlatRate(isStaffCostsFlatRateSelected,staffCostsFlatRate,data.callFlatRateSettings.staffCostFlatRateSetup,$event.checked)"
                            [checked]="isStaffCostsFlatRateSelected?.value">
                        <span>
                            {{'project.partner.budget.options.staff.costs.on.direct.cost.flat.rate.enabled' | translate}}<span
                                *ngIf="isStaffCostsFlatRateSelected?.value && !data.callFlatRateSettings.staffCostFlatRateSetup.adjustable">:
                                {{data.callFlatRateSettings.staffCostFlatRateSetup.rate}}
                                {{'project.partner.budget.options.staff.costs.on.direct.cost.flat.rate.percent' | translate}}
                                ({{'project.partner.budget.options.definition.fixed' | translate}})
                            </span>
                        </span>
                    </mat-checkbox>
                    <mat-form-field
                            jemsFormFieldWidth
                            extendError
                            [expectedNumberOfChars]="3"
                            *ngIf="isStaffCostsFlatRateSelected?.value && data.callFlatRateSettings.staffCostFlatRateSetup.adjustable">
                        <input matInput currencyMask type="integer"
                               [options]="{min: constants.MIN_FLAT_RATE_VALUE, max: data.callFlatRateSettings.staffCostFlatRateSetup.rate, align: 'right'}"
                               [formControl]="staffCostsFlatRate"
                               (paste)="Tools.checkDigitsOnPaste($event)"
                               (keypress)="Tools.checkDigitsOnInput($event)">
                        <mat-hint>{{constants.MIN_FLAT_RATE_VALUE}}–{{data.callFlatRateSettings.staffCostFlatRateSetup.rate}}%</mat-hint>
                        <span matSuffix class="pl-1">{{'project.partner.budget.options.staff.costs.on.direct.cost.flat.rate.percent' | translate}}</span>
                        <mat-error>
                            <jems-form-field-errors
                                    [errors]="staffCostsFlatRate?.errors"
                                    [messages]="constants.FORM_ERRORS.flatRateErrors"
                                    [args]="data.flatRateErrorsArgs.staff">
                            </jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item *ngIf="data.callFlatRateSettings.officeAndAdministrationOnStaffCostsFlatRateSetup">
                    <mat-checkbox
                            [formControl]="isOfficeOnStaffSelected"
                            (click)="$event.stopPropagation()"
                            (change)="toggleFlatRate(isOfficeOnStaffSelected, officeOnStaffCostsFlatRate,data.callFlatRateSettings.officeAndAdministrationOnStaffCostsFlatRateSetup,$event.checked)"
                            [checked]="isOfficeOnStaffSelected?.value">
                        <span>
                            {{'project.partner.budget.options.office.on.staff.cost.flat.rate.enabled' | translate}}<span
                                *ngIf="isOfficeOnStaffSelected?.value && !data.callFlatRateSettings.officeAndAdministrationOnStaffCostsFlatRateSetup.adjustable"
                                class="fixed-rate-info">:
                                {{data.callFlatRateSettings.officeAndAdministrationOnStaffCostsFlatRateSetup.rate}}
                                {{'project.partner.budget.options.office.on.staff.cost.flat.rate.percent' | translate}}
                                ({{'project.partner.budget.options.definition.fixed' | translate}})
                                <jems-context-info infoPosition="right"
                                      infoText="{{'project.partner.budget.options.office.on.staff.cost.flat.rate.info' | translate}}">
                                </jems-context-info>
                            </span>
                        </span>
                    </mat-checkbox>
                    <mat-form-field
                            jemsFormFieldWidth
                            extendError
                            [expectedNumberOfChars]="3"
                            *ngIf="isOfficeOnStaffSelected?.value && data.callFlatRateSettings.officeAndAdministrationOnStaffCostsFlatRateSetup.adjustable">
                        <input matInput
                               currencyMask type="integer"
                               [options]="{min: constants.MIN_FLAT_RATE_VALUE, max: data.callFlatRateSettings.officeAndAdministrationOnStaffCostsFlatRateSetup.rate, align: 'right'}"
                               [formControl]="officeOnStaffCostsFlatRate"
                               (paste)="Tools.checkDigitsOnPaste($event)"
                               (keypress)="Tools.checkDigitsOnInput($event)">
                        <mat-hint>{{constants.MIN_FLAT_RATE_VALUE}}–{{data.callFlatRateSettings.officeAndAdministrationOnStaffCostsFlatRateSetup.rate}}%</mat-hint>
                        <span matSuffix class="pl-1">{{'project.partner.budget.options.office.on.staff.cost.flat.rate.percent' | translate}}</span>
                        <jems-context-info matSuffix
                                          infoText="{{'project.partner.budget.options.office.on.staff.cost.flat.rate.info' | translate}}">
                        </jems-context-info>
                        <mat-error>
                            <jems-form-field-errors
                                    [errors]="officeOnStaffCostsFlatRate?.errors"
                                    [messages]="constants.FORM_ERRORS.flatRateErrors"
                                    [args]="data.flatRateErrorsArgs.officeOnStaff">
                            </jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item *ngIf="data.callFlatRateSettings.officeAndAdministrationOnDirectCostsFlatRateSetup">
                    <mat-checkbox
                            [formControl]="isOfficeOnDirectCostsSelected"
                            (click)="$event.stopPropagation()"
                            (change)="toggleFlatRate(isOfficeOnDirectCostsSelected, officeOnDirectCostsFlatRate,data.callFlatRateSettings.officeAndAdministrationOnDirectCostsFlatRateSetup,$event.checked)"
                            [checked]="isOfficeOnDirectCostsSelected?.value">
                        <span>
                            {{'project.partner.budget.options.office.on.direct.cost.flat.rate.enabled' | translate}}<span
                                *ngIf="isOfficeOnDirectCostsSelected?.value && !data.callFlatRateSettings.officeAndAdministrationOnDirectCostsFlatRateSetup.adjustable">:
                                {{data.callFlatRateSettings.officeAndAdministrationOnDirectCostsFlatRateSetup.rate}}
                                {{'project.partner.budget.options.office.on.direct.cost.flat.rate.percent' | translate}}
                                ({{'project.partner.budget.options.definition.fixed' | translate}})
                                <jems-context-info infoPosition="right"
                                      infoText="{{'project.partner.budget.options.office.on.direct.cost.flat.rate.info' | translate}}">
                                </jems-context-info>
                            </span>
                        </span>
                    </mat-checkbox>
                    <mat-form-field
                            jemsFormFieldWidth
                            extendError
                            [expectedNumberOfChars]="3"
                            *ngIf="isOfficeOnDirectCostsSelected?.value && data.callFlatRateSettings.officeAndAdministrationOnDirectCostsFlatRateSetup.adjustable">
                        <input matInput currencyMask type="integer"
                               [options]="{min: constants.MIN_FLAT_RATE_VALUE, max: data.callFlatRateSettings.officeAndAdministrationOnDirectCostsFlatRateSetup.rate, align: 'right'}"
                               [formControl]="officeOnDirectCostsFlatRate"
                               (paste)="Tools.checkDigitsOnPaste($event)"
                               (keypress)="Tools.checkDigitsOnInput($event)">
                        <mat-hint>{{constants.MIN_FLAT_RATE_VALUE}}–{{data.callFlatRateSettings.officeAndAdministrationOnDirectCostsFlatRateSetup.rate}}%</mat-hint>
                        <span matSuffix class="pl-1">{{'project.partner.budget.options.office.on.direct.cost.flat.rate.percent' | translate}}</span>
                        <jems-context-info matSuffix
                                          infoText="{{'project.partner.budget.options.office.on.direct.cost.flat.rate.info' | translate}}">
                        </jems-context-info>
                        <mat-error>
                            <jems-form-field-errors
                                    [errors]="officeOnDirectCostsFlatRate?.errors"
                                    [messages]="constants.FORM_ERRORS.flatRateErrors"
                                    [args]="data.flatRateErrorsArgs.officeOnDirect">
                            </jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item *ngIf="data.callFlatRateSettings.travelAndAccommodationOnStaffCostsFlatRateSetup">
                    <mat-checkbox
                            [formControl]="isTravelOnStaffCostsSelected"
                            (click)="$event.stopPropagation()"
                            (change)="toggleFlatRate(isTravelOnStaffCostsSelected,travelOnStaffCostsFlatRate,data.callFlatRateSettings.travelAndAccommodationOnStaffCostsFlatRateSetup,$event.checked)"
                            [checked]="isTravelOnStaffCostsSelected?.value">
                        <span>
                            {{'project.partner.budget.options.travel.based.on.staff.cost.flat.rate.enabled' | translate}}<span
                                *ngIf="isTravelOnStaffCostsSelected?.value && !data.callFlatRateSettings.travelAndAccommodationOnStaffCostsFlatRateSetup.adjustable">:
                                {{data.callFlatRateSettings.travelAndAccommodationOnStaffCostsFlatRateSetup.rate}}
                                {{'project.partner.budget.options.travel.based.on.staff.cost.flat.rate.percent' | translate}}
                                ({{'project.partner.budget.options.definition.fixed' | translate}})
                            </span>
                        </span>
                    </mat-checkbox>
                    <mat-form-field
                            jemsFormFieldWidth
                            extendError
                            [expectedNumberOfChars]="3"
                            *ngIf="isTravelOnStaffCostsSelected?.value && data.callFlatRateSettings.travelAndAccommodationOnStaffCostsFlatRateSetup.adjustable">
                        <input matInput
                               currencyMask type="integer"
                               [options]="{min: constants.MIN_FLAT_RATE_VALUE, max: data.callFlatRateSettings.travelAndAccommodationOnStaffCostsFlatRateSetup.rate, align: 'right'}"
                               [formControl]="travelOnStaffCostsFlatRate"
                               (paste)="Tools.checkDigitsOnPaste($event)"
                               (keypress)="Tools.checkDigitsOnInput($event)">
                        <mat-hint>{{constants.MIN_FLAT_RATE_VALUE}}–{{data.callFlatRateSettings.travelAndAccommodationOnStaffCostsFlatRateSetup.rate}}%</mat-hint>
                        <span matSuffix
                              class="pl-1">{{'project.partner.budget.options.travel.based.on.staff.cost.flat.rate.percent' | translate}}
                        </span>
                        <mat-error>
                            <jems-form-field-errors
                                    [errors]="travelOnStaffCostsFlatRate?.errors"
                                    [messages]="constants.FORM_ERRORS.flatRateErrors"
                                    [args]="data.flatRateErrorsArgs.travel">
                            </jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-divider *ngIf="data.isDividerVisible" [inset]="true" class="my-3"></mat-divider>
                <mat-list-item *ngIf="data.callFlatRateSettings.otherCostsOnStaffCostsFlatRateSetup">
                    <mat-checkbox
                            [formControl]="isOtherCostsOnStaffCostsSelected"
                            (click)="$event.stopPropagation()"
                            (change)="toggleFlatRate(isOtherCostsOnStaffCostsSelected,otherCostsOnStaffCostsFlatRate,data.callFlatRateSettings.otherCostsOnStaffCostsFlatRateSetup,$event.checked)"
                            [checked]="isOtherCostsOnStaffCostsSelected?.value">
                        <span>
                            {{'project.partner.budget.options.other.costs.on.staff.costs.flat.rate.enabled' | translate}}<span
                                *ngIf="isOtherCostsOnStaffCostsSelected?.value && !data.callFlatRateSettings.otherCostsOnStaffCostsFlatRateSetup.adjustable">:
                                {{data.callFlatRateSettings.otherCostsOnStaffCostsFlatRateSetup.rate}}
                                {{'project.partner.budget.options.other.costs.on.staff.costs.flat.rate.percent' | translate}}
                                ({{'project.partner.budget.options.definition.fixed' | translate}})
                                <jems-context-info infoPosition="right"
                                          infoText="{{'project.partner.budget.options.other.costs.on.staff.costs.flat.rate.info' | translate}}">
                                </jems-context-info>
                            </span>
                        </span>
                    </mat-checkbox>
                    <mat-form-field
                            jemsFormFieldWidth
                            extendError
                            [expectedNumberOfChars]="3"
                            *ngIf="isOtherCostsOnStaffCostsSelected?.value && data.callFlatRateSettings.otherCostsOnStaffCostsFlatRateSetup.adjustable">
                        <input matInput
                               currencyMask type="integer"
                               [options]="{min: constants.MIN_FLAT_RATE_VALUE, max: data.callFlatRateSettings.otherCostsOnStaffCostsFlatRateSetup.rate, align: 'right'}"
                               [formControl]="otherCostsOnStaffCostsFlatRate"
                               (paste)="Tools.checkDigitsOnPaste($event)"
                               (keypress)="Tools.checkDigitsOnInput($event)">
                        <mat-hint>{{constants.MIN_FLAT_RATE_VALUE}}–{{data.callFlatRateSettings.otherCostsOnStaffCostsFlatRateSetup.rate}}%</mat-hint>
                        <span matSuffix class="pl-1">{{'project.partner.budget.options.other.costs.on.staff.costs.flat.rate.percent' | translate}}</span>
                        <jems-context-info matSuffix
                                          infoText="{{'project.partner.budget.options.other.costs.on.staff.costs.flat.rate.info' | translate}}">
                        </jems-context-info>
                        <mat-error>
                            <jems-form-field-errors
                                    [errors]="otherCostsOnStaffCostsFlatRate?.errors"
                                    [messages]="constants.FORM_ERRORS.flatRateErrors"
                                    [args]="data.flatRateErrorsArgs.other">
                            </jems-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </form>
    </jems-form>
</ng-container>
<ng-template #noOptionIsAvailable>
    <div>{{'project.partner.budget.options.empty' | translate}}</div>
</ng-template>
