<jems-project-page-template
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
        subTitleKey="project.application.form.section.part.c">
    <jems-project-application-form-project-partnership-detail
            [success$]="saveSuccess$"
            [project]="partnership$ | async"
            [error$]="saveError$"
            (updateData)="updatePartnership$.next($event)">
    </jems-project-application-form-project-partnership-detail>
</jems-project-page-template>
