<app-main-page-template
        [titleText]="'project.application.form.acronym' | translate : {acronym: projectStore.getAcronym() | async} "
        subTitleKey="project.application.form.section.part.c">
    <app-project-application-form-project-partnership-detail
            [success$]="saveSuccess$"
            [project]="partnership$ | async"
            [error$]="saveError$"
            (updateData)="updatePartnership$.next($event)">
    </app-project-application-form-project-partnership-detail>
</app-main-page-template>
