.field {
  width: 30%;
  padding-top: 1rem;
  margin-right: 70%;
}

.header {
  display: inline-block;
}

.header-button {
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 0.25rem;
}

.button {
  margin-right: 3rem;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline {
  height: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.mat-input-element {
  color: #343a40;
}
