<ng-container *ngIf="filePage.content?.length">
    <app-table
            [configuration]="tableConfiguration"
            [rows]="filePage.content"
            [totalElements]="filePage?.totalElements"
            [pageIndex]="pageIndex"
            (newPageSize)="newPageSize.emit($event)"
            (newPageIndex)="newPageIndex.emit($event)"
            (sortRows)="newSort.emit($event)">
    </app-table>
</ng-container>

<ng-template #descriptionCell let-file>
    <app-description-cell
            [formState]="descriptionState.get(file.id) || FormState.VIEW"
            [file]="file"
            (switchedFormState)="descriptionState.set(file.id, $event)"
            (saveFile)="saveDescription.emit($event)">
    </app-description-cell>
</ng-template>

<ng-template #actionsCell let-file>
    <app-actions-cell
            [file]="file"
            [project]="project"
            [fundingDecisionDefined]="fundingDecisionDefined"
            [isAllowedToChangeApplicationFile]="canChangeApplicationFile"
            [isAllowedToRetrieveApplicationFile]="canRetrieveApplicationFile"
            [isAllowedToChangeAssessmentFile]="canChangeAssessmentFile"
            (edit)="descriptionState.set(file.id, FormState.EDIT)"
            (download)="downloadFile.emit($event)"
            (delete)="delete(file)">
    </app-actions-cell>
</ng-template>
