.project-detail-container {
  margin-top: 5%;
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;

  .project-detail-row {
    border: solid 1px darkgrey;
    margin-left: 0;
    margin-bottom: 3%;
  }

  .project-detail-table-header {
    margin-left: 0;
    h6 {
      margin-right: 2%;
    }
  }

  .column {
    display: inline-block;
    text-align: center;
  }
}
