.field-full {
  width: 97%;
  padding-top: 1rem;
  margin-right: 1rem;

  ul {
    list-style-type: none;
  }

  .checkbox-field {
    width: 10rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
