<app-breadcrumb></app-breadcrumb>
<app-project-application-form-work-package-detail
        *ngIf="workPackageDetails$ | async as workPackage"
        [workPackage]="workPackage"
        [editable]="projectStore.projectEditable$ | async"
        [projectId]="projectId"
        [success$]="saveSuccess$"
        [error$]="saveError$"
        (updateData)="updateWorkPackageData$.next($event)"
        (createData)="createWorkPackageData$.next($event)"
        (cancel)="redirectToWorkPackageOverview()">
</app-project-application-form-work-package-detail>
