<jems-main-page-template [needsCard]="true"
                        titleKey="topbar.main.user.role.management"
                        subTitleKey="userRole.breadcrumb.list">
    <button jemsText *jemsHasPermission="PermissionsEnum.RoleCreate"
            mat-raised-button
            class="mb-3"
            color="primary"
            routerLink="/app/system/role/create">
        <mat-icon>add</mat-icon>{{'userRole.breadcrumb.create' | translate}}
    </button>

    <jems-alert *ngIf="success"
               [show]="true"
               [type]="Alert.SUCCESS">
        <p *ngIf="success.i18nKey">{{success.i18nKey | translate : success.i18nArguments}}</p>
    </jems-alert>

    <div *ngIf="roleStore.roleSummaryList$ | async as page">
        <jems-table
                [configuration]="tableConfiguration"
                [rows]="page.content"
                [totalElements]="page.totalElements"
                [pageIndex]="roleStore.newPageIndex$ | async"
                (newPageSize)="roleStore.newPageSize$.next($event)"
                (newPageIndex)="roleStore.newPageIndex$.next($event)"
                (sortRows)="roleStore.newSort$.next($event)">
        </jems-table>
    </div>

</jems-main-page-template>
