<div>
    <h4>{{'file.upload.header' | translate: {number: fileNumber} }}</h4>
    <input type="file" #selectFile onclick="this.value=null;"
           (change)="addNewFilesForUpload($event)">
    <button *ngIf="uploadPossible" mat-stroked-button
            (click)="selectFile.click()">+ {{'file.upload.add.new' | translate}}
    </button>
</div>

<app-alert
        [show]="!submitted && (showSuccessMessage$ | async)"
        [type]="Alert.SUCCESS">
    <p>{{'file.upload.message.successful' | translate: {name: uploadedFileName} }}</p>
</app-alert>
<app-alert
        [show]="(error$ | async) !== null"
        [type]="Alert.ERROR">
    <p *ngIf="(error$ | async)?.i18nMessage.i18nKey; else unknown">{{'file.upload.message.duplicate' | translate: {name: uploadedFileName} }}</p>
</app-alert>
<ng-template #unknown>
    <p>{{'file.upload.message.failed' | translate: {name: uploadedFileName} }}</p>
</ng-template>
