<div *ngIf="details$ | async as details">
    <app-breadcrumb></app-breadcrumb>
    <app-project-application-form
            [project]="details.projectDetails.project"
            [editable]="details.projectDetails.editable"
            [priorities]="details.callObjectives.priorities"
            [objectivesWithPolicies]="details.callObjectives.objectivesWithPolicies"
            [success$]="saveSuccess$"
            [error$]="saveError$"
            (updateData)="updateProjectData$.next($event)">
    </app-project-application-form>
    <div class="section">
        <app-project-application-form-partner-section
                [projectId]="projectId"
                [editable]="details.projectDetails.editable">
        </app-project-application-form-partner-section>
    </div>
    <div class="section">
        <app-project-application-form-overall-objective-section
                [projectId]="projectId"
                [project]="details.projectDetails.project"
                [editable]="details.projectDetails.editable">
        </app-project-application-form-overall-objective-section>
    </div>
    <div class="section">
        <app-project-application-form-project-relevance-and-context-section
                [projectId]="projectId"
                [strategies]="details.callStrategies.strategies"
                [editable]="details.projectDetails.editable">
        </app-project-application-form-project-relevance-and-context-section>
    </div>
    <div class="section">
        <app-project-application-form-project-partnership-section
                [projectId]="projectId"
                [editable]="details.projectDetails.editable">
        </app-project-application-form-project-partnership-section>
    </div>
    <div class="section">
        <app-project-application-form-work-package-section
                [projectId]="projectId"
                [editable]="details.projectDetails.editable">
        </app-project-application-form-work-package-section>
    </div>
    <div class="section">
        <app-project-application-form-management-section
                [projectId]="projectId"
                [editable]="details.projectDetails.editable">
        </app-project-application-form-management-section>
    </div>
    <div class="section">
        <app-project-application-form-future-plans-section
                [projectId]="projectId"
                [editable]="details.projectDetails.editable">
        </app-project-application-form-future-plans-section>
    </div>
</div>
