.icon-button {
  background-color: transparent;
  border: none; /* Remove borders */
  color: mediumblue;
  padding: 5px 5px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.description-component {
  min-width: 12rem;
  max-width: 30rem;
}
