<jems-project-page-template [needsCard]="true"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
                           subTitleKey="project.application.form.section.part.d">
    <h3>{{'project.application.form.budgetPerPartner.title' | translate}}</h3>

    <div jemsNoWidthLimit
         [jemsTableConfig]="tableConfig"
         *ngIf="budgets$ | async as budgets">
        <div>
            <span>{{ 'project.breadcrumb.partnerName' | translate}}</span>
            <span>{{'project.partner.main-address.country' | translate}}</span>
            <ng-container *ngFor="let fund of chosenProjectFunds$ | async">
                 <span class="justify-end">
                    {{ fund.abbreviation | translateBySystemLanguage | async }}
                </span>
                <span class="justify-end">
                    {{ (fund.abbreviation | translateBySystemLanguage | async) + ' ' + ('project.partner.percentage'| translate) }}
                </span>
            </ng-container>
            <span class="justify-end">{{ 'project.partner.public.contribution' | translate }}</span>
            <span class="justify-end">{{ 'project.partner.auto.public.contribution' | translate }}</span>
            <span class="justify-end">{{ 'project.partner.private.contribution' | translate }}</span>
            <span class="justify-end">{{ 'project.partner.total.contribution' | translate }}</span>
            <span class="justify-end">{{ 'project.partner.total.eligible.budget' | translate }}</span>
            <span class="justify-end">{{ 'project.partner.percent.total.budget' | translate }}
                <jems-context-info    infoText="{{ 'project.partner.percent.total.budget.contextinfo' | translate }}"
                                     infoPosition="right">
                </jems-context-info>
            </span>
        </div>

        <ng-container *ngFor="let budget of budgetColumns; let index = index;">
            <div *ngIf="index < budgetColumns.length - 1">
                <span>{{ 'common.label.project.partner.role.shortcut.' + budget.partnerRole | translate : {partner: budget.partnerSortNumber} }}</span>
                <span>{{ budget.partnerCountry }}</span>
                <ng-container *ngFor="let fund of chosenProjectFunds$ | async">
                    <div class="justify-end" [ngClass]="getBudgetPercentageByFund(fund, budget.budgets) > 0 ? 'percentage-of-total-container' : ''">
                        <div>{{ getBudgetAmountForFund(fund, budget.budgets) | asMoney }}</div>
                        <div *ngIf="getBudgetPercentageByFund(fund, budget.budgets) > 0" class="font-color-grey mat-small">{{getBudgetPercentageByFund(fund, budget.budgets)}} % of total</div>
                    </div>
                    <span class="justify-end"> {{getPercentageAmountForFund(fund, budget.budgets) | asMoney}}
                        <div matSuffix class="pl-1">%</div>
                    </span>
                </ng-container>
                <span class="justify-end">{{ budget.publicContribution | asMoney }}</span>
                <span class="justify-end">{{ budget.autoPublicContribution | asMoney }}</span>
                <span class="justify-end">{{ budget.privateContribution | asMoney }}</span>
                <span class="justify-end">{{ budget.totalContribution | asMoney }}</span>
                <span class="justify-end">{{ budget.totalEligibleBudget | asMoney }}</span>
                <span class="justify-end">{{budget.percentOfTotalBudget | asMoney}}
                    <div matSuffix class="pl-1">%</div>
                </span>
            </div>
        </ng-container>

        <div class="footer" *ngIf="budgetColumns[budgetColumns.length - 1] as total">
            <span> {{ 'project.partner.budget.table.total' | translate }}
                <jems-context-info
                        infoText="{{ 'project.partner.percent.total.partner.contextinfo' | translate }}"
                        infoPosition="right">
                </jems-context-info>
            </span>
            <span><!--blank cell--></span>
            <ng-container *ngFor="let fund of chosenProjectFunds$ | async">
                <span class="justify-end">{{ getBudgetAmountForFund(fund, total.budgets) | asMoney }}</span>
                <span class="justify-end">{{getTotalBudgetPercentageByFund(fund, total.budgets) | asMoney}} %</span>
            </ng-container>
            <span class="justify-end">{{ totalPublicContribution | asMoney }}</span>
            <span class="justify-end">{{ totalAutoPublicContribution | asMoney }}</span>
            <span class="justify-end">{{ totalPrivateContribution | asMoney }}</span>
            <span class="justify-end">{{ totalPartnerContribution | asMoney }}</span>
            <span class="justify-end">{{ totalEligibleBudget | asMoney }}</span>
            <span class="justify-end"> {{totalPercentage | asMoney}}
                <div matSuffix class="pl-1">%</div>
            </span>
        </div>
    </div>
</jems-project-page-template>
