#budget-table-per-partner {

  mat-header-cell,
  mat-cell,
  mat-footer-cell {

    &.justify-end {
      justify-content: flex-end;
      text-align: right;
    }
  }

  .bold{
    font-weight: var(--body-strong-font-weight);  }
}
