$width-diff: 20rem;

#project-report-files {
  display: flex;

  #project-report-files-tree {
    width: auto;
    border: 1px solid var(--table-border-color);
  }

  #project-report-files-table {
    width: calc(100% - #{$width-diff});
    flex: auto;
  }
}

.overflow-auto {
  overflow: visible;
}
