<jems-main-page-template [needsCard]="true"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.legal.status.list.title">
    <jems-programme-legal-status-list
            class="margin-before"
            *ngIf="legalStatuses$ | async as statuses"
            [success$]="success$"
            [error$]="error$"
            [legalStatuses]="statuses"
            (saveLegalStatuses)="saveStatuses$.next($event)">
    </jems-programme-legal-status-list>
</jems-main-page-template>
