<jems-project-page-template *ngIf="(data$ | async) as data"
                           [needsCard]="true"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: data.projectTitle} "
                           subTitleKey="project.application.form.section.part.d">

    <jems-alert [show]="!data.isAFPeriodsEnabled"
               [type]="Alert.WARNING">
        <span>{{ 'project.application.form.work.package.output.delivery.period.required' | translate}}</span>
    </jems-alert>

    <div class="mb-5" *ngIf="data.isAFPeriodsEnabled">
        <jems-budget-page-partner-per-period [tableConfig]="data.tableConfig"
                                            [projectPeriodNumbers]="data.projectPeriodNumbers">
        </jems-budget-page-partner-per-period>
    </div>

    <jems-budget-page-funds-per-period *ngIf="data.isAFPeriodsEnabled"
                                       [tableConfig]="data.tableConfig"
                                      [projectPeriodNumbers]="data.projectPeriodNumbers">
    </jems-budget-page-funds-per-period>


</jems-project-page-template>
