<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form appFormLayout [formGroup]="projectPartnershipForm">
        <h3>{{'project.application.form.section.part.c.subsection.three' | translate}}</h3>
        <p>{{'project.application.form.project.partnership.field.row' | translate}}</p>
        <app-multi-language>
            <app-multi-language-form-field
                    type="textarea"
                    formControlName="partnership"
                    maxLength="5000"
                    minRows="3">
            </app-multi-language-form-field>
        </app-multi-language>
    </form>
</app-form>
