@use '../remove-custom-table-overrides';

.border-cell-right {
  border-right: .0625rem solid var(--table-border-color);
}

.mat-column-type {
  min-width: 15rem;
}

.mat-column-totalEligibleBudget,
.mat-column-previouslyReported,
.mat-column-currentReport,
.mat-column-totalReportedSoFar,
.mat-column-totalReportedSoFarPercentage,
.mat-column-remainingBudget {
  padding-left: .5rem;
}

.mat-column-totalEligibleBudget,
.mat-column-previouslyReported,
.mat-column-currentReport,
.mat-column-totalReportedSoFar,
.mat-column-remainingBudget {
  min-width: 8rem;
}

.mat-column-totalReportedSoFarPercentage {
  min-width: 6rem;
}

.respect-line-break {
  white-space: pre-wrap;
}
