<jems-form *ngIf="data$ | async as data"
          (discard)="resetForm(data.programmeUnitCosts, data.callUnitCosts, data.callIsEditable, data.callIsPublished)"
          (save)="onSubmit()">
    <h3>{{'unit.cost.table.title' | translate}}</h3>
    <jems-multi-language-container>
        <div *ngIf="unitCostDataSource.data.length"
             [jemsTableConfig]="[{maxInRem:3},{maxInRem:20},{maxInRem:10},{},{maxInRem:8}]">
            <div>
                <span>{{'unit.cost.table.column.name.activate.option' | translate}}</span>
                <span>{{'unit.cost.table.column.name.name' | translate}}</span>
                <span>{{'unit.cost.table.column.name.unit.category' | translate}}</span>
                <span>{{'unit.cost.table.column.name.unit.type' | translate}}</span>
                <span class="justify-end">{{'unit.cost.table.column.name.cost.unit' | translate}}</span>
            </div>
            <span *ngFor="let element of unitCostDataSource.data">
                <mat-checkbox
                        [disabled]="disabled(element, data)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleUnitCost(element)"
                        [checked]="selection.isSelected(element)">
                </mat-checkbox>
                <span>{{ element?.name | translateByInputLanguage | async }}</span>
                <span>{{ element?.categories?.length > 1 ? ('unit.cost.cost.category.Multiple' | translate) : ('unit.cost.cost.category.' + element?.categories[0] | translate) }}</span>
                <span>{{ element?.type | translateByInputLanguage | async }}</span>
                <span class="justify-end">{{ element?.costPerUnit | asMoney}}</span>
            </span>
        </div>
    </jems-multi-language-container>
</jems-form>
