<jems-form *ngIf="data$ | async as data"
          (discard)="resetForm(data.programmeLumpSums, data.callLumpSums, data.callIsEditable, data.callIsPublished)"
          (save)="onSubmit()">
    <h3>{{'lump.sums.table.title' | translate}}</h3>
    <jems-multi-language-container>
        <div *ngIf="lumpSumDataSource.data.length"
             [jemsTableConfig]="[{maxInRem:3},{},{maxInRem:8}]">
            <div>
                <span>{{'lump.sum.table.column.name.activate.option' | translate}}</span>
                <span>{{'lump.sum.table.column.name.name' | translate}}</span>
                <span class="justify-end">{{'lump.sum.table.column.name.cost' | translate}}</span>
            </div>
            <div *ngFor="let element of lumpSumDataSource.data">
                <mat-checkbox
                        [disabled]="disabled(element, data)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleLumpSum(element)"
                        [checked]="selection.isSelected(element)">
                </mat-checkbox>
                <span>{{ element?.name | translateByInputLanguage | async }}</span>
                <span class="justify-end">{{ element?.cost | asMoney}}</span>
            </div>
        </div>
    </jems-multi-language-container>
</jems-form>
