<app-multi-language [inputs]="contributionInputs">
    <div [formGroup]="formGroup">
        <div appTableConfig [appearance]="'table'"
             [widthConfig]="['','', 'max-2-rem']">
            <div>
                <span class="mat-body-strong">{{ 'project.application.form.relevance.strategy' | translate }}</span>
                <span class="mat-body-strong">{{ 'project.application.form.relevance.contribution' | translate }}</span>
                <div class="mat-body-strong"></div>
            </div>
            <div *ngFor="let strategy of strategiesForm.controls;let i=index">
                <ng-container formArrayName="strategies">
                    <ng-container [formGroupName]="i">

                        <mat-form-field>
                            <mat-label>{{'project.application.form.relevance.strategy' | translate}}</mat-label>
                            <mat-select [disabled]="!editable"
                                        panelClass="material-select-panel" formControlName="strategy" required>
                                <mat-option *ngFor="let enum of strategyEnum" [value]="enum">
                                    {{'programme.strategy.' + enum | translate}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <app-form-field-errors [errors]="strategy.get('strategy')?.errors"
                                                       [messages]="strategyErrors"></app-form-field-errors>
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <textarea *ngIf="!editable" matInput formControlName="contribution"
                                      [cdkTextareaAutosize]
                                      [cdkAutosizeMinRows]="1"
                                      [cdkAutosizeMaxRows]="50"
                                      [readonly]="!editable">
                            </textarea>
                            <app-expandable-textarea *ngIf="editable" class="text-area"
                                                     [control]="strategy.get('contribution')"
                                                     [errors]="strategy.get('contribution')?.errors"
                                                     [messages]="contributionErrors"
                                                     [characterLimit]="2000"
                                                     [minRows]="1"
                                                     [label]="'project.application.form.relevance.contribution'"
                                                     [disabled]="!editable">
                            </app-expandable-textarea>
                        </div>

                        <div>
                            <button type="button" (click)="deleteEntry(i)" mat-icon-button color="accent">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    <button *ngIf="editable" mat-icon-button type="button" (click)="addNewStrategy()">
        <mat-icon>add</mat-icon>
    </button>
</app-multi-language>
