<div jemsFormLayout [formGroup]="formGroup">
    <jems-multi-language-container jemsNoWidthLimit *ngIf="strategiesForm.controls.length>0">
        <div [jemsTableConfig]="[{},{}, {maxInRem:2}]">
            <div>
                <span class="mat-body-strong">{{ 'project.application.form.relevance.strategy' | translate }}</span>
                <span class="mat-body-strong">{{ 'project.application.form.relevance.contribution' | translate }}</span>
                <div class="mat-body-strong"></div>
            </div>
            <div *ngFor="let strategy of strategiesForm.controls;let i=index">
                <ng-container formArrayName="strategies">
                    <ng-container [formGroupName]="i">

                        <mat-form-field>
                            <mat-label>{{'project.application.form.relevance.strategy' | translate}}</mat-label>
                            <mat-select [disabled]="!editable" formControlName="strategy" required>
                                <mat-option *ngFor="let enum of strategyEnum" [value]="enum">
                                    {{'programme.strategy.' + enum | translate}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <jems-form-field-errors [errors]="strategy.get('strategy')?.errors"
                                                       [messages]="strategyErrors"></jems-form-field-errors>
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <jems-multi-language-form-field
                                    type="textarea"
                                    formControlName="contribution"
                                    maxLength="2000"
                                    minRows="1"
                                    label="project.application.form.relevance.contribution">
                            </jems-multi-language-form-field>
                        </div>

                        <div>
                            <button *ngIf="editable" type="button" (click)="deleteEntry(i)" mat-icon-button color="accent">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </jems-multi-language-container>
    <button jemsText *ngIf="editable && strategiesForm.controls?.length < 20" mat-stroked-button type="button"
            (click)="addNewStrategy()">
        <mat-icon>add</mat-icon>
    </button>
</div>


