<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form [formGroup]="coFinancingForm" class="container">
        <h5><span>{{ 'partner.tab.coFinancing' | translate }}</span></h5>

        <p class="intro-text-small mb-3">{{ 'project.partner.coFinancing.intro' | translate }}</p>

        <div appTableConfig [appearance]="'table'"
             [widthConfig]="[{},{maxInRem:10},{maxInRem:5}]">
            <div>
                <span>{{ 'project.partner.coFinancing.source' | translate }}</span>
                <span>{{ 'project.partner.coFinancing.amount' | translate }}</span>
                <span class="text-right">{{ 'project.partner.coFinancing.percentage' | translate }}</span>
            </div>

            <div>
                <mat-form-field>
                    <mat-select [disabled]="!editable"
                                name="fundId"
                                panelClass="material-select-panel" formControlName="fundId">
                        <mat-option *ngFor="let fund of callFunds" [value]="fund.id">
                            {{fund.abbreviation || 'programme.fund.abbreviation.' + fund.id | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="coFinancingForm?.controls?.fundId?.errors"
                                [messages]="fundIdErrors">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <div>{{ this.fundAmount | asMoney }}</div>
                <mat-form-field class="text-right">
                    <input currencyMask type="integer" [options]="{min: 0, max: 100, align: 'right'}"
                           name="percentage" formControlName="percentage" matInput>
                    <div matSuffix class="pl-1">%</div>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="coFinancingForm?.controls?.percentage?.errors"
                                [messages]="percentageErrors">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <div>{{ 'project.partner.coFinancing.partnerContribution' | translate }}</div>
                <div>{{ this.myAmount | asMoney }}</div>
                <div class="text-right">{{ this.myPercentage }} %</div>
            </div>
            <div class="mat-body-strong">
                <div>{{ 'project.partner.coFinancing.total' | translate }}</div>
                <div>{{ this.totalAmount | asMoney }}</div>
                <div class="text-right">100 %</div>
            </div>
        </div>


        <h5 class="mt-5"><span>{{ 'project.partner.coFinancing.contribution.title' | translate }}</span></h5>

        <app-alert [show]="(showTotalContributionWarning$ | async)"
                   [type]="Alert.WARNING">
            <p>{{'project.partner.coFinancing.contribution.total.warning' | translate}}</p>
        </app-alert>
        <div appTableConfig [appearance]="'table'"
             [widthConfig]="[{minInRem:5},{maxInRem:10},{maxInRem:10},{maxInRem:10}, {maxInRem:2}]">
            <div>
                <span class="mat-body-strong">{{ 'project.partner.coFinancing.contribution.source.name' | translate }}</span>
                <span class="mat-body-strong">{{ 'project.partner.coFinancing.contribution.legal.status' | translate }}</span>
                <span class="mat-body-strong">{{ 'project.partner.coFinancing.contribution.amount' | translate }}</span>
                <span class="mat-body-strong">{{ 'project.partner.coFinancing.contribution.total.partner.contribution.percentage' | translate }}
                    <app-context-info
                            infoText="{{ 'project.partner.coFinancing.contribution.total.partner.contribution.percentage.contextinfo' | translate }}"
                            infoPosition="right">
                    </app-context-info>
                </span>
                <div class="mat-body-strong"></div>
            </div>

            <div *ngFor="let partnerContribution of partnerContributions.controls;let i=index">
                <ng-container formArrayName="partnerContributions">
                    <ng-container [formGroupName]="i">
                        <div *ngIf="partnerContribution.value.isPartner">{{partnerContribution.value.name}}</div>


                        <mat-form-field *ngIf="!partnerContribution.get('isPartner').value">
                            <input formControlName="name" matInput required>
                            <mat-error>
                                <app-form-field-errors [errors]="partnerContribution.get('name')?.errors"
                                                       [messages]="partnerContributionNameErrors"></app-form-field-errors>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select panelClass="material-select-panel" formControlName="status" required>
                                <mat-option
                                        [value]="partnerContributionStatus.Public">{{partnerContributionStatus.Public}}</mat-option>
                                <mat-option
                                        [value]="partnerContributionStatus.Private">{{partnerContributionStatus.Private}}</mat-option>
                                <mat-option
                                        *ngIf="!partnerContribution.value.isPartner"
                                        [value]="partnerContributionStatus.AutomaticPublic">{{partnerContributionStatus.AutomaticPublic}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <app-form-field-errors [errors]="partnerContribution.get('status')?.errors"
                                                       [messages]="partnerContributionStatusErrors"></app-form-field-errors>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input currencyMask type="decimal" [options]="{min: 0, align: 'right'}"
                                   formControlName="amount" matInput>
                            <mat-error>
                                <app-form-field-errors [errors]="partnerContribution.get('amount')?.errors"
                                                       [messages]="partnerContributionAmountErrors"></app-form-field-errors>
                            </mat-error>
                        </mat-form-field>
                        <div class="text-right">{{partnerContribution.value.amount | percentage: totalAmount}}</div>
                        <div>
                            <button type="button" *ngIf="!partnerContribution.value.isPartner"
                                    (click)="deletePartnerContribution(i)"
                                    mat-icon-button color="accent">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <mat-error *ngIf="(formService.dirty$ | async)" class="my-3">
            <app-form-field-errors
                    [errors]="partnerContributions.errors"
                    [args]="partnerContributionErrorsArgs$ | async"
                    [messages]="partnerContributionErrors">
            </app-form-field-errors>
        </mat-error>
        <button type="button" (click)="addNewPartnerContribution()" class="my-3" mat-stroked-button>
            <mat-icon>add</mat-icon>
            <span>{{ 'project.partner.coFinancing.contribution.add.contribution.origin' | translate }}</span>
        </button>

        <div appTableConfig [appearance]="'table'"
             [widthConfig]="[{minInRem:5},{maxInRem:10},{maxInRem:10}, {maxInRem:2}]">
            <div class="hidden"></div>
            <div>
                <span>{{ 'project.partner.coFinancing.contribution.sub.total.public.contribution' | translate }}</span>
                <div class="text-right">{{ (publicContributionSubTotal$ | async) | asMoney}}</div>
                <span class="text-right">{{ (publicContributionSubTotal$ | async) | percentage:totalAmount}}</span>
            </div>
            <div>
                <div>{{ 'project.partner.coFinancing.contribution.sub.total.automatic.public.contribution' | translate }}</div>
                <div class="text-right">{{ (automaticPublicContributionSubTotal$ | async) | asMoney}}</div>
                <span class="text-right">{{ (automaticPublicContributionSubTotal$ | async) | percentage:totalAmount}}</span>
            </div>
            <div>
                <div>{{ 'project.partner.coFinancing.contribution.sub.total.private.contribution' | translate }}</div>
                <div class="text-right">{{ (privateContributionSubTotal$ | async) | asMoney}}</div>
                <span class="text-right">{{ (privateContributionSubTotal$ | async) | percentage:totalAmount}}</span>
            </div>
            <div class="mat-body-strong">
                <div>{{ 'project.partner.coFinancing.contribution.total' | translate }}
                    <app-context-info
                            infoText="{{ 'project.partner.coFinancing.contribution.total.contextinfo' | translate }}"
                            infoPosition="right">
                    </app-context-info>
                </div>
                <div class="text-right">{{ (contributionTotal$ | async) | asMoney}}</div>
                <div class="text-right">{{ (contributionTotal$ | async) | percentage: totalAmount}}</div>
            </div>
        </div>
    </form>
</app-form>
