<app-form *ngIf="data$ | async as data" (save)="updateOutputs()">
    <form appFormLayout [formGroup]="form">

        <h3>{{'project.application.form.workpackage.form.outputs' | translate}}</h3>
        <p>{{'project.application.form.workpackage.form.intro' | translate}}</p>

        <div appNoWidthLimit *ngFor="let output of outputs.controls;let i=index">
            <ng-container [formArrayName]="constants.OUTPUTS.name">
                <div class="output-container" appFormLayout [formGroupName]="i">
                    <div class="output-header" appNoWidthLimit appMultiColumnRow itemsAlign="space-between">
                        <h4 class="mb-0" appMultiColumnRow>
                            <span>{{('project.application.form.work.package.output' | translate) + ' ' + data.workPackageNumber + '.' + (i + 1) }}</span>
                            <span appFormFieldWidth="xx-large"
                                  class="text-overflow-ellipsis">{{languageService.getCurrentValue(output.get(constants.TITLE.name).value)}}</span>
                        </h4>
                        <button *ngIf="form.enabled" type="button" mat-icon-button color="accent"
                                matTooltip="{{'project.application.form.work.package.output.table.action.delete.tooltip' | translate}}"
                                (click)="removeOutput(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    <app-multi-language>
                        <app-multi-language-form-field
                                label="project.application.form.work.package.output.title"
                                [formControlName]="constants.TITLE.name"
                                [maxLength]="constants.TITLE.maxLength">
                        </app-multi-language-form-field>
                    </app-multi-language>

                    <mat-form-field>
                        <mat-label>{{'project.application.form.work.package.output.programme.output.indicator' | translate}}</mat-label>
                        <mat-select [disabled]="!data.outputIndicators.length"
                                    [formControlName]="constants.RESULT_INDICATOR.name">
                            <mat-option *ngFor="let resultIndicator of data.outputIndicators"
                                        [value]="resultIndicator.id">
                                {{resultIndicator.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div appMultiColumnRow stretch>
                        <mat-form-field>
                            <mat-label>{{'project.application.form.work.package.output.measurement.unit' | translate}}</mat-label>
                            <input readonly matInput
                                   value="{{getMeasurementUnit(output.get(constants.RESULT_INDICATOR.name)?.value, data.outputIndicators)}}"
                                   [disabled]="form.disabled">
                        </mat-form-field>

                        <mat-form-field appFormFieldWidth="medium">
                            <mat-label>{{'project.application.form.work.package.output.target.value' | translate}}</mat-label>
                            <input currencyMask type="integer" [options]="{min: 1, max: 99999}"
                                   name="targetValue" formControlName="targetValue" matInput>
                        </mat-form-field>
                    </div>

                    <app-project-periods-select
                            [periods]="data.periods"
                            [control]="output.get(constants.PERIOD.name)"
                            label='project.application.form.work.package.output.delivery.period'
                            (selectionChanged)="formService.setDirty(true)">
                    </app-project-periods-select>

                    <app-multi-language>
                        <app-multi-language-form-field
                                label="project.application.form.work.package.output.description"
                                [formControlName]="constants.DESCRIPTION.name"
                                [maxLength]="constants.DESCRIPTION.maxLength">
                        </app-multi-language-form-field>
                    </app-multi-language>
                </div>
            </ng-container>
        </div>
        <button *ngIf="addOutputVisible()" mat-stroked-button color="primary"
                (click)="addNewOutput()">
            + {{'project.application.form.workpackage.output.add' | translate}}
        </button>
    </form>
</app-form>
