@import "../../../../theme/themes/theme_light";

.global-warning-container-card-container {
  margin-top: 10%;
  margin-right: 1rem;
}

.global-warning {
  background-color: white;
  padding: 0;
}

.global-warning-content {
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--error-color-lighter);
}

.browser-link {
  min-width: 0 !important;
}

.double-card-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  align-items: flex-start;
  .content-card  {
    max-width: 32rem;
    padding: 1.5rem 1rem;
  }
}

@media all and (max-width: 75rem) {
  .double-card-container {
    flex-direction: column;
    align-items: center;
  }
  .global-warning-container-card-container {
    max-width: 32rem;
  }
}

mat-card-title,
mat-card-content,
mat-card-subtitle, {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem;
  height: auto !important;

  > * {
    flex: 1 1 0;
    min-width: 25rem;
  }
}

.authentication-logo {
  background: white;
  color: black;
  font-style: italic;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
}

