
.expected-number-of-chars-1 {
  .mat-form-field-infix {
    width: 1.5rem;
  }
}

.expected-number-of-chars-2 {
  .mat-form-field-infix {
    width: 2rem;
  }
}

.expected-number-of-chars-3 {
  .mat-form-field-infix {
    width: 2.5rem;
  }
}

.expected-number-of-chars-4 {
  .mat-form-field-infix {
    width: 3rem;
  }
}

.expected-number-of-chars-5 {
  .mat-form-field-infix {
    width: 3.5rem;
  }
}

.extend-error {
  .mat-form-field-subscript-wrapper {
    width: 100vw;
  }
}


