:host {
  min-width: 10rem;
}
mat-chip {
  min-height: 1.75rem;
  padding-left: .25rem;
  margin: 0 .25rem !important;
}
.status-Disabled {
  border: 1px solid var(--table-border-color);
  background: white !important;
  opacity: 0.6;
}
.status-Draft {
  background-color: var(--status-draft) !important;
}
.status-Submitted {
  background-color: var(--status-submitted) !important;
}
.status-InControl {
  background-color: var(--status-approved-with-conditions) !important;
}
.status-Certified {
  background-color: var(--status-approved) !important;
}
