:host {
  max-width: 100%;
}
mat-chip {
  max-width: 100%;
  min-height: 1.75rem;
  padding-left: .25rem;
  margin: 0 .25rem !important;
  overflow: hidden;
  color: var(--font-color-primary);
  font-weight: 600;
  font-size: 1em;

  .chip-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.status-Disabled {
  border: 1px solid var(--table-border-color);
  background: white !important;
  opacity: 0.6;
}
.status-Draft {
  background-color: var(--status-draft) !important;
}
.status-Submitted {
  background-color: var(--status-submitted) !important;
}
.status-InControl {
  background-color: var(--status-approved-with-conditions) !important;
}
.status-Certified {
  background-color: var(--status-contracted) !important;
}
.status-ReOpenSubmittedLast {
  background-color: var(--status-declined) !important;
}
.status-ReOpenSubmittedLimited {
  background-color: var(--status-declined) !important;
}
.status-ReOpenInControlLast {
  background-color: var(--status-declined) !important;
}
.status-ReOpenInControlLimited {
  background-color: var(--status-declined) !important;
}
.status-ReOpenInControlLimited {
  background-color: var(--status-declined) !important;
}
.status-ReOpenCertified {
  background-color: var(--status-reopencontrol) !important;
}
