<span jemsMultiColumnRow *ngIf="(userCanEditContractingChecklists$ | async)">
            <mat-form-field jemsFormFieldWidth="xx-large">
                <mat-select placeholder="{{'checklists.instance.list.new.select' | translate}}"
                            [(ngModel)]="selectedTemplate">
                    <mat-option *ngFor="let template of checklistTemplates$ | async"
                                [value]="template">
                        <span jemsText>{{template.name}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="!selectedTemplate"
                    jemsText mat-raised-button color="primary" class="mb-3 mt-3"
                    (click)="createInstance()">
                <mat-icon>add</mat-icon>
                {{'checklists.instances.list.new.button' | translate}}
            </button>
        </span>

<jems-alert *ngFor="let alert of contractingChecklistAlerts$ | async" [show]="true" [type]="alert.type"
            (closed)="dismissContractingChecklistAlert(alert.id)" [disableMargins]="true" class="mb-2 block">
    <p>{{ alert.i18nMessage | translate }}</p>
</jems-alert>

<ng-container *ngIf="checklistInstancesSorted$ | async as instances">
    <jems-table #tableInstances *ngIf="instances.length"
                [configuration]="instancesTableConfiguration"
                (sortRows)="checklistUtils.onInstancesSortChange($event,
                                                                 tableSelected,
                                                                 null,
                                                                 contractingPageStore)"
                [rows]="instances">
    </jems-table>
</ng-container>

<ng-template #descriptionCell let-checklist class="text-center border-cell-left">
    <span *ngIf="contractingDescriptionForm.value.id !== checklist.id" jemsText maxLines="2"
          class="mr-1 text-left fill-space-left-to-button"
          [matTooltip]="checklist.description">{{ checklist.description }}</span>

    <div (click)="$event.stopPropagation()">
        <form [formGroup]="contractingDescriptionForm" *ngIf="contractingDescriptionForm.value.id === checklist.id" class="w-100">
            <jems-expandable-textarea class="w-100"
                                      label="file.table.column.name.description"
                                      [control]="contractingDescriptionForm.controls.description"
                                      [errors]="contractingDescriptionForm.controls.description.errors"
                                      characterLimit="150">
            </jems-expandable-textarea>
            <div class="mb-2 mt-2 edit-description-buttons">
                <button (click)="resetContractingChecklistDescription()" mat-stroked-button class="small-stroked-btn"
                        [disabled]="(savingContractingDescriptionId$ | async) === checklist.id">
                    <mat-icon class="mr-1">close</mat-icon>
                    {{'project.file.description.button.cancel' | translate}}
                </button>

                <button (click)="saveContractingDescription()" mat-flat-button type="submit"
                        [disabled]="contractingDescriptionForm.invalid || (savingContractingDescriptionId$ | async) === checklist.id"
                        class="ml-2 small-flat-btn" color="primary">
                    <mat-icon class="mr-1" *ngIf="(savingContractingDescriptionId$ | async) !== checklist.id">check</mat-icon>
                    <mat-spinner *ngIf="(savingContractingDescriptionId$ | async) === checklist.id" class="mr-4" color="primary"
                                 [diameter]="17"></mat-spinner>
                    {{'project.file.description.button.save' | translate}}
                </button>
            </div>
        </form>
    </div>

</ng-template>

<ng-template #actionsCell let-checklist>

    <ng-container>
        <button
                (click)="editContractingDescription(checklist)"
                [disabled]="(userCanEditContractingChecklists$ | async) === false"
                color="primary" mat-icon-button
                matTooltip="{{ 'file.table.action.description.tooltip' | translate }}">
            <mat-icon>edit</mat-icon>
        </button>
    </ng-container>

    <ng-container>
        <button
                (click)="delete(projectId, checklist);$event.stopPropagation();"
                [disabled]="checklist.status !== Status.DRAFT || (userCanEditContractingChecklists$ | async) === false || (pageStore.currentUserEmail$ | async) !== checklist.creatorEmail"
                color="accent"
                mat-icon-button
                matTooltip="{{'common.delete.entry.tooltip' | translate}}">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-container>

</ng-template>
