<div *ngIf="details$ | async as details">
    <app-breadcrumb></app-breadcrumb>
    <h5 *ngIf="details.partner.name">
        {{'common.label.project.partner.role.' + details.partner.role | translate}}
        {{details.partner.name}}
    </h5>
    <mat-tab-group class="partner-tab-menu"
                   (selectedIndexChange)="changeTab($event)"
                   [selectedIndex]="activeTab$ | async">
        <mat-tab label="{{'partner.tab.identity' | translate}}">
            <app-project-application-form-partner-edit
                    [success$]="partnerSaveSuccess$"
                    [error$]="partnerSaveError$"
                    [partner]="details.partner"
                    [editable]="details.editable"
                    (create)="createPartner$.next($event)"
                    (update)="savePartner$.next($event)"
                    (cancel)="redirectToPartnerOverview()">
            </app-project-application-form-partner-edit>
        </mat-tab>
        <mat-tab label="{{'partner.tab.address' | translate}}">
            <app-project-application-form-region-selection
                    [showHomePage]="true"
                    [success$]="partnerOrganizationDetailsSaveSuccess$"
                    [error$]="partnerOrganizationDetailsSaveError$"
                    [organizationDetails]="details.partner?.organization?.organizationDetails"
                    [editable]="details.editable && details.partner?.organization?.id"
                    (update)="savePartnerOrganizationDetails$.next($event)">
            </app-project-application-form-region-selection>
        </mat-tab>
        <mat-tab label="{{'partner.tab.contact' | translate}}">
            <app-project-application-form-partner-contact
                    [success$]="partnerContactSaveSuccess$"
                    [error$]="partnerContactSaveError$"
                    [partner]="details.partner"
                    [editable]="details.editable"
                    (update)="savePartnerContact$.next($event)">
            </app-project-application-form-partner-contact>
        </mat-tab>
        <mat-tab label="{{'partner.tab.motivation' | translate}}">
            <app-project-application-form-partner-contribution
                    [success$]="partnerContributionSaveSuccess$"
                    [error$]="partnerContributionSaveError$"
                    [partner]="details.partner"
                    [editable]="details.editable"
                    (update)="savePartnerContribution$.next($event)">
            </app-project-application-form-partner-contribution>
        </mat-tab>
        <mat-tab *ngIf="partnerId" label="{{'partner.tab.budget' | translate}}">
            <app-project-application-partner-budget-page>
            </app-project-application-partner-budget-page>
        </mat-tab>
    </mat-tab-group>
</div>
