<div *ngIf="partner$ | async as partner">
    <app-breadcrumb></app-breadcrumb>
    <h4 *ngIf="partner.abbreviation">
        {{'common.label.project.partner.role.' + partner.role | translate}}
        {{partner.abbreviation}}
    </h4>
    <mat-tab-group class="partner-tab-menu"
                   (selectedIndexChange)="changeTab($event)"
                   [selectedIndex]="activeTab$ | async">
        <mat-tab label="{{'partner.tab.identity' | translate}}">
            <app-project-application-partner-identity></app-project-application-partner-identity>
        </mat-tab>
        <mat-tab label="{{'partner.tab.address' | translate}}">
            <app-project-application-form-region-selection></app-project-application-form-region-selection>
        </mat-tab>
        <mat-tab label="{{'partner.tab.contact' | translate}}">
            <app-project-application-form-partner-contact
                    [success$]="partnerContactSaveSuccess$"
                    [error$]="partnerContactSaveError$"
                    [partner]="partner"
                    [editable]="projectStore.projectEditable$ | async"
                    (update)="savePartnerContact$.next($event)">
            </app-project-application-form-partner-contact>
        </mat-tab>
        <mat-tab label="{{'partner.tab.motivation' | translate}}">
            <app-project-application-form-partner-contribution
                    [success$]="partnerContributionSaveSuccess$"
                    [error$]="partnerContributionSaveError$"
                    [partner]="partner"
                    [editable]="projectStore.projectEditable$ | async"
                    (update)="savePartnerContribution$.next($event)">
            </app-project-application-form-partner-contribution>
        </mat-tab>
        <mat-tab label="{{'partner.tab.budget' | translate}}">
            <app-project-application-partner-budget-page></app-project-application-partner-budget-page>
        </mat-tab>
        <mat-tab label="{{'partner.tab.coFinancing' | translate}}">
            <app-project-application-partner-co-financing-page></app-project-application-partner-co-financing-page>
        </mat-tab>
    </mat-tab-group>
</div>
