<div>
    <p>Create a new project application:</p>
    <p>Programme ID : dummy | Call ID : dummy</p>
    <form (ngSubmit)="onSubmit()"
          #projectApplicationSubmitForm="ngForm">
        <div class="form-group">
            <mat-form-field appearance="outline"
                    class="col-md-12">
                <mat-label>Project Acronym</mat-label>
                <input name="acronym"
                       [(ngModel)]="project.acronym"
                       matInput
                       placeholder="Project Acronym"
                       required
                       #acronym="ngModel">
                <mat-error *ngIf="acronym.invalid">Acronym is required!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline"
                            class="col-md-12">
                <mat-label>Submission Date</mat-label>
                <input name="submissionDate"
                       [(ngModel)]="project.submissionDate"
                       matInput
                       placeholder="YYYY-MM-DD"
                       required
                       #submissionDate="ngModel">
                <mat-error *ngIf="submissionDate.invalid">Submission Date is required!</mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button
                color="primary"
                type="submit">+ Create Project Application</button>
    </form>
    <div *ngIf="success">
        <p>Project application was successfully saved.</p>
    </div>
    <div *ngIf="serverError">
        <p>There was a problem saving the Project application.</p>
    </div>
    <div *ngIf="inputError">
        <p>To create a project application, please enter acronym and submission date!</p>
    </div>
</div>
