.field {
  width: 40%;
  padding-top: 1rem;
  margin-right: 60%;
}

.field-wide {
  width: 70%;
  padding-top: 1rem;
  margin-right: 30%;
}

.mat-input-element {
  color: var(--font-color-primary) !important;
}
