<app-project-page-template [needsCard]="true"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
                           subTitleKey="project.application.form.section.part.d"
                           *ngIf="data$ | async as data">
    <h3>{{ 'project.application.form.budgetPartnerPerPeriod.d.three.one.title' | translate }}</h3>

    <app-alert [show]="!data.periodsAvailable"
               [type]="Alert.WARNING">
        <span>{{'project.application.form.work.package.output.delivery.period.required' | translate}}</span>
    </app-alert>
    <ng-container
            *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.BUDGET_AND_CO_FINANCING.PARTNER_BUDGET_PERIODS">
        <mat-table  id="budget-table-partner-per-period"
                   [dataSource]="data.projectPartnersBudgetPerPeriods">
            <ng-container matColumnDef="projectPartnerBudgetPerPeriod">
                <mat-header-cell *matHeaderCellDef>{{ 'project.breadcrumb.partnerName' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let partner">
                    {{ partner.partner.abbreviation | translate : {partner: partner.partner.abbreviation} }}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    {{ 'project.partner.budget.table.total' | translate }}
                </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="country">
                <mat-header-cell
                        *matHeaderCellDef>{{ 'project.partner.main-address.country' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let projectPartnerBudgetPerPeriod">{{ projectPartnerBudgetPerPeriod.partner.country | translate}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container *ngFor="let periodNumber of data.periodNumbers; let i = index">
                <ng-container matColumnDef="{{ 'period' + periodNumber }}">
                    <mat-header-cell *matHeaderCellDef>
                        {{ periodNumber === 0 ? 'Preparation' :
                        (periodNumber === 255 ? 'Closure' : ('project.partner.budget.table.period' | translate) + ' ' + periodNumber) }}
                    </mat-header-cell>
                    <mat-cell
                            *matCellDef="let projectPartnerBudgetPerPeriod">{{projectPartnerBudgetPerPeriod.periodBudgets[i].totalBudgetPerPeriod | asMoney }}</mat-cell>
                    <mat-footer-cell
                            *matFooterCellDef>{{ calculateTotalBudgetPerPeriod(periodNumber, data.projectPartnersBudgetPerPeriods) | asMoney }}</mat-footer-cell>
                </ng-container>
            </ng-container>

            <ng-container matColumnDef="totalEligibleBudget">
                <mat-header-cell
                        *matHeaderCellDef>{{ 'project.partner.total.eligible.budget' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let projectPartnerBudgetPerPeriod">{{ projectPartnerBudgetPerPeriod.totalPartnerBudget | asMoney }}</mat-cell>
                <mat-footer-cell
                        *matFooterCellDef>{{ data.totalEligibleBudget | asMoney}}</mat-footer-cell>
            </ng-container>


            <ng-container matColumnDef="percentOfTotalBudget">
                <mat-footer-cell
                        *matFooterCellDef>{{ 'project.partner.percent.of.total.budget' | translate }}</mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="blankCell">
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container *ngFor="let periodNumber of data.periodNumbers; let i = index">
                <ng-container matColumnDef="{{'budgetPercent'+ periodNumber}}">
                    <mat-footer-cell *matFooterCellDef>{{ data.periodTotalBudgetPercentages[i] | percent: '1.2'}}
                    </mat-footer-cell>
                </ng-container>
            </ng-container>

            <ng-container matColumnDef="budgetPercentTotal">
                <mat-footer-cell *matFooterCellDef>{{ data.totalPercent | asMoney }}%</mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="data.displayColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: data.displayColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="data.displayColumns"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="data.footerColumns"></mat-footer-row>

        </mat-table>
    </ng-container>


</app-project-page-template>


