<app-project-page-template *ngIf="partnerStore.partner$ | async as partner"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} ">
    <ng-container page-sub-title *ngIf="partner.abbreviation else defaultSubTitle">
        <h2>{{'common.label.project.partner.role.' + partner.role | translate}} {{partner.abbreviation}}</h2>
    </ng-container>

    <nav mat-tab-nav-bar>
        <a [active]="activeTab('identity')" mat-tab-link
           (click)="routeTo('identity')">
            {{'partner.tab.identity' | translate}}
        </a>
        <a *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.ADDRESS"
           [active]="activeTab('region')" mat-tab-link
           (click)="routeTo('region')">
            {{'partner.tab.address' | translate}}
        </a>
        <a *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.CONTACT"
           [active]="activeTab('contact')" mat-tab-link
           (click)="routeTo('contact')">
            {{'partner.tab.contact' | translate}}
        </a>
        <a *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.MOTIVATION"
           [active]="activeTab('motivation')" mat-tab-link
           (click)="routeTo('motivation')">
            {{'partner.tab.motivation' | translate}}
        </a>
        <ng-container *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.BUDGET_AND_CO_FINANCING">
            <a [active]="activeTab('budget')" mat-tab-link
               (click)="routeTo('budget')">
                {{'partner.tab.budget' | translate}}
            </a>
            <a [active]="activeTab('coFinancing')" mat-tab-link
               (click)="routeTo('coFinancing')">
                {{'partner.tab.coFinancing' | translate}}
            </a>
        </ng-container>
        <ng-container *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.STATE_AID">
            <a [active]="activeTab('stateAid')" mat-tab-link
               (click)="routeTo('stateAid')">
                {{'partner.tab.state.aid' | translate}}
            </a>
        </ng-container>
    </nav>
    <router-outlet></router-outlet>
</app-project-page-template>

<ng-template #defaultSubTitle>
    <h2>{{'project.application.form.section.part.b.partners' | translate}}</h2>
</ng-template>
