<div class="container vertical-center">
    <mat-card>
        <mat-card-title>{{'authentication.login.title.label' | translate}}</mat-card-title>
        <mat-card-subtitle>Current default credentials are: email: admin@ems.eu, password: Adm1</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <mat-form-field>
                        <mat-label>{{'authentication.email.label' | translate}}</mat-label>
                        <input matInput autocomplete="email"
                               formControlName="email" id="email" name="email" required type="text">
                        <mat-error *ngIf="!loginForm.controls.email.valid">
                            {{'authentication.email.not.empty' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>{{'authentication.password.label' | translate}}</mat-label>
                        <input matInput
                               formControlName="password" id="password" name="password" required type="password">
                        <mat-error *ngIf="!loginForm.controls.password.valid">
                            {{'authentication.password.not.empty' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row justify-content-md-center">
                    <button mat-raised-button
                            color="secondary"
                            class="register-button"
                            type="button"
                            [routerLink]="registerLink">
                        Create Account
                    </button>
                    <button mat-raised-button
                            color="primary"
                            type="submit"
                            [disabled]="!loginForm.valid || submitted">
                        {{'user.login.button' | translate}}
                    </button>
                </div>
                <div *ngIf="validationError"
                     class="alert alert-danger" id="errorMessage" role="alert">
                    {{validationError | translate }}
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
