@use '../project-report-financial-overview-tab.component';

.border-cell-right {
  border-right: .0625rem solid var(--table-border-color);
}

.mat-column-name {
  min-width: 12rem;
}

.fast-track-icon {
  margin-right: .25rem;
  font-size: 1rem;
  vertical-align: text-top;
  width: 1rem;
}
