<form appFormLayout [formGroup]="submissionForm">
    <h1>{{'project.detail.new.title' | translate}}</h1>
    <mat-form-field>
        <mat-label>{{'project.detail.new.field.acronym' | translate}}</mat-label>
        <input name="acronym" formControlName="acronym" matInput required>
        <app-context-info
                infoText="{{'project.application.form.field.project.acronym.info' | translate}}">
        </app-context-info>
        <mat-error>
            <app-form-field-errors
                    [errors]="submissionForm?.controls?.acronym?.errors"
                    [messages]="acronymErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>

    <div appMultiColumnRow>
        <button *ngxPermissionsOnly="Permission.APPLICANT_USER"
                mat-stroked-button
                type="button"
                (click)="onCancel()">
            {{'project.detail.new.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="submissionForm.invalid || submitted"
                (click)="onSubmit()">
            + {{'project.detail.new.button.create' | translate}}
        </button>
    </div>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'project.detail.new.message.successful' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</form>

