<div class="container vertical-center">
    <h2>{{'project.detail.new.title' | translate}}</h2>
    <!--p>{{'project.detail.new.subtitle' | translate}}</p-->
    <form [formGroup]="submissionForm">
        <div class="form-group">
            <mat-form-field class="col-md-12 project-application-submission-field">
                <mat-label>{{'project.detail.new.field.acronym' | translate}}</mat-label>
                <input name="acronym" formControlName="acronym" matInput
                       placeholder="{{'project.detail.new.field.acronym' | translate}}" required>
                <mat-error>
                    <app-form-field-errors
                            [errors]="submissionForm?.controls?.acronym?.errors"
                            [messages]="acronymErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>
        <button *ngxPermissionsOnly="Permission.APPLICANT_USER"
                mat-stroked-button
                class="button"
                type="button"
                (click)="onCancel()">
            {{'project.detail.new.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="submit"
                class="button"
                [disabled]="submissionForm.invalid || submitted"
                (click)="onSubmit()">
            + {{'project.detail.new.button.create' | translate}}
        </button>
    </form>
    <app-alert
            [show]="showSuccessMessage$ | async"
            [type]="Alert.SUCCESS">
        <p>{{'project.detail.new.message.successful' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
