<jems-main-page-template [needsCard]="true" *ngIf="pageStore.paymentToEcDetail$ | async as paymentDetail">
    <div jemsMultiColumnRow class="back-button">
        <a color="primary" class="mr-1" mat-icon-button
           routerLink="../"
           matTooltip="{{ 'payments.payment.to.project.detail.back.tooltip.button' | translate }}"
           aria-label="back">
            <mat-icon class="icon-back" fontSet="material-icons-outlined">arrow_circle_left</mat-icon>
        </a>
        <h3 class="mb-4 put-icon-to-header-line">{{'payments.to.ec.detail.back.button' | translate}}</h3>
    </div>

    <h3 *ngIf="paymentDetail?.id" class="payment-header">{{'payments.to.ec.detail.header' | translate : {
        paymentToEcId: paymentDetail.id
    } }}</h3>

        <div class="status-chip" *ngIf="paymentDetail?.id">
            <span class="status-label">{{'common.status' | translate}}:</span>
            <span class="ml-1">
                <mat-chip-list class="mr-1 ml-1" aria-label="status">
                    <mat-chip [class.draft]="paymentDetail.status === paymentStatusEnum.Draft"
                              [class.submitted]="paymentDetail.status === paymentStatusEnum.Finished">
                        {{paymentDetail.status}}
                    </mat-chip>
                </mat-chip-list>
            </span>
        </div>

    <mat-tab-group  *jemsHasPermission="PermissionEnum.PaymentsToEcRetrieve">
        <mat-tab label="{{'payments.to.ec.detail.summary.tab' | translate}}" id="summaryTab" >
            <jems-payments-application-to-ec-summary-tab jemsNoWidthLimit></jems-payments-application-to-ec-summary-tab>
        </mat-tab>
    </mat-tab-group>
</jems-main-page-template>

