<ng-container *ngIf="data$ | async as data">

    <ng-container *ngIf="data.page.totalElements">
        <br>
        <div jemsNoWidthLimit class="wrapper">
            <table id="notification-list-table" mat-table matSort multiTemplateDataRows (matSortChange)="listStore.newSort$.next($event)"
                   [dataSource]="data.page.content">
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="created">
                        <span jemsText maxLines="2">{{ 'notification.table.column.time' | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let notification" class="date-time-cell">
                        <div>{{notification.time | localeDate : 'L'}}</div>
                        <div class="time">{{notification.time | localeDate : 'LT'}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="call">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="project.call.name">
                        <span jemsText maxLines="2">{{ 'project.table.column.name.related' | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let notification">
                        {{notification.project?.callName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="projectIdentifier">
                        <span jemsText maxLines="2">{{ 'call.detail.notifications.config.tab.project' | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let notification">
                        <a [routerLink]="'/app/project/detail/' + notification.project?.projectId" queryParamsHandling="merge"
                           (click)="$event.stopPropagation()">
                            <span>{{ notification.project?.projectIdentifier }}</span>
                        </a>

                    </td>
                </ng-container>

                <ng-container matColumnDef="acronym">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="projectAcronym">
                        <span jemsText maxLines="2">{{ 'project.table.column.name.acronym' | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let notification">
                        <span>{{ notification.project?.projectAcronym }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="partner">
                    <th mat-header-cell *matHeaderCellDef>
                        <span jemsText maxLines="2">{{ 'payments.detail.table.header.partner' | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let notification">
                        <a *ngIf="notification.partner; else noPartner"
                           [routerLink]="'/app/project/detail/' + notification.project.projectId + '/reporting/' + notification.partner.partnerId + '/reports'"
                           queryParamsHandling="merge"
                           (click)="$event.stopPropagation()">
                            <span [innerText]="('common.label.project.partner.role.shortcut.' + notification.partner.partnerRole) |
                                translate:{partner: notification.partner.partnerNumber}"></span>
                        </a>
                        <ng-template #noPartner>-</ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef>
                        <span jemsText maxLines="2">{{ 'notification.table.column.subject' | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let notification" [class.system-message]="notification.type === 'SystemMessage'">
                        {{notification.subject}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="expand" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef class="text-right expand-column"></th>
                    <td mat-cell *matCellDef="let element; let index = index" class="text-right expand-column">
                        <button mat-icon-button aria-label="expand row"
                                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsWithExpanded.length">
                        <div class="element-detail"
                             [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                            <div class="notification-body">{{ element.body }}</div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpanded"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpanded;"
                    (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
                    class="notification-row"
                    [class.notification-expanded-row]="expandedElement === element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="notification-detail-row"></tr>

            </table>
        </div>
        <jems-paginator
                [length]="data.page.totalElements"
                [currentPageIndex]="data.page.pageable.pageNumber"
                [currentPageSize]="data.page.pageable.pageSize"
                (pageIndexChanged)="listStore.newPageIndex$.next($event)"
                (pageSizeChanged)="listStore.newPageSize$.next($event)">
        </jems-paginator>
    </ng-container>

    <ng-container *ngIf="!data.page.totalElements"><p>{{'notification.table.no.data' | translate}}</p></ng-container>
</ng-container>


