<jems-project-page-template *ngIf="(data$ | async) as data"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: data.projectTitle} "
                           subTitleKey="project.application.form.section.part.e.subsection.one">

    <jems-form (save)="updateLumpSums()">
        <form jemsFormLayout [formGroup]="lumpSumsForm">
            <jems-alert *ngIf="data.lumpSums.length===0 || data.partners.length===0"
                       [show]="true"
                       [closable]="false" [type]="Alert.WARNING">
                <p *ngIf="data.lumpSums.length===0">{{'project.application.form.section.part.e.no.lump.sums.warning' | translate}}</p>
                <p *ngIf="data.lumpSums.length>0">{{'project.application.form.section.part.e.no.partner.warning' | translate}}</p>
            </jems-alert>
            <ng-container *ngIf="data.partners.length>0 && data.lumpSums.length>0">
                <h3>{{'project.application.form.section.part.e.subsection.one.table.title' | translate}}</h3>
                <p>{{'project.application.form.section.part.e.subsection.one.description' | translate}}</p>
                <ng-container *ngIf="!data.showAddButton; else addItemButton">
                    <jems-alert
                            [show]="data.showGapExistsWarning"
                            [closable]="false"
                            [type]="Alert.WARNING">
                        {{'project.application.form.section.part.e.gap.warning' | translate}}
                    </jems-alert>
                    <jems-alert *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.BUDGET_AND_CO_FINANCING.PARTNER_BUDGET_PERIODS"
                            [type]="Alert.WARNING"
                            [show]="data.showPeriodMissingWarning"
                            [closable]="false">
                        <span>{{'project.application.form.section.part.e.period.warning' | translate}}</span>
                    </jems-alert>
                    <div id="loading-container" jemsNoWidthLimit *ngIf="data.loading">
                        {{'common.loading' | translate}}
                        <mat-spinner class="ml-2" [diameter]="32" [strokeWidth]="3"></mat-spinner>
                    </div>

                    <div id="table-container" jemsNoWidthLimit>
                        <div id="overlay" *ngIf="data.loading"></div>
                        <jems-multi-language-container>
                            <mat-table
                                    #table
                                    jemsNoWidthLimit
                                    id="lump-sums-table"
                                    [jemsTableConfig]="data.withConfigs"
                                    [dataSource]="tableData" [formArrayName]="constants.FORM_CONTROL_NAMES.items"
                                    class="jems-table-config table-condensed">
                                <ng-container matColumnDef="lumpSum" sticky>
                                    <mat-header-cell *matHeaderCellDef>
                                        <span jemsText maxLines="2">{{'project.application.form.section.part.e.lump.sums.column.title' | translate}}</span>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                                        <mat-form-field jemsFormFieldWidth="full">
                                            <mat-select
                                                    [matTooltip]="control.get(constants.FORM_CONTROL_NAMES.lumpSum)?.value?.name| translateByInputLanguage | async"
                                                    [formControlName]="constants.FORM_CONTROL_NAMES.lumpSum"
                                                    class="placeholder-required"
                                                    placeholder="{{'project.application.form.section.part.e.lump.sums.label' | translate}}">
                                                <mat-option *ngFor="let lumpSum of data.lumpSums" [value]="lumpSum">
                                                    {{ lumpSum.name | translateByInputLanguage | async }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <jems-form-field-errors
                                                        [errors]="control?.get(constants.FORM_CONTROL_NAMES.lumpSum)?.errors"
                                                        [messages]="constants.FORM_ERRORS.lumpSum"
                                                ></jems-form-field-errors>
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-cell>
                                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="period">
                                    <mat-header-cell *matHeaderCellDef>
                                        <span jemsText maxLines="2">{{'project.application.form.section.part.e.period.column.title' | translate}}</span>
                                        <jems-context-info
                                                infoText="{{ 'project.application.form.section.part.e.period.column.contextinfo' | translate }}"
                                                infoPosition="right">
                                        </jems-context-info>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                                        <mat-form-field *ngIf="isLumpSumSelectedForRow(control)"
                                                        jemsFormFieldWidth="full">
                                            <mat-select [formControlName]="constants.FORM_CONTROL_NAMES.periodNumber"
                                                        [matTooltip]="getPeriodLabel(getPeriod(i, data.periods))"
                                                        placeholder="{{'project.application.form.section.part.e.period.label' | translate}}">
                                                <mat-option [value]="PREPARATION_PERIOD">
                                                    {{'project.application.form.section.part.e.period.preparation' | translate}}
                                                </mat-option>
                                                <mat-option *ngFor="let period of data.periods"
                                                            [value]="period.periodNumber">
                                                    {{getPeriodLabel(period)}}
                                                </mat-option>
                                                <mat-option [value]="CLOSURE_PERIOD">
                                                    {{'project.application.form.section.part.e.period.closure' | translate}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <jems-form-field-errors
                                                        [errors]="control?.get(constants.FORM_CONTROL_NAMES.periodNumber)?.errors"
                                                        [messages]="constants.FORM_ERRORS.period"
                                                ></jems-form-field-errors>
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-cell>
                                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="isSplittingLumpSumAllowed">
                                    <mat-header-cell *matHeaderCellDef>
                                        <span jemsText maxLines="2">{{'project.application.form.section.part.e.is.splitting.lump.sums.allowed.column.title' | translate}}</span>
                                        <jems-context-info
                                                infoText="{{ 'project.application.form.section.part.e.is.splitting.lump.sums.allowed.column.contextinfo' | translate }}"
                                                infoPosition="right">
                                        </jems-context-info>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                                        <div *ngIf="isLumpSumSelectedForRow(control)">
                                            {{control.get(constants.FORM_CONTROL_NAMES.lumpSum)?.value?.isSplittingAllowed ? ('common.yes' | translate) : 'common.no' | translate}}
                                        </div>
                                    </mat-cell>
                                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="lumpSumCost">
                                    <mat-header-cell *matHeaderCellDef>
                                        <span jemsText maxLines="2">{{'project.application.form.section.part.e.lump.sums.cost.column.title' | translate}}</span>
                                    </mat-header-cell>
                                    <mat-cell class="cost" [class.gap-exists]="isGapExistsInRow(control)"
                                              *matCellDef="let control;  let i = index" [formGroupName]="i">
                                        <div>{{control.get(constants.FORM_CONTROL_NAMES.lumpSum).value?.cost | asMoney}}</div>
                                    </mat-cell>
                                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                </ng-container>

                                <ng-container
                                        *ngFor="let partner of data.partners, let partnerAmountIndex=index"
                                        [matColumnDef]="partner.partnerNumber">
                                    <mat-header-cell *matHeaderCellDef class="justify-end">
                                        <span jemsText maxLines="2">{{partner.partnerNumber}}</span>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i"
                                              [class.gap-exists]="isGapExistsInRow(control)">
                                        <ng-container *ngIf="isLumpSumSelectedForRow(control)"
                                                      [formArrayName]="constants.FORM_CONTROL_NAMES.partnersContribution">
                                            <ng-container [formGroupName]="partnerAmountIndex">
                                                <jems-inline-editable-field jemsFormFieldWidth="full">
                                                    <mat-form-field>
                                                        <input
                                                                currencyMask
                                                                [options]="{min: constants.MIN_VALUE, max: constants.MAX_VALUE, align: 'right'}"
                                                                [formControlName]="constants.FORM_CONTROL_NAMES.amount"
                                                                type="decimal"
                                                                matInput>
                                                    </mat-form-field>
                                                </jems-inline-editable-field>
                                            </ng-container>
                                        </ng-container>
                                    </mat-cell>
                                    <mat-footer-cell class="justify-end"
                                                     *matFooterCellDef><span
                                            *ngIf="!data.loading">{{data.partnerColumnsTotal[partnerAmountIndex] | asMoney}}</span>
                                    </mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="rowSum">
                                    <mat-header-cell class="justify-end" *matHeaderCellDef>
                                        <span jemsText maxLines="2">{{'project.application.form.section.part.e.lump.sums.row.sum.column.title' | translate}}</span>
                                    </mat-header-cell>
                                    <mat-cell class="justify-end row-sum" [class.gap-exists]="isGapExistsInRow(control)"
                                              *matCellDef="let control;  let i = index" [formGroupName]="i">
                                        <div *ngIf="isLumpSumSelectedForRow(control)">{{control.get(constants.FORM_CONTROL_NAMES.rowSum).value | asMoney}}</div>
                                    </mat-cell>
                                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="gap">
                                    <mat-header-cell class="justify-end" *matHeaderCellDef>
                                        <span jemsText maxLines="2">{{'project.application.form.section.part.e.lump.sums.gap.column.title' | translate}}</span>
                                    </mat-header-cell>
                                    <mat-cell class="justify-end" *matCellDef="let control;  let i = index"
                                              [formGroupName]="i"
                                              [class.gap-exists]="isGapExistsInRow(control)">
                                        <div *ngIf="isLumpSumSelectedForRow(control)">{{control.get(constants.FORM_CONTROL_NAMES.gap)?.value | asMoney}}</div>
                                    </mat-cell>
                                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <mat-header-cell *matHeaderCellDef>
                                        <span jemsText maxLines="2">{{'project.application.form.section.part.e.lump.sums.description.column.title' | translate}}</span>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                                        <div [matTooltip]="$any(control.get(constants.FORM_CONTROL_NAMES.lumpSum)?.value?.description) | translateByInputLanguage | async"
                                             matTooltipShowDelay="500">
                                            {{ $any(control.get(constants.FORM_CONTROL_NAMES.lumpSum)?.value?.description) | translateByInputLanguage | async}}</div>
                                    </mat-cell>
                                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                </ng-container>

                                <ng-container stickyEnd matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let control;let index=index">
                                        <button *ngIf="lumpSumsForm.enabled" class="delete-button"
                                                type="button"
                                                tabindex="-1" mat-icon-button color="accent"
                                                matTooltip="{{'common.delete.entry.tooltip' | translate}}"
                                                (click)="removeItem(index)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="data.columnsToDisplay"></mat-header-row>
                                <mat-row *matRowDef="let myRowData; columns: data.columnsToDisplay; let rowIndex =index"
                                         [class.row-has-error]="items.controls[rowIndex]?.invalid"></mat-row>
                                <mat-footer-row *matFooterRowDef="data.columnsToDisplay"></mat-footer-row>

                            </mat-table>
                        </jems-multi-language-container>
                    </div>
                    <button jemsText *ngIf="lumpSumsForm.enabled" mat-stroked-button type="button" class="mt-2"
                            [disabled]="items.length >= constants.MAX_NUMBER_OF_ITEMS"
                            (click)="addNewItem(data.partners)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-error class="pt-3">
                        <jems-form-field-errors
                                [errors]="data.costIsNotSplittableError"
                                [messages]="constants.FORM_ERRORS.items">
                        </jems-form-field-errors>
                    </mat-error>
                </ng-container>
            </ng-container>
        </form>

    </jems-form>

    <ng-template #addItemButton>
        <ng-container *ngIf="lumpSumsForm.enabled">
            <button jemsText mat-stroked-button
                    (click)="addNewItem(data.partners)">+ {{'common.button.add' | translate}}
            </button>
        </ng-container>
    </ng-template>
</jems-project-page-template>
