#lump-sums-table {
  .row-has-error {
    border-bottom: 1px solid var(--warn-color);
  }
  .gap-exists {
    background-color: var(--light-yellow);

    &.row-sum, &.costs {
      background-color: var(--pale-yellow);
    }
  }
}
