@import "src/app/theme/theme";
@import "src/common-classes.scss";
@import "src/layout-classes.scss";
@import "src/app/common/directives/form-field-width/form-feild-width";
@import "src/app/common/directives/form-layout/form-layout";
@import "app/common/directives/multi-column-row/multi-column-row";
@import "src/app/common/directives/table-config/table-config";

$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';


html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  image-rendering: auto;
}

.background-floating-stars {
  background: url("assets/logos/StarsBG.png") no-repeat 12.5% 10%, linear-gradient(90deg, #4994C3 0%, var(--app-bar-secondary) 100%);
  background-size: 42rem auto, cover;
}
