h2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

p {
  margin-bottom: 0.5rem !important;
}

::ng-deep {

  .mat-sort-header-content {
    text-align: left !important;
  }

  .id-column-width {
    padding-left: 0.8rem !important;
    padding-right: 0.2rem !important;
    min-width: 4rem !important;
  }

  .medium-column-width {
    min-width: 6.5rem !important;
    max-width: 10rem !important;
  }

  .small-column-width {
    min-width: 5rem !important;
    max-width: 6.25rem !important;
  }

  .date-column-width {
    min-width: 9.25rem !important;
  }

  .wide-column-width {
    min-width: 12.5rem !important;
  }

  .chip-column-width {
    min-width: 10.5rem !important;
  }

}
