<mat-tab-group>

    <mat-tab *jemsHasPermission="PermissionEnum.ProjectAssessmentChecklistUpdate"
             label="{{'checklists.instance.list.tab' | translate}}">
        <span jemsMultiColumnRow>
            <mat-form-field jemsFormFieldWidth="xx-large">
                <mat-select placeholder="{{'checklists.instance.list.new.select' | translate}}"
                            [(ngModel)]="selectedTemplate">
                    <mat-option *ngFor="let template of checklistTemplates$ | async"
                                [value]="template">
                        <span jemsText>{{template.name}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <jems-pending-button [disabled]="!selectedTemplate"
                                 jemsText class="mb-3 mt-3"
                                 icon="add"
                                 [pending]="isInstantiationInProgress"
                                 (clicked)="createInstance()">
                {{'checklists.instance.list.new.button' | translate}}
            </jems-pending-button>
        </span>

        <jems-alert *ngFor="let alert of alerts$ | async" [show]="true" [type]="alert.type"
                    (closed)="dismissDescriptionUpdateAlert(alert.id)" [disableMargins]="true" class="mb-2 block">
            <p>{{ alert.i18nMessage | translate }}</p>
        </jems-alert>

        <ng-container *ngIf="checklistInstancesSorted$ | async as instances">
            <jems-table #tableInstances *ngIf="instances.length"
                        [configuration]="instancesTableConfiguration"
                        (sortRows)="checklistUtils.onInstancesSortChange($event,
                                                                         tableSelected,
                                                                         checklistPageStore,
                                                                         null)"
                        [rows]="instances">
            </jems-table>
        </ng-container>
    </mat-tab>

    <mat-tab *jemsHasPermission="PermissionEnum.ProjectAssessmentChecklistSelectedRetrieve"
             label="{{'checklists.instance.selected.tab' | translate}}">
        <jems-form *ngIf="selectedChecklistsSorted$ | async as selections"
                   (save)="save(selections)"
                   (discard)="resetForm(selections)">
            <form [formGroup]="form">
                <jems-table #tableSelected *ngIf="selections.length"
                            [configuration]="selectionTableConfiguration"
                            (sortRows)="checklistUtils.onInstancesSortChange($event,
                                                                         tableSelected,
                                                                         checklistPageStore,
                                                                         null)"
                            [rows]="selections">
                </jems-table>
                <p *ngIf="!selections.length">{{'checklists.instance.selected.tab.empty' | translate}}</p>
            </form>
        </jems-form>
    </mat-tab>
</mat-tab-group>

<ng-template #actionsCell let-checklist>
    <button
            [disabled]="(pageStore.currentUserEmail$ | async) !== checklist.creatorEmail && (pageStore.userCanConsolidate$ | async) === false"
            mat-icon-button color="primary"
            (click)="setDescriptionEditable(checklist);$event.stopPropagation();"
            matTooltip="{{'programme.checklists.edit.comment' | translate}}">
        <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="checklist.status === Status.DRAFT && (pageStore.currentUserEmail$ | async) === checklist.creatorEmail"
            mat-icon-button color="accent"
            (click)="delete(checklist);$event.stopPropagation();"
            matTooltip="{{'common.delete.entry.tooltip' | translate}}">
        <mat-icon>delete</mat-icon>
    </button>
</ng-template>

<ng-template #visibleCell let-checklist>
    <mat-checkbox class="text-right"
                  [checked]="visibilities.value.includes(checklist.id)"
                  (change)="onVisibilityChange($event, checklist.id)"
                  [disabled]="!isEditable()">
    </mat-checkbox>
</ng-template>

<ng-template #consolidateCell let-checklist>
    <mat-icon *ngIf="checklist.consolidated">done_all</mat-icon>
</ng-template>

<ng-template #descriptionCell let-checklist>
    <span *ngIf="this.editableChecklistId !== checklist.id" class="description" matTooltip="{{checklist.description}}">
        {{checklist.description}}
    </span>
    <div *ngIf="this.editableChecklistId === checklist.id">
        <div (click)="$event.stopPropagation()">
            <form [formGroup]="descriptionForm" class="description-form">
                <jems-expandable-textarea class="w-100"
                                          label="file.table.column.name.description"
                                          [control]="descriptionForm.controls.description"
                                          [errors]="descriptionForm.controls.description.errors"
                                          characterLimit="150">
                </jems-expandable-textarea>
                <div class="mb-2 mt-2 description-button">
                    <button (click)="$event.stopPropagation(); resetDescription()" mat-stroked-button
                            class="small-stroked-btn"
                            [disabled]="(savingDescriptionId$ | async) === checklist.id">
                        <mat-icon class="mr-1">close</mat-icon>
                        {{'project.file.description.button.cancel' | translate}}
                    </button>

                    <button (click)="saveDescription()" mat-flat-button type="submit"
                            [disabled]="descriptionForm.invalid || (savingDescriptionId$ | async) === checklist.id"
                            class="ml-2 small-flat-btn" color="primary">
                        <mat-icon class="mr-1" *ngIf="(savingDescriptionId$ | async) !== checklist.id">check</mat-icon>
                        <mat-spinner *ngIf="(savingDescriptionId$ | async) === checklist.id" class="mr-4"
                                     color="primary" [diameter]="17"></mat-spinner>
                        {{'project.file.description.button.save' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
