:host::ng-deep {
  .mat-column-checklists-instance-visible {
    justify-content: flex-end;
  }
  .id-column-width {
    padding-right: 0 !important;
  }
  .mat-column-common-action {
    min-width: 12rem !important;
    max-width: 12rem !important;
  }
}

.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description-form {
  width: 20rem !important;
}

.description-button {
  float: right;
}
