<form appFormLayout [formGroup]="programmeForm">
    <div appMultiColumnRow>
        <h3 class="mb-0">{{'programme.data.header' | translate}}</h3>
        <button color="primary" *ngIf="formState === FormState.VIEW" mat-raised-button
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'programme.data.button.edit' | translate}}
        </button>
    </div>
    <mat-form-field>
        <mat-label>{{'programme.data.field.cci' | translate}}</mat-label>
        <input name="cci" formControlName="cci" matInput>
        <mat-error>
            <app-form-field-errors
                    [errors]="programmeForm?.controls?.cci?.errors"
                    [messages]="cciErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <div appMultiColumnRow stretch>
        <mat-form-field>
            <mat-label>{{'programme.data.field.title' | translate}}</mat-label>
            <input [title]="programme.title" name="title" formControlName="title" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.title?.errors"
                        [messages]="titleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'programme.data.field.version' | translate}}</mat-label>
            <input [title]="programme.version" name="version" formControlName="version" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.version?.errors"
                        [messages]="versionErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
    </div>
    <div appMultiColumnRow stretch>
        <mat-form-field>
            <mat-label>{{'programme.data.field.year.from' | translate}}</mat-label>
            <input type="number" name="firstYear" formControlName="firstYear" matInput
                   [max]="programmeForm?.controls?.lastYear?.value"
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.firstYear?.errors"
                        [messages]="firstYearErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'programme.data.field.year.until' | translate}}</mat-label>
            <input type="number" name="lastYear" formControlName="lastYear" matInput
                   [min]="programmeForm?.controls?.firstYear?.value"
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.lastYear?.errors"
                        [messages]="lastYearErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
    </div>
    <mat-error *ngIf="programmeForm.errors?.lastYearBeforeFirstYear">
        {{'programme.lastYear.before.firstYear' | translate}}
    </mat-error>
    <div appMultiColumnRow stretch>
        <mat-form-field>
            <mat-label>{{'programme.data.field.eligible.from' | translate}}</mat-label>
            <input name="eligibleFrom" formControlName="eligibleFrom" matInput
                   [matDatepicker]="eligibleFromPicker"
                   [max]="programmeForm?.controls?.eligibleUntil?.value">
            <mat-datepicker-toggle matSuffix [for]="eligibleFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #eligibleFromPicker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.eligibleFrom?.errors"
                        [messages]="eligibleFromErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'programme.data.field.eligible.until' | translate}}</mat-label>
            <input name="eligibleUntil" formControlName="eligibleUntil" matInput
                   [matDatepicker]="eligibleUntilPicker"
                   [min]="programmeForm?.controls?.eligibleFrom?.value">
            <mat-datepicker-toggle matSuffix [for]="eligibleUntilPicker"></mat-datepicker-toggle>
            <mat-datepicker #eligibleUntilPicker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.eligibleUntil?.errors"
                        [messages]="eligibleUntilErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
    </div>
    <div appMultiColumnRow stretch>
        <mat-form-field>
            <mat-label>{{'programme.data.field.commission.number' | translate}}</mat-label>
            <input [title]="programme.commissionDecisionNumber" name="commissionDecisionNumber"
                   formControlName="commissionDecisionNumber" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.commissionDecisionNumber?.errors"
                        [messages]="commissionDecisionNumberErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'programme.data.field.commission.date' | translate}}</mat-label>
            <input name="commissionDecisionDate" formControlName="commissionDecisionDate" matInput
                   [matDatepicker]="commissionDecisionPicker">
            <mat-datepicker-toggle matSuffix [for]="commissionDecisionPicker"></mat-datepicker-toggle>
            <mat-datepicker #commissionDecisionPicker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.commissionDecisionDate?.errors"
                        [messages]="dateErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
    </div>
    <div appMultiColumnRow stretch>
        <mat-form-field>
            <mat-label>{{'programme.data.field.amending.decision.number' | translate}}</mat-label>
            <input [title]="programme.programmeAmendingDecisionNumber" name="programmeAmendingDecisionNumber"
                   formControlName="programmeAmendingDecisionNumber" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.programmeAmendingDecisionNumber?.errors"
                        [messages]="programmeAmendingDecisionNumberErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'programme.data.field.amending.decision.date' | translate}}</mat-label>
            <input name="programmeAmendingDecisionDate" formControlName="programmeAmendingDecisionDate" matInput
                   [matDatepicker]="programmeAmendingDecisionPicker">
            <mat-datepicker-toggle matSuffix [for]="programmeAmendingDecisionPicker"></mat-datepicker-toggle>
            <mat-datepicker #programmeAmendingDecisionPicker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.programmeAmendingDecisionDate?.errors"
                        [messages]="dateErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
    </div>

    <div appMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button mat-stroked-button
                type="button"
                (click)="changeFormState$.next(FormState.VIEW)">
            {{'common.cancel.label' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                [disabled]="programmeForm.invalid || submitted"
                (click)="onSubmit()">
            {{'programme.data.button.save' | translate}}
        </button>
    </div>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'programme.data.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</form>


