.app-layout {
  &.app-form-layout {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;

    > * {
      width: 100%;
      margin-bottom: var(--gap);
    }

    > button, mat-button-toggle-group {
      width: auto;
    }

    > :last-child {
      margin-bottom: 0;
    }

    h3, h4 {
      &:first-child {
        margin-top: 0;
      }

      margin: 1.75rem 0 0.5rem 0;
    }


    [appLabel] {
      margin-bottom: 0.5rem;
    }

    [appTableFormField] {
      margin: 0.5rem 0;
    }

    mat-radio-group {
      mat-radio-button {
        margin-bottom: 0.5rem;
        display: block;
      }

      mat-radio-button:last-child {
        margin-bottom: 0;
      }

      .mat-radio-label {
        white-space: normal;
      }
    }

    ul {
      padding-inline-start: 2.5rem;

      li {
        max-width: calc(100% - 2.5rem);
      }
    }
  }

}
