<ng-container *ngIf="data$ | async as data">
    <app-form (save)="updateCoFinancingAndContributions()">
        <form [formGroup]="coFinancingForm" appFormLayout>
            <h3>{{ 'partner.tab.coFinancing' | translate }}</h3>
            <p>{{ 'project.partner.coFinancing.intro' | translate }}</p>
            <div [appTableConfig]="[{},{maxInRem:10},{maxInRem:10}, {maxInRem: 2}]"
                 appNoWidthLimit>
                <div>
                    <span>{{ 'project.partner.coFinancing.source' | translate }}</span>
                    <span>{{ 'project.partner.coFinancing.amount' | translate }}</span>
                    <span class="text-right">{{ 'project.partner.coFinancing.percentage' | translate }}</span>
                    <div></div>
                </div>

                <div *ngFor="let fund of finances.controls; let i=index let first=first">
                    <ng-container [formArrayName]="constants.FORM_CONTROL_NAMES.finances">
                        <ng-container [formGroupName]="i">
                            <mat-form-field>
                                <mat-select (ngModelChange)="callFundChanged(fund, data.callFunds)"
                                            [disabled]="coFinancingForm.disabled"
                                            [formControlName]="constants.FORM_CONTROL_NAMES.fundId">
                                    <mat-option *ngFor="let callFund of notSelectedFunds(data.callFunds, fund)"
                                                [value]="callFund.id">
                                        {{callFund.abbreviation | translateBySystemLanguage | async}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint *ngIf="!fund.get(this.constants.FORM_CONTROL_NAMES.fundId)?.value"
                                          class="mat-error">
                                    {{'project.partner.coFinancing.required' | translate}}
                                </mat-hint>
                                <mat-error>
                                    <app-form-field-errors
                                            [errors]="fund.get(constants.FORM_CONTROL_NAMES.fundId)?.errors"
                                            [messages]="constants.FORM_ERRORS.fundIdErrors">
                                    </app-form-field-errors>
                                </mat-error>
                            </mat-form-field>
                            <div class="text-right">{{getFundAmount(fund, data.totalBudget) | asMoney }}</div>
                            <mat-form-field class="text-right">
                                <input (ngModelChange)="financesPercentsChanged(data.totalBudget)"
                                       [formControlName]="constants.FORM_CONTROL_NAMES.fundPercentage"
                                       [options]="{min: 0, max: getMaxRate(fund, data.callFunds), align: 'right'}"
                                       currencyMask matInput name="percentage"
                                       type="decimal">
                                <div class="pl-1" matSuffix>%</div>
                            </mat-form-field>
                            <div>
                                <button (click)="deleteAdditionalFund(i, data.totalBudget)"
                                        *ngIf="data.editable && !first" color="accent" mat-icon-button type="button">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div *ngIf="partnerPercentage?.errors" class="text-right">
                    <mat-error>
                        <app-form-field-errors
                                [errors]="partnerPercentage?.errors"
                                [messages]="constants.FORM_ERRORS.fundRateTotalErrors">
                        </app-form-field-errors>
                    </mat-error>
                </div>
                <button (click)="addAdditionalFund(data.callFunds, undefined)"
                        *ngIf="canAddFund(data.callFunds, data.editable)" class="mt-2 co-financing-button"
                        mat-icon-button type="button">
                    <mat-icon>add</mat-icon>
                </button>

                <div>
                    <div>{{ 'project.partner.coFinancing.partnerContribution' | translate }}</div>
                    <div class="text-right">{{ partnerAmount.value | asMoney }}</div>
                    <div class="text-right">{{ partnerPercentage.value | asMoney}} %</div>
                    <div></div>
                </div>
                <div class="footer">
                    <div>{{ 'project.partner.coFinancing.total' | translate }}</div>
                    <div class="text-right">{{ data.totalBudget | asMoney }}</div>
                    <div class="text-right">{{100 | asMoney}} %</div>
                    <div></div>
                </div>
            </div>

            <h3>{{ 'project.partner.coFinancing.contribution.title' | translate }}</h3>

            <app-alert
                    [show]="data.showTotalContributionWarning"
                    [type]="Alert.WARNING">
                <p>{{'project.partner.coFinancing.contribution.total.warning' | translate}}</p>
            </app-alert>

            <div [appTableConfig]="[{minInRem:5},{maxInRem:10},{maxInRem:10},{maxInRem:10}, {maxInRem:2}]"
                 appNoWidthLimit>
                <div>
                    <span>{{ 'project.partner.coFinancing.contribution.source.name' | translate }}</span>
                    <span>{{ 'project.partner.coFinancing.contribution.legal.status' | translate }}</span>
                    <span>{{ 'project.partner.coFinancing.contribution.amount' | translate }}</span>
                    <div>{{ 'project.partner.coFinancing.contribution.total.partner.contribution.percentage' | translate }}
                        <app-context-info
                                infoPosition="right"
                                infoText="{{ 'project.partner.coFinancing.contribution.total.partner.contribution.percentage.contextinfo' | translate }}">
                        </app-context-info>
                    </div>
                    <div></div>
                </div>

                <div *ngFor="let partnerContribution of partnerContributions.controls;let i=index">
                    <ng-container [formArrayName]="constants.FORM_CONTROL_NAMES.partnerContributions">
                        <ng-container [formGroupName]="i">
                            <div *ngIf="partnerContribution?.value?.partner">{{partnerContribution?.value?.name}}</div>
                            <mat-form-field
                                    *ngIf="!partnerContribution.get(constants.FORM_CONTROL_NAMES.partner)?.value">
                                <input [formControlName]="constants.FORM_CONTROL_NAMES.name" matInput required>
                                <mat-hint *ngIf="!partnerContribution?.value?.name"
                                          class="mat-error">
                                    {{'project.partner.coFinancing.required' | translate}}
                                </mat-hint>
                                <mat-error>
                                    <app-form-field-errors
                                            [errors]="partnerContribution.get(constants.FORM_CONTROL_NAMES.name)?.errors"
                                            [messages]="constants.FORM_ERRORS.partnerContributionNameErrors"></app-form-field-errors>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select [formControlName]="constants.FORM_CONTROL_NAMES.status" required>
                                    <mat-option
                                            [value]="partnerContributionStatus.Public">{{partnerContributionStatus.Public}}</mat-option>
                                    <mat-option
                                            [value]="partnerContributionStatus.Private">{{partnerContributionStatus.Private}}</mat-option>
                                    <mat-option
                                            *ngIf="!partnerContribution?.value?.partner"
                                            [value]="partnerContributionStatus.AutomaticPublic">{{partnerContributionStatus.AutomaticPublic}}</mat-option>
                                </mat-select>
                                <mat-hint *ngIf="!partnerContribution?.value?.status"
                                          class="mat-error">
                                    {{'project.partner.coFinancing.required' | translate}}
                                </mat-hint>
                                <mat-error>
                                    <app-form-field-errors
                                            [errors]="partnerContribution.get(constants.FORM_CONTROL_NAMES.status)?.errors"
                                            [messages]="constants.FORM_ERRORS.partnerContributionStatusErrors"></app-form-field-errors>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input [formControlName]="constants.FORM_CONTROL_NAMES.amount"
                                       [options]="{min: 0, align: 'right'}" currencyMask
                                       matInput type="decimal">
                                <mat-error>
                                    <app-form-field-errors
                                            [errors]="partnerContribution.get(constants.FORM_CONTROL_NAMES.amount)?.errors"
                                            [messages]="constants.FORM_ERRORS.partnerContributionAmountErrors"></app-form-field-errors>
                                </mat-error>
                            </mat-form-field>
                            <div class="text-right">
                                {{partnerContribution.value.amount  | percentage: data.totalBudget : 2 | asMoney}} %
                            </div>
                            <div>
                                <button (click)="deletePartnerContribution(i)"
                                        *ngIf="!partnerContribution.value.partner && coFinancingForm.enabled"
                                        color="accent"
                                        mat-icon-button
                                        type="button">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <mat-error *ngIf="(formService.dirty$ | async)">
                <app-form-field-errors
                        [args]="data.partnerContributionErrorsArgs"
                        [errors]="partnerContributions.errors"
                        [messages]="constants.FORM_ERRORS.partnerContributionErrors">
                </app-form-field-errors>
            </mat-error>
            <ng-container
                    *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.BUDGET_AND_CO_FINANCING.PARTNER_ADD_NEW_CONTRIBUTION_ORIGIN">
                <button (click)="addNewPartnerContribution()"
                        *ngIf="partnerContributions.length < 10 && coFinancingForm.enabled"
                        mat-stroked-button
                        type="button">
                    <mat-icon>add</mat-icon>
                    <span>{{ 'project.partner.coFinancing.contribution.add.contribution.origin' | translate }}</span>
                </button>

                <div [appTableConfig]="[{minInRem:5},{maxInRem:10},{maxInRem:10}, {maxInRem:2}]"
                     appNoWidthLimit>
                    <div class="hidden"></div>
                    <div>
                        <span>{{ 'project.partner.coFinancing.contribution.sub.total.public.contribution' | translate }}</span>
                        <div class="text-right">{{ data.publicContributionSubTotal | asMoney}}</div>
                        <span class="text-right">
                        {{ data.publicContributionSubTotal | percentage:data.totalBudget : 2 | asMoney}} %
                    </span>
                    </div>
                    <div>
                        <div>{{ 'project.partner.coFinancing.contribution.sub.total.automatic.public.contribution' | translate }}</div>
                        <div class="text-right">{{ data.automaticPublicContributionSubTotal | asMoney}}</div>
                        <span class="text-right">
                        {{ data.automaticPublicContributionSubTotal | percentage:data.totalBudget : 2 | asMoney}} %
                    </span>
                    </div>
                    <div>
                        <div>{{ 'project.partner.coFinancing.contribution.sub.total.private.contribution' | translate }}</div>
                        <div class="text-right">{{ data.privateContributionSubTotal | asMoney}}</div>
                        <span class="text-right">
                        {{ data.privateContributionSubTotal | percentage:data.totalBudget : 2 | asMoney}} %
                    </span>
                    </div>
                    <div class="footer">
                        <div>{{ 'project.partner.coFinancing.contribution.total' | translate }}
                            <app-context-info
                                    infoPosition="right"
                                    infoText="{{ 'project.partner.coFinancing.contribution.total.contextinfo' | translate }}">
                            </app-context-info>
                        </div>
                        <div class="text-right">{{ data.contributionTotal | asMoney}}</div>
                        <div class="text-right">{{ partnerPercentage.value | asMoney}} %</div>
                    </div>
                </div>
            </ng-container>
        </form>
    </app-form>
    <pre>{{coFinancingForm.getRawValue() | json}}</pre>
</ng-container>
