<p *ngIf="!callPage?.content.length">No calls submitted</p>
<ng-container>
    <app-table *ngIf="callPage.content.length"
               [configuration]="tableConfiguration"
               [rows]="callPage.content"
               [totalElements]="callPage?.totalElements"
               [pageIndex]="pageIndex"
               (newPageIndex)="newPageIndex.emit($event)"
               (newPageSize)="newPageSize.emit($event)"
               (sortRows)="newSort.emit($event)">>
    </app-table>
</ng-container>

<ng-template #callActionsCell let-call>
    <button mat-raised-button color="primary"
            [disabled]="!isOpen(call)"
            (click)="applyToCall(call.id)">
        {{'call.table.column.action.apply' | translate}}
    </button>
</ng-template>
