<p *ngIf="!callPage?.content.length">No calls submitted</p>
<ng-container>
    <app-table *ngIf="callPage.content.length"
               [configuration]="isApplicant ? tableConfigurationApplicant : tableConfigurationProgramme"
               [rows]="callPage.content"
               [totalElements]="callPage?.totalElements"
               [pageIndex]="pageIndex"
               (newPageIndex)="newPageIndex.emit($event)"
               (newPageSize)="newPageSize.emit($event)"
               (sortRows)="newSort.emit($event)">>
    </app-table>
</ng-container>

<ng-template #callActionsCell let-call>
    <app-call-action-cell
            [call]="call"
            (apply)="applyToCall($event)">
    </app-call-action-cell>
</ng-template>
