<div class="container vertical-center">
    <p>Create a new project application:</p>
    <p>Programme ID : dummy | Call ID : dummy</p>
    <form [formGroup]="submissionForm">
        <div class="form-group">
            <mat-form-field class="col-md-12 project-application-submission-field">
                <mat-label>Project Acronym</mat-label>
                <input name="acronym" formControlName="acronym" matInput placeholder="Project Acronym" required>
                <mat-error>
                    <app-form-field-errors
                            [errors]="submissionForm?.controls?.acronym?.errors"
                            [messages]="acronymErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </div>
        <button *ngxPermissionsOnly="Permission.APPLICANT_USER"
                mat-raised-button
                color="secondary"
                class="button"
                type="button"
                (click)="onCancel()">
            Cancel
        </button>
        <button mat-raised-button
                color="primary"
                type="submit"
                class="button"
                [disabled]="submissionForm.invalid || submitted"
                (click)="onSubmit()">
            + Create Project Application
        </button>
    </form>
    <app-alert
            [show]="showSuccessMessage$ | async"
            [type]="Alert.SUCCESS">
        <p>Project application was successfully saved.</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
