<div class="project-application-submission-container">
    <p>Create a new project application:</p>
    <p>Programme ID : dummy | Call ID : dummy</p>
    <form [formGroup]="submissionForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
        <div class="form-group">
            <mat-form-field class="col-md-12 project-application-submission-field">
                <mat-label>Project Acronym</mat-label>
                <input name="acronym" formControlName="acronym" matInput placeholder="Project Acronym" required>
                <mat-error>
                    {{ getAcronymError() | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-12 project-application-submission-field">
                <mat-label>Submission Date</mat-label>
                <input name="submissionDate" formControlName="submissionDate" matInput
                       placeholder="YYYY-MM-DD" type="text" required>
                <mat-error>
                    {{ getSubmissionDateError() | translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="submissionForm.invalid">
            + Create Project Application
        </button>
    </form>
    <div *ngIf="success">
        <p>Project application was successfully saved.</p>
    </div>
</div>
