<div>
    <h6>{{'programme.priority.objective.title' | translate}}</h6>
    <form [formGroup]="policyForm">
        <div appTableConfig [widthConfig]="['max-15-rem','']">
            <div class="pb-3">
                <h6><span class="ml-5">{{'programme.priority.objective.table.column.code' | translate}}</span></h6>
                <h6>{{'programme.priority.objective.table.column.title' | translate}}</h6>
            </div>
            <div class="mb-3" *ngFor="let control of policyForm?.controls | keyvalue: originalOrder">
                <div>
                    <mat-checkbox (change)="setCheckedStatus(control.key, $event.checked)"></mat-checkbox>
                    <mat-form-field class="ml-3">
                        <mat-label>{{'programme.priority.objective.table.field.code' | translate}}</mat-label>
                        <input [name]="control?.key"
                               [formControlName]="control.key" matInput>
                        <mat-error>
                            <app-form-field-errors
                                    [errors]="control.value?.errors"
                                    [messages]="specificObjectiveCodeErrors">
                            </app-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    {{'programme.policy.' + control.key | translate}}
                </div>
            </div>
        </div>
    </form>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
