<ng-container [formGroup]="multiLanguageFormGroup">
    <ng-container formArrayName="inputs">
        <ng-container *ngFor="let formGroup of inputs.controls; let i=index;" [formGroupName]="i">
            <ng-container
                    *ngIf="isInputVisible(multiLanguageService.currentLanguage$ |async , formGroup.get('language').value)">
                <mat-form-field class="w-100">
                    <mat-label *ngIf="label">{{label | translate}}</mat-label>
                    <input formControlName="translation" matInput>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="formGroup.get('translation').errors"
                                [messages]="constants.FORM_ERRORS.translation">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
