<ng-container *ngIf="multiLanguageFormGroup" [formGroup]="multiLanguageFormGroup">
    <ng-container formArrayName="inputs">
        <ng-container *ngFor="let formGroup of inputs?.controls; let i=index;" [formGroupName]="i">
            <ng-container *ngIf="(currentLanguage$ | async) === getLanguageValue(formGroup)">
                <mat-form-field *ngIf="type==='input'"
                        [class.mat-form-field-disabled]="!isEditable(getLanguageValue(formGroup),languageStore.fallbackLanguage$ | async)"
                        class="w-100">
                    <mat-label *ngIf="label">{{label | translate}}</mat-label>
                    <input
                            #input
                            [placeholder]="useFallBackLanguage? (inputs.value | translateBySystemLanguage: true | async) : ''"
                            [readonly]="!isEditable(getLanguageValue(formGroup),languageStore.fallbackLanguage$ | async)"
                            [formControlName]="constants.FORM_CONTROL_NAMES.translation"
                            (keydown.enter)="$event.preventDefault()"
                            [matTooltip]="condensed ? input.value + ' (' + getTranslationLength(formGroup) + '/' + maxLength + ')' : ''"
                            matInput>
                    <jems-context-info *ngIf="contextInfoText"
                                      [infoText]="contextInfoText">
                    </jems-context-info>
                    <mat-hint *ngIf="input"
                              [jemsHintFor]="input"
                              [hide]="!isEditable(getLanguageValue(formGroup), languageStore.fallbackLanguage$ | async)">
                        <jems-text-hint [currentLength]="getTranslationLength(formGroup)"
                                       [maxLength]="maxLength"></jems-text-hint>
                    </mat-hint>
                    <mat-error>
                        <jems-form-field-errors
                                [errors]="getTranslation(formGroup).errors"
                                [messages]="constants.FORM_ERRORS.translation"
                                [condensed]="condensed">
                       </jems-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="type==='textarea'"
                                [class.mat-form-field-disabled]="!isEditable(getLanguageValue(formGroup),languageStore.fallbackLanguage$ | async)"
                                class="w-100">
                    <mat-label *ngIf="label">{{label | translate}}</mat-label>
                    <textarea [formControlName]="constants.FORM_CONTROL_NAMES.translation"
                              matInput
                              #textarea
                              [matTooltip]="condensed ? textarea.value + ' (' + getTranslationLength(formGroup) + '/' + maxLength + ')' : ''"
                              [placeholder]="useFallBackLanguage? (inputs.value | translateBySystemLanguage: true | async) : ''"
                              [readonly]="!isEditable(getLanguageValue(formGroup), languageStore.fallbackLanguage$ | async)"
                              [cdkTextareaAutosize]
                              [cdkAutosizeMinRows]="minRows"
                              [cdkAutosizeMaxRows]="maxRows">
                    </textarea>
                    <jems-context-info *ngIf="contextInfoText"
                                      [infoText]="contextInfoText">
                    </jems-context-info>
                    <mat-hint *ngIf="textarea"
                            [jemsHintFor]="textarea"
                            [hide]="!isEditable(getLanguageValue(formGroup), languageStore.fallbackLanguage$ | async)">
                        <jems-text-hint [currentLength]="getTranslationLength(formGroup)"
                                       [maxLength]="maxLength"></jems-text-hint>
                    </mat-hint>
                    <mat-error>
                        <jems-form-field-errors
                                [errors]="getTranslation(formGroup).errors"
                                [messages]="constants.FORM_ERRORS.translation"
                                [condensed]="condensed">
                        </jems-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
