<ng-container *ngIf="multiLanguageFormGroup" [formGroup]="multiLanguageFormGroup">
    <ng-container formArrayName="inputs">
        <ng-container *ngFor="let formGroup of inputs?.controls; let i=index;" [formGroupName]="i">
            <ng-container *ngIf="(currentLanguage$ | async) === getLanguageValue(formGroup)">
                <mat-form-field
                        [class.mat-form-field-disabled]="!isEditable(getLanguageValue(formGroup),languageStore.fallbackLanguage$ | async)"
                        class="w-100">
                    <mat-label *ngIf="label">{{label | translate}}</mat-label>
                    <input
                            #inputElement
                            [placeholder]="useFallBackLanguage? (inputs.value | translateBySystemLanguage: true | async) : ''"
                            [readonly]="!isEditable(getLanguageValue(formGroup),languageStore.fallbackLanguage$ | async)"
                            *ngIf="type==='input'" [formControlName]="constants.FORM_CONTROL_NAMES.translation"
                            matInput>

                    <textarea *ngIf="type==='textarea'" [formControlName]="constants.FORM_CONTROL_NAMES.translation"
                              matInput
                              #inputElement
                              [placeholder]="useFallBackLanguage? (inputs.value | translateBySystemLanguage: true | async) : ''"
                              [readonly]="!isEditable(getLanguageValue(formGroup), languageStore.fallbackLanguage$ | async)"
                              [cdkTextareaAutosize]
                              [cdkAutosizeMinRows]="minRows"
                              [cdkAutosizeMaxRows]="maxRows">
                    </textarea>
                    <app-context-info *ngIf="contextInfoText"
                                      [infoText]="contextInfoText">
                    </app-context-info>
                    <mat-hint *ngIf="inputElement"
                            [appHintFor]="inputElement.nativeElement"
                            [hide]="!isEditable(getLanguageValue(formGroup), languageStore.fallbackLanguage$ | async)">
                        <app-text-hint [currentLength]="getTranslation(formGroup)?.value?.length"
                                       [maxLength]="maxLength"></app-text-hint>
                    </mat-hint>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="getTranslation(formGroup).errors"
                                [messages]="constants.FORM_ERRORS.translation">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
