.container {
  width: 80rem;

  .field-third {
    width: 40%;
    padding-top: 1rem;
    margin-right: 10rem;
  }

  .button {
    margin-right: 2rem;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
  }

  ::ng-deep.mat-form-field-disabled .mat-form-field-underline {
    height: 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  input.mat-input-element {
    color: #343a40;
  }

  textarea.mat-input-element {
    color: #343a40;
  }

  ::ng-deep.mat-form-field-disabled .mat-select-arrow {
    visibility: hidden;
  }

  ::ng-deep .mat-select-value-text {
    color: #343a40;
  }

}
