.container {
  width: 80rem;

  .field-third {
    width: 40%;
    padding-top: 1rem;
    margin-right: 10rem;
  }

  .button {
    margin-right: 2rem;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
  }

  input.mat-input-element {
    color: var(--font-color-primary);
  }

}
