.end-flex-header-table {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none !important;
}

.mat-icon-waring {
  color: var(--warn-color);
  &::before {
    content: 'warning_amber';
  }
}
