<jems-project-page-template
        [needsCard]="true"
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
        subTitleKey="project.application.form.section.application.annexes"
        [isVersionedData]="false">
    <div jemsFormLayout>
        <h3>
            {{'file.tab.header' | translate}}
            <jems-context-info infoPosition="right" infoText="{{'file.tab.info' | translate}}"></jems-context-info>
        </h3>
        <jems-file-management [section]="fileManagementSection" jemsNoWidthLimit></jems-file-management>
    </div>
</jems-project-page-template>
