<app-main-page-template *ngIf="details$ | async as details" titleKey="call.detail.title"
                        subTitleKey="call.general.settings">
    <app-call-detail *ngIf="details.call"
            [call]="details.call"
            [strategies]="details.strategies"
            [initialStrategies]="details.initialStrategies"
            [funds]="details.funds"
            [initialFunds]="details.initialFunds"
            [priorityCheckboxes]="details.priorities"
            [initialPriorityCheckboxes]="details.initialPriorities"
            [isApplicant]="details.isApplicant">
    </app-call-detail>
</app-main-page-template>


