<app-breadcrumb></app-breadcrumb>
<div *ngIf="details$ | async as details">
    <app-call-detail
            *ngIf="details.applicantCanAccessCall"
            [call]="details.call"
            [strategies]="details.strategies"
            [funds]="details.funds"
            [priorityCheckboxes]="details.priorities"
            (create)="createCall($event)"
            (update)="callStore.saveCall$.next($event)"
            (publish)="publishCall$.next($event)"
            (cancel)="cancel()">
    </app-call-detail>
</div>
