<jems-main-page-template *ngIf="details$ | async as details" titleKey="call.detail.title"
                        subTitleKey="call.general.settings">
    <jems-call-detail *ngIf="details.call"
            [call]="details.call"
            [strategies]="details.strategies"
            [initialStrategies]="details.initialStrategies"
            [funds]="details.funds"
            [initialFunds]="details.initialFunds"
            [priorityCheckboxes]="details.priorities"
            [initialPriorityCheckboxes]="details.initialPriorities"
            [isApplicant]="details.isApplicant">
    </jems-call-detail>
</jems-main-page-template>


