<ng-container *ngIf="(filterByOwner ? listStore.pageFilteredByOwner$ : listStore.page$) | async as page">
    <p *ngIf="!page.content.length">{{'project.list.empty' | translate}}</p>
    <app-table *ngIf="page.content.length"
               [configuration]="tableConfiguration"
               [rows]="page.content"
               [totalElements]="page?.totalElements"
               [pageIndex]="listStore.newPageIndex$ | async"
               (newPageIndex)="listStore.newPageIndex$.next($event)"
               (newPageSize)="listStore.newPageSize$.next($event)"
               (sortRows)="listStore.newSort$.next($event)">
    </app-table>
</ng-container>
