<jems-public-page-template>
    <h1 class="text-primary">{{'authentication.forgot.password.title.label' | translate}}</h1>
    <ng-container>
        <p>{{'authentication.forgot.password.intro' | translate}}</p>
        <form jemsFormLayout gap="1rem" [formGroup]="form">
            <mat-form-field>
                <mat-label>
                    <mat-icon>email</mat-icon>{{'authentication.email.label' | translate}}</mat-label>
                <input matInput autocomplete="email"
                       formControlName="email" id="email" name="email" required type="text">
                <mat-error *ngIf="!form.controls.email.valid">
                    <jems-form-field-errors
                            [errors]="form.controls.email.errors"
                            [messages]="{email: 'common.error.field.invalid.email'}"
                    ></jems-form-field-errors>
                </mat-error>
            </mat-form-field>

            <div jemsMultiColumnRow>
                <button jemsText mat-stroked-button
                        [routerLink]="loginLink"
                        color="primary"
                        type="button">
                    {{'authentication.forgot.password.cancel.button.label' | translate}}
                </button>
                <jems-pending-button
                        jemsText
                        (click)="requestPasswordResetLink()"
                        [disabled]="loading || !form.valid"
                        [pending]="loading">
                    {{'authentication.forgot.password.request.reset.link.button.label' | translate}}
                </jems-pending-button>
            </div>

            <ng-container *ngIf="success$ | async as success">
                <jems-alert
                        [show]="success"
                        [type]="Alert.SUCCESS">
                    <p>{{'authentication.forgot.password.request.success.message' | translate : {email: email} }}</p>
                </jems-alert>
                <p>{{'authentication.forgot.password.request.success.message.note' | translate }}</p>
            </ng-container>

            <ng-container *ngIf="error$ | async as error">
                <jems-alert
                        [show]="!!error.i18nMessage.i18nKey"
                        [type]="Alert.ERROR"
                        [closable]="false">
                    <jems-api-error-content [error]="error"></jems-api-error-content>
                </jems-alert>
            </ng-container>

        </form>
    </ng-container>

</jems-public-page-template>
