<app-main-page-template [needsCard]="true"
                        *ngIf="project$ | async as project"
                        titleKey="project.application.form.lifecycle.title">
    <div page-sub-title appNoWidthLimit appFormLayout>
        <h2>{{project.acronym}}</h2>
        <app-project-application-information appNoWidthLimit
                                             [project]="project"></app-project-application-information>
    </div>

    <div appFormLayout >
        <app-project-application-data appNoWidthLimit></app-project-application-data>
        <h3 id="applicationFormLifecycleAttachments">{{'file.tab.header' | translate}}</h3>
        <mat-tab-group appNoWidthLimit>
            <mat-tab label="{{'file.tab.application' | translate}}">
                <ng-template matTabContent>
                    <app-project-application-files
                            [projectId]="projectId"
                            [fileType]="fileType.APPLICANTFILE">
                    </app-project-application-files>
                </ng-template>
            </mat-tab>
            <mat-tab label="{{'file.tab.assessment' | translate}}" *ngIf="assessmentFilesVisible$ | async">
                <ng-template matTabContent>
                    <app-project-application-files
                            [projectId]="projectId"
                            [fileType]="fileType.ASSESSMENTFILE">
                    </app-project-application-files>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</app-main-page-template>
