<form [formGroup]="descriptionForm" class="description-form">
    <label *ngIf="formState === FormState.VIEW"
           [title]="file?.description">
        {{getSizedDescription()}}
    </label>
    <mat-form-field *ngIf="formState === FormState.EDIT" class="description-text-area-field">
        <textarea name="description" formControlName="description" class="description-text-area"
                  matInput #inputCharacters rows="4">
        </textarea>
        <mat-hint *ngIf="formState === FormState.EDIT">
            {{ inputCharacters.value.length }} / 100 {{'common.textarea.hint' | translate}}
        </mat-hint>
        <mat-error>
            {{ 'project.file.description.size.too.long' | translate}}
            ({{ inputCharacters.value.length }}/100 {{'common.textarea.hint' | translate}})
        </mat-error>
    </mat-form-field>
    <button *ngIf="formState === FormState.EDIT"
            mat-stroked-button
            class="button"
            (click)="onCancel()">{{'project.file.description.button.cancel' | translate}}
    </button>

    <button *ngIf="formState === FormState.EDIT"
            mat-raised-button color="primary" class="button right-button" type="submit"
            [disabled]="descriptionForm.invalid || submitted"
            (click)="onSubmit()">{{'project.file.description.button.save' | translate}}
    </button>
</form>
