<form appFormLayout [formGroup]="decisionForm">
    <mat-radio-group required formControlName="status"
                     name="status-{{status?.status}}"
                     [disabled]="!!status">
        <mat-radio-button *ngFor="let option of options" [value]="option">
            {{'project.assessment.fundingDecision.' + option | translate}}
        </mat-radio-button>
    </mat-radio-group>
    <app-expandable-textarea [control]="decisionForm?.controls?.notes"
                             [errors]="decisionForm?.controls?.notes?.errors"
                             [messages]="noteErrors"
                             [characterLimit]="10000"
                             [label]="'project.assessment.fundingDecision.dialog.field.note'"
                             [disabled]="!!status"
                             [customStyle]="'outline'">
    </app-expandable-textarea>
    <mat-form-field appFormFieldWidth="xx-large">
        <mat-label>{{'project.assessment.fundingDecision.dialog.field.date' | translate | dateFormatInfo}}</mat-label>
        <input required formControlName="decisionDate" matInput
               name="decisionDate-{{status?.status}}"
               [readonly]="!!fundingDecision"
               [matDatepicker]="picker"
               [max]="today"
               [min]="eligibilityDecisionDate">
        <mat-datepicker-toggle
                matSuffix
                [disabled]="!!status"
                [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
            <app-form-field-errors
                    [errors]="decisionForm?.controls?.decisionDate?.errors"
                    [messages]="dateErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <ng-container *ngIf="!status">
        <div appMultiColumnRow *hasPermission="[PermissionsEnum.ProjectStatusDecideApproved, PermissionsEnum.ProjectStatusDecideApprovedWithConditions, PermissionsEnum.ProjectStatusDecideNotApproved]">
            <button mat-stroked-button
                    (click)="redirectToProject()">
                {{'project.assessment.fundingDecision.dialog.button.cancel' | translate}}
            </button>

            <app-pending-button
                    [confirm]="getFundingConfirmation()"
                    [pending]="actionPending"
                    [disabled]="decisionForm.invalid || decisionForm.disabled"
                    (clicked)="onSubmit()">
                {{submitLabel | translate}}
            </app-pending-button>
        </div>
    </ng-container>
</form>


