<form jemsFormLayout [formGroup]="decisionForm">
    <mat-radio-group required formControlName="status"
                     name="status-{{currentVersionOfProjectStatus?.status}}"
                     [disabled]="!!currentVersionOfProjectStatus || !userCanChangeFunding">
        <mat-radio-button *ngFor="let option of options" [value]="option">
            {{'project.assessment.fundingDecision.' + option | translate}}
        </mat-radio-button>
    </mat-radio-group>
    <jems-expandable-textarea [control]="decisionForm?.controls?.notes"
                             [errors]="decisionForm?.controls?.notes?.errors"
                             [characterLimit]="10000"
                             [label]="'project.assessment.fundingDecision.dialog.field.note'"
                             [disabled]="!!currentVersionOfProjectStatus || !userCanChangeFunding"
                             [customStyle]="'outline'">
    </jems-expandable-textarea>
    <mat-form-field jemsFormFieldWidth="xx-large">
        <mat-label>{{'project.assessment.fundingDecision.dialog.field.date' | translate | dateFormatInfo}}</mat-label>
        <input required formControlName="decisionDate" matInput
               name="decisionDate-{{currentVersionOfProjectStatus?.status}}"
               [readonly]="!!fundingDecision || !userCanChangeFunding"
               [matDatepicker]="picker"
               [max]="today"
               [min]="eligibilityDecisionDate">
        <mat-datepicker-toggle
                matSuffix
                [disabled]="!!currentVersionOfProjectStatus || !userCanChangeFunding"
                [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
            <jems-form-field-errors
                    [errors]="decisionForm?.controls?.decisionDate?.errors"
                    [messages]="dateErrors">
            </jems-form-field-errors>
        </mat-error>
    </mat-form-field>
    <ng-container *ngIf="!currentVersionOfProjectStatus">
        <div jemsMultiColumnRow *jemsHasPermission="[PermissionsEnum.ProjectStatusDecideApproved, PermissionsEnum.ProjectStatusDecideApprovedWithConditions, PermissionsEnum.ProjectStatusDecideNotApproved]">
            <button jemsText mat-stroked-button
                    (click)="redirectToAssessmentAndDecisions()">
                {{'project.assessment.fundingDecision.dialog.button.cancel' | translate}}
            </button>

            <jems-pending-button
                    [confirm]="getFundingConfirmation()"
                    [pending]="actionPending"
                    [disabled]="decisionForm.invalid || decisionForm.disabled"
                    (clicked)="onSubmit()">
                {{submitLabel | translate}}
            </jems-pending-button>
        </div>
    </ng-container>
</form>


