<ng-container *ngIf="data$ | async as data">
    <form jemsFormLayout>
        <h3>{{ 'payments.to.ec.detail.summary.tab.attachments.title' | translate }}</h3>

        <jems-file-list jemsNoWidthLimit
                        [fileList]="data.attachments"
                        [setDescriptionCallback]="setDescriptionCallback"
                        [deleteCallback]="deleteCallback"
                        (onSortChange)="paymentAuditAttachmentsStore.newSort$.next($event)"
                        (onPageIndexChange)="paymentAuditAttachmentsStore.newPageIndex$.next($event)"
                        (onPageSizeChange)="paymentAuditAttachmentsStore.newPageSize$.next($event)"
                        (onDownload)="downloadFile($event)"
                        (refresh)="paymentAuditAttachmentsStore.filesChanged$.next()">
        </jems-file-list>

        <div *ngIf="data.isPaymentToEcEditable">
            <input #selectFile (change)="uploadFile($event?.target)" onclick="this.value=null;"
                   type="file" [accept]="acceptedFilesTypes" [hidden]="true">
            <jems-pending-button (clicked)="selectFile.click()"
                                 type="secondary"
                                 icon="file_upload"
                                 [buttonOptions]="{class: 'mr-1 font-size-medium', fontSet: 'material-icons-outlined'}"
                                 [pending]="isUploadInProgress">
                {{ 'file.upload.add.new' | translate }}
            </jems-pending-button>
        </div>

        <jems-alert *ngIf="paymentAuditAttachmentsStore.error$ | async as error"
                    [show]="!!error"
                    [type]="Alert.ERROR">
            <jems-api-error-content [error]="error"></jems-api-error-content>
        </jems-alert>
        <jems-alert *ngIf="fileSizeOverLimitError$ | async as showError"
                    [show]="showError"
                    [type]="Alert.ERROR">
            <p>{{'project.file.size.over.limit' | translate}} {{maximumAllowedFileSizeInMB}} MB</p>
        </jems-alert>

    </form>
</ng-container>
