#status {
  display: flex;
  align-items: baseline;

  .mat-chip {
    color: var(--font-color-status-chips);
    font-weight: 600;
  }

  .draft {
    background-color: var(--status-draft);
  }

  .submitted {
    background-color: var(--status-submitted);
  }

  .approved {
    background-color: var(--status-approved);
  }

  .declined {
    background-color: var(--status-declined);
  }

  .with-conditions {
    background-color: var(--status-approved-with-conditions);
  }

  .contracted {
    background-color: var(--status-contracted);
  }

  .closed {
    background-color: var(--status-closed);
  }
}

#project-info {
  border: 1px solid;
  border-color: var(--table-border-color);

  .project-row {
    display: flex;
  }

  .header {
    background-color: var(--light-blue-gray);
    flex: 0 0 12rem;
    background-clip: padding-box;
    text-align: right;
    font-weight: var(--font-weight-strong);
  }

  .expiration {
    color: var(--error-color);
  }
}

