<div [appTableConfig]>
    <div>
        <span>{{'project.detail.table.id.application' | translate}}</span>
        <span>{{'project.detail.table.id.programme' | translate}}</span>
        <span>{{'project.detail.table.call.name' | translate}}</span>
        <span>{{'project.detail.table.project.acronym' | translate}}</span>
        <span>{{'project.detail.table.submission.first' | translate}}</span>
        <span>{{'project.detail.table.submission.latest' | translate}}</span>
        <span *ngIf="project.projectData?.programmePriority"
              [title]="project.projectData?.programmePriority?.title">{{'project.detail.table.programme.priority' | translate}}</span>
        <span *ngIf="project.projectData?.specificObjective"
              [title]="'programme.policy.' + project.projectData?.specificObjective?.programmeObjectivePolicy | translate">{{'project.detail.table.specific.objective' | translate}}</span>
        <span>{{'project.detail.table.status' | translate}}</span>
    </div>
    <div>
        <span>{{project.id}}</span>
        <span>dummy</span>
        <span>{{project.callSettings.callName}}</span>
        <span>{{project.acronym}}</span>
        <div>
            <ng-container *ngIf="project.firstSubmission">
                <div>{{project.firstSubmission?.updated | date : Tables.DEFAULT_DATE_FORMAT}}</div>
                <div>by {{project.firstSubmission?.user?.name}} {{project.firstSubmission?.user?.surname}}</div>
            </ng-container>
        </div>

        <div>
            <ng-container *ngIf="project.lastResubmission">
                <div>{{project.lastResubmission?.updated | date : Tables.DEFAULT_DATE_FORMAT}}</div>
                <span>by {{project.lastResubmission?.user?.name}} {{project.lastResubmission?.user?.surname}}</span>
            </ng-container>
        </div>
        <div *ngIf="project.projectData?.programmePriority" [title]="project.projectData?.programmePriority?.title">
            {{project.projectData?.programmePriority?.code}}
        </div>
        <div *ngIf="project.projectData?.specificObjective"
             [title]="'programme.policy.' + project.projectData?.specificObjective?.programmeObjectivePolicy | translate">
            {{project.projectData?.specificObjective?.code}}
        </div>
        <div>{{'common.label.projectapplicationstatus.' + project.projectStatus.status | translate}}</div>
    </div>
</div>
