<div id="status" class="mb-3">
    {{'project.detail.table.status' | translate}}:
    <mat-chip-list class="mr-1 ml-1">
        <mat-chip selected="true"
                  [class.draft]="hasDraftStatusColor()"
                  [class.submitted]="hasSubmittedStatusColor()"
                  [class.approved]="hasApprovedStatusColor()"
                  [class.declined]="hasDeclinedStatusColor()"
                  [class.with-conditions]="hasApprovedWithConditionsStatusColor()"
                  [class.contracted]="hasContractedStatusColor()">
            {{'common.label.projectapplicationstatus.' + project?.projectStatus.status | translate}}
        </mat-chip>
    </mat-chip-list>
    <span>{{'project.detail.overview.since' | translate : {date: project.projectStatus.updated | localeDate} }}</span>
</div>
<div id="project-info">
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.id.application' | translate}}</span>
        <span class="p-1">{{project.customIdentifier}} – {{project.acronym}}</span>
    </div>
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.overview.applicant.name' | translate}}</span>
        <span class="p-1">{{getApplicantName()}}</span>
    </div>
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.overview.project.name' | translate}}</span>
        <span class="p-1">{{project?.title | translateContainerLessInputsBySystemLanguage | async}}</span>
    </div>
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.programme.priority' | translate}}</span>
        <span class="p-1">{{getCodeAndTitle(project.programmePriority?.code, (project.programmePriority?.title | translateContainerLessInputsBySystemLanguage| async))}}</span>
    </div>
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.specific.objective' | translate}}</span>
        <span class="p-1">
              <ng-container *ngIf="project.specificObjective">
                  {{project.specificObjective?.code}}
                  - {{'programme.policy.' + project.specificObjective?.programmeObjectivePolicy | translate}}
              </ng-container>
        </span>
    </div>
    <div class="project-row">
        <span class="header p-1 pt-3 pr-3">{{'project.detail.table.call.name' | translate}}</span>
        <span class="p-1 pt-3">
            <a *jemsHasPermission="[PermissionsEnum.CallRetrieve, PermissionsEnum.ProjectCreate]"
               [routerLink]="[CALL_PATH, project?.callSettings?.callId]">
                {{project?.callSettings?.callName}}
            </a>
            <span [class.expiration]="ProjectUtil.isDraft(project) || ProjectUtil.isStep1Draft(project)">
                {{'project.detail.overview.call.expiration' | translate : getCallInfo()}}
            </span>
        </span>
    </div>
    <div *ngIf="project?.firstSubmissionStep1" class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.step.one.submission.first' | translate}}</span>
        <span class="p-1">
            {{'project.detail.overview.applicant' | translate : getSubmission(project?.firstSubmissionStep1)}}
        </span>
    </div>
    <div *ngIf="project?.firstSubmission" class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.submission.first' | translate}}</span>
        <span class="p-1">
            {{'project.detail.overview.applicant' | translate : getSubmission(project?.firstSubmission)}}
        </span>
    </div>
    <div *ngIf="project?.lastResubmission" class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.submission.latest' | translate}}</span>
        <span class="p-1">
            {{'project.detail.overview.applicant' | translate : getSubmission(project?.lastResubmission)}}
        </span>
    </div>
    <div *ngIf="project?.contractedDecision" class="project-row">
        <span class="header p-1 pr-3">{{'project.table.column.name.contracted' | translate}}</span>
        <span class="p-1">
            {{'project.detail.overview.applicant' | translate : getSubmission(project?.contractedDecision)}}
        </span>
    </div>
</div>
