<div id="status" class="mb-3">
    {{'project.detail.table.status' | translate}}:
    <mat-chip-list class="mr-1 ml-1">
        <mat-chip selected="true"
                  [class.draft]="project.projectStatus.status === STATUS.DRAFT || project.projectStatus.status === STATUS.RETURNEDTOAPPLICANT"
                  [class.submitted]="project.projectStatus.status === STATUS.SUBMITTED || project.projectStatus.status === STATUS.ELIGIBLE"
                  [class.approved]="project.projectStatus.status === STATUS.APPROVED"
                  [class.declined]="project.projectStatus.status === STATUS.INELIGIBLE || project.projectStatus.status === STATUS.NOTAPPROVED"
                  [class.with-conditions]="project.projectStatus.status === STATUS.APPROVEDWITHCONDITIONS">
            {{'common.label.projectapplicationstatus.' + project?.projectStatus.status | translate}}
        </mat-chip>
    </mat-chip-list>
    <span>{{'project.detail.overview.since' | translate : {date: formatDate(project.projectStatus.updated)} }}</span>
</div>
<div id="project-info">
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.id.application' | translate}}</span>
        <span class="p-1">{{project.id}} - {{project.acronym}}</span>
    </div>
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.overview.applicant.name' | translate}}</span>
        <span class="p-1">{{getApplicantName()}}</span>
    </div>
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.overview.project.name' | translate}}</span>
        <span class="p-1">{{project?.projectData?.title | translateContainerLessInputsBySystemLanguage | async}}</span>
    </div>
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.programme.priority' | translate}}</span>
        <span class="p-1">{{getCodeAndTitle(project.projectData?.programmePriority?.code, (project.projectData?.programmePriority?.title | translateContainerLessInputsBySystemLanguage| async))}}</span>
    </div>
    <div class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.specific.objective' | translate}}</span>
        <span class="p-1">
              <ng-container *ngIf="project.projectData?.specificObjective">
                  {{project.projectData?.specificObjective?.code}}
                  - {{'programme.policy.' + project.projectData?.specificObjective?.programmeObjectivePolicy | translate}}
              </ng-container>
        </span>
    </div>
    <div class="project-row">
        <span class="header p-1 pt-3 pr-3">{{'project.detail.table.call.name' | translate}}</span>
        <span class="p-1 pt-3">
            <a [routerLink]="[CALL_PATH, project?.callSettings?.callId]">
                {{project?.callSettings?.callName}}
            </a>
            <span [class.expiration]="project.projectStatus.status === STATUS.DRAFT">
                {{'project.detail.overview.call.expiration' | translate : getCallInfo()}}
            </span>
        </span>
    </div>
    <div *ngIf="project?.lastResubmission" class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.submission.latest' | translate}}</span>
        <span class="p-1">
            {{'project.detail.overview.applicant' | translate : getSubmission(project?.lastResubmission)}}
        </span>
    </div>
    <div *ngIf="project?.firstSubmission" class="project-row">
        <span class="header p-1 pr-3">{{'project.detail.table.submission.first' | translate}}</span>
        <span class="p-1">
            {{'project.detail.overview.applicant' | translate : getSubmission(project?.firstSubmission)}}
        </span>
    </div>
</div>
