<div class="row project-detail-table-header">
    <h6>List of added files ({{fileNumber}})</h6>
    <input type="file" #selectFile onclick="this.value=null;"
           (change)="addNewFilesForUpload($event)">
    <button *ngIf="permission === Permission.ADMINISTRATOR
                || projectStatus === OutputProjectStatus.StatusEnum.DRAFT
                || projectStatus === OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT" mat-raised-button
            color="primary"
            (click)="selectFile.click()">+ add new file
    </button>
</div>

<app-alert
        [show]="showSuccessMessage$ | async"
        [type]="Alert.SUCCESS">
    <p>Upload of {{uploadedFileName}} successful.</p>
</app-alert>
<app-alert
        [show]="(error$ | async) !== null"
        [type]="Alert.ERROR">
    <p *ngIf="(error$ | async)?.httpStatus === 422; else unknown">File {{uploadedFileName}} already exists.</p>
</app-alert>
<ng-template #unknown>
    <p>Upload of {{uploadedFileName}} not successful.</p>
</ng-template>
