<ng-container *ngxPermissionsExcept="[Permission.PROGRAMME_USER]">
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.DRAFT" class="row">
        <button mat-raised-button
                color="primary"
                (click)="submitProject()">Submit Project Application
        </button>
    </div>
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT" class="row">
        <button mat-raised-button
                color="primary"
                (click)="resubmitProject()">Re-submit Project Application
        </button>
    </div>
</ng-container>

<ng-container *ngxPermissionsExcept="[Permission.APPLICANT_USER]">
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.SUBMITTED" class="row">
        <button mat-raised-button
                color="primary"
                (click)="returnToApplicant()">Return To Applicant
        </button>
    </div>
</ng-container>

<ng-container *ngxPermissionsExcept="[Permission.APPLICANT_USER]">
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.ELIGIBLE" class="row">
        <button mat-raised-button
                color="primary"
                (click)="returnToApplicant()">Return To Applicant
        </button>
    </div>
</ng-container>

<app-alert
        [show]="showSuccessMessage$ | async"
        [type]="Alert.SUCCESS">
    <p *ngIf="projectStatus === OutputProjectStatus.StatusEnum.ELIGIBLE">
        {{'project.detail.eligible.success' | translate}}
    </p>
    <p *ngIf="projectStatus === OutputProjectStatus.StatusEnum.INELIGIBLE">
        {{'project.detail.ineligible.success' | translate}}
    </p>
    <p *ngIf="projectStatus === OutputProjectStatus.StatusEnum.SUBMITTED">
        {{'project.detail.submitted.success' | translate}}
    </p>
    <p *ngIf="projectStatus === OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT">
        {{'project.detail.returned.to.applicant.success' | translate}}
    </p>
</app-alert>
