<ng-container *ngxPermissionsExcept="[Permission.PROGRAMME_USER]">
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.DRAFT" class="row">
        <button mat-raised-button
                color="primary"
                (click)="submitProject()">{{'project.detail.button.submit' | translate}}
        </button>
    </div>
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT" class="row">
        <button mat-raised-button
                color="primary"
                (click)="resubmitProject()">{{'project.detail.button.resubmit' | translate}}
        </button>
    </div>
</ng-container>

<ng-container *ngxPermissionsOnly="[Permission.ADMINISTRATOR, Permission.PROGRAMME_USER]">
    <div class="row">
        <button *ngIf="returnableStatuses.includes(projectStatus)"
                mat-raised-button color="primary"
                (click)="returnToApplicant()">{{'project.detail.button.return.applicant' | translate}}
        </button>
        <button *ngIf="projectRevertStatus"
                mat-raised-button color="primary"
                (click)="revertProjectStatus()">
            {{ 'project.application.revert.status.button.label'| translate: {status: projectRevertStatus.to.status} }}
        </button>
    </div>
</ng-container>

<div class="row">
    <button mat-raised-button
            color="primary"
            [routerLink]="'/project/'+ projectId + '/applicationForm'">
        {{'project.application.form.title' | translate}}
    </button>
</div>

<app-alert
        [show]="showSuccessMessage$ | async"
        [type]="Alert.SUCCESS">
    <p *ngIf="projectStatus !== OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT">
        {{'project.detail.submitted.success' | translate}}
    </p>
    <p *ngIf="projectStatus === OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT">
        {{'project.detail.returned.to.applicant.success' | translate}}
    </p>
</app-alert>
