<jems-main-page-template [needsCard]="true" *ngIf="languages$ | async as languages"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.tab.languages">
    <ng-container>
        <jems-programme-languages
                [languages]="languages"
                [success$]="languagesSaveSuccess$"
                [error$]="languagesSaveError$"
                (saveLanguages)="saveLanguages$.next($event)">
        </jems-programme-languages>
    </ng-container>
</jems-main-page-template>
