<div *ngIf="currentPage$ | async as filePage" class="container project-files-table-container">
    <app-project-application-file-upload
            *ngxPermissionsExcept="[Permission.PROGRAMME_USER]"
            [fileNumber]="filePage.totalElements"
            [statusMessages]="statusMessages"
            [projectStatus]="projectStatus$ | async"
            (uploadFile)="addNewFilesForUpload($event)">
    </app-project-application-file-upload>
    <app-project-application-files-list
            [filePage]="filePage"
            [pageIndex]="newPageIndex$ | async"
            [editActionVisible]="editActionVisible"
            [deleteActionVisible]="deleteActionVisible"
            [downloadActionVisible]="downloadActionVisible"
            (deleteFile)="deleteFile($event)"
            (downloadFile)="downloadFile($event)"
            (saveDescription)="saveDescription($event)"
            (newSort)="newSort$.next($event)"
            (newPageIndex)="newPageIndex$.next($event)"
            (newPageSize)="newPageSize$.next($event)">
    </app-project-application-files-list>
</div>
