<div>
    <h6>{{'programme.priority.objective.title' | translate}}</h6>
    <form [formGroup]="policyForm">
        <div>
            <h6 class="inline-title-left">{{'programme.priority.objective.table.column.code' | translate}}</h6>
            <h6 class="inline-title-right">{{'programme.priority.objective.table.column.title' | translate}}</h6>
        </div>
        <ul class="field-full">
            <li *ngFor="let control of policyForm?.controls | keyvalue">
                <mat-checkbox (change)="setCheckedStatus(control.key, $event.checked)">
                </mat-checkbox>
                <mat-form-field class="checkbox-field">
                    <mat-label>{{'programme.priority.objective.table.field.code' | translate}}</mat-label>
                    <input [name]="control?.key"
                           [formControlName]="control.key" matInput>
                    <mat-error>
                        <app-form-field-errors
                                [errors]="control.value?.errors"
                                [messages]="specificObjectiveCodeErrors">
                        </app-form-field-errors>
                    </mat-error>
                </mat-form-field>
                <div class="container">
                    {{'programme.policy.' + control.key | translate}}
                </div>
            </li>
        </ul>
    </form>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
