<ng-container *ngxPermissionsExcept="[Permission.PROGRAMME_USER]">
    <div *ngIf="project.projectStatus.status === OutputProjectStatus.StatusEnum.DRAFT" class="row">
        <button mat-raised-button
                color="primary"
                (click)="submitProject()">Submit Project Application</button>
    </div>
</ng-container>
<div *ngIf="project.projectStatus.status === OutputProjectStatus.StatusEnum.SUBMITTED" class="row">
    <p>Project was submitted by {{project.projectStatus.user.name}} {{project.projectStatus.user.surname}}.</p>
</div>
<app-alert
        [show]="showSuccessMessage$ | async"
        [type]="Alert.SUCCESS">
    <p>{{'project.detail.submitted.success' | translate}}</p>
</app-alert>
