<h6 class="spaced-elements" id="projectPartnersHeading">{{'project.application.form.section.part.b' | translate}}</h6>

<button class="spaced-elements" mat-raised-button color="primary" [routerLink]="'/partner'">
    + {{'project.application.form.partner.add' | translate}}
</button>

<app-project-application-form-partner-list
        *ngIf="partnerPage$ | async as partnerPage"
        [partnerPage]="partnerPage"
        [pageIndex]="newPageIndex$ | async"
        (newPageSize)="newPageSize$.next($event)"
        (newPageIndex)="newPageIndex$.next($event)"
        (newSort)="newSort$.next($event)">
</app-project-application-form-partner-list>
