<h5 class="spaced-elements" id="projectPartnersHeading">{{'project.application.form.section.part.b' | translate}}</h5>

<span class="header-button" *ngxPermissionsExcept="Permission.PROGRAMME_USER">
    <button class="spaced-elements" mat-raised-button color="primary"
            [routerLink]="'/project/' + projectId + '/applicationForm/partner/create'"
            [disabled]="!editable">
        + {{'project.application.form.partner.add' | translate}}
    </button>
</span>

<app-project-application-form-partner-list
        *ngIf="partnerPage$ | async as partnerPage"
        [projectId]="projectId"
        [partnerPage]="partnerPage"
        [pageIndex]="newPageIndex$ | async"
        (newPageSize)="newPageSize$.next($event)"
        (newPageIndex)="newPageIndex$.next($event)"
        (newSort)="newSort$.next($event)">
</app-project-application-form-partner-list>
