.small-project-fund-table{
  .invalid{
    color: var(--error-color);
  }

  .allocation-warn{
    background-color: var(--pale-yellow) !important;
  }
}

.mat-column-pricePerUnit {
  min-width: 8rem;
}
