button {
  margin-bottom: 2rem !important;
}

mat-table {
  margin-bottom: 0 !important;
}

.jems-table-config {
  margin-top: 1rem !important;
}

#additional-entry-into-force-dates-table {
  mat-cell:first-of-type, mat-header-cell:first-of-type {
    border-right: 1px solid var(--table-border-color);
  }
}
p {
  max-width: 50rem !important;
}

