<jems-project-page-template
        [needsCard]="true"
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: pageStore.projectTitle$ | async}"
        subTitleKey="project.application.form.section.part.c">
    <div jemsFormLayout>
        <h3>{{ 'project.application.form.section.part.c.subsection.six' | translate }}</h3>

            <jems-alert [closable]="false" [type]="Alert.WARNING"
                       [show]="periodsUnavailable$ | async">
                <p>{{'project.application.form.work.package.output.delivery.period.required' | translate}}</p>
            </jems-alert>
            <jems-alert [closable]="false" [type]="Alert.WARNING"
                       [show]="workPackagesUnavailable$ | async">
                <p>{{'project.application.form.section.part.c.subsection.six.no.data' | translate}}</p>
            </jems-alert>
        <div jemsNoWidthLimit [hidden]="workPackagesUnavailable$ | async">
            <jems-multi-language-container [switchButtonsVisible]="dataAvailable$ | async">
                <div #visualization (click)="click($event)"></div>
            </jems-multi-language-container>
        </div>
    </div>
</jems-project-page-template>


