$size-of-box: 1.25rem;
$radius-big: .375rem;
$radius-nested: .25rem;
$max-group-label-width: 18rem;

$color-orange: #FFA726;
$color-orange-light: #FFE0B2;
$color-grey: #546E7A;
$color-grey-light: #A7C0CD;
$color-green: #7CB342;
$color-green-light: #BEF67A;
$color-brown: #795548;
$color-brown-light: #D3B8AE;
$color-purple: #AB47BC;
$color-purple-light: #FFC4FF;
$color-cyan: #00BCD4;
$color-cyan-light: #CCF2F6;
$color-pink: #EC407A;
$color-pink-light: #FFC1E3;
$color-blue: #1E88E5;
$color-blue-light: #81D4FA;

::ng-deep {
  .vis-text.vis-minor {
    text-align: center;
    font-size: .875rem;
    line-height: 2.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .vis-item.vis-background {
    padding: .125rem 0;
    background: 0;

    .vis-item-overflow {
      border-radius: $radius-big;
    }

    &.bg-purple {
      .vis-item-overflow {
        background-color: $color-purple;
      }
    }

    &.bg-cyan {
      .vis-item-overflow {
        background-color: $color-cyan;
      }
    }

    &.bg-brown {
      .vis-item-overflow {
        background-color: $color-brown;
      }
    }

    &.bg-green {
      .vis-item-overflow {
        background-color: $color-green;
      }
    }

    &.bg-blue {
      .vis-item-overflow {
        background-color: $color-blue;
      }
    }

    &.bg-orange {
      .vis-item-overflow {
        background-color: $color-orange;
      }
    }

    &.bg-grey {
      .vis-item-overflow {
        background-color: $color-grey;
      }
    }

    &.bg-pink {
      .vis-item-overflow {
        background-color: $color-pink;
      }
    }
  }

  .vis-item.vis-range {
    height: $size-of-box;
    border-width: .0625rem;
    cursor: pointer;

    .vis-item-overflow {
      border-radius: $radius-nested;
    }

    border-radius: $radius-nested;

    &.bg-purple {
      border-color: $color-purple;

      .vis-item-overflow {
        background-color: $color-purple-light;
      }
    }

    &.bg-cyan {
      border-color: $color-cyan;

      .vis-item-overflow {
        background-color: $color-cyan-light;
      }
    }

    &.bg-brown {
      border-color: $color-brown;

      .vis-item-overflow {
        background-color: $color-brown-light;
      }
    }

    &.bg-green {
      border-color: $color-green;

      .vis-item-overflow {
        background-color: $color-green-light;
      }
    }

    &.bg-blue {
      border-color: $color-blue;

      .vis-item-overflow {
        background-color: $color-blue-light;
      }
    }

    &.bg-orange {
      border-color: $color-orange;

      .vis-item-overflow {
        background-color: $color-orange-light;
      }
    }

    &.bg-grey {
      border-color: $color-grey;

      .vis-item-overflow {
        background-color: $color-grey-light;
      }
    }

    &.bg-pink {
      border-color: $color-pink;

      .vis-item-overflow {
        background-color: $color-pink-light;
      }
    }

    .vis-item-content {
      width: 100%;
      text-align: center;
      padding: 0;
      line-height: $size-of-box;
    }
  }

  .vis-group-level-1 {
    color: var(--font-color-primary) !important;
    .vis-inner {
      span {
        max-width: $max-group-label-width;
      }
    }
  }

  .vis-group-level-2 {
    color: var(--font-color-secondary) !important;
    .vis-inner {
      span {
        max-width: calc(#{$max-group-label-width} - 1.25rem);
      }
    }
  }

  .vis-label.vis-nesting-group.collapsed:before,
  .vis-label.vis-nesting-group.expanded:before {
    position: relative;
    top: -.4375rem;
  }

  .vis-labelset .vis-label,
  .vis-foreground .vis-group {
    border-color: var(--table-border-color);
  }

  .vis-timeline.vis-bottom {
    background-color: var(--light-blue-gray);
    border-color: var(--light-blue-gray);
  }

  .vis-panel.vis-top {
    background-color: var(--light-blue-gray);
  }

  .vis-time-axis {
    .vis-text {
      color: var(--font-color-secondary);
    }

    .vis-grid.vis-minor {
      border-color: var(--light-blue-gray);
    }
  }

  .vis-panel.vis-background.vis-vertical {
    background-color: var(--background);
  }

  .vis-inner {
    span {
      line-height: 1.25rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block !important;
    }
  }

  .vis-label .vis-inner {
    height: 1.25rem;
  }

  .vis-custom-time {
    pointer-events: none;
    background-color: var(--status-approved-with-conditions);
    &.finance {
      background-color: var(--status-contracted);
    }
    &.content {
      background-color: var(--status-submitted);
    }
  }

  .vis-custom-time-marker {
    pointer-events: auto;
    padding: 0 !important;
    border-radius: 1.8rem;
    height: 1.8rem;
    width: 1.8rem;
    left: -0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--status-approved-with-conditions) !important;
    &.content {
      background-color: var(--status-submitted) !important;
    }
    &.finance {
      background-color: var(--status-contracted) !important;
    }
    span.material-icons {
      margin-left: -0.1em;
      font-size: 1.25em;
      width: 0.9em;
      opacity: 0.9;
    }
  }

}
