<app-main-page-template
        [needsCard]="true"
        [titleText]="'project.application.form.acronym' | translate : {acronym: pageStore.projectAcronym$ | async}"
        subTitleKey="project.application.form.section.part.c">
    <div appFormLayout>
        <h3>{{ 'project.application.form.section.part.c.subsection.six' | translate }}</h3>
        <div appNoWidthLimit>
            <ng-container *ngIf="data$ | async as data">
                <app-multi-language *ngIf="data.periods.length; else noPeriods">
                </app-multi-language>
            </ng-container>

            <div #visualization></div>
        </div>
    </div>
    <ng-template #noPeriods>
        <h5>{{'project.application.form.work.package.output.delivery.period.required' | translate}}</h5>
    </ng-template>
</app-main-page-template>


