<app-main-page-template [needsCard]="true"
                        titleKey="topbar.main.user.user.management"
                        subTitleKey="users.table.title.label">
    <button *hasPermission="PermissionsEnum.UserCreate"
            mat-raised-button
            class="mb-3 put-into-paginator"
            color="primary"
            routerLink="/app/system/user/detail/create">
        <mat-icon>add</mat-icon>{{'user.create.button.add' | translate}}
    </button>

    <app-alert *ngIf="success"
               [show]="true"
               [type]="Alert.SUCCESS">
        <p *ngIf="success.i18nKey">{{success.i18nKey | translate : success.i18nArguments}}</p>
    </app-alert>

    <div *ngIf="userPageStore.page$ | async as page">
        <app-table
                [configuration]="tableConfiguration"
                [rows]="page.content"
                [totalElements]="page.totalElements"
                [pageIndex]="userPageStore.newPageIndex$ | async"
                (newPageSize)="userPageStore.newPageSize$.next($event)"
                (newPageIndex)="userPageStore.newPageIndex$.next($event)"
                (sortRows)="userPageStore.newSort$.next($event)">
        </app-table>
    </div>
</app-main-page-template>
