<jems-main-page-template [needsCard]="true"
                        subTitleKey="users.table.title.label"
                        titleKey="topbar.main.user.user.management">
    <button jemsText *jemsHasPermission="PermissionsEnum.UserCreate"
            class="mb-3"
            color="primary"
            mat-raised-button
            routerLink="/app/system/user/detail/create">
        <mat-icon>add</mat-icon>
        {{'user.create.button.add' | translate}}
    </button>
    <jems-alert *ngIf="success"
               [show]="true"
               [type]="Alert.SUCCESS">
        <p *ngIf="success.i18nKey">{{success.i18nKey | translate : success.i18nArguments}}</p>
    </jems-alert>

    <jems-filter-template *ngIf="data$ | async as data"
                         [formGroup]="filterForm"
                         [isThereAnyActiveFilter]="isThereAnyActiveFilter()">
        <div alignItems="start" jemsMultiColumnRow>
            <jems-filter-text-input
                    formControlName="name"
                    label="user.detail.field.name">
            </jems-filter-text-input>

            <jems-filter-text-input
                    formControlName="surname"
                    label="user.detail.field.surname">
            </jems-filter-text-input>

            <jems-filter-text-input
                    formControlName="email"
                    label="user.detail.field.email">
            </jems-filter-text-input>

            <jems-filter-autocomplete-input
                    [options]="data.roles"
                    formControlName="roles"
                    label="user.detail.field.role"
                    placeholder="user.detail.search.for.roles">
            </jems-filter-autocomplete-input>

            <jems-filter-autocomplete-input
                    [filterable]="false"
                    [options]="data.userStatuses"
                    formControlName="userStatuses"
                    label="user.detail.field.status"
                    placeholder="user.detail.search.for.status">
            </jems-filter-autocomplete-input>
        </div>
    </jems-filter-template>

    <div *ngIf="userPageStore.page$ | async as page">
        <jems-table
                (newPageIndex)="userPageStore.newPageIndex$.next($event)"
                (newPageSize)="userPageStore.newPageSize$.next($event)"
                (sortRows)="userPageStore.newSort$.next($event)"
                [configuration]="tableConfiguration"
                [pageIndex]="userPageStore.newPageIndex$ | async"
                [rows]="page.content"
                [totalElements]="page.totalElements">
        </jems-table>
    </div>
</jems-main-page-template>
