.status-and-action-header {
  display: flex;
  align-items: center;
}

.status-label {
  font-weight: 600;
}

#status {
  .draft {
    background-color: var(--status-draft);
  }

  .submitted {
    background-color: var(--status-contracted);
  }
}

a:not(.mat-tab-label-active) {
  box-shadow: none !important;
  transition: none !important;
}

a:hover {
  transition: none !important;
  box-shadow: none !important;
}
