<jems-main-page-template [needsCard]="true" *ngIf="data$ | async as data">
  <div jemsMultiColumnRow class="back-button">
    <a color="primary" class="mr-1" mat-icon-button
       routerLink="../"
       matTooltip="{{ 'payments.accounts.back.to.accounts' | translate }}"
       aria-label="back">
      <mat-icon class="icon-back" fontSet="material-icons-outlined">arrow_circle_left</mat-icon>
    </a>
    <h3 class="mb-4 put-icon-to-header-line">{{'payments.accounts.back.to.accounts' | translate}}</h3>
  </div>

  <h3 class="payment-header">{{data?.accountDetail.fund.abbreviation | translateBySystemLanguage | async}} {{ data.accountDetail.accountingYear | asAccountingYear }}</h3>

    <div id="status" class="status-and-action-header">
        <span class="status-label">{{ 'common.status' | translate }}:</span>
        <span class="ml-1">
          <mat-chip-list class="mr-1 ml-1" aria-label="status">
              <mat-chip [class.draft]="data.accountDetail.status === accountStatusEnum.DRAFT"
                        [class.submitted]="data.accountDetail.status === accountStatusEnum.FINISHED">
                  {{ ('payments.accounts.table.status.' + data.accountDetail.status) | translate }}
              </mat-chip>
          </mat-chip-list>
        </span>

        <span class="ml-1" *ngIf="data.canReOpen">
                 <jems-pending-button
                         [confirm]="{title: 'payments.accounts.detail.re.open.dialog.title', message: 'payments.accounts.detail.re.open.dialog.message', warnMessage: 'payments.accounts.detail.re.open.dialog.warning'}"
                         [disabled]="!data.userCanEdit"
                         [pending]="statusChangePending$ | async"
                         (clicked)="setPaymentAccountBackToDraft(data.accountDetail.id)">
                    {{ 'payments.accounts.detail.re.open.button' | translate }}
                </jems-pending-button>
        </span>
    </div>

  <nav mat-tab-nav-bar *ngIf="data.userCanView">
    <a [active]="activeTab('summary')" mat-tab-link (click)="routeTo('summary')" (focusin)="pageStore.tabChanged$.next(true)">
      <span jemsText maxWidth="230">
          {{'payments.accounts.summary.tab' | translate}}
      </span>
    </a>

    <a [active]="activeTab('finalize')" mat-tab-link (click)="routeTo('finalize')" (focusin)="pageStore.tabChanged$.next(true)">
      <span jemsText maxWidth="230">
          {{'payments.accounts.finalize.tab.title' | translate}}
      </span>
    </a>
  </nav>
  <router-outlet></router-outlet>

    <jems-alert *ngIf="reOpenError$ | async as error"
                [show]="!!error.i18nMessage?.i18nKey"
                [type]="Alert.ERROR">
        <jems-api-error-content [error]="error"></jems-api-error-content>
    </jems-alert>
</jems-main-page-template>

