<ng-container *ngIf="(data$ | async) as data">
    <app-form (save)="updateActivities()">
        <form id="activitiesForm" [formGroup]="form">
            <div>
                <h6>{{'project.work.package.tab.title' | translate}}</h6>
                <div class="intro-text-small">{{'project.work.package.tab.intro' | translate}}</div>
            </div>

            <app-multi-language *ngFor="let activity of activities.controls;let i=index" class="mt-4">
                <ng-container [formArrayName]="constants.ACTIVITIES.name">
                    <ng-container [formGroupName]="i">
                        <div appTableConfig [widthConfig]="[{maxInRem:9},{}, {maxInRem:2}]">
                            <div>
                                <h5>{{('project.work.package.tab.activity' | translate) + ' ' + data.workPackageNumber + '.' + (i + 1) }}</h5>
                                <h5 class="text-overflow-ellipsis">
                                    {{languageService.getCurrentValue(activity.get(constants.TITLE.name).value)}}
                                </h5>
                                <button *ngIf="form.enabled"
                                        type="button" mat-icon-button color="accent"
                                        (click)="removeActivity(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-multi-language-form-field
                                [label]="'project.work.package.tab.activity.title'"
                                [formControlName]="constants.TITLE.name"
                                [maxLength]="constants.TITLE.maxLength">
                        </app-multi-language-form-field>

                        <div class="row mt-2">

                            <div class="col">
                                <app-project-periods-select
                                        [periods]="data.periods"
                                        [control]="activity.get(constants.START_PERIOD.name)"
                                        label='project.work.package.tab.activity.start.period'
                                        class="mr-2"
                                        (selectionChanged)="formService.setDirty(true)">
                                </app-project-periods-select>
                            </div>

                            <div class="col">
                                <app-project-periods-select
                                        [periods]="data.periods"
                                        [control]="activity.get(constants.END_PERIOD.name)"
                                        label='project.work.package.tab.activity.end.period'
                                        (selectionChanged)="formService.setDirty(true)">
                                </app-project-periods-select>
                            </div>
                        </div>
                        <mat-error class="period-error">
                            <app-form-field-errors
                                    [errors]="activity.errors"
                                    [messages]="constants.PERIODS.errorMessages"></app-form-field-errors>
                        </mat-error>

                        <app-multi-language-form-field class="mt-2"
                                                       [label]="'project.work.package.tab.activity.description'"
                                                       [formControlName]="constants.DESCRIPTION.name"
                                                       [maxLength]="constants.DESCRIPTION.maxLength">
                        </app-multi-language-form-field>

                        <div class="pl-5">
                            <h6>{{'Deliverables' | translate}}</h6>
                            <div class="intro-text-small">{{'project.work.package.tab.deliverables.intro' | translate}}</div>
                            <div *ngIf="deliverables(i).controls?.length" appTableConfig
                                 [appearance]="'table'" class="mt-2"
                                 [widthConfig]="[{maxInRem:3},{minInRem:15},{minInRem:10}, {maxInRem:2}]">
                                <div>
                                    <span class="mat-body-strong">{{'project.work.package.tab.deliverables.number' | translate }}</span>
                                    <span class="mat-body-strong">{{'project.work.package.tab.deliverables.deliverable' | translate }}</span>
                                    <span class="mat-body-strong">{{'project.work.package.tab.deliverables.period' | translate }}</span>
                                    <div class="mat-body-strong"></div>
                                </div>
                                <div *ngFor="let deliverable of deliverables(i).controls;let j=index">
                                    <ng-container [formArrayName]="constants.DELIVERABLES.name">
                                        <ng-container [formGroupName]="j">
                                            <div>D.{{data.workPackageNumber}}.{{i + 1}}.{{j + 1}}</div>

                                            <app-multi-language-form-field
                                                    [label]="'project.work.package.tab.deliverables.deliverable'"
                                                    [formControlName]="constants.DELIVERABLE.name"
                                                    [maxLength]="constants.DELIVERABLE.maxLength">
                                            </app-multi-language-form-field>

                                            <app-project-periods-select
                                                    [periods]="data.periods"
                                                    [control]="deliverable.get(constants.PERIOD.name)"
                                                    label='project.work.package.tab.deliverables.period'
                                                    class="w-100"
                                                    (selectionChanged)="formService.setDirty(true)">
                                            </app-project-periods-select>

                                            <div>
                                                <button *ngIf="form.enabled"
                                                        type="button"
                                                        (click)="removeDeliverable(i, j)"
                                                        mat-icon-button
                                                        color="accent">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <button *ngIf="addDeliverableVisible(i)" mat-icon-button type="button"
                                    (click)="addNewDeliverable(i)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </app-multi-language>
            <button *ngIf="addActivityVisible()" class="spaced-elements mt-4" mat-raised-button color="primary"
                    (click)="addNewActivity()">
                + {{'project.work.package.tab.activity.add' | translate}}
            </button>
        </form>
    </app-form>
</ng-container>
