#activitiesForm {

  .activity-title {
    max-width: 54rem;
  }

  .activity-index {
    max-width: 9rem;
  }

  .warn-color {
    mat-label {
      color: var(--warn-color);
    }
    ::ng-deep.mat-form-field-underline {
      background-color: var(--underline-color) !important;
      background-image: none;
      height: 1px !important;
    }
  }

  .period-error {
    margin-top: -1rem;
  }
}
