@use '../partner-report-financial-overview-tab/remove-custom-table-overrides';

.row-link:hover {
  cursor: pointer;
}

.border-cell-left {
  border-left: .0625rem solid var(--table-border-color);
}

.mat-column-id {
  min-width: 4rem;
  max-width: 4rem;
}

.mat-column-delete {
  min-width: 2.5rem;
  max-width: 2.5rem;
}
.mat-column-currencyCode {
  min-width: 5rem;
}

.mat-column-lastChanged {
  min-width: 9rem;
}
.mat-column-contractName,
.mat-column-referenceNumber,
.mat-column-supplierName,
.mat-column-vatNumber {
  min-width: 9rem;
}

.mat-column-contractType {
  min-width: 7rem;
}

.mat-column-contractDate {
  min-width: 5rem;
}
.mat-column-contractAmount {
  min-width: 5rem;
}

.mat-column-lastChanged,
.mat-column-contractName,
.mat-column-referenceNumber,
.mat-column-contractDate,
.mat-column-contractType,
.mat-column-contractAmount,
.mat-column-currencyCode,
.mat-column-supplierName,
.mat-column-vatNumber,
.mat-column-delete {
  padding-left: .5rem;
  padding-right: .5rem;
}

.mat-column-reportNumber {
  min-width: 4.5rem;
  padding-left: 1rem;
  padding-right: .5rem;
}

.text-right {
  span {
    text-align: right;
  }
}
.text-left {
  span {
    text-align: left;
  }
}
.text-center {
  text-align: center !important;
  justify-content: center;
  span {
    text-align: center;
  }
}

.move-link-into-paginator {
  position: absolute;
}
