<jems-project-page-template [needsCard]="true"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: projectStore.projectTitle$ | async} "
                           subTitleKey="project.application.form.section.part.d">
    <h3>{{'project.application.form.budget.title' | translate}}</h3>

    <jems-budget-table *ngIf="!!projectId" [headerLinks]="false"
            [projectId]="projectId"
            [dataSource]="dataSource$ | async">
    </jems-budget-table>
</jems-project-page-template>
