<app-main-page-template [needsCard]="true" *ngIf="project$ | async as project"
                        titleKey="project.application.form.lifecycle.title">
    <ng-container page-sub-title  *ngxPermissionsExcept="[Permission.APPLICANT_USER]">
        <div appFormLayout appNoWidthLimit>
            <h2>{{project.acronym}}</h2>
            <app-project-application-information
                    appNoWidthLimit
                    [project]="project">
            </app-project-application-information>
        </div>
    </ng-container>
    <app-project-eligibility-decision
            *ngIf="project$ | async as project"
            [project]="project"
            (changeStatus)="projectStore.changeStatus($event)"
            (cancel)="redirectToProject()">
    </app-project-eligibility-decision>
</app-main-page-template>
