<form id="legalStatuses" appFormLayout [formGroup]="statusForm">
    <div appMultiColumnRow>
        <h3 class="mb-0">{{'programme.legal.status.list.title' | translate}}</h3>
        <button color="primary"
                *ngIf="(changeFormState$ | async) === FormState.VIEW" mat-raised-button
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'common.edit.label' | translate}}
        </button>
    </div>
    <app-multi-language [useSystemLanguages]="true" [switchButtonsVisible]="(changeFormState$ | async) === FormState.EDIT">
        <div [appTableConfig]="[{},{maxInRem: 5}]">
            <div>
                <span class="mat-body-strong">{{ 'programme.legal.status.list.description' | translate }}</span>
                <span class="mat-body-strong" *ngIf="(changeFormState$ | async) === FormState.EDIT">{{ 'common.delete.entry.tooltip' | translate }}</span>
            </div>

            <div *ngFor="let legalStatus of legalStatusesForm.controls; let i = index">
                <ng-container formArrayName="legalStatuses">
                    <ng-container [formGroupName]="i">

                        <app-multi-language-form-field
                                hideCountersWhenInView="true"
                                formControlName="description"
                                maxLength="50"
                                label="programme.legal.status.list.description">
                        </app-multi-language-form-field>

                        <div *ngIf="(changeFormState$ | async) === FormState.EDIT">
                            <button mat-icon-button color="accent"
                                    type="button"
                                    [disabled]="isProgrammeSetupRestricted ? !!legalStatus.get('id').value : false"
                                    matTooltip="{{'common.delete.entry.tooltip' | translate}}"
                                    (click)="deleteLegalStatus(i, legalStatus.get('id').value)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                    </ng-container>
                </ng-container>
            </div>
            <div *ngIf="(changeFormState$ | async) === FormState.EDIT">
                <div >
                    <button mat-icon-button
                            type="button"
                            (click)="addNewLegalStatus()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </app-multi-language>
    <div appMultiColumnRow *ngIf="(changeFormState$ | async) === FormState.EDIT">
        <button mat-stroked-button type="button"
                (click)="resetForm()">
            {{'common.cancel.label' | translate}}
        </button>
        <button mat-raised-button color="primary" type="button"
                [disabled]="submitted"
                (click)="onSubmit()">
            {{'common.save.label' | translate}}
        </button>
    </div>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p *ngIf="success$ | async as successMessage">{{successMessage | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>

</form>
