<form id="legalStatuses" jemsFormLayout [formGroup]="statusForm">
    <div jemsMultiColumnRow>
        <h3 class="mb-0">{{'programme.legal.status.list.title' | translate}}</h3>
        <button color="primary" mat-raised-button
                *ngIf="(changeFormState$ | async) === FormState.VIEW && (programmeEditableStateStore.hasEditPermission$ | async)"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'common.edit.label' | translate}}
        </button>
    </div>
    <jems-multi-language-container [useSystemLanguages]="true"
                                  [switchButtonsVisible]="(changeFormState$ | async) === FormState.EDIT">
        <div [jemsTableConfig]="[{maxInRem: 4},{},{maxInRem: 5}]">
            <div>
                <span class="mat-body-strong">{{ 'programme.legal.status.list.type' | translate }}</span>
                <span class="mat-body-strong">{{ 'programme.legal.status.list.description' | translate }}</span>
                <span class="mat-body-strong"
                      *ngIf="(changeFormState$ | async) === FormState.EDIT">{{ 'common.delete.entry.tooltip' | translate }}</span>
            </div>

            <div *ngFor="let legalStatus of legalStatusesForm.controls; let i = index">
                <ng-container formArrayName="legalStatuses">
                    <ng-container [formGroupName]="i">

                        <div>{{legalStatus?.value?.type}}</div>
                        <jems-multi-language-form-field
                                formControlName="description"
                                [useFallBackLanguage]="true"
                                [isFallBackLanguageReadonly]="isPublicOrPrivate(legalStatus)"
                                maxLength="50">
                        </jems-multi-language-form-field>

                        <div *ngIf="(changeFormState$ | async) === FormState.EDIT">
                            <button mat-icon-button color="accent"
                                    type="button"
                                    *ngIf="!isPublicOrPrivate(legalStatus)"
                                    [disabled]="isProgrammeSetupRestricted ? !!legalStatus.get('id').value : false"
                                    matTooltip="{{'common.delete.entry.tooltip' | translate}}"
                                    (click)="deleteLegalStatus(i, legalStatus.get('id').value)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                    </ng-container>
                </ng-container>
            </div>
            <div *ngIf="(changeFormState$ | async) === FormState.EDIT">
                <div>
                    <button mat-icon-button
                            type="button"
                            (click)="addNewLegalStatus()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </jems-multi-language-container>
    <div jemsMultiColumnRow *ngIf="(changeFormState$ | async) === FormState.EDIT">
        <button mat-stroked-button type="button"
                (click)="resetForm()">
            {{'common.cancel.label' | translate}}
        </button>
        <button mat-raised-button color="primary" type="button"
                [disabled]="submitted"
                (click)="onSubmit()">
            {{'common.save.label' | translate}}
        </button>
    </div>
    <jems-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p *ngIf="success$ | async as successMessage">{{successMessage | translate}}</p>
    </jems-alert>
    <jems-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nMessage?.i18nKey"
               [type]="Alert.ERROR">
        <jems-api-error-content [error]="error"></jems-api-error-content>
    </jems-alert>

</form>
