
<form [formGroup]="workPackageForm">
    <mat-table [dataSource]="workPackageOutputDataSource">

        <ng-container matColumnDef="output">
            <mat-cell *matCellDef="let element" class="field-column">

                <div class="output-header">
                    <h5>{{('project.application.form.work.package.output' | translate) + ' ' + workPackageNumber + '.' + element.id }}</h5>
                </div>

                <div class="output-line">
                    <app-expandable-textarea class="expandable-field-row-one"
                                             [control]="getControl(title(element.outputNumber))"
                                             [errors]="getControl(title(element.outputNumber))?.errors"
                                             [messages]="titleErrors"
                                             [characterLimit]="200"
                                             [minRows]="1"
                                             [maxRows]="5"
                                             [label]="'project.application.form.work.package.output.title'"
                                             (changed)="changed.emit()">
                    </app-expandable-textarea>
                </div>

                <div class="output-line">
                    <mat-form-field class="field-row-two">
                        <mat-label>{{'project.application.form.work.package.output.programme.output.indicator' | translate}}</mat-label>
                        <mat-select #indicatorSelect [formControlName]="programmeOutputIndicatorId(element.outputNumber)"
                                    [disableOptionCentering]="true"
                                    panelClass="material-select-panel"
                                    (selectionChange)="toggleSelection(indicatorSelect.value, element.outputNumber)">
                            <mat-option *ngFor="let identifier of programmeOutputIndicators" [value]="identifier">
                                {{identifier.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="output-line">
                    <mat-form-field class="field-row-three-first">
                        <mat-label>{{'project.application.form.work.package.output.measurement.unit' | translate}}</mat-label>
                        <input [name]="measurementUnit(element.outputNumber)" [formControlName]="measurementUnit(element.outputNumber)" matInput readonly
                               placeholder="{{'project.application.form.work.package.output.measurement.unit' | translate}}">
                    </mat-form-field>
                    <mat-form-field class="field-row-three">
                        <mat-label>{{'project.application.form.work.package.output.target.value' | translate}}</mat-label>
                        <input [name]="targetValue(element.outputNumber)" [formControlName]="targetValue(element.outputNumber)" matInput type="number"
                               placeholder="{{'project.application.form.work.package.output.target.value' | translate}}">
                        <mat-error>
                            <app-form-field-errors
                                    [errors]="workPackageForm?.controls[targetValue(element.outputNumber)]?.errors"
                                    [messages]="targetValueErrors">
                            </app-form-field-errors>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="output-line">
                    <mat-form-field class="field-row-two">
                        <mat-label>{{'project.application.form.work.package.output.delivery.period' | translate}}</mat-label>
                        <mat-select [formControlName]="deliveryPeriod(element.outputNumber)"
                                    [disableOptionCentering]="true"
                                    panelClass="material-select-panel"
                                    (selectionChange)="changed.emit()">
                            <mat-option *ngFor="let period of periods" [value]="period">
                                {{'project.application.form.work.package.output.delivery.period.entry' | translate : {periodNumber: period.number, start: period.start, end: period.end} }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="output-line">
                    <app-expandable-textarea class="expandable-field-row-one"
                                             [control]="getControl(description(element.outputNumber))"
                                             [errors]="getControl(description(element.outputNumber))?.errors"
                                             [messages]="descriptionErrors"
                                             [characterLimit]="500"
                                             [minRows]="1"
                                             [maxRows]="10"
                                             [label]="'project.application.form.work.package.output.description'"
                                             (changed)="changed.emit()">
                    </app-expandable-textarea>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-cell *matCellDef="let element" class="icon-column">
                <button mat-icon-button color="accent"
                        (click)="deleteEntry(element)"
                        matTooltip="{{'project.application.form.work.package.output.table.action.delete.tooltip' | translate}}">
                    <i class="fas fa-trash"></i>
                </button>
            </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</form>

<span>
    <button class="spaced-elements" mat-raised-button color="primary"
            (click)="addNewOutput()"
            [disabled]="!editable">
        + {{'project.application.form.workpackage.output.add' | translate}}
    </button>
</span>
