th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border: none;
}

button {
  width: unset !important;
  margin-bottom: 0.1rem;
  font-size: 0.875rem;
}

.icon-column {
  height: 20rem;
  max-width: 6%;
  min-width: 6%;
  padding-left: 1rem;
  padding-right: 0;
  align-items: baseline;
}

.field-column {
  padding: 0;
  display: block;
}

.output-line {
  width: 100%;
  display: flex;
}

.field-row-two {
  flex: 1;
  vertical-align: top;
}

.field-row-three-first {
  flex: 1;
  vertical-align: top;
}

.field-row-three {
  flex: 1;
  margin-left: 1rem;
  vertical-align: top;
}

.expandable-field-row-one {
  flex: 1;
  vertical-align: top;
  padding-top: 0px !important;
}

.output-header {
  padding-bottom: 0;
  padding-top: 2rem;
  max-width: 60rem;

  h5 {
    display: inline;
  }
}

mat-form-field {
  overflow: auto;
}

.spaced-elements {
  margin-top: 1rem;
}

.warning-hint {
  color: var(--warn-color)
}

.warn-color {
  mat-label {
    color: var(--warn-color);
  }
  ::ng-deep.mat-form-field-underline {
    background-color: var(--underline-color) !important;
    background-image: none !important;
    height: 1px !important;
  }
}
