<app-main-page-template titleKey="call.detail.title"
                        subTitleKey="call.detail.budget.settings"
                        *ngIf="call$ | async as call">
    <app-call-flat-rates class="my-3 block"
                         [call]="call"
                         [isApplicant]="callStore.isApplicant$ | async">
    </app-call-flat-rates>
    <app-call-lump-sums class="my-3 block"
                        *ngIf="callStore.lumpSums$ | async as lumpSums"
                        [lumpSums]="lumpSums"
                        [call]="call"
                        [isApplicant]="callStore.isApplicant$ | async">
    </app-call-lump-sums>
    <app-call-unit-costs class="my-3 block"
                         *ngIf="callStore.unitCosts$ | async as unitCosts"
                         [unitCosts]="unitCosts"
                         [call]="call"
                         [isApplicant]="callStore.isApplicant$ | async">
    </app-call-unit-costs>
</app-main-page-template>
