

.background-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.double-card-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 10%;
  .content-card  {
    max-width: 32rem;
    padding: 1.5rem 1rem;
  }
}

@media all and (max-width: 75rem) {
  .double-card-container {
    flex-direction: column;
    align-items: center;
  }
}

mat-card-title,
mat-card-content,
mat-card-subtitle, {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem;
  height: auto !important;

  > * {
    flex: 1 1 0;
    min-width: 25rem;
  }
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.terms-link {
  color: var(--primary-color);
  text-decoration: underline;
}
