<app-form (discard)="initForm()" (save)="onSubmit()">
    <h3>{{'lump.sums.table.title' | translate}}</h3>
    <div *ngIf="lumpSumDataSource.data.length"
         [appTableConfig]="[{maxInRem:2},{},{maxInRem:8}]">
        <div>
            <span>{{'lump.sum.table.column.name.activate.option' | translate}}</span>
            <span>{{'lump.sum.table.column.name.name' | translate}}</span>
            <span>{{'lump.sum.table.column.name.cost' | translate}}</span>
        </div>
        <div *ngFor="let element of lumpSumDataSource.data">
            <mat-checkbox
                    [disabled]="published"
                    (click)="$event.stopPropagation()"
                    (change)="toggleLumpSum(element)"
                    [checked]="selection.isSelected(element)">
            </mat-checkbox>
            <span>{{ element?.name }}</span>
            <span>{{ element?.cost | asMoney}}</span>
        </div>
    </div>
</app-form>
