<div class="side-nav">
    <div *ngFor="let data of headlines">
        <mat-expansion-panel class="mat-elevation-z0"
                             [expanded]="data.bullets?.length"
                             [disabled]="!data.bullets?.length">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="side-nav-title">{{data.headline.i18nKey | translate}}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let subtitle of data.bullets" class="side-nav-main">
                <mat-expansion-panel class="mat-elevation-z0"
                                     [expanded]="subtitle.bullets?.length"
                                     [disabled]="!subtitle.bullets?.length">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span *ngIf="subtitle.bullets?.length">
                                {{subtitle.headline.i18nKey | translate}}
                            </span>
                            <span *ngIf="!subtitle.bullets?.length" class="side-nav-main_title_white-text"
                               (click)="sideNavService.navigate(subtitle)">
                                {{subtitle.headline.i18nKey | translate}}
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="side-nav-section" *ngIf="subtitle.bullets?.length">
                        <li *ngFor="let section of subtitle.bullets"
                            (click)="sideNavService.navigate(section)">
                            <span class="first-list-item">
                                {{ section.headline.i18nKey | translate : section.headline.i18nArguments }}</span>
                            <ul class="side-nav-subsection" *ngIf="section.bullets?.length">
                                <li *ngFor="let subsection of section.bullets"
                                    (click)="$event.stopPropagation();sideNavService.navigate(subsection)">
                                    <span class="second-list-item">{{ subsection.headline.i18nKey | translate : subsection.headline.i18nArguments }}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </mat-expansion-panel>
            </div>
        </mat-expansion-panel>
        <hr class="solid">
    </div>
</div>
