.menu {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  color: var(--sidebar-color);

  .level-1 {
    font-size: 1rem;
  }

  .level-2 {
    padding-bottom: .25rem;
  }

  .level-3 {
    font-size: 0.9rem;
    padding-left: 1rem !important;
    border-left: 0.07rem solid var(--sidebar-color);
    left: 1.8rem;
    position: relative;
    width: calc(100% - 2.9rem);

    li::before {
      pointer-events: none;
      content: "";
      display: block;
      position: absolute;
      margin-left: -1.2em;
      width: 0;
      margin-top: -0.25em;
      background: none;
      transition: border 0.15s ease-out, width 0.15s ease-in-out, background-color 0.15s ease-out;
    }
    li:hover::before {
      width: 110%;
      height: 1.75em;
      background: rgba(0,0,0,0.2);
    }
    li:hover:first-child {
      z-index: -1;
    }
    li.route-active:first-child {
      z-index: -1;
    }
    li.route-active::before {
      height: 1.75em;
      width: 110%;
      background: rgba(255,255,255,0.25);
      border-left: 0.4em solid var(--sidebar-color);
    }
  }

  .level-4 {
    padding-left: 1rem;
  }

  .link {
    color: var(--font-color-contrast);
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1.25em;
    padding-bottom: 0.25em;
  }

  .versioned-section{
    background-color: var(--sidebar-dark-background-color);
    border-left:0.5rem solid var(--sidebar-background-color);
    border-right:0.5rem solid var(--sidebar-background-color);

    mat-expansion-panel{
      background: transparent !important;
    }
  }

  mat-icon{
    margin-right: 0.25rem;
  }

  hr {
    border-bottom: 0;
    border-top: 0.125rem solid var(--font-color-contrast);
  }

  li {
    padding-top: 0.25rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  mat-expansion-panel {
    background: var(--sidebar-background-color) !important;
  }

  mat-expansion-panel-header {
    height: 2rem !important;
  }

  ::ng-deep .mat-elevation-z0 .mat-expansion-panel-body {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }


  .standard-chip-list {
    display: inline-flex;
    margin-left: 0.5rem;

    .standard-chip {
      margin-right: 0.5rem;
      height: 1.35rem !important;
      min-height: 1.35rem !important;
    }
  }

}
