<div class="menu">
    <div *ngFor="let data of headlines" class="level-1">
        <mat-expansion-panel class="mat-elevation-z0"
                             [expanded]="data.bullets?.length"
                             [disabled]="!data.bullets?.length"
                             [class.link]="data.route"
                             (click)="sideNavService.navigate(data)"
                             [class.route-active]="(currentUrl$ | async) | IsMenuActive : (data.baseRoute || data.route) : !data.baseRoute">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="title">
                        <mat-icon *ngIf="data.icon">{{data.icon}}</mat-icon>
                        {{data.headline.i18nKey | translate}}
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let subtitle of data.bullets" [class.versioned-section]="subtitle.versionedSection"
                 class="level-2">
                <ng-container *ngIf="subtitle.headlineTemplate"
                              [ngTemplateOutlet]="subtitle.headlineTemplate"></ng-container>

                <mat-expansion-panel *ngIf="!subtitle.headlineTemplate"
                                     class="mat-elevation-z0"
                                     [expanded]="subtitle.bullets?.length"
                                     [disabled]="!subtitle.bullets?.length"
                                     [class.link]="subtitle.route"
                                     [class.route-active]="(currentUrl$ | async) | IsMenuActive : (subtitle.baseRoute || subtitle.route) : !subtitle.baseRoute"
                                     (click)="sideNavService.navigate(subtitle)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="title">
                                <mat-icon *ngIf="subtitle.icon">{{subtitle.icon}}</mat-icon>
                                {{subtitle.headline.i18nKey | translate}}
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="level-3" *ngIf="subtitle.bullets?.length">
                        <li *ngFor="let section of subtitle.bullets">
                            <div class="icon-container-level-3">
                                <mat-icon *ngIf="section.icon">{{section.icon}}</mat-icon>
                                <span [class.link]="section.route"
                                      [class.icon]="section.icon"
                                      [class.route-active]="(currentUrl$ | async) | IsMenuActive : (section.baseRoute || section.route) : !section.baseRoute"
                                      (click)="sideNavService.navigate(section)">
                                    {{ section.headline.i18nKey | translate : section.headline.i18nArguments }}</span>
                            </div>
                            <ul class="level-4" *ngIf="section.bullets?.length">
                                <li *ngFor="let subsection of section.bullets"
                                    [class.link]="section.route"
                                    [class.route-active]="(currentUrl$ | async) | IsMenuActive : (subsection.baseRoute || subsection.route) : !subsection.baseRoute"
                                    (click)="$event.stopPropagation();sideNavService.navigate(subsection)">

                                    <div class="icon-container-level-4">
                                        <mat-icon *ngIf="subsection.icon">{{subsection.icon}}</mat-icon>
                                        <span>{{ subsection.headline.i18nKey | translate : subsection.headline.i18nArguments }}</span>
                                    </div>

                                    <mat-chip-list *ngIf="subsection.badgeText" [selectable]="false"
                                                   class="standard-chip-list">
                                        <mat-chip class="standard-chip" disableRipple
                                                  [matTooltip]="subsection.badgeTooltip | translate">{{subsection.badgeText | translate}}</mat-chip>
                                    </mat-chip-list>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </mat-expansion-panel>
            </div>
        </mat-expansion-panel>
        <hr>
    </div>
</div>
