.side-nav-title {
  font-size: 1rem;
  color: #210C38;
}

.side-nav-main {
  margin-bottom: .25rem;
  cursor: pointer;

  &_title {
    font-size: 1rem;
    cursor: pointer;
    color: #210C38;

    &_white-text {
      color: var(--font-color-contrast);
    }
  }
}

.side-nav-section {
  font-size: 0.9rem;
  padding-left: 1rem !important;
  cursor: pointer;
  list-style-type: none;
  color: var(--font-color-contrast);
  border-left: 0.07rem solid #210C38;
  left: 1.8rem;
  position: relative;
}

.side-nav-subsection {
  font-size: 0.9rem;
  padding-left: 1rem;
  cursor: pointer;
  list-style-type: none;
}

hr.solid {
  border-bottom: 0;
  border-top: 0.125rem solid var(--font-color-contrast);
}

mat-expansion-panel {
  background: #5FB3D9 !important;
}

mat-expansion-panel-header {
  height: 2rem !important;
}

::ng-deep .mat-elevation-z0 .mat-expansion-panel-body {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

li {
  padding-top: 0.25rem;
}

.side-nav {
  padding-top: 0.5rem;
}

ul {
  margin: 0;
}

.first-list-item:hover,
.second-list-item:hover,
.side-nav-main_title_white-text:hover {
  text-decoration: underline var(--font-color-contrast);
  text-decoration-width: 0.07rem;
}
