<ng-container *ngxPermissionsExcept="[Permission.PROGRAMME_USER]">
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.DRAFT" class="row">
        <button mat-raised-button
                color="primary"
                (click)="submitProject()">Submit Project Application
        </button>
    </div>
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT" class="row">
        <button mat-raised-button
                color="primary"
                (click)="resubmitProject()">Re-submit Project Application
        </button>
    </div>
</ng-container>

<ng-container *ngxPermissionsExcept="[Permission.APPLICANT_USER]">
    <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.SUBMITTED" class="row">
        <button mat-raised-button
                color="primary"
                (click)="returnToApplicant()">Return To Applicant
        </button>
    </div>
</ng-container>

<div *ngIf="submittingUser && projectStatus !== OutputProjectStatus.StatusEnum.DRAFT" class="row">
    <p>Project was submitted by {{submittingUser.name}} {{submittingUser.surname}}.</p>
</div>
<app-alert
        [show]="showSuccessMessage$ | async"
        [type]="Alert.SUCCESS">
    <p *ngIf="projectStatus === OutputProjectStatus.StatusEnum.SUBMITTED">
        {{'project.detail.submitted.success' | translate}}
    </p>
    <p *ngIf="projectStatus === OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT">
        {{'project.detail.returned.to.applicant.success' | translate}}
    </p>
</app-alert>
<ng-container *ngxPermissionsExcept="[Permission.APPLICANT_USER]">
    <div class="assessment-area" *ngIf="projectStatus !== OutputProjectStatus.StatusEnum.DRAFT && projectStatus !== OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT">
        <h5 class="col-sm-12">Decisions</h5>
        <ng-container *ngIf="project$ | async as project">
            <div *ngIf="projectStatus === OutputProjectStatus.StatusEnum.SUBMITTED" class="project-detail-row">
                <div class="row">
                    <div class="col-sm-5 column assessment-text">Eligibility Decision:</div>
                    <div class="col-sm-7 column">
                        <button mat-raised-button
                                color="primary"
                                class="assessment-button"
                                [disabled]="project.eligibilityAssessment === null"
                                [routerLink]="'/project/'+ projectId + '/eligibilityDecision'">
                            {{'project.assessment.eligibilityDecision.assessment' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="projectStatus !== OutputProjectStatus.StatusEnum.SUBMITTED"
                 [routerLink]="'/project/'+ projectId + '/eligibilityDecision'"
                 class="project-detail-row-clickable">
                <div class="row">
                    <div class="col-sm-5 column assessment-text">Eligibility Decision:</div>
                    <div class="col-sm-7 column assessment-text">
                        <div>{{project.eligibilityAssessment.result}}</div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="project-detail-row">
            <div *ngIf="project$ | async as project" class="row">
                <div class="col-sm-5 column assessment-text">Funding Decision:</div>
                <div  *ngIf="projectStatus === OutputProjectStatus.StatusEnum.SUBMITTED || projectStatus === OutputProjectStatus.StatusEnum.ELIGIBLE"
                      class="col-sm-7 column">
                    <button mat-raised-button
                            color="primary"
                            class="assessment-button"
                            [disabled]="true"
                            [routerLink]="'/project/'+ projectId + '/foundingDecision'">
                        {{'project.assessment.fundingDecision.assessment' | translate}}
                    </button>
                </div>
<!--                // TODO enable and find correct condition with MP2-306 -->
<!--                <div  *ngIf="projectStatus === OutputProjectStatus.StatusEnum.APPROVED"-->
<!--                      class="col-sm-7 column assessment-text">-->
<!--                    <div>{{project.eligibilityAssessment.result}}</div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngxPermissionsExcept="[Permission.APPLICANT_USER]">
    <div class="assessment-area" *ngIf="projectStatus !== OutputProjectStatus.StatusEnum.DRAFT && projectStatus !== OutputProjectStatus.StatusEnum.RETURNEDTOAPPLICANT">
        <h5 class="col-sm-12">Assessments</h5>
        <ng-container *ngIf="project$ | async as project">
            <div *ngIf="project.eligibilityAssessment === null" class="project-detail-row">
                <div *ngIf="project$ | async as project" class="row">
                    <div class="col-sm-5 column assessment-text">Eligibility Check:</div>
                    <div class="col-sm-7 column">
                        <button mat-raised-button
                                color="primary"
                                class="assessment-button"
                                [routerLink]="'/project/'+ projectId + '/eligibilityCheck'">
                            {{'project.assessment.eligibilityCheck.assessment' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="project.eligibilityAssessment !== null"
                 [routerLink]="'/project/'+ projectId + '/eligibilityCheck'"
                 class="project-detail-row-clickable">
                <div class="row">
                    <div class="col-sm-5 column assessment-text">Eligibility Check:</div>
                    <div class="col-sm-7 column assessment-text">
                        {{project.eligibilityAssessment.result}}
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="project$ | async as project">
            <div *ngIf="project.qualityAssessment === null" class="project-detail-row">
                <div class="row">
                    <div class="col-sm-5 column assessment-text">Quality Check:</div>
                    <div class="col-sm-7 column">
                        <button mat-raised-button
                                color="primary"
                                class="assessment-button"
                                [routerLink]="'/project/'+ projectId + '/qualityCheck'">
                            {{'project.assessment.qualityCheck.assessment' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="project.qualityAssessment !== null"
                 [routerLink]="'/project/'+ projectId + '/qualityCheck'"
                 class="project-detail-row-clickable">
                <div class="row">
                    <div class="col-sm-5 column assessment-text">Quality Check:</div>
                    <div class="col-sm-7 column assessment-text">
                        {{project.qualityAssessment.result}}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>

