@import 'node_modules/@angular/material/theming';

$primary: mat-palette($mat-blue, 900);
$accent: mat-palette($mat-amber, 600);
$warn: mat-palette($mat-red, 500);

$light-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($light-theme);
