<div [formGroup]="form">
    <jems-expandable-textarea class="w-100"
            label="programme.checklists.component.options.toggle.question"
            [control]="form.controls.question "
            [errors]="form.controls.question.errors"
            characterLimit="1000">
    </jems-expandable-textarea>
    <div jemsMultiColumnRow stretch>
        <mat-form-field>
            <mat-label>{{'programme.checklists.component.options.toggle.o1' | translate}}</mat-label>
            <input formControlName="firstOption" matInput required>
            <mat-error>
                <jems-form-field-errors [errors]="form.get('firstOption')?.errors"></jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'programme.checklists.component.options.toggle.o2' | translate}}</mat-label>
            <input formControlName="secondOption" matInput required>
            <mat-error>
                <jems-form-field-errors [errors]="form.get('secondOption')?.errors"></jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'programme.checklists.component.options.toggle.o3' | translate}}</mat-label>
            <input formControlName="thirdOption" matInput>
            <mat-error>
                <jems-form-field-errors [errors]="form.get('thirdOption')?.errors"></jems-form-field-errors>
            </mat-error>
        </mat-form-field>
    </div>
</div>
