<jems-public-page-template>
    <h1 class="text-primary">{{'authentication.reset.password.by.token.title.label' | translate}}</h1>
    <ng-container *ngIf="(passwordResetSuccessfully$ | async) === false">
        <p>{{'authentication.reset.password.by.token.intro' | translate : {email: email} }}</p>
        <form jemsFormLayout gap="1.5rem" [formGroup]="form">
            <mat-form-field>
                <mat-label>
                    <mat-icon>lock</mat-icon>&nbsp;{{'authentication.password.label' | translate}}</mat-label>
                <input matInput
                       [type]="hide ? 'password' : 'text'" formControlName="password" id="password"
                       name="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide" type="button">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="form.controls.password.errors">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>

            <div jemsMultiColumnRow>
                <button jemsText mat-stroked-button
                        [routerLink]="loginLink"
                        color="primary"
                        type="button">
                    {{'authentication.reset.password.by.token.cancel.button.label' | translate}}
                </button>
                <jems-pending-button
                        jemsText
                        (click)="resetPassword()"
                        [disabled]="loading || !form.valid"
                        [pending]="loading">
                    {{'authentication.reset.password.by.token.change.password.button.label' | translate}}
                </jems-pending-button>
            </div>

            <ng-container>
                <jems-alert *ngIf="error$ | async as error"
                            [show]="!!error.i18nMessage?.i18nKey"
                            [type]="Alert.ERROR">
                    <jems-api-error-content [error]="error"></jems-api-error-content>
                </jems-alert>
            </ng-container>
        </form>
    </ng-container>

    <ng-container *ngIf="passwordResetSuccessfully$ | async">
        <jems-alert
                [show]="true"
                [type]="Alert.SUCCESS">
            <p>{{'authentication.reset.password.by.token.success.message' | translate }}</p>
        </jems-alert>
        <p>{{'authentication.reset.password.by.token.success.message.note' | translate : {email: email} }}</p>
        <button jemsText mat-stroked-button
                [routerLink]="loginLink"
                color="primary"
                type="button">
            {{'authentication.reset.password.by.token.go.to.login.button.label' | translate}}
        </button>
    </ng-container>

</jems-public-page-template>
