mat-panel-description {
  flex: 0;
}

.mat-title-vertical-center {
  display: flex;
  align-items: center;
}

#permissions{
  ::ng-deep .mat-expansion-panel{
    box-shadow: none;
    border-bottom: 1px solid var(--blue-gray);
    &.alternative{
      background-color: var(--pale-blue-gray);
    }
    &.leaf{
      //pointer-events: none;
    }
  }
  ::ng-deep .mat-expansion-panel-body {
    padding-right: 0;
  }

}
