<app-main-page-template [needsCard]="true" *ngIf="role$ | async as role"
                        titleKey="userRole.breadcrumb.list"
                        [subTitleKey]="roleId ? 'userRole.detail.short' : 'userRole.breadcrumb.create'">
    <app-form (save)="save(role)"
              (discard)="discard(role)">

        <form appFormLayout [formGroup]="userRoleForm">
            <div appMultiColumnRow>
                <mat-form-field appFormFieldWidth="xx-large">
                    <mat-label>{{ 'userRole.table.column.name.name' | translate }}</mat-label>
                    <input formControlName="name" matInput required>
                    <mat-error>
                        <app-form-field-errors [errors]="name?.errors"></app-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="permission-tree">

                <mat-tree-node *matTreeNodeDef="let node"
                               matTreeNodePadding
                               [class.top-parent]="node.level == 0"
                               [class.bg-light]="node.parentColor"
                               [class.bg-dark]="!node.parentColor">
                    <div class="permission-row-wrapper">
                        <button mat-icon-button disabled></button>
                        <div class="permission-row-title">{{ node.name | translate }}</div>

                        <div class="controls">
                            <div class="controls-wrapper">
                                <div>
                                    <mat-button-toggle-group
                                            *ngIf="node.mode === PermissionMode.HIDDEN_VIEW_EDIT || node.mode === PermissionMode.HIDDEN_VIEW"
                                            class="small-toggle-group">
                                        <mat-button-toggle
                                                [checked]="node.form.get('state')?.value === PermissionState.HIDDEN"
                                                (click)="$event.stopPropagation()"
                                                (change)="changeState(node.form, PermissionState.HIDDEN);">
                                <span>
                                    <mat-icon>visibility_off</mat-icon>
                                    {{'common.permission.hidden' | translate}}
                                </span>
                                        </mat-button-toggle>
                                        <mat-button-toggle
                                                [checked]="node.form.get('state')?.value === PermissionState.VIEW"
                                                (click)="$event.stopPropagation()"
                                                (change)="changeState(node.form, PermissionState.VIEW)">
                                <span>
                                    <mat-icon>visibility</mat-icon>
                                    {{'common.permission.view' | translate}}
                                </span>
                                        </mat-button-toggle>
                                        <mat-button-toggle
                                                *ngIf="node.mode === PermissionMode.HIDDEN_VIEW_EDIT"
                                                [checked]="node.form.get('state')?.value === PermissionState.EDIT"
                                                (click)="$event.stopPropagation()"
                                                (change)="changeState(node.form, PermissionState.EDIT)">
                                <span>
                                    <mat-icon>edit</mat-icon>
                                    {{'common.permission.edit' | translate}}
                                </span>
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                    <span *ngIf="node.mode === PermissionMode.TOGGLE_EDIT" class="slide-toggle-wrapper">
                                        {{ 'common.permission.hidden' | translate}}
                                        <mat-slide-toggle color="primary"
                                                          (click)="$event.stopPropagation()"
                                                          (change)="changeStateOfToggle(node.form)"
                                                          [checked]="node.form.get('state')?.value === PermissionState.EDIT">
                                        </mat-slide-toggle>
                                        {{ 'common.permission.active' | translate}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tree-node>

                <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                               matTreeNodePadding
                               [class.top-parent]="node.level == 0"
                               [class.bg-light]="node.parentColor"
                               [class.bg-dark]="!node.parentColor">
                    <div class="permission-row-wrapper">
                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'Toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <div class="permission-row-title">{{ node.name | translate }}</div>
                        <div class="controls">
                            <div class="controls-wrapper"></div>
                        </div>
                    </div>
                </mat-tree-node>

            </mat-tree>
        </form>
    </app-form>
</app-main-page-template>
