.header {
  display: inline-block;
  margin-bottom: 2rem;
}

.button {
  margin-right: 1rem;
  margin-top: 2rem;
}

.header-button {
  margin-left: 0.5rem;
}

button {
  width: unset !important;
  margin-bottom: 0.1rem;
}

