<app-form (save)="onSubmit()"
          (discard)="cancel()">
    <h5 id="funds" class="header">{{'project.partner.budget.header' | translate}}</h5>
    <br>
    <ng-container *ngIf="!Number.isInteger(staffCostsFlatRate)">
        <h6 id="staff" class="header">{{'project.partner.budget.staff' | translate}}</h6>
        <app-budget-table
                *ngIf="budgets?.staff"
                [editable]="editable"
                [table]="budgets.staff"
                (tableChanged)="tableChanged()">
        </app-budget-table>
    </ng-container>

    <ng-container *ngIf="Number.isInteger(staffCostsFlatRate)">
        <br>
        <h6 id="staffCostsFlatRate"
            class="header">{{'project.partner.budget.staff.costs.flat.rate.header' | translate}}</h6>
        <p class="intro-text-small">{{'project.partner.budget.staff.costs.flat.rate.description' | translate}}</p>
        <app-staff-costs-flat-rate-table [total]="{
                description: 'project.partner.budget.table.total' | translate,
                total: staffCostsTotal
        }">
        </app-staff-costs-flat-rate-table>
    </ng-container>

    <ng-container *ngIf="Number.isInteger(officeAdministrationFlatRate)">
        <br>
        <h6 id="officeAdministration"
            class="header">{{'project.partner.budget.office.and.admin.header' | translate}}</h6>
        <p class="intro-text-small">{{'project.partner.budget.office.and.admin.description' | translate}}</p>
        <app-office-and-administration-table
                [total]="officeAndAdministrationTotal">
        </app-office-and-administration-table>
    </ng-container>

    <br>
    <h6 id="travel" class="header">{{'project.partner.budget.travel' | translate}}</h6>
    <app-budget-table
            *ngIf="budgets?.travel"
            [editable]="editable"
            [table]="budgets.travel"
            (tableChanged)="tableChanged()">
    </app-budget-table>

    <br>
    <h6 id="external" class="header">{{'project.partner.budget.external' | translate}}</h6>
    <app-budget-table
            *ngIf="budgets?.external"
            [editable]="editable"
            [table]="budgets.external"
            (tableChanged)="tableChanged()">
    </app-budget-table>

    <br>
    <h6 id="equipment" class="header">{{'project.partner.budget.equipment' | translate}}</h6>
    <app-budget-table
            *ngIf="budgets?.equipment"
            [editable]="editable"
            [table]="budgets.equipment"
            (tableChanged)="tableChanged()">
    </app-budget-table>

    <br>
    <h6 id="infrastructure" class="header">{{'project.partner.budget.infrastructure' | translate}}</h6>
    <app-budget-table
            *ngIf="budgets?.infrastructure"
            [editable]="editable"
            [table]="budgets.infrastructure"
            (tableChanged)="tableChanged()">
    </app-budget-table>
</app-form>
