<mat-expansion-panel
        *ngIf="projectStatus !== STATUS.DRAFT
            && projectStatus !== STATUS.RETURNEDTOAPPLICANT"
        [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>{{'project.assessment.check.header' | translate}}</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="projectStatus !== STATUS.DRAFT">
        <div appMultiColumnRow stretch class="mb-4">
            <div>{{'project.assessment.eligibilityCheck.title' | translate}}</div>
            <div>
                <span *ngIf="project.eligibilityAssessment">
                    {{'common.label.projecteligibilityassessmentresult.' + project.eligibilityAssessment.result | translate}}
                </span>
            </div>
            <button *ngIf="!project.eligibilityAssessment"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [routerLink]="'./assessment/eligibilityCheck'">
                {{'project.assessment.eligibilityCheck.assessment' | translate}}
            </button>
            <button *ngIf="project.eligibilityAssessment"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [routerLink]="'./assessment/eligibilityCheck'">
                {{'project.assessment.eligibilityCheck.assessment.view' | translate}}
            </button>
        </div>
        <div appMultiColumnRow stretch>
            <div>{{'project.assessment.qualityCheck.title' | translate}}</div>
            <div>
                <span *ngIf="project.qualityAssessment">
                    {{'common.label.projectqualityassessmentresult.' + project.qualityAssessment.result | translate}}
                </span>
            </div>
            <button *ngIf="!project.qualityAssessment"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [disabled]="project.projectStatus.status === STATUS.INELIGIBLE"
                    [routerLink]="'./assessment/qualityCheck'">
                {{'project.assessment.qualityCheck.assessment' | translate}}
            </button>
            <button *ngIf="project.qualityAssessment"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [routerLink]="'./assessment/qualityCheck'">
                {{'project.assessment.qualityCheck.assessment.view' | translate}}
            </button>
        </div>
    </div>
</mat-expansion-panel>
