<app-top-bar
        [currentUser]="securityService.currentUser | async"
        [isAuthenticated]="true">
</app-top-bar>

<mat-sidenav-container>
    <mat-sidenav *ngIf="headlines$ | async as headlines "
                 [opened]="!!headlines.length"
                 class="side-nav-container" mode="side">
        <app-side-nav
                [headlines]="headlines">
        </app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="main-content" role="main">
            <router-outlet id="main-outlet"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
