$sidebarSize: 18rem;
$topBarHeight: 2.875rem;

.shrunk {
  @media (min-width: 576px) {
    max-width: calc(540px - #{$sidebarSize});
  }
  @media (min-width: 768px) {
    max-width: calc(720px - #{$sidebarSize});
  }
  @media (min-width: 992px) {
    max-width: calc(960px - #{$sidebarSize});
  }
  @media (min-width: 1200px) {
    max-width: calc(1140px - #{$sidebarSize});
  }
  @media (min-width: 1548px) {
    max-width: 1140px;
  }
}

app-top-bar {
  min-height: $topBarHeight;
  z-index: 100;
  width: 100%;
  position: relative;
  top: 0;
}

mat-sidenav-container {
  position: fixed;
  top: $topBarHeight;
  bottom: 0;
  width: 100%;
}

// override default material, to be able to show sections together
ul {
  margin-bottom: 0;
}

.main-content {
  padding: 2rem 1rem 3rem 1rem;
}

.side-nav-container {
  width: $sidebarSize;
  height: 100%;
  background: #5FB3D9;
}
