$sidebarSize: 18rem;
$topBarHeight: 2.875rem;

app-top-bar {
  min-height: $topBarHeight;
  z-index: 100;
  width: 100%;
  position: relative;
  top: 0;
}

mat-sidenav-content {
  height: 100%;
  overflow: hidden;

  #main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;

  }


  ::ng-deep #main-outlet + * {
    display: block;
    overflow: hidden;
    flex: 1;
  }

}

mat-sidenav-container {
  position: fixed;
  top: $topBarHeight;
  bottom: 0;
  width: 100%;
}

// override default material, to be able to show sections together
ul {
  margin-bottom: 0;
}

.side-nav-container {
  width: $sidebarSize;
  height: 100%;
  background: #5FB3D9;
}
