<jems-top-bar
        [currentUser]="securityService.currentUser | async"
        [isAuthenticated]="true">
</jems-top-bar>

<mat-sidenav-container>
    <mat-sidenav #sidenav  *ngIf="headlines$ | async as headlines"
                 [ngClass]="{'stayVisible' : !!headlines.length}"
                 [opened]="!!headlines.length"
                 class="side-nav-container" mode="side">
        <jems-side-nav
                [headlines]="headlines">
        </jems-side-nav>
        <button class="side-nav-toggle-button mat-elevation-z3" mat-mini-fab color="basic" (click)="sidenav.toggle()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="main-content" role="main">
            <router-outlet id="main-outlet"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
