<div class="container">
    <mat-card>
        <mat-card-title>ACCESSIBILITY STATEMENT</mat-card-title>
        <mat-card-content>
            <p>[Name of public sector body] is committed to making its website and services accessible, in accordance with [national legislation] transposing Directive (EU) 2016/2102 of the European Parliament and of the Council.

                <br>This accessibility statement applies to the Joint electronic Monitoring System (Jems).

                <br /><br />
                <h2>Compliance status</h2>
                This web application is partially compliant with conformance level AA of the Web Content Accessibility Guidelines—WCAG 2.1 and the applicable European standard EN 301 549 V2.1.2 (2018-08), respectively, due to the exemptions listed below
            <br /><br />
            <br /><br />
                <h2>Aspects that are partially compliant with accessibility regulations</h2>
                The content listed below is non-accessible for the following reason:

            <br /><br />
            <h3>Disproportionate burden</h3>

                The web application will be offered to a restricted number of registered users. For this reason, the expected number of disabled users among them will be very limited. Therefore, according to Article 5 of Directive (EU) 2016/2102 and especially taking into account Article 5.2 (b) of Directive (EU) 2016/2102, it is considered a disproportionate burden to comply with all accessibility criteria in the part of the web application which is restricted to registered users.

            <br /><br />
                Content by third parties, for example annexes uploaded to applications, which are not within the sphere of [Name of public sector body], are exempt from the Directive (EU) 2016/2102. No statement can be made regarding this third-party content’s compliance with accessibility regulations.

            <br /><br /><br /><br />
            <h2>Programme- and System Management</h2>
                For the reasons given above, the programme- and system management in Jems is not regularly verified for compatibility with accessibility standards, besides default support provided by the chosen development frameworks.
            <ul>
                <li> Coverage of WAI-ARIA attributes is incomplete (1.1.1 Non-text Content).</li>

                <li> Form elements are only partially compatible with screen readers (3.3.2 Labels or Instructions).</li>

                <li> Some labels and visual structure elements do not respect minimum contrast (1.4.3 Contrast (Minimum)).</li>

                <li> The order of elements accessed by keyboard navigation does not always correspond with the logical reading order (2.4.3 Focus Order).</li>

                <li> Alternative input methods and assistive technologies are not supported by all form elements (1.3.1 Information and Relationships; 3.3.1 Error Identification; 4.1.2 Name, Role, Value; 4.1.3 Status Messages).</li>
            </ul>

            <br /><br />
            <h2>Application Form</h2>
                For the reasons given above, the application form section of Jems is not regularly verified for compatibility with accessibility standards, besides default support provided by the chosen development frameworks.
            <ul>
                <li>Coverage of WAI-ARIA attributes is incomplete (1.1.1 Non-text Content).</li>

                <li>Form elements are only partially compatible with screen readers (3.3.2 Labels or Instructions).</li>

                <li>Some labels and visual structure elements do not respect minimum contrast (1.4.3 Contrast (Minimum))</li>

                <li>The order of elements accessed by keyboard navigation does not always correspond with the logical reading order (2.4.3 Focus Order).</li>

                <li>Alternative input methods and assistive technologies are not supported by all form elements (1.3.1 Information and Relationships; 3.3.1 Error Identification; 4.1.2 Name, Role, Value; 4.1.3 Status Messages).</li>
            </ul>

            <br /><br />
            <br /><br />
            <h2>Preparation of this accessibility statement</h2>
                The evaluation of the web application’s accessibility was conducted in the form of a self-assessment in accordance with WCAG 2.1, conformance level AA, on 31st May 2021.

            <br /><br />
            [The statement was last reviewed on xx.xx.xx].

            <br /><br />
            <br /><br />
            <h2>Feedback and contact information</h2>
                Should you notice any barriers to accessibility that prevent you from using our website—problems that are not described in this statement or failures to comply with the accessibility regulations—we invite you to contact us via email.

            <br /><br />Please describe the problem and cite the URL(s) of the web page or document in question.

            <br /><br />Please send your feedback to: [email address]

            <br /><br />We will look into your request and get back to you as soon as possible.

            <br /><br />
            <h3>Contact</h3>
                [address]

            <br /><br />
            <h3>E-Mail:</h3>
                [email address]
            <br /><br />[Eventually Provide a description of, and a link to, the feedback mechanism to be used to notify the public sector body of any compliance failures and to request information and content excluded from the scope of the Directive].

            <br /><br />
            <br /><br />
            <h2>Enforcement procedure</h2>
                In the event of an unsatisfactory response to the aforementioned contact opportunity, you can direct your complaint to [link to contact form of complaints office]

            <br /><br />These complaints will be assessed to establish whether they constitute violations of the provisions laid out in [national legislation – see above], particularly with regard to failure by the state or a public sector body to comply with accessibility regulations.

            <br /><br />If the complaint is valid, the [complaints office] is obliged to make recommendations for action to the state or the relevant legal entities and propose measures that will redress the existing failures.
        </mat-card-content>
    </mat-card>
</div>
