<jems-alert
    [type]="Alert.WARNING"
    [show]="!periods?.length"
    [closable]="false">
    <span>{{'project.application.form.work.package.output.delivery.period.required' | translate}}</span>
</jems-alert>
<mat-form-field jemsFormFieldWidth="full">
    <mat-label *ngIf="label">{{label | translate}}</mat-label>
    <mat-select [disabled]="!periods.length || disabled"
                [formControl]="control"
                (selectionChange)="selectionChanged.emit()"
                [required]="required"
                #matSelect
                [matTooltip]="matSelect.triggerValue">
        <mat-option *ngFor="let period of periods" [value]="period.number">
            <ng-container *ngIf="period.number !== 255">
                {{ ProjectUtil.getPeriodKey(period.startDate) | translate : ProjectUtil.getPeriodArguments(period) }}
            </ng-container>
            <ng-container *ngIf="period.number === 255">
                {{ 'project.results.result.delivery.period.last' | translate }}
            </ng-container>
        </mat-option>
    </mat-select>
</mat-form-field>
