<app-form *ngIf="currentPage$ | async as workPackageInvestmentsPage">
    <div>
        <h6>{{'project.application.form.workpackage.investment.form.list.title' | translate}}</h6>
        <div class="pb-4 intro-text-small">{{'project.work.package.tab.investment.intro' | translate}}</div>
    </div>

    <span class="header-button" *ngIf="editable">
        <button class="spaced-elements" mat-raised-button color="primary"
                [routerLink]="'/app/project/detail/' + projectId + '/applicationFormWorkPackage/detail/' + workPackageId +  '/investment/create'"
                [disabled]="!editable">
                + {{'project.application.form.add.workpackage.investment' | translate}}
        </button>
    </span>

    <app-table *ngIf="workPackageInvestmentsPage.content.length"
               [configuration]="tableConfiguration"
               [rows]="workPackageInvestmentsPage.content"
               [totalElements]="workPackageInvestmentsPage?.totalElements"
               [pageIndex]="pageIndex"
               (newPageIndex)="newPageIndex$.next($event)"
               (newPageSize)="newPageSize$.next($event)"
               (sortRows)="newSort$.next($event)">
    </app-table>

</app-form>

<ng-template #numberingCell let-workPackageInvestment>
    <span *ngIf="workPackageInvestment.investmentNumber">
        I{{workPackageNumber}}.{{workPackageInvestment.investmentNumber}}</span>
    <span *ngIf="!workPackageInvestment.investmentNumber"> {{'project.application.form.partner.number.info.auto' | translate}}</span>
</ng-template>

<ng-template #titleCell let-workPackageInvestment>
    {{getTitleValue(workPackageInvestment)}}
</ng-template>

<ng-template #deletionCell let-workPackageInvestment>
    <button *ngIf="editable" mat-icon-button color="accent"
            (click)="$event.stopPropagation();delete(workPackageInvestment)"
            matTooltip="{{'project.application.form.workpackage.investment.table.action.delete.tooltip' | translate}}">
        <i class="mat-column-delete fas fa-trash"></i>
    </button>
</ng-template>
