<ng-container *ngIf="currentPage$ | async as workPackageInvestmentsPage">
    <app-form>
        <div appFormLayout>
            <h3>{{'project.application.form.workpackage.investment.form.list.title' | translate}}</h3>
            <div>{{'project.work.package.tab.investment.intro' | translate}}</div>

            <button mat-stroked-button *ngIf="editable"
                    [routerLink]="'/app/project/detail/' + projectId + '/applicationFormWorkPackage/detail/' + workPackageId +  '/investment/create'"
                    [disabled]="!editable">
                + {{'project.application.form.add.workpackage.investment' | translate}}
            </button>

            <app-table appNoWidthLimit
                       *ngIf="workPackageInvestmentsPage.content.length"
                       [configuration]="tableConfiguration"
                       [rows]="workPackageInvestmentsPage.content"
                       [totalElements]="workPackageInvestmentsPage?.totalElements"
                       [pageIndex]="pageIndex"
                       (newPageIndex)="newPageIndex$.next($event)"
                       (newPageSize)="newPageSize$.next($event)"
                       (sortRows)="newSort$.next($event)">
            </app-table>
        </div>
    </app-form>
</ng-container>

<ng-template #numberingCell let-workPackageInvestment>
    <span *ngIf="workPackageInvestment.investmentNumber">
        I{{workPackageNumber}}.{{workPackageInvestment.investmentNumber}}</span>
    <span *ngIf="!workPackageInvestment.investmentNumber"> {{'project.application.form.partner.number.info.auto' | translate}}</span>
</ng-template>

<ng-template #titleCell let-workPackageInvestment>
    {{getTitleValue(workPackageInvestment)}}
</ng-template>

<ng-template #deletionCell let-workPackageInvestment>
    <button *ngIf="editable" mat-icon-button color="accent"
            (click)="$event.stopPropagation();delete(workPackageInvestment)"
            matTooltip="{{'project.application.form.workpackage.investment.table.action.delete.tooltip' | translate}}">
        <em class="mat-column-delete fas fa-trash"></em>
    </button>
</ng-template>
