<jems-main-page-template [needsCard]="true" titleKey="call.header">

    <h2 page-sub-title> {{'call.list.header' | translate}}</h2>

    <button class="mr-3"
            jemsText
            mat-raised-button color="primary"
            *jemsHasPermission="PermissionsEnum.CallUpdate"
            [routerLink]="'/app/call/create'"
            (click)="setCallType('STANDARD')">
        + {{'call.add.new' | translate}}
    </button>
    <button jemsText
            mat-raised-button color="primary"
            *jemsHasPermission="PermissionsEnum.CallUpdate"
            [routerLink]="'/app/call/create'"
            (click)="setCallType('SPF')">
        + {{'call.add.new.spf' | translate}}
    </button>
    <jems-context-info infoPosition="right" infoText="{{'call.add.spf.info' | translate}}" *jemsHasPermission="PermissionsEnum.CallUpdate"></jems-context-info>
    <div *ngIf="success" class="success-wrapper">
        <div class="success jems-alert-success">
            <mat-icon>check_circle</mat-icon>
            <span *ngIf="success.i18nKey">{{success.i18nKey | translate : success.i18nArguments}}</span>
        </div>
    </div>
    <jems-call-list jemsNoWidthLimit [publishedCallsOnly]="false"></jems-call-list>

</jems-main-page-template>
