<app-breadcrumb></app-breadcrumb>
<h2>{{'call.header' | translate}}</h2>

<div *ngxPermissionsExcept="Permission.APPLICANT_USER">
    <button mat-raised-button color="primary"
            [routerLink]="'/app/call/create'">
        + {{'call.add.new' | translate}}
    </button>
    <div *ngIf="currentPage$ | async as callPage">
        <h4>{{'call.list.header' | translate}}</h4>
        <div *ngIf="success" class="success-wrapper">
            <div class="success app-alert-success">
                <em class="far fa-check-circle"></em>
                <span *ngIf="success.i18nKey">{{success.i18nKey | translate : success.i18nArguments}}</span>
            </div>
        </div>
        <app-call-list
                [isApplicant]="false"
                [callPage]="callPage"
                [pageIndex]="newPageIndex$ | async"
                (newPageSize)="newPageSize$.next($event)"
                (newPageIndex)="newPageIndex$.next($event)"
                (newSort)="newSort$.next($event)">
        </app-call-list>
    </div>
</div>

<div *ngxPermissionsOnly="Permission.APPLICANT_USER">
    <div *ngIf="currentPage$ | async as callPage">
        <h4>{{'call.list.open.title' | translate}}</h4>
        <app-call-list
                [isApplicant]="true"
                [callPage]="callPage"
                [pageIndex]="newPageIndex$ | async"
                (newPageSize)="newPageSize$.next($event)"
                (newPageIndex)="newPageIndex$.next($event)"
                (newSort)="newSort$.next($event)">
        </app-call-list>
    </div>
</div>
