:host {
  display: inline-block;
  width: 100%;
}

.header {
  display: inline-block;
}

.header-button {
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 0.25rem;
}

.field {
  width: 47%;
  padding-top: 1rem;
  margin-right: 53%;

  input.mat-input-element {
    color: var(--font-color-primary);
  }
}

.field-half {
  width: 47%;
  padding-top: 1rem;
  margin-right: 1rem;

  input.mat-input-element {
    color: var(--font-color-primary);
  }
}

button {
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 0.25rem;
}
