<div class="container">
    <h5 class="header">{{'programme.data.header' | translate}}</h5>
    <button class="header-button" color="primary" *ngIf="formState === FormState.VIEW" mat-raised-button
            (click)="changeFormState$.next(FormState.EDIT)">
        {{'programme.data.button.edit' | translate}}
    </button>
    <form [formGroup]="programmeForm">
        <mat-form-field class="field">
            <mat-label>{{'programme.data.field.cci' | translate}}</mat-label>
            <input name="cci" formControlName="cci" matInput placeholder="{{'programme.data.field.cci' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.cci?.errors"
                        [messages]="cciErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.title' | translate}}</mat-label>
            <input [title]="programme.title" name="title" formControlName="title" matInput
                   placeholder="{{'programme.data.field.title' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.title?.errors"
                        [messages]="titleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.version' | translate}}</mat-label>
            <input [title]="programme.version" name="version" formControlName="version" matInput
                   placeholder="{{'programme.data.field.version' | translate}}">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.version?.errors"
                        [messages]="versionErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.year.from' | translate}}</mat-label>
            <input type="number" name="firstYear" formControlName="firstYear" matInput
                   placeholder="{{'programme.data.field.year.from' | translate}}"
                   [max]="programmeForm?.controls?.lastYear?.value"
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.firstYear?.errors"
                        [messages]="firstYearErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.year.until' | translate}}</mat-label>
            <input type="number" name="lastYear" formControlName="lastYear" matInput
                   placeholder="{{'programme.data.field.year.until' | translate}}"
                   [min]="programmeForm?.controls?.firstYear?.value"
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.lastYear?.errors"
                        [messages]="lastYearErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="programmeForm.errors?.lastYearBeforeFirstYear">
            {{'programme.lastYear.before.firstYear' | translate}}
        </mat-error>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.eligible.from' | translate}}</mat-label>
            <input name="eligibleFrom" formControlName="eligibleFrom" matInput
                   placeholder="{{'programme.data.field.eligible.from' | translate}}"
                   [matDatepicker]="eligibleFromPicker"
                   [max]="programmeForm?.controls?.eligibleUntil?.value">
            <mat-datepicker-toggle matSuffix [for]="eligibleFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #eligibleFromPicker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.eligibleFrom?.errors"
                        [messages]="eligibleFromErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.eligible.until' | translate}}</mat-label>
            <input name="eligibleUntil" formControlName="eligibleUntil" matInput
                   placeholder="{{'programme.data.field.eligible.until' | translate}}"
                   [matDatepicker]="eligibleUntilPicker"
                   [min]="programmeForm?.controls?.eligibleFrom?.value">
            <mat-datepicker-toggle matSuffix [for]="eligibleUntilPicker"></mat-datepicker-toggle>
            <mat-datepicker #eligibleUntilPicker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.eligibleUntil?.errors"
                        [messages]="eligibleUntilErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.commission.number' | translate}}</mat-label>
            <input [title]="programme.commissionDecisionNumber" name="commissionDecisionNumber" type="number"
                   formControlName="commissionDecisionNumber" matInput
                   placeholder="{{'programme.data.field.commission.number' | translate}}"
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.commissionDecisionNumber?.errors"
                        [messages]="commissionDecisionNumberErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.commission.date' | translate}}</mat-label>
            <input name="commissionDecisionDate" formControlName="commissionDecisionDate" matInput
                   placeholder="{{'programme.data.field.commission.date' | translate}}"
                   [matDatepicker]="commissionDecisionPicker">
            <mat-datepicker-toggle matSuffix [for]="commissionDecisionPicker"></mat-datepicker-toggle>
            <mat-datepicker #commissionDecisionPicker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.commissionDecisionDate?.errors"
                        [messages]="dateErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.amending.decision.number' | translate}}</mat-label>
            <input [title]="programme.programmeAmendingDecisionNumber" name="programmeAmendingDecisionNumber"
                   formControlName="programmeAmendingDecisionNumber" matInput type="number"
                   placeholder="{{'programme.data.field.amending.decision' | translate}}"
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.programmeAmendingDecisionNumber?.errors"
                        [messages]="programmeAmendingDecisionNumberErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-half">
            <mat-label>{{'programme.data.field.amending.decision.date' | translate}}</mat-label>
            <input name="programmeAmendingDecisionDate" formControlName="programmeAmendingDecisionDate" matInput
                   placeholder="{{'programme.data.field.amending.decision.date' | translate}}"
                   [matDatepicker]="programmeAmendingDecisionPicker">
            <mat-datepicker-toggle matSuffix [for]="programmeAmendingDecisionPicker"></mat-datepicker-toggle>
            <mat-datepicker #programmeAmendingDecisionPicker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="programmeForm?.controls?.programmeAmendingDecisionDate?.errors"
                        [messages]="dateErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <div *ngIf="formState === FormState.EDIT">
            <button mat-raised-button
                    type="button"
                    (click)="changeFormState$.next(FormState.VIEW)">
                {{'programme.data.button.cancel' | translate}}
            </button>
            <button mat-raised-button
                    color="primary"
                    type="button"
                    [disabled]="programmeForm.invalid || submitted"
                    (click)="onSubmit()">
                {{'programme.data.button.save' | translate}}
            </button>
        </div>
        <app-alert
                [show]="showSuccessMessage$ | async"
                [type]="Alert.SUCCESS">
            <p>{{'programme.data.save.success' | translate}}</p>
        </app-alert>
        <app-alert *ngIf="error$ | async as error"
                   [show]="!submitted && !!error.i18nKey"
                   [type]="Alert.ERROR">
            <p>{{error.i18nKey | translate}}</p>
        </app-alert>
    </form>
</div>

