:host {
  display: inline-block;
  width: 100%;
}

.header {
  display: inline-block;
}

.header-button {
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 0.25rem;
}

.field {
  width: 47%;
  padding-top: 1rem;
  margin-right: 53%;
}

.field-half {
  width: 47%;
  padding-top: 1rem;
  margin-right: 1rem;
}

button {
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 0.25rem;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline {
  height: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

input.mat-input-element {
  color: #343a40;
}
