<app-breadcrumb></app-breadcrumb>
<h2>{{'project.application.form.acronym' | translate : {acronym: projectStore.getAcronym() | async} }}</h2>
<h4>{{'project.application.form.section.part.c' | translate}}</h4>

<app-project-application-form-future-plans-detail
        [success$]="saveSuccess$"
        [project]="futurePlans$ | async"
        [editable]="projectStore.projectEditable$ | async"
        [error$]="saveError$"
        (updateData)="updateFuturePlans$.next($event)">
</app-project-application-form-future-plans-detail>
