<mat-form-field class="w-100" [class.warn-color]="!periods.length">
    <mat-label>{{label | translate}}</mat-label>
    <mat-select [disabled]="!periods.length"
                [formControl]="control"
                (selectionChange)="selectionChanged.emit()">
        <mat-option *ngFor="let period of periods" [value]="period.number">
            {{'project.application.form.work.package.output.delivery.period.entry' | translate : getPeriodArguments(period) }}
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="!periods?.length" class="warning-hint">
        {{'project.application.form.work.package.output.delivery.period.required' | translate}}
    </mat-hint>
</mat-form-field>
