<div class="card-container">
    <div class="card">
        <h4>Greet</h4>
        <h5>This call will be done when the page is first rendered</h5>
        <div>result:
            <div class="terminal">
                <pre>{{result | json}}</pre>
            </div>
        </div>
        <div>error:
            <div class="terminal">
                <pre>{{error | json}}</pre>
            </div>
        </div>
        <div>loading:
            <div class="terminal">
                <pre>{{loading}}</pre>
            </div>
        </div>
    </div>
    <div class="card">
        <h4>Greet only for Admin</h4>
        <form [formGroup]="adminForm" (ngSubmit)="onAdminMessageSubmit()" class="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" formControlName="name">
            </div>
            <button type="submit" [disabled]="adminForm.invalid">Admin Greeting</button>
        </form>
        <div>result:
            <div class="terminal">
                <pre>{{adminResult | json}}</pre>
            </div>
        </div>
        <div>error:
            <div class="terminal">
                <pre>{{adminError | json}}</pre>
            </div>
        </div>
        <div>loading:
            <div class="terminal">
                <pre>{{adminLoading}}</pre>
            </div>
        </div>
    </div>
</div>
