mat-table {
  max-width: 120% !important;
  width: 120% !important;
}



.table-container {
  padding: 0.75rem;
  border: 1px solid var(--light-blue-gray);

  .table-header {
    padding: 0.25rem 0.75rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
    background-color: var(--light-blue-gray);

    &.secondary {
      padding: 0.5rem 0.75rem;
      background-color: var(--pale-blue-gray);
    }

      display: flex;

      div {
        flex-grow: 1;
      }
  }
}
