:host {
  display: inline-block;
  width: 100%;
}

#project-info {
  border: 1px solid;
  border-color: var(--table-border-color);

  .project-row {
    display: flex;
  }

  .header {
    background-color: var(--light-blue-gray);
    min-width: 12rem;
    background-clip: padding-box;
    text-align: right;
    font-weight: 500;
  }

  .expiration {
    color: var(--warn-color);
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}
