<jems-main-page-template
        [needsCard]="true"
        titleKey="project.detail.new.title">

    <form jemsFormLayout *ngIf="callStore.call$ | async as call" [formGroup]="submissionForm">
        <h3>{{'project.detail.new.call.info.title' | translate}} {{call.id}} – {{call.name}}</h3>

        <div id="project-info">
            <div class="project-row">
                <span class="header p-1 pr-3">{{'call.detail.field.start' | translate}}</span>
                <span class="p-1">{{call.startDateTime | localeDate}}</span>
            </div>
            <div class="project-row" *ngIf="call.endDateTimeStep1">
                <span class="header p-1 pr-3">{{'call.detail.field.end.step1' | translate}}</span>
                <span class="p-1">{{'project.detail.overview.call.expiration' | translate: getFormattedTimeLeft(call.endDateTimeStep1)}}</span>
            </div>
            <div class="project-row">
                <span class="header p-1 pr-3">{{'call.detail.field.end' | translate}}</span>
                <span class="p-1">{{'project.detail.overview.call.expiration' | translate: getFormattedTimeLeft(call.endDateTime)}}</span>
            </div>
            <div class="project-row">
                <span class="header p-1 pr-3"></span>
                <span class="p-1">
                <a [routerLink]="['/app', 'call', 'detail', callId]">{{'project.detail.new.call.info.details.link' | translate}}</a>
            </span>
            </div>
        </div>

        <jems-alert [type]="Alert.WARNING" [show]="true">{{'project.detail.new.hint' | translate}}</jems-alert>

        <mat-form-field>
            <mat-label>{{'project.detail.new.field.acronym' | translate}}</mat-label>
            <input name="acronym" formControlName="acronym" matInput required>
            <jems-context-info
                    infoText="{{'project.application.form.field.project.acronym.info' | translate}}">
            </jems-context-info>
            <mat-error>
                <jems-form-field-errors [errors]="submissionForm?.controls?.acronym?.errors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <div jemsMultiColumnRow>
            <a jemsText mat-stroked-button routerLink="/app/call">
                {{'project.detail.new.button.cancel' | translate}}
            </a>
            <button jemsText mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="submissionForm.invalid"
                    (click)="createApplication()">
                {{'project.detail.new.button.create' | translate}}
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>

        <jems-alert *ngIf="saveError$ | async as error"
                   [show]="!!error?.i18nMessage.i18nKey"
                   [type]="Alert.ERROR">
            <jems-api-error-content [error]="error"></jems-api-error-content>
        </jems-alert>
        `
    </form>

</jems-main-page-template>
