<jems-project-page-template [needsCard]="false"
                            titleKey="project.application.contracting.title"
                            [subTitleText]="'project.application.contract.management.title' | translate "
                            [isVersionedData]="false">

    <jems-form *ngIf="projectManagers$ | async as managers"
               (save)="onSubmit()"
               (discard)="resetForm(managers)">
        <form jemsFormLayout [formGroup]="projectManagersForm">
            <h4 class="mb-3">{{'project.application.contract.management.type.projectManager' | translate}}</h4>
            <ng-container [ngTemplateOutlet]="managementContact"
                          [ngTemplateOutletContext]="{controls: projectManagersForm.get('ProjectManager')}">
            </ng-container>
            <h4 class="mb-3">{{'project.application.contract.management.type.financeManager' | translate}}</h4>
            <ng-container [ngTemplateOutlet]="managementContact"
                          [ngTemplateOutletContext]="{controls: projectManagersForm.get('FinanceManager')}">
            </ng-container>
            <h4 class="mb-3">{{'project.application.contract.management.type.communicationManager' | translate}}</h4>
            <ng-container [ngTemplateOutlet]="managementContact"
                          [ngTemplateOutletContext]="{controls: projectManagersForm.get('CommunicationManager')}">
            </ng-container>
        </form>
    </jems-form>


    <ng-template #managementContact let-controls="controls">
        <mat-form-field class="w-100">
            <mat-label>{{'project.partner.contact.title' | translate}}</mat-label>
            <input #managerContactTitleInput name="title"
                   [formControl]="controls?.get('title') || {}" matInput>
            <mat-hint [jemsHintFor]="managerContactTitleInput"
                      [hide]="controls?.get('title')?.errors !== null">
                <jems-text-hint [currentLength]="managerContactTitleInput?.value?.length"
                                [maxLength]="25"></jems-text-hint>
            </mat-hint>
            <mat-error>
                <jems-form-field-errors
                        [errors]="controls?.get('title')?.errors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>{{'project.partner.contact.first.name' | translate}}</mat-label>
            <input #managerContactFirstNameInput name="firstName"
                   [formControl]="controls?.get('firstName') || {}" matInput>
            <mat-hint [jemsHintFor]="managerContactFirstNameInput"
                      [hide]="controls?.get('firstName')?.errors !== null">
                <jems-text-hint [currentLength]="managerContactFirstNameInput?.value?.length"
                                [maxLength]="50"></jems-text-hint>
            </mat-hint>
            <mat-error>
                <jems-form-field-errors
                        [errors]="controls?.get('firstName')?.errors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>{{'project.partner.contact.last.name' | translate}}</mat-label>
            <input #managerContactLastNameInput name="lastName"
                   [formControl]="controls?.get('lastName') || {}"
                   matInput>
            <mat-hint [jemsHintFor]="managerContactLastNameInput"
                      [hide]="controls?.get('lastName')?.errors !== null">
                <jems-text-hint [currentLength]="managerContactLastNameInput?.value?.length"
                                [maxLength]="50"></jems-text-hint>
            </mat-hint>
            <mat-error>
                <jems-form-field-errors
                        [errors]="controls?.get('lastName')?.errors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>{{'project.partner.contact.email' | translate}}</mat-label>
            <input #managerContactEmailInput name="email"
                   [formControl]="controls?.get('email') || {}" matInput>
            <mat-hint [jemsHintFor]="managerContactEmailInput"
                      [hide]="controls?.get('email')?.errors !== null">
                <jems-text-hint [currentLength]="managerContactEmailInput?.value?.length"
                                [maxLength]="255"></jems-text-hint>
            </mat-hint>
            <mat-error>
                <jems-form-field-errors
                        [errors]="controls?.get('email')?.errors"
                        [messages]="managerContactEmailErrors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>{{'project.partner.contact.telephone' | translate}}</mat-label>
            <input #managerContactTelephoneInput name="telephone"
                   [formControl]="controls?.get('telephone') || {}" matInput>
            <mat-hint [jemsHintFor]="managerContactTelephoneInput"
                      [hide]="controls?.get('telephone')?.errors !== null">
                <jems-text-hint [currentLength]="managerContactTelephoneInput?.value?.length"
                                [maxLength]="25"></jems-text-hint>
            </mat-hint>
            <mat-error>
                <jems-form-field-errors
                        [errors]="controls?.get('telephone')?.errors"
                        [messages]="managerContactTelephoneErrors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>
    </ng-template>

</jems-project-page-template>


