<div class="container vertical-center user-registration-container">
    <mat-card>
        <div class="container form-container">
            <h2>{{'user.registration.title' | translate}}</h2>
            <mat-card-subtitle>{{'user.registration.subtitle' | translate}}</mat-card-subtitle>
            <mat-card-content>
                <form class="user-form" [formGroup]="userForm">

                    <mat-form-field class="user-registration-field">
                        <mat-label>{{'user.registration.field.name' | translate}}</mat-label>
                        <input name="name" formControlName="name" matInput
                               placeholder="{{'user.registration.field.name' | translate}}" required>
                        <mat-error>
                            <app-form-field-errors
                                    [errors]="userForm?.controls?.name?.errors"
                                    [messages]="nameErrors">
                            </app-form-field-errors>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="user-registration-field">
                        <mat-label>{{'user.registration.field.surname' | translate}}</mat-label>
                        <input name="surname" formControlName="surname" matInput
                               placeholder="{{'user.registration.field.surname' | translate}}" required>
                        <mat-error>
                            <app-form-field-errors
                                    [errors]="userForm?.controls?.surname?.errors"
                                    [messages]="surnameErrors">
                            </app-form-field-errors>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="user-registration-field">
                        <mat-label>{{'user.registration.field.email' | translate}}</mat-label>
                        <input name="email" formControlName="email" matInput
                               placeholder="{{'user.registration.field.email' | translate}}" required>
                        <mat-error>
                            <app-form-field-errors
                                    [errors]="userForm?.controls?.email?.errors"
                                    [messages]="emailErrors">
                            </app-form-field-errors>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="user-registration-field">
                        <mat-label>{{'user.registration.field.password' | translate}}</mat-label>
                        <input [type]="hide ? 'password' : 'text'" name="password" formControlName="password" matInput
                               placeholder="{{'user.registration.field.password' | translate}}" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <em *ngIf="hide" class="far fa-eye"></em>
                            <em *ngIf="!hide" class="far fa-eye-slash"></em>
                        </button>
                        <mat-error>
                            <app-form-field-errors
                                    [errors]="userForm?.controls?.password?.errors"
                                    [messages]="passwordErrors">
                            </app-form-field-errors>
                        </mat-error>
                        <mat-hint>{{'user.registration.field.password.hint' | translate}}</mat-hint>
                    </mat-form-field>
                    <button mat-stroked-button
                            type="button"
                            class="cancel-button"
                            (click)="redirectToLogin()">
                        {{'user.registration.button.cancel' | translate}}
                    </button>
                    <button mat-raised-button
                            color="primary"
                            type="button"
                            (click)="onSubmit()"
                            class="register-button"
                            [disabled]="userForm.invalid || submitted">
                        {{'user.registration.button.register' | translate}}
                    </button>
                    <app-alert
                            [show]="showSuccessMessage$ | async"
                            [type]="Alert.SUCCESS">
                        <p>{{'user.registration.save.success' | translate}}</p>
                        <br>
                        <a class="alert-link" (click)="redirectToLogin()">
                            {{'user.registration.save.success.redirect.login' | translate}}
                        </a>
                    </app-alert>
                    <app-alert *ngIf="error$ | async as error"
                               [show]="!submitted && !!error.i18nKey"
                               [type]="Alert.ERROR">
                        <p>{{error.i18nKey | translate}}</p>
                    </app-alert>
                </form>
            </mat-card-content>
        </div>
    </mat-card>
</div>
