<ng-container *ngIf="userRoles$ | async as roles">
    <ng-container *ngIf="user$ | async as user">
        <app-user-edit [success$]="userSaveSuccess$"
                       [error$]="userSaveError$"
                       [user]="user"
                       [userRoles]="roles"
                       (submitUser)="updateUser($event)">
        </app-user-edit>
        <ng-container *ngIf="currentUser | async as currentUser">
            <app-user-password [success$]="passwordSaveSuccess$"
                               [error$]="passwordSaveError$"
                               [userId]="user.id"
                               [ownUser]="currentUser.id === user.id"
                               (submitPassword)="changePassword($event)">
            </app-user-password>
        </ng-container>
    </ng-container>
</ng-container>
