<ng-container *ngIf="details$ | async as details">
    <app-breadcrumb></app-breadcrumb>
    <app-user-edit
            [success$]="userStore.userSaveSuccess$"
            [error$]="userStore.userSaveError$"
            [user]="details.user"
            [userId]="details.user.id"
            [userRoles]="details.roles"
            [disabled]="userEditDisabled"
            (submitUser)="userStore.saveUser$.next($event)"
            (switchedFormState)="editSwitchedMode($event)">
    </app-user-edit>
    <app-user-password
            [success$]="passwordSaveSuccess$"
            [error$]="passwordSaveError$"
            [userId]="userId"
            [ownUser]="details.currentUser.id === details.user.id"
            [disabled]="passwordEditDisabled"
            (submitPassword)="changePassword($event)"
            (switchedFormState)="passwordSwitchedMode($event)">
    </app-user-password>
</ng-container>
