<div class="language-switcher-container">
    <div class="language-switcher"
         [class.toggle-button-exists]="isMoreThanOneLanguageInputEnabled()"
         *ngIf="staticLanguages || languageService.languages as languages">
        <mat-button-toggle-group
                class="language-switcher-toggle-group"
                *ngIf="isMoreThanOneLanguageInputEnabled()"
                [value]="languages.length === 1 ? languages[0] : languageService.currentLanguage$ | async"
                (change)="languageService.currentLanguage$.next($event.value)">
            <mat-button-toggle  *ngFor="let language of languages; let index = index"
                               [value]="language">
                <span>{{language}}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <ng-content></ng-content>
</div>
