<div id="language-switcher" *ngIf="languageService.languages as languages">
    <mat-button-toggle-group
            *ngIf="languages?.length > 1"
            [value]="languageService.currentLanguage$ | async"
            (change)="languageService.currentLanguage$.next($event.value)">
        <mat-button-toggle *ngFor="let language of languages; let index = index"
                           [value]="language">
            <p>{{language}}</p>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<ng-content></ng-content>
