<h6 class="spaced-elements"
    id="projectWorkPlanHeading">{{'project.application.form.section.part.c.subsection.four' | translate}}</h6>

<span class="header-button" *ngxPermissionsExcept="Permission.PROGRAMME_USER">
    <button class="spaced-elements" mat-raised-button color="primary"
            [routerLink]="'/app/project/detail/' + projectId + '/applicationForm/workPackage/create'"
            [disabled]="!editable">
        + {{'project.application.form.add.workpackage' | translate}}
    </button>
</span>

<app-project-application-form-work-packages-list
        *ngIf="currentWorkPackagePage$ | async as workPackagePage"
        [workPackagePage]="workPackagePage"
        [pageIndex]="newPageIndex$ | async"
        (newPageSize)="newPageSize$.next($event)"
        (newPageIndex)="newPageIndex$.next($event)"
        (newSort)="newSort$.next($event)">
</app-project-application-form-work-packages-list>
