<div *ngxPermissionsExcept="Permission.APPLICANT_USER" class="container">
    <app-breadcrumb></app-breadcrumb>
    <h5>{{'programme.priority.list.header' | translate}}</h5>
    <button mat-raised-button
            color="primary"
            [routerLink]="'/programme/priorities/priority'">
        + {{'programme.priority.add.new' | translate}}
    </button>
    <div *ngIf="priorities$ | async as priorities" class="priority-items">
        <app-programme-priority-items
                [priorities]="priorities.content">
        </app-programme-priority-items>
    </div>
</div>
