<app-main-page-template [needsCard]="true"
                        *ngIf="programme$ | async as programme"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.tab.data">
    <div>
        <app-programme-data
                [success$]="programmeSaveSuccess$"
                [error$]="programmeSaveError$"
                [programme]="programme"
                (saveProgrammeData)="saveProgrammeData$.next($event)">
        </app-programme-data>
        <app-programme-basic-funds class="mt-5 block"
                *ngIf="funds$ | async as funds"
                [success$]="fundsSaveSuccess$"
                [error$]="fundsSaveError$"
                [programmeFunds]="funds"
                (saveFunds)="saveFunds$.next($event)">
        </app-programme-basic-funds>
    </div>
</app-main-page-template>
