<jems-main-page-template [needsCard]="true" titleKey="programme.data.page.title"
                        subTitleKey="programme.priority.add.title">
    <div jemsFormLayout>
        <h3>{{'programme.priority.list.header' | translate}}</h3>
        <button jemsText mat-stroked-button class="mt-2 mb-2"
                *jemsHasPermission="PermissionsEnum.ProgrammeSetupUpdate"
                routerLink="/app/programme/priorities/create"
                aria-label="add">
            <mat-icon>add</mat-icon>&nbsp;{{'programme.priority.button.add' | translate}}
        </button>
        <ng-container *ngIf="prioritiesPageStore.priorities$ | async as priorities">
            <jems-table
                    jemsNoWidthLimit
                    *ngIf="priorities.length"
                    [configuration]="tableConfiguration"
                    [rows]="priorities"
                    [totalElements]="priorities.length">
            </jems-table>
            <jems-alert *ngIf="priorityDeleteError$ | async as error"
                        [show]="!!error"
                        [type]="Alert.ERROR"
                        (closed)="priorityDeleteError$.next(null);">
                <jems-api-error-content [error]="error"></jems-api-error-content>
            </jems-alert>
            <jems-alert
                    [show]="priorityDeleteSuccess$ | async"
                    [type]="Alert.SUCCESS">
                <p>{{'programme.priority.delete.success' | translate}}</p>
            </jems-alert>
        </ng-container>
    </div>
    <ng-template #specificObjective let-priority>
        <div>
            <div class="mt-1 mb-1" *ngFor="let objective of priority.specificObjectives">
                {{objective.code}} - {{'programme.policy.' + objective.programmeObjectivePolicy | translate}}
            </div>
        </div>
    </ng-template>
    <ng-template #deleteCell let-priority>
        <button
                mat-icon-button color="accent"
                [disabled]="isProgrammeSetupRestricted"
                (click)="delete(priority);$event.stopPropagation();"
                matTooltip="{{'common.delete.entry.tooltip' | translate}}">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-template>
</jems-main-page-template>
