<jems-main-page-template [needsCard]="true" titleKey="programme.data.page.title"
                        subTitleKey="programme.priority.add.title">
    <div jemsFormLayout>
        <h3>{{'programme.priority.list.header' | translate}}</h3>
        <ng-container *ngIf="prioritiesPageStore.priorities$ | async as priorities">
            <jems-table
                    jemsNoWidthLimit
                    *ngIf="priorities.length"
                    [configuration]="tableConfiguration"
                    [rows]="priorities"
                    [totalElements]="priorities.length">
            </jems-table>
        </ng-container>
        <button jemsText mat-stroked-button
                *jemsHasPermission="PermissionsEnum.ProgrammeSetupUpdate"
                routerLink="/app/programme/priorities/create">
            <mat-icon>add</mat-icon>&nbsp;{{'programme.priority.button.add' | translate}}
        </button>
    </div>
    <ng-template #specificObjective let-priority>
        <div>
            <div class="mt-1 mb-1" *ngFor="let objective of priority.specificObjectives">
                {{objective.code}} - {{'programme.policy.' + objective.programmeObjectivePolicy | translate}}
            </div>
        </div>
    </ng-template>
</jems-main-page-template>
