<app-form (save)="save()"
          (discard)="resetForm()">
    <form id="application-form" [formGroup]="applicationForm" class="wrapper">
        <h2>{{'project.application.form.acronym' | translate : {acronym: projectStore.getAcronym() | async} }}</h2>
        <h4 id="projectIdentification" class="header">
            {{'project.application.form.section.part.a' | translate}}
        </h4>
        <h5 id="projectIdentificationHeading">{{'project.application.form.section.part.a.subsection.one' | translate}}</h5>

        <mat-form-field class="w-50">
            <mat-label>{{'project.application.form.field.project.id' | translate}}</mat-label>
            <input name="projectId" formControlName="projectId" matInput
                   placeholder="{{'project.application.form.field.project.id' | translate}}">
        </mat-form-field>

        <mat-form-field class="w-50">
            <mat-label>{{'project.application.form.field.project.acronym' | translate}}</mat-label>
            <input name="acronym" formControlName="acronym" matInput
                   placeholder="{{'project.application.form.field.project.acronym' | translate}}">
            <app-context-info *ngIf="editable"
                              infoText="{{'project.application.form.field.project.acronym.info' | translate}}">
            </app-context-info>
            <mat-error>
                <app-form-field-errors
                        [errors]="applicationForm?.controls?.acronym?.errors"
                        [messages]="projectAcronymErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <app-multi-language>
            <app-multi-language-form-field
                    class="w-50"
                    label="project.application.form.field.project.title"
                    [formControlName]="'title'"
                    [maxLength]="200">
            </app-multi-language-form-field>
        </app-multi-language>

        <mat-form-field class="w-50">
            <mat-label>{{'project.application.form.field.project.duration' | translate}}</mat-label>
            <input type="number" name="duration" formControlName="duration" matInput
                   placeholder="{{'project.application.form.field.project.duration' | translate}}"
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)">
            <mat-error>
                <app-form-field-errors
                        [errors]="applicationForm?.controls?.duration?.errors"
                        [messages]="projectDurationErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-50">
            <mat-label>{{'project.application.form.field.project.periodlength' | translate}}</mat-label>
            <input name="projectPeriodLength" formControlName="projectPeriodLength" matInput
                   placeholder="{{'project.application.form.field.project.periodlength' | translate}}"/>
            <p class="intro-text-small w-50">{{'project.application.form.field.project.periodlength.info' | translate}}</p>
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label>{{'project.application.form.field.project.periodcount' | translate}}</mat-label>
            <input name="projectPeriodCount" formControlName="projectPeriodCount" matInput
                   placeholder="{{'project.application.form.field.project.periodcount' | translate}}"/>
            <p class="intro-text-small w-50">{{'project.application.form.field.project.periodcount.info' | translate}}</p>
        </mat-form-field>

        <mat-form-field *ngIf="editable" class="w-50">
            <mat-label>{{'project.application.form.field.project.priority' | translate}}</mat-label>
            <mat-select (selectionChange)="changeCurrentPriority( $event.value)" required [(value)]=currentPriority
                        panelClass="material-select-panel" formControlName="programmePriority">
                <mat-option *ngFor="let objective of priorities" [value]="objective">
                    {{objective}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-form-field-errors
                        [errors]="applicationForm?.controls?.programmePriority?.errors"
                        [messages]="programmePriorityErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <div *ngIf="editable && currentPriority">
            <app-project-application-form-policy-radio-button
                    [objectives]="objectivesWithPolicies[currentPriority]"
                    [applicationForm]="applicationForm"
                    (selected)="selectedSpecificObjective = $event">
            </app-project-application-form-policy-radio-button>
        </div>

        <div *ngIf="!editable">
            <p class="policy-label">{{'project.application.form.field.project.priority' | translate}}</p>
            <p class="policy-data" *ngIf="previousObjective">
                {{project.projectData.programmePriority.code + ' - '}}
                {{project.projectData.programmePriority.title}}
            </p>
            <p class="policy-data" *ngIf="!previousObjective">
                {{'project.application.form.field.project.field.empty' | translate}}
            </p>
            <p class="policy-label">{{'project.application.form.field.project.objective' | translate}}</p>
            <p class="policy-data" *ngIf="previousObjective">
                {{project.projectData.specificObjective.code + ' - '}}
                {{'programme.policy.' + project.projectData.specificObjective.programmeObjectivePolicy | translate}}
            </p>
            <p class="policy-data" *ngIf="!previousObjective">
                {{'project.application.form.field.project.field.empty' | translate}}
            </p>
        </div>

        <h5 id="projectSummaryHeading">{{'project.application.form.section.part.a.subsection.two' | translate}}</h5>
        <div>
            <div class="intro-text-small">
                <span>{{'project.application.form.summary.intro.row.one' | translate}}</span>
                <ul>
                    <li>{{'project.application.form.summary.intro.row.two' | translate}}</li>
                    <li>{{'project.application.form.summary.intro.row.three' | translate}}</li>
                    <li>{{'project.application.form.summary.intro.row.four' | translate}}</li>
                    <li>{{'project.application.form.summary.intro.row.five' | translate}}</li>
                    <li>{{'project.application.form.summary.intro.row.six' | translate}}</li>
                </ul>
            </div>
        </div>
        <app-multi-language *ngIf="!englishLanguageActive()"
                            [languages]="[LANGUAGE.EN]">
            <app-expandable-textarea
                    class="pb-5"
                    label="project.application.form.field.project.summary.in.english"
                    [control]="applicationForm?.controls?.introEn"
                    [errors]="applicationForm?.controls?.introEn?.errors"
                    [messages]="projectSummaryErrors"
                    [characterLimit]="2000">
            </app-expandable-textarea>
        </app-multi-language>

        <app-multi-language>
            <app-multi-language-form-field
                    type="textarea"
                    label="project.application.form.field.project.summary"
                    formControlName="intro"
                    [maxLength]="2000">
            </app-multi-language-form-field>
        </app-multi-language>
    </form>
</app-form>
