.wrapper {
  .field {
    width: 30%;
    padding-top: 1rem;
    margin-right: 70%;
  }

  .header {
    display: inline-block;
  }

  .button {
    margin-right: 3rem;
  }

  input.mat-input-element {
    color: var(--font-color-primary);
  }

  .policy-label{
    font-size: 0.875rem;
    color: var(--font-color-secondary);
  }

  .policy-data {
    margin-bottom: 1rem;
  }

  .field-wide {
    width: 70%;
  }
}
