#application-form {

  > * {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .policy-label{
    font-size: 0.875rem;
    color: var(--font-color-secondary);
  }

  .policy-data {
    margin-bottom: 1rem;
  }

  .mat-input-element {
    color: var(--font-color-primary) !important;
  }
}
