<jems-form (discard)="resetForm()"
          (save)="save()">
    <form [formGroup]="applicationForm" jemsFormLayout>
        <h3>{{'project.application.form.section.part.a.subsection.one' | translate}}</h3>
        <jems-alert [closable]="false" [show]="true" [type]="Alert.INFO">
            <p class="mat-required-marker empty"> {{'common.hint.required' | translate}}</p>
            <span>{{'common.hint.numbering' | translate}}</span>
        </jems-alert>
        <mat-form-field *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_A.PROJECT_IDENTIFICATION.ID"
                        jemsFormFieldWidth="xx-large">
            <mat-label>{{'project.application.form.field.project.id' | translate}}</mat-label>
            <input formControlName="projectId" matInput name="projectId">
        </mat-form-field>

        <div *ngIf="applicationForm?.controls?.nameOfTheLeadPartner?.value">
            <mat-form-field *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.ORIGINAL_NAME_OF_ORGANISATION"
                            jemsFormFieldWidth="half">
                <mat-label>{{'project.application.form.field.project.nameOfTheLeadPartner' | adaptTranslationKeyByCallType | async | translate}}</mat-label>
                <input formControlName="nameOfTheLeadPartner" matInput name="nameOfTheLeadPartner">
            </mat-form-field>
        </div>

        <div *ngIf="applicationForm?.controls?.nameOfTheLeadPartnerInEnglish?.value">
            <mat-form-field *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.ENGLISH_NAME_OF_ORGANISATION"
                            jemsFormFieldWidth="half">
                <mat-label>{{'project.application.form.field.project.nameOfTheLeadPartnerInEnglish' | adaptTranslationKeyByCallType | async | translate}}</mat-label>
                <input formControlName="nameOfTheLeadPartnerInEnglish" matInput name="nameOfTheLeadPartnerInEnglish">
            </mat-form-field>
        </div>

        <mat-form-field *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_A.PROJECT_IDENTIFICATION.ACRONYM">
            <mat-label>{{'project.application.form.field.project.acronym' | translate}}</mat-label>
            <input #projectAcronym formControlName="acronym" matInput name="acronym">
            <mat-hint [jemsHintFor]="projectAcronym" [hide]="applicationForm.controls?.acronym?.errors !== null">
                <jems-text-hint [currentLength]="projectAcronym?.value?.length" [maxLength]="25"></jems-text-hint>
            </mat-hint>
            <jems-context-info *ngIf="applicationForm.enabled"
                              infoText="{{'project.application.form.field.project.acronym.info' | translate}}">
            </jems-context-info>
            <mat-error>
                <jems-form-field-errors
                        [errors]="applicationForm?.controls?.acronym?.errors"
                        [messages]="projectAcronymErrors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>

        <jems-multi-language-container
                *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_A.PROJECT_IDENTIFICATION.TITLE">
            <jems-multi-language-form-field
                    [formControlName]="'title'"
                    [maxLength]="200"
                    label="project.application.form.field.project.title"
                    type="textarea">
            </jems-multi-language-form-field>
        </jems-multi-language-container>

        <h4>{{'project.application.project.duration.title' | translate}}</h4>

        <div *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_A.PROJECT_IDENTIFICATION.DURATION" jemsMultiColumnRow
             stretch>
            <mat-form-field>
                <mat-label>{{'project.application.form.field.project.duration' | translate}}</mat-label>
                <input (keypress)="tools.checkDigitsOnInput($event)" (paste)="tools.checkDigitsOnPaste($event)" formControlName="duration" matInput
                       name="duration" type="number">
                <mat-error>
                    <jems-form-field-errors
                            [errors]="applicationForm?.controls?.duration?.errors"
                            [messages]="projectDurationErrors">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
            <span style="max-width:1rem;">{{'common.symbol.divide'| translate}}</span>
            <mat-form-field>
                <mat-label>{{'project.application.form.field.project.periodlength' | translate}}</mat-label>
                <input formControlName="projectPeriodLength" matInput name="projectPeriodLength"/>
            </mat-form-field>
            <span style="max-width:1rem;">{{'common.symbol.result'| translate}}</span>
            <mat-form-field>
                <mat-label>{{'project.application.form.field.project.periodcount' | translate}}</mat-label>
                <input formControlName="projectPeriodCount" matInput name="projectPeriodCount"/>
                <jems-context-info
                        infoText="{{'project.application.form.field.project.periodcount.info'| translate}}">
                </jems-context-info>
            </mat-form-field>
        </div>


        <ng-container *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_A.PROJECT_IDENTIFICATION.PRIORITY">
            <h4>{{'project.application.project.priority.title' | translate}}</h4>
            <jems-alert *ngIf="projectStore.projectEditable$ | async"
                        [closable]="false" [show]="projectContracted" [type]="Alert.INFO">
                <span>{{'project.application.form.section.part.a.restrict.contracted' | translate}}</span>
            </jems-alert>
            <mat-form-field *ngIf="applicationForm.enabled && !projectContracted">
                <mat-label>{{'project.application.form.field.project.priority' | translate}}</mat-label>
                <mat-select (selectionChange)="changeCurrentPriority($event.value)" [(value)]=currentPriority formControlName="programmePriority"
                            required>
                    <mat-option *ngFor="let priority of priorities" [value]="priority.code">
                        {{ priority.code }} - {{ priority.title | translateBySystemLanguage | async }}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <jems-form-field-errors
                            [errors]="applicationForm?.controls?.programmePriority?.errors"
                            [messages]="programmePriorityErrors">
                    </jems-form-field-errors>
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_A.PROJECT_IDENTIFICATION.OBJECTIVE">
            <ng-container *ngIf="applicationForm.enabled && currentPriority && !projectContracted">
                <p [ngClass]="{'empty': applicationForm?.controls?.specificObjective?.errors}"
                   class="mat-required-marker">
                    {{'programme.priority.objective.title' | translate}}:
                </p>
                <mat-radio-group
                        (change)="selectedSpecificObjective= $event.value"
                        formControlName="specificObjective">
                    <mat-radio-button
                            (change)="selectedSpecificObjective= $event.value"
                            *ngFor="let objective of objectivesWithPolicies[currentPriority]"
                            [value]="objective.programmeObjectivePolicy">
                        <div>{{objective.code + ': '}} {{'programme.policy.' + objective.programmeObjectivePolicy | translate}}</div>
                    </mat-radio-button>
                </mat-radio-group>
            </ng-container>
        </ng-container>

        <div *ngIf="!applicationForm.enabled || projectContracted">
            <div>{{'project.application.form.field.project.priority' | translate}}</div>
            <div *ngIf="previousObjective">
                {{projectForm.programmePriority.code + ' - '}}
                {{projectForm.programmePriority.title | translateBySystemLanguage | async }}
            </div>
            <div *ngIf="!previousObjective">
                {{'project.application.form.field.project.field.empty' | translate}}
            </div>
            <div>{{'project.application.form.field.project.objective' | translate}}</div>
            <div *ngIf="previousObjective">
                {{projectForm.specificObjective.code + ' - '}}
                {{'programme.policy.' + projectForm.specificObjective.programmeObjectivePolicy | translate}}
            </div>
            <div *ngIf="!previousObjective">
                {{'project.application.form.field.project.field.empty' | translate}}
            </div>
        </div>

        <ng-container *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_A.PROJECT_SUMMARY.SUMMARY">
            <h3>{{'project.application.form.section.part.a.subsection.two' | translate}}</h3>
            <div>
                <p>{{'project.application.form.summary.intro.row.one' | translate}}</p>
                <ul>
                    <li>{{'project.application.form.summary.intro.row.two' | translate}}</li>
                    <li>{{'project.application.form.summary.intro.row.three' | translate}}</li>
                    <li>{{'project.application.form.summary.intro.row.four' | translate}}</li>
                    <li>{{'project.application.form.summary.intro.row.five' | translate}}</li>
                    <li>{{'project.application.form.summary.intro.row.six' | translate}}</li>
                </ul>
            </div>
            <jems-multi-language-container *ngIf="!languageStore.isInputLanguageExist(this.LANGUAGE.EN)"
                                          [staticLanguages]="[LANGUAGE.EN]">
                <jems-multi-language-form-field
                        formControlName="introEn"
                        label="project.application.form.field.project.summary.in.english"
                        maxLength="2000"
                        type="textarea">
                </jems-multi-language-form-field>
            </jems-multi-language-container>

            <jems-multi-language-container>
                <jems-multi-language-form-field
                        [maxLength]="2000"
                        formControlName="intro"
                        label="project.application.form.field.project.summary"
                        type="textarea">
                </jems-multi-language-form-field>
            </jems-multi-language-container>
        </ng-container>
    </form>

</jems-form>
