<div class="container">
    <h5>{{'programme.strategy.title' | translate}}
        <button *ngIf="formState === FormState.VIEW" mat-raised-button color="primary" class="edit-button"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'programme.strategy.button.edit' | translate}}
        </button>
    </h5>
    <form [formGroup]="programmeStrategyForm">
        <span *ngFor="let element of strategies">
            <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="selection.toggle(element)"
                                  [disabled]="formState === FormState.VIEW"
                                  [checked]="selection.isSelected(element)">
                {{'programme.strategy.' + element.strategy | translate}}
            </mat-checkbox>
            <br>
        </span>
        <div class="button-div" *ngIf="formState === FormState.EDIT">
            <button mat-raised-button
                    color="secondary"
                    class="button"
                    type="button"
                    (click)="onCancel()">
                {{'programme.strategy.button.cancel' | translate}}
            </button>
        </div>
        <div class="button-div" *ngIf="formState === FormState.EDIT">
            <button mat-raised-button
                    color="primary"
                    type="button"
                    class="button"
                    [disabled]="submitted"
                    (click)="onSubmit()">
                {{'programme.strategy.button.save' | translate}}
            </button>
        </div>
    </form>
    <app-alert
            [show]="showSuccessMessage$ | async"
            [type]="Alert.SUCCESS">
        <p>{{'programme.strategy.message.successful' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
