<div class="container">
    <h5 id="languageData" class="header">{{'programme.languages.header' | translate}}</h5>
    <button class="header-button" color="primary"
            *ngIf="formState === FormState.VIEW" mat-raised-button
            (click)="changeFormState$.next(FormState.EDIT)">
        {{'common.edit.label' | translate}}
    </button>

    <form [formGroup]="editableLanguageForm" class="mat-elevation-z8 general-application-table">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="selection">
                <th mat-header-cell *matHeaderCellDef>{{'programme.languages.list.select' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="langselection.toggle(element)"
                                  [disabled]="formState === FormState.VIEW"
                                  [checked]="langselection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{'programme.languages.list.name' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="translation">
                <th mat-header-cell *matHeaderCellDef>{{'programme.languages.list.description' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.translationKey | translate}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>
    <div *ngIf="formState === FormState.EDIT">
        <button class="button" mat-raised-button type="button"
                (click)="changeFormState$.next(FormState.VIEW)">
            {{'common.cancel.label' | translate}}
        </button>
        <button class="button" mat-raised-button color="primary" type="button"
                [disabled]="submitted"
                (click)="onSubmit()">
            {{'common.save.label' | translate}}
        </button>
    </div>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'programme.data.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
