<div class="container">
    <h4 id="languageData" class="header">{{'programme.languages.header' | translate}}</h4>
    <button class="header-button" color="primary"
            *ngIf="formState === FormState.VIEW" mat-raised-button
            (click)="changeFormState$.next(FormState.EDIT)">
        {{'common.edit.label' | translate}}
    </button>

    <form class="mat-elevation-z8 general-application-table">
        <table mat-table [dataSource]="dataSource">
            <caption>{{'programme.languages.header' | translate}}</caption>

            <ng-container matColumnDef="system">
                <th id="system" mat-header-cell class="column-small" *matHeaderCellDef>{{'programme.languages.list.select.system' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="systemLangSelection.toggle(element)"
                                  [disabled]="formState === FormState.VIEW"
                                  [checked]="systemLangSelection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="input">
                <th id="input" mat-header-cell class="column-small" *matHeaderCellDef>{{'programme.languages.list.select.input' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="inputLangSelection.toggle(element)"
                                  [disabled]="formState === FormState.VIEW"
                                  [checked]="inputLangSelection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th id="name" mat-header-cell *matHeaderCellDef>{{'programme.languages.list.name' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.code}}
                </td>
            </ng-container>

            <ng-container matColumnDef="translation">
                <th id="description" mat-header-cell *matHeaderCellDef>{{'programme.languages.list.description' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{'language.' + element.code.toLowerCase() | translate}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>

    <div *ngIf="formState === FormState.EDIT">
        <button class="button" mat-raised-button type="button"
                (click)="changeFormState$.next(FormState.VIEW)">
            {{'common.cancel.label' | translate}}
        </button>
        <button class="button" mat-raised-button color="primary" type="button"
                [disabled]="isSubmitDisabled()"
                (click)="onSubmit()">
            {{'common.save.label' | translate}}
        </button>
    </div>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'programme.data.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
