table {
  width: 100%;
}

.container {
  width: 40rem;

  .header {
    display: inline-block;
    margin-bottom: 2rem;
  }

  .button {
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .header-button {
    margin-left: 0.5rem;
  }

  mat-checkbox {
    padding-left: 0.4rem;
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border: none;
  }

  button {
    width: unset !important;
    margin-bottom: 0.1rem;
  }

  .general-application-table {
    .column-small {
      width: 5rem;
    }
  }

}
