<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form appFormLayout [formGroup]="partnerContactForm">
        <h3>{{'project.partner.representative.header' | translate}}</h3>
        <mat-form-field>
            <mat-label>{{'project.partner.representative.title' | translate}}</mat-label>
            <input name="partnerRepresentativeTitle" formControlName="partnerRepresentativeTitle" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="partnerContactForm?.controls?.partnerRepresentativeTitle?.errors"
                        [messages]="partnerRepresentativeTitleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.representative.first.name' | translate}}</mat-label>
            <input name="partnerRepresentativeFirstName" formControlName="partnerRepresentativeFirstName" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="partnerContactForm?.controls?.partnerRepresentativeFirstName?.errors"
                        [messages]="partnerRepresentativeFirstNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.representative.last.name' | translate}}</mat-label>
            <input name="partnerRepresentativeLastName" formControlName="partnerRepresentativeLastName" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="partnerContactForm?.controls?.partnerRepresentativeLastName?.errors"
                        [messages]="partnerRepresentativeLastNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <h3>{{'project.partner.contact.header' | translate}}</h3>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.title' | translate}}</mat-label>
            <input name="partnerContactTitle" formControlName="partnerContactTitle" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="partnerContactForm?.controls?.partnerContactTitle?.errors"
                        [messages]="partnerContactTitleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.first.name' | translate}}</mat-label>
            <input name="partnerContactFirstName" formControlName="partnerContactFirstName" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="partnerContactForm?.controls?.partnerContactFirstName?.errors"
                        [messages]="partnerContactFirstNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.last.name' | translate}}</mat-label>
            <input name="partnerContactLastName" formControlName="partnerContactLastName" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="partnerContactForm?.controls?.partnerContactLastName?.errors"
                        [messages]="partnerContactLastNameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.email' | translate}}</mat-label>
            <input name="partnerContactEmail" formControlName="partnerContactEmail" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="partnerContactForm?.controls?.partnerContactEmail?.errors"
                        [messages]="partnerContactEmailErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'project.partner.contact.telephone' | translate}}</mat-label>
            <input name="partnerContactTelephone" formControlName="partnerContactTelephone" matInput>
            <mat-error>
                <app-form-field-errors
                        [errors]="partnerContactForm?.controls?.partnerContactTelephone?.errors"
                        [messages]="partnerContactTelephoneErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
    </form>
</app-form>
