<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form appFormLayout [formGroup]="partnerContactForm">
        <h3>{{'project.partner.representative.header' | translate}}</h3>
        <app-input-hint-decorator [maxLength]="25" [hasErrors]="partnerContactForm.controls?.partnerRepresentativeTitle?.errors !== null">
            <mat-form-field class="w-100">
                <mat-label>{{'project.partner.representative.title' | translate}}</mat-label>
                <input name="partnerRepresentativeTitle" formControlName="partnerRepresentativeTitle" matInput>
                <mat-error>
                    <app-form-field-errors
                            [errors]="partnerContactForm?.controls?.partnerRepresentativeTitle?.errors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-input-hint-decorator>

        <app-input-hint-decorator [maxLength]="50" [hasErrors]="partnerContactForm.controls?.partnerRepresentativeFirstName?.errors !== null">
            <mat-form-field class="w-100">
                <mat-label>{{'project.partner.representative.first.name' | translate}}</mat-label>
                <input name="partnerRepresentativeFirstName" formControlName="partnerRepresentativeFirstName" matInput>
                <mat-error>
                    <app-form-field-errors
                            [errors]="partnerContactForm?.controls?.partnerRepresentativeFirstName?.errors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-input-hint-decorator>

        <app-input-hint-decorator [maxLength]="50" [hasErrors]="partnerContactForm.controls?.partnerRepresentativeLastName?.errors !== null">
            <mat-form-field class="w-100">
                <mat-label>{{'project.partner.representative.last.name' | translate}}</mat-label>
                <input name="partnerRepresentativeLastName" formControlName="partnerRepresentativeLastName" matInput>
                <mat-error>
                    <app-form-field-errors
                            [errors]="partnerContactForm?.controls?.partnerRepresentativeLastName?.errors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-input-hint-decorator>

        <h3>{{'project.partner.contact.header' | translate}}</h3>

        <app-input-hint-decorator [maxLength]="25" [hasErrors]="partnerContactForm.controls?.partnerContactTitle?.errors !== null">
            <mat-form-field class="w-100">
                <mat-label>{{'project.partner.contact.title' | translate}}</mat-label>
                <input name="partnerContactTitle" formControlName="partnerContactTitle" matInput>
                <mat-error>
                    <app-form-field-errors
                            [errors]="partnerContactForm?.controls?.partnerContactTitle?.errors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-input-hint-decorator>

        <app-input-hint-decorator [maxLength]="50" [hasErrors]="partnerContactForm.controls?.partnerContactFirstName?.errors !== null">
            <mat-form-field class="w-100">
                <mat-label>{{'project.partner.contact.first.name' | translate}}</mat-label>
                <input name="partnerContactFirstName" formControlName="partnerContactFirstName" matInput>
                <mat-error>
                    <app-form-field-errors
                            [errors]="partnerContactForm?.controls?.partnerContactFirstName?.errors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-input-hint-decorator>

        <app-input-hint-decorator [maxLength]="50" [hasErrors]="partnerContactForm.controls?.partnerContactLastName?.errors !== null">
            <mat-form-field class="w-100">
                <mat-label>{{'project.partner.contact.last.name' | translate}}</mat-label>
                <input name="partnerContactLastName" formControlName="partnerContactLastName" matInput>
                <mat-error>
                    <app-form-field-errors
                            [errors]="partnerContactForm?.controls?.partnerContactLastName?.errors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-input-hint-decorator>

        <app-input-hint-decorator [maxLength]="255" [hasErrors]="partnerContactForm.controls?.partnerContactEmail?.errors !== null">
            <mat-form-field class="w-100">
                <mat-label>{{'project.partner.contact.email' | translate}}</mat-label>
                <input name="partnerContactEmail" formControlName="partnerContactEmail" matInput>
                <mat-error>
                    <app-form-field-errors
                            [errors]="partnerContactForm?.controls?.partnerContactEmail?.errors"
                            [messages]="partnerContactEmailErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-input-hint-decorator>

        <app-input-hint-decorator [maxLength]="25" [hasErrors]="partnerContactForm.controls?.partnerContactTelephone?.errors !== null">
            <mat-form-field class="w-100">
                <mat-label>{{'project.partner.contact.telephone' | translate}}</mat-label>
                <input name="partnerContactTelephone" formControlName="partnerContactTelephone" matInput>
                <mat-error>
                    <app-form-field-errors
                            [errors]="partnerContactForm?.controls?.partnerContactTelephone?.errors"
                            [messages]="partnerContactTelephoneErrors">
                    </app-form-field-errors>
                </mat-error>
            </mat-form-field>
        </app-input-hint-decorator>
    </form>
</app-form>
