<button *ngIf="canChangeFile()" mat-icon-button color="accent"
        (click)="edit.emit(file)"
        matTooltip="{{'file.table.action.description.tooltip' | translate}}">
    <em class="fas fa-edit"></em>
</button>
<button mat-icon-button color="accent"
        (click)="download.emit(file)"
        matTooltip="{{'file.table.action.download.tooltip' | translate}}">
    <em class="fas fa-file-download"></em>
</button>
<button *ngIf="canDeleteFile()" mat-icon-button color="accent"
        (click)="delete.emit(file)"
        matTooltip="{{'file.table.action.delete.tooltip' | translate}}">
    <em class="fas fa-trash"></em>
</button>
