<form appFormLayout [formGroup]="userForm">
    <div appMultiColumnRow>
        <h2 class="inline-block">{{'user.detail.page.title' | translate}}</h2>
        <button color="primary" *ngIf="formState === FormState.VIEW" mat-raised-button
                [disabled]="disabled"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'user.detail.button.edit' | translate}}
        </button>
    </div>

    <mat-form-field>
        <mat-label>{{'user.detail.field.name' | translate}}</mat-label>
        <input name="name" formControlName="name" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="userForm?.controls?.name?.errors"
                    [messages]="nameErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'user.detail.field.surname' | translate}}</mat-label>
        <input name="surname" formControlName="surname" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="userForm?.controls?.surname?.errors"
                    [messages]="surnameErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'user.detail.field.email' | translate}}</mat-label>
        <input name="email" formControlName="email" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="userForm?.controls?.email?.errors"
                    [messages]="emailErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <div *ngxPermissionsOnly="[Permission.ADMINISTRATOR]">
        <app-user-role-form-field
                [roleId]="user?.userRole?.id"
                [roleControl]="userForm?.controls?.role"
                [roles]="userRoles">
        </app-user-role-form-field>
    </div>
    <div appMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button mat-stroked-button
                [disabled]="disabled"
                type="button"
                (click)="changeFormState$.next(FormState.VIEW)">
            {{'user.detail.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                [disabled]="disabled || userForm.invalid || submitted"
                (click)="onSubmit()">
            {{'user.detail.button.save' | translate}}
        </button>
    </div>
    <div>
        <app-alert
                [show]="!submitted && (showSuccessMessage$ | async)"
                [type]="Alert.SUCCESS">
            <p>{{'user.detail.save.success' | translate}}</p>
        </app-alert>
        <app-alert *ngIf="error$ | async as error"
                   [show]="!submitted && !!error.i18nMessage?.i18nKey"
                   [type]="Alert.ERROR">
            <app-api-error-content [error]="error"></app-api-error-content>
        </app-alert>
    </div>
</form>
