<jems-public-page-template>
    <h2 class="login-headline">
        <img class="logo-inline" src="assets/logos/JemsLogoNoClaim_96.png" alt="Logo Jems - Joint Electronic Monitoring System">
        &ndash; {{'authentication.login.title.label' | translate}}</h2>
    <form jemsFormLayout gap="0.5rem" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>
                <mat-icon>email</mat-icon>&nbsp;{{'authentication.email.label' | translate}}</mat-label>
            <input matInput autocomplete="email"
                   formControlName="email" id="email" name="email" required type="text">
            <mat-error *ngIf="!loginForm.controls.email.valid">
                {{'authentication.email.not.empty' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                <mat-icon>lock</mat-icon>&nbsp;{{'authentication.password.label' | translate}}</mat-label>
            <input matInput
                   [type]="hide ? 'password' : 'text'" formControlName="password" id="password"
                   name="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" type="button"
                    name="toggle password visibility">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.controls.password.valid">
                {{'authentication.password.not.empty' | translate}}
            </mat-error>
        </mat-form-field>

        <div>
            {{'user.terms.login.firstText' | translate}} <span class="terms-link"><a
                [href]="termsAndPrivacyPolicyUrl$ | async"> {{'user.terms.linkText' | translate}} </a></span>
        </div>

        <button jemsText mat-raised-button
                class="button-full-width"
                color="primary"
                type="submit"
                name="login"
                [disabled]="!loginForm.valid || submitted">
            {{'user.login.button' | translate}}
        </button>
        <div class="space-between">
            <a [routerLink]="registerLink"><strong>{{'user.login.button.create' | translate}}</strong></a>
            <a [routerLink]="forgotPasswordLink"><strong>{{'user.login.button.forgot' | translate}}</strong></a>
        </div>
        <div role="alert">
            <jems-alert *ngIf="error$ | async as error"
                        [show]="!submitted && !!error.i18nMessage?.i18nKey"
                        [type]="Alert.ERROR">
                <jems-api-error-content [error]="error"></jems-api-error-content>
            </jems-alert>
        </div>
    </form>
    <div class="accessibility-statement">
        <span>
            {{'user.login.accessibility.statement.part.1' | translate}}
            <a [href]="accessibilityStatementUrl$ | async">{{'user.login.accessibility.statement.part.2' | translate}}</a>
        </span>
    </div>
    <p class="interact-info">
        <span>{{'user.login.interact.project' | translate}}</span>
        <a href="https://www.interact-eu.net"><img class="logo" src="assets/logos/InteractLogo_48.png" alt="Logo Interact EU"></a>
    </p>
    <div class="developer-info">
                    <span>{{'user.login.interact.developer' | translate}}&nbsp;
                        <a href="https://www.cloudflight.io"><img class="logo-inline"
                                                                  src="assets/logos/CloudflightLogoWhite_128.png"
                                                                  alt="Logo Cloudflight"></a>
                    </span>
    </div>
</jems-public-page-template>
