mat-card-title,
mat-card-content,
mat-card-subtitle, {
  display: flex;
  justify-content: center;
  flex-direction: row;

  > * {
    flex: 1 1 0;
    min-width: 0;
  }
}

.logo {
  width: 90%;
  height: auto;
}

.authentication-logo {
  background: rgb(33, 147, 176);
  color: black;
  font-style: italic;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accessibility-disclaimer {
  font-style: italic
}
