.logo {
  width: 100%;
  height: auto;
}
.logo-inline {
  height: 0.8em;
  margin-bottom: -0.05em;
}
.login-headline {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.space-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.accessibility-statement {
  display: flex;
  gap: 0.5rem;
  border: 1px dotted var(--table-border-color);
  padding: 0.75rem;
  margin: 1.5rem 0 3rem 0;
  mat-icon {
    color: var(--font-color-secondary);
  }
}

.button-full-width {
  width: 100% !important;
}

.interact-info {
  color: white;
  font-size: 0.75rem;
  padding: 1.25rem 8rem;
  margin: -1rem -2.5rem -2rem -2.5rem;
  background-color: var(--primary-dark-color);
}

.developer-info {
  position: absolute;
  bottom: -2.2em;
  margin-left: -2em;
  width: 100%;
  text-align: center;
  color: white;
  .logo-inline {
    height: 1.25em;
    margin-bottom: -0.3em;
  }
}

.interact-info a, .developer-info a {
  box-shadow: none;
}
