<div class="background-visual background-floating-stars"></div>
<div class="double-card-container">
    <mat-card class="programme-card">
        <mat-card-content>
            <div class="authentication-logo px-3">
                <img *ngIf="largeLogo$ | async as logo; else defaultLogo" class="logo" src="data:image/png;base64,{{logo.value}}" alt="" width="">
                <ng-template #defaultLogo>
                    <img class="logo" src="assets/logos/InterregProgrammeLogo_200.png" alt="">
                </ng-template>
            </div>
            </mat-card-content>
                <mat-card-content>
            <div>
                <h1>{{'user.login.programme.headline' | translate}}</h1>
                <p>{{'user.login.programme.introduction' | translate}}</p>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="form-card">
        <mat-card-content>
            <div class="px-3">
                <h1 class="login-headline">
                    <img class="logo-inline" src="assets/logos/JemsLogoNoClaim_96.png" alt="">
                    &ndash; {{'authentication.login.title.label' | translate}}</h1>
                <form jemsFormLayout gap="0.5rem" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>email</mat-icon>&nbsp;{{'authentication.email.label' | translate}}</mat-label>
                        <input matInput autocomplete="email"
                               formControlName="email" id="email" name="email" required type="text">
                        <mat-error *ngIf="!loginForm.controls.email.valid">
                            {{'authentication.email.not.empty' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>
                            <mat-icon>lock</mat-icon>&nbsp;{{'authentication.password.label' | translate}}</mat-label>
                        <input matInput
                               [type]="hide ? 'password' : 'text'" formControlName="password" id="password"
                               name="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="!loginForm.controls.password.valid">
                            {{'authentication.password.not.empty' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <div>
                        {{'user.terms.login.firstText' | translate}} <span class="terms-link"><a [href]="termsAndPrivacyPolicyUrl$ | async"> {{'user.terms.linkText' | translate}} </a></span>
                    </div>

                    <button jemsText mat-raised-button
                            class="button-full-width"
                            color="primary"
                            type="submit"
                            [disabled]="!loginForm.valid || submitted">
                        {{'user.login.button' | translate}}
                    </button>
                    <div class="space-between">
                        <a [routerLink]="registerLink"><strong>{{'user.login.button.create' | translate}}</strong></a>
                        <a *ngIf="helpdeskUrl$ | async as helpdeskUrl" [href]="helpdeskUrl">{{'user.login.button.forgot' | translate}}</a>
                    </div>
                    <jems-alert *ngIf="error$ | async as error"
                               [show]="!submitted && !!error.i18nMessage?.i18nKey"
                               [type]="Alert.ERROR">
                        <jems-api-error-content [error]="error"></jems-api-error-content>
                    </jems-alert>
                </form>
                <div class="accessibility-statement">
                    {{'user.login.accessibility.statement.part.1' | translate}}
                    <a [href]="accessibilityStatementUrl$ | async">{{'user.login.accessibility.statement.part.2' | translate}}</a> {{'user.login.accessibility.statement.part.3' | translate}}
                </div>
                <p class="interact-info">
                    <span>{{'user.login.interact.project' | translate}}</span>
                    <a a href="https://www.interact-eu.net"><img class="logo" src="assets/logos/InteractLogo_48.png" alt=""></a>
                </p>
                <div class="developer-info">
                    <span>{{'user.login.interact.developer' | translate}}&nbsp;
                        <a a href="https://www.cloudflight.io"><img class="logo-inline" src="assets/logos/CloudflightLogoWhite_128.png" alt=""></a>
                    </span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
