$sidebarSize: 21rem;

.shrunk {
  @media (min-width: 576px) {
    max-width: calc(540px - #{$sidebarSize});
  }
  @media (min-width: 768px) {
    max-width: calc(720px - #{$sidebarSize});
  }
  @media (min-width: 992px) {
    max-width: calc(960px - #{$sidebarSize});
  }
  @media (min-width: 1200px) {
    max-width: calc(1140px - #{$sidebarSize});
  }
  @media (min-width: 1596px) {
    max-width: 1140px;
  }
}

app-top-bar {
  height: 3.75rem;
  width: 100%;
  position: fixed;
  top: 0;
}

mat-sidenav-container {
  position: fixed;
  top: 3.75rem;
  bottom: 0;
  width: 100%;
}

// override default material, to be able to show sections together
ul {
  margin-bottom: 0;
}

.main-content {
  padding: 1rem 1rem 3rem 1rem;
}

.side-nav-container {
  width: $sidebarSize;
  height: 100%;
  background: lightgrey;
}

.side-nav-title {
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 2rem;
  cursor: default;
}

.side-nav-main {
  margin-bottom: .25rem;
  &_title {
    font-size: 1.25rem;
    padding-left: 3rem;
    cursor: pointer;
  }
}

.side-nav-section {
  font-size: 1rem;
  padding-left: 4rem;
  cursor: pointer;
  list-style-type: none;
}

.side-nav-subsection {
  font-size: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  list-style-type: none;
}
