<app-top-bar [isAuthenticated]="true">
</app-top-bar>

<mat-sidenav-container class="example-container">
    <mat-sidenav *ngIf="headlines$ | async as headlines "
                 [opened]="!!headlines.length"
                 class="side-nav-container" mode="side">
        <app-side-nav
                [headlines]="headlines">
        </app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="main-content" class="main-content" role="main">
            <div class="container" [ngClass]="{'shrunk': !!(headlines$ | async)?.length}">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
