.mat-table-sticky {
  position: initial !important;
}
mat-button-toggle {
  vertical-align: middle;
  span {
    margin: 0 0.25rem;
  }
  mat-icon {
    font-size: 1.25em;
    line-height: 1.25em;
    width: 1em;
  }
}
.content-toggle.mat-button-toggle-checked {
  background-color: var(--status-submitted) !important;
}

.finance-toggle.mat-button-toggle-checked {
  background-color: var(--status-contracted) !important;
}

.both-toggle.mat-button-toggle-checked {
  background-color: var(--status-approved-with-conditions) !important;
}

#timeplanHeader {
  margin-bottom: -0.75rem;
}

::ng-deep {
  jems-form {
    jems-breadcrumb {
      display: none !important;
    }
  }
  .mat-form-field-wrapper {
    padding-bottom: 1.15rem;
    padding-top: 1.15rem;
  }

  jems-expandable-textarea .mat-form-field-infix {
    min-height: 1.8rem;
  }
}
