<jems-main-page-template [needsCard]="true"
                        titleKey="programme.data.page.title"
                        subTitleKey="programme.tab.area">
    <jems-nuts-info
            [metadata]="metaData$ | async"
            [success$]="downloadSuccess$"
            [error$]="downloadError$"
            (downloadNuts)="downloadLatestNuts$.next()">
    </jems-nuts-info>
    <jems-regions class="margin-before"
                  *ngIf="regionsAvailable$ | async"
                  [success$]="regionSaveSuccess$"
                  [dataSource]="regionTreeDataSource"
                  [selectedRegions]="selectedRegions$ | async"
                  (selectionChanged)="selectionChanged$.next(regionTreeDataSource.data)"
                  (saveRegions)="saveSelectedRegions$.next()"
                  (cancelEdit)="cancelEdit$.next()"
                  [isEditable$]=isEditable()>
    </jems-regions>
</jems-main-page-template>
