<div jemsFormLayout>
    <h3>{{'programme.area.nuts.header' | translate}}</h3>
    <jems-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>
            {{
            'programme.area.nuts.download.success' | translate : {
                version: metadata?.title,
                date: metadata?.date
            }
            }}
        </p>
    </jems-alert>
    <jems-alert *ngIf="error$ | async as error"
               [show]="!!error"
               [type]="Alert.ERROR">
        <jems-api-error-content *ngIf="error.i18nMessage?.i18nKey" [error]="error"></jems-api-error-content>
        <p *ngIf="!error.i18nMessage?.i18nKey">{{'programme.area.nuts.download.error' | translate}}</p>
    </jems-alert>
    <div>
        <p *ngIf="metadata">
            {{
            'programme.area.nuts.downloaded.label' | translate : {
                version: metadata.title,
                date: metadata.date
            }
            }}
        </p>
        <p *ngIf="!metadata">
            {{'programme.area.nuts.not.downloaded.label' | translate }}
        </p>
        <br>
        <p>{{'programme.area.nuts.copyright.en' | translate}}</p>
        <p>{{'programme.area.nuts.copyright.fr' | translate}}</p>
        <p>{{'programme.area.nuts.copyright.de' | translate}}</p>
        <p>{{'programme.area.nuts.copyright.exception' | translate}}</p>
    </div>
    <ng-container *ngIf="!metadata">
        <button mat-stroked-button type="submit"
                *jemsHasPermission="PermissionsEnum.ProgrammeSetupUpdate"
                [disabled]="submitted"
                (click)="onSubmit()">
            {{'programme.area.nuts.download.button' | translate}}
        </button>
    </ng-container>
</div>
