<app-multi-language *ngIf="table?.entries.length">
    <ag-grid-angular
        style="width: 100%"
        class="ag-theme-material mat-elevation-z4"
        [gridOptions]="gridOptions"
        [rowData]="table?.entries"
        (gridReady)="gridReady()">
    </ag-grid-angular>
</app-multi-language>

<p *ngIf="editable && table?.entries.length < 1">
    <button mat-raised-button color="primary"
            (click)="addNewEntry()">+ {{'project.partner.budget.button.add' | translate}}
    </button>
</p>
<button *ngIf="editable && table?.entries.length > 0 && table?.entries.length < 300" mat-icon-button type="button"
        (click)="addNewEntry()">
    <mat-icon>add</mat-icon>
</button>

<ng-template #deleteCell let-params>
    <button *ngIf="editable && !params.node.isRowPinned()" class="delete-button"
            tabindex="-1" mat-icon-button color="accent"
            matTooltip="{{'common.delete.entry.tooltip' | translate}}"
            (click)="removeEntry(params.data)">
        <i class="fas fa-trash"></i>
    </button>
</ng-template>

<ng-template #descriptionCell let-params>
    <span *ngIf="languageService.currentLanguage$ | async as language"
          [class.invalid]="!isDescriptionValid(params.data.description, language)">
        {{languageService.getInputValue(params.value)}}
    </span>
</ng-template>

<ng-template #totalCell let-params>
    <span>{{ (table.total || 0) | asMoney: locale }}</span>
</ng-template>
