<ng-container *ngIf="(numberOfItems$ | async) as numberOfItems; else addTableButton">
    <ng-container [formGroup]="budgetForm">
        <ng-container [formGroup]="table">
            <app-multi-language>
                <mat-table
                        appTableConfig
                        [widthConfig]="['min-15-rem','','','max-10-rem','max-2-rem']"
                        [dataSource]="dataSource" [formArrayName]="constants.FORM_CONTROL_NAMES.items"
                        class="mat-elevation-z2 budget-table">
                    <ng-container matColumnDef="description">
                        <mat-header-cell
                                *matHeaderCellDef> {{'project.partner.budget.table.description' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <app-multi-language-form-field
                                    [formControlName]="constants.FORM_CONTROL_NAMES.description">
                            </app-multi-language-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="numberOfUnits">
                        <mat-header-cell
                                *matHeaderCellDef> {{'project.partner.budget.table.number.of.units' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <mat-form-field [appFormFieldWidth]="5">
                                <input currencyMask
                                       [options]="{min: constants.MIN_VALUE, max: constants.MAX_VALUE, align: 'right'}"
                                       [formControlName]="constants.FORM_CONTROL_NAMES.numberOfUnits" type="decimal"
                                       matInput>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="pricePerUnit">
                        <mat-header-cell
                                *matHeaderCellDef> {{'project.partner.budget.table.price.per.unit' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                            <mat-form-field [appFormFieldWidth]="'medium'">
                                <input currencyMask
                                       [options]="{min: constants.MIN_VALUE, max: constants.MAX_VALUE, align: 'right'}"
                                       [formControlName]="constants.FORM_CONTROL_NAMES.pricePerUnit" type="decimal"
                                       matInput>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <mat-header-cell class="justify-end"
                                         *matHeaderCellDef> {{'project.partner.budget.table.total' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let control;" class="justify-end"
                                  [class.invalid]="!control.get(constants.FORM_CONTROL_NAMES.rowSum).valid">
                            <div class="text-overflow-ellipsis">{{control.get(constants.FORM_CONTROL_NAMES.rowSum).value | asMoney}}</div>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef
                                         class="justify-end"
                                         [class.invalid]="!total.valid">
                            <div class="text-overflow-ellipsis">{{total.value | asMoney}} </div>
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let control;let index=index">
                            <button *ngIf="editable" class="delete-button"
                                    type="button"
                                    tabindex="-1" mat-icon-button color="accent"
                                    matTooltip="{{'common.delete.entry.tooltip' | translate}}"
                                    (click)="removeItem(index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></mat-row>
                    <mat-footer-row *matFooterRowDef="columnsToDisplay"></mat-footer-row>

                </mat-table>
            </app-multi-language>
            <mat-error class="mt-3">
                <app-form-field-errors
                        [errors]="total.errors"
                        [args]="constants.FORM_ERRORS_ARGS.total"
                        [messages]="constants.FORM_ERRORS.total">
                </app-form-field-errors>
            </mat-error>
            <button *ngIf="editable" mat-icon-button type="button" class="mt-2"
                    [disabled]="numberOfItems >= constants.MAX_NUMBER_OF_ITEMS"
                    (click)="addNewItem()">
                <mat-icon>add</mat-icon>
            </button>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #addTableButton>
    <p *ngIf="editable">
        <button mat-raised-button color="primary"
                (click)="addNewItem()">+ {{'project.partner.budget.button.add' | translate}}
        </button>
    </p>
</ng-template>
