<ng-container *ngFor="let priority of priorityCheckboxes">
    <mat-checkbox
            *ngIf="priorityVisible(priority)"
            [disabled]="disabled"
            [checked]="priority.checked"
            [indeterminate]="priority.someChecked()"
            (change)="priority.checkOrUncheckAll(); selectionChanged.emit()">
        {{ priority.name + translated(priority.translatableTitle, languageService.systemLanguage$ | async) }}
    </mat-checkbox>
    <ul class="no-bullets">
        <li *ngFor="let policy of priority.children">
            <mat-checkbox
                    *ngIf="!isApplicant || policy.checked"
                    [(ngModel)]="policy.checked"
                    [disabled]="disabled"
                    (ngModelChange)="priority.updateChecked(); selectionChanged.emit()">
                {{policy.name | translate}}
            </mat-checkbox>
        </li>
    </ul>
</ng-container>
