<div *ngIf="canReadFiles$ | async" jemsNoWidthLimit id="project-files" class="overflow-auto">
    <jems-category-tree
            [categories]="fileManagementStore.fileCategories$ | async"
            (categorySelected)="fileManagementStore.selectedCategory$.next($event)"
            [selectedCategory]="fileManagementStore.selectedCategory$ | async"
            class="mr-3" id="project-files-tree">
    </jems-category-tree>

    <div id="project-files-table">
        <div *ngIf="selectedCategoryPath$ | async as selectedCategoryPath" class="mb-3">
            <span *ngFor="let item of selectedCategoryPath; let last = last">
                <span [class.mat-body-strong]="item === last">{{item.i18nKey | translate : item.i18nArguments}}</span>
                <span *ngIf="!last"> / </span>
            </span>
        </div>
        <jems-project-application-files-table></jems-project-application-files-table>
    </div>
</div>
