#project-files {
  display: flex;

  #project-files-tree {
    width: 20rem;
    border: 1px solid var(--table-border-color);
  }

  #project-files-table {
    flex: auto;
  }
}

.overflow-auto {
  overflow: auto;
}
