<p *ngIf="!partnerPage?.content.length">{{'project.application.form.partner.list.empty' | translate}}</p>
<app-table *ngIf="partnerPage.content.length"
           [configuration]="tableConfiguration"
           [rows]="partnerPage.content"
           [totalElements]="partnerPage?.totalElements"
           [pageIndex]="pageIndex"
           (newPageIndex)="newPageIndex.emit($event)"
           (newPageSize)="newPageSize.emit($event)"
           (sortRows)="newSort.emit($event)">
</app-table>

<ng-template #deletionCell let-partner>
    <app-delete-action-cell
            (click)="$event.stopPropagation()"
            [element]="partner"
            [disabled]="!editable"
            (delete)="delete($event)">
    </app-delete-action-cell>
</ng-template>
