<ng-container *ngIf="data$ | async as data">
    <ng-container *ngFor="let fund of funds">
        <div *ngIf="!data.isApplicant || fund.selected" class="mt-2">
            <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="fund.selected = !fund.selected; selectionChanged.emit()"
                    [disabled]="fundDisabled(data.callIsEditable, data.callIsPublished, fund)"
                    [checked]="fund.selected">
                {{ fund.abbreviation | translateBySystemLanguage | async }}
            </mat-checkbox>
        </div>
    </ng-container>
</ng-container>
