<ng-container *ngIf="(data$ | async) as data">
        <form appFormLayout [formGroup]="callFundsForm" appNoWidthLimit>
            <div appNoWidthLimit
                 [appTableConfig]="[{maxInRem:15},{},{maxInRem:5},{maxInRem:8}]">
                <div>
                    <span>{{'call.detail.flat.rate.table.activate.option' | translate}}</span>
                    <span>  </span>
                    <span>{{'call.detail.flat.rate.table.set.rate' | translate}}</span>
                    <span>{{'call.detail.flat.rate.table.fixed.rate' | translate}}</span>
                </div>

                <div *ngFor="let fund of fundArray.controls;let i=index" [formArrayName]="'fundArray'" >
                    <ng-container [formGroupName]="i">
                        <mat-checkbox
                                [disabled]="fundDisabled(data.callIsEditable, data.callIsPublished, data.funds[i], data.funds)"
                                [formControlName]="'fundSelected'"
                                (click)="$event.stopPropagation()"
                                (change)="fund.value.selected = !fund.value.selected; selectionChanged.emit()"
                                [checked]="fund.value.fundSelected">
                                {{data.funds[i].abbreviation[0].translation}}
                        </mat-checkbox>

                        <div></div>

                        <mat-form-field>
                            <input
                                    currencyMask type="integer" name="fundRateValue" matInput
                                    [formControl]="fundRateValue(i)"
                                    [options]="{min: constants.FUND_MIN_VALUES, max: constants.FUND_MAX_VALUES, align: 'right'}"
                                    [disabled]="fundDisabled(data.callIsEditable, data.callIsPublished, data.funds[i], data.funds)">
                            <span matSuffix>{{'project.partner.budget.options.staff.costs.flat.rate.percent' | translate}}</span>
                        </mat-form-field>

                        <app-call-flat-rates-toggle-column
                                [disabled]='fundDisabled(data.callIsEditable, data.callIsPublished, data.funds[i], data.funds)'
                                (selected)="toggleFundType(fundType(i),$event)"
                                [previousSelection]="fund.value.fundSelected">
                        </app-call-flat-rates-toggle-column>
                    </ng-container>
                </div>
            </div>
        </form>
</ng-container>
