<div *ngxPermissionsOnly="Permission.ADMINISTRATOR" class="container">
    <div class="row">
        <div *ngIf="userRoles$ | async as userRoles" class="col-md-6">
            <app-user-submission
                    [success$]="userSaveSuccess$"
                    [error$]="userSaveError$"
                    [userRoles]="userRoles"
                    (submitUser)="createUser($event)">
            </app-user-submission>
        </div>
        <div *ngIf="currentPage$ | async as userPage" class="col-md-6">
            <app-user-list
                    [userPage]="userPage"
                    [pageIndex]="newPageIndex$ | async"
                    (newPageSize)="newPageSize$.next($event)"
                    (newPageIndex)="newPageIndex$.next($event)"
                    (newSort)="newSort$.next($event)">
            </app-user-list>
        </div>
    </div>
</div>
