<div *ngxPermissionsOnly="[Permission.ADMINISTRATOR]" class="container">
    <!-- This permission check is not needed because the entire route
    is protected by the permission guard. It is only added as an example-->
    <div class="row">
        <div class="col-md-6">
            <app-user-submission
                [success$]="userSaveSuccess$"
                [error$]="userSaveError$"
                [userRoles]="userRoles$ | async"
                (submitUser)="createUser($event)">
            </app-user-submission>
        </div>
        <div class="col-md-6">
            <app-user-list
                    [filtered]="userList$ | async">
            </app-user-list>
        </div>
    </div>
</div>
