@use '../partner-report-financial-overview-tab.component';

.mat-column-type {
  min-width: 10rem;
}

.mat-column-flatRate {
  min-width: 5rem;
}

// fix gap between 2 sticky columns https://github.com/angular/components/issues/18636
.mat-table-sticky-border-elem-left {
  position: absolute;
}
