app-top-bar {
  .mat-select-value-text,
  .mat-select-arrow {
    color: white;
  }
  .toolbar {
    background: rgb(33,147,176);
    background: linear-gradient(90deg, rgb(108,212,236) 0%, rgb(33,147,176) 100%);
  }
}

.top-bar-nav {
  .mat-ink-bar {
    background-color: white !important;
  }
}
