<jems-form (discard)="resetForm(data.allowedRealCosts)"
          (save)="updateAllowedRealCosts()"
          *ngIf="data$ | async as data">
    <h3>{{'call.allow.real.costs.title' | translate}}</h3>
    <form [formGroup]="form" jemsFormLayout>
        <mat-checkbox [disabled]="data.callIsPublished && data.allowedRealCosts.allowRealStaffCosts"
                      formControlName="allowRealStaffCosts">
            {{'call.allow.real.costs.staff' | translate}}
        </mat-checkbox>
        <mat-checkbox [disabled]="data.callIsPublished && data.allowedRealCosts.allowRealTravelAndAccommodationCosts"
                      formControlName="allowRealTravelAndAccommodationCosts">
            {{'call.allow.real.costs.travel' | translate}}
        </mat-checkbox>
        <mat-checkbox
                [disabled]="data.callIsPublished && data.allowedRealCosts.allowRealExternalExpertiseAndServicesCosts"
                formControlName="allowRealExternalExpertiseAndServicesCosts">
            {{'call.allow.real.costs.external' | translate}}
        </mat-checkbox>
        <mat-checkbox [disabled]="data.callIsPublished && data.allowedRealCosts.allowRealEquipmentCosts"
                      formControlName="allowRealEquipmentCosts">
            {{'call.allow.real.costs.equipment' | translate}}
        </mat-checkbox>
        <mat-checkbox *ngIf="!data.isSPFCall"
                      [disabled]="data.callIsPublished && data.allowedRealCosts.allowRealInfrastructureCosts"
                      formControlName="allowRealInfrastructureCosts">
            {{'call.allow.real.costs.infrastructure' | translate}}
        </mat-checkbox>
    </form>
</jems-form>
