:host {
  display: inline-block;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.hint {
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  font-size: 75%;
  position: relative;
  top: -1rem;
}