.header {
  display: inline-block;
  margin-bottom: 2rem;
}

.wrapper {
  ::ng-deep.mat-checkbox-disabled .mat-checkbox-label, ::ng-deep.mat-input-element:disabled {
    color: var(--font-color-primary) !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy {
    .mat-form-field-infix {
      border-top: 0;
    }
  }

  ::ng-deep.mat-form-field-wrapper {
    line-height: .8rem;
    margin-left: .5rem;
    width: 2.5rem;
  }

  ::ng-deep.mat-form-field-subscript-wrapper {
    overflow: visible;
  }

  ::ng-deep.mat-error {
    width: 20rem;
  }

  .percent {
    vertical-align: text-bottom;
  }
}
