<app-project-page-template
        *ngIf="data$ | async as data"
        [needsCard]="true"
        [titleText]="'project.application.form.acronym' | translate : {projectTitle: data.projectTitle} "
        subTitleKey="project.application.form.section.part.c">
    <h3>{{'project.application.form.section.part.c.subsection.four' | translate}}</h3>

    <ng-container *ngxPermissionsExcept="Permission.PROGRAMME_USER">
        <button appText *ngIf="projectEditable$ | async"
                mat-stroked-button class="mb-3"
                (click)="createWorkPackage()">
            + {{'project.application.form.add.workpackage' | translate}}
        </button>
    </ng-container>

    <p class="spaced-elements" *ngIf="!data.workPackages.length">
        {{'project.application.form.workpackage.list.empty' | translate}}
    </p>
    <app-table *ngIf="data.workPackages.length"
               [configuration]="tableConfiguration"
               [rows]="data.workPackages"
               [totalElements]="data.workPackages.length">
    </app-table>


</app-project-page-template>

<ng-template #deletionCell let-workPackage>
    <input #workPackageName type="hidden"
           [value]="(workPackage.name | translateContainerLessInputsBySystemLanguage | async)"/>
    <button *ngIf="projectEditable$ | async" mat-icon-button color="accent"
            (click)="$event.stopPropagation(); delete(workPackage, workPackageName.value)"
            matTooltip="{{'project.application.form.workpackage.table.action.delete.tooltip' | translate}}">
        <mat-icon>delete</mat-icon>
    </button>
</ng-template>

<ng-template #titleCell let-workPackage>
    {{workPackage.name | translateContainerLessInputsBySystemLanguage | async}}
</ng-template>
