<p class="spaced-elements" *ngIf="!workPackagePage?.content.length">
    {{'project.application.form.workpackage.list.empty' | translate}}
</p>
<app-table *ngIf="workPackagePage.content.length"
           [configuration]="tableConfiguration"
           [rows]="workPackagePage.content"
           [totalElements]="workPackagePage?.totalElements"
           [pageIndex]="pageIndex"
           (newPageIndex)="newPageIndex.emit($event)"
           (newPageSize)="newPageSize.emit($event)"
           (sortRows)="newSort.emit($event)">
</app-table>

<ng-template #deletionCell let-workPackage>
    <button *ngIf="editable" mat-icon-button color="accent"
            (click)="$event.stopPropagation(); delete(workPackage)"
            matTooltip="{{'project.application.form.workpackage.table.action.delete.tooltip' | translate}}">
        <i class="fas fa-trash"></i>
    </button>
</ng-template>

<ng-template #titleCell let-workPackage>
    {{getTitleValue(workPackage)}}
</ng-template>
