<p class="spaced-elements" *ngIf="!workPackagePage?.content.length">
    {{'project.application.form.workpackage.list.empty' | translate}}
</p>
<app-table *ngIf="workPackagePage.content.length"
           [configuration]="tableConfiguration"
           [rows]="workPackagePage.content"
           [totalElements]="workPackagePage?.totalElements"
           [pageIndex]="pageIndex"
           (newPageIndex)="newPageIndex.emit($event)"
           (newPageSize)="newPageSize.emit($event)"
           (sortRows)="newSort.emit($event)">
</app-table>

<ng-template #deletionCell let-workPackage>
    <app-work-package-delete-action-cell
            (click)="$event.stopPropagation()"
            [element]="workPackage"
            [disabled]="!editable"
            (delete)="delete($event)">
    </app-work-package-delete-action-cell>
</ng-template>
