<jems-project-page-template *ngIf="data$ | async as data" [needsCard]="true"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: data.projectTitle} "
                           subTitleKey="project.application.form.section.export"
                           [isVersionedData]="false">

    <div id="export-container" *ngIf="selectedCategory$ | async as selectedCategory">
        <jems-category-tree id="export-category-tree" class="mr-3"
                           [categories]="data.categories"
                           (categorySelected)="onCategoryChanged($event)"
                           [selectedCategory]="selectedCategory"
        ></jems-category-tree>
        <div id="export-config">
            <h3>{{'export.header.' + selectedCategory?.type?.toLowerCase() | translate}}</h3>
            <form jemsFormLayout [formGroup]="exportForm">
                <mat-form-field jemsFormFieldWidth="xx-large">
                    <mat-label>{{'export.label.project.version' | translate}}</mat-label>
                    <mat-select formControlName="version">
                        <mat-option *ngFor="let projectVersion of data.versions" [value]="projectVersion.version" role="option">
                            <ng-container *ngIf="projectVersion.current">
                                {{'project.versions.select.format.current' | translate }} {{'project.versions.select.format' | translate : {version: projectVersion.version} }}
                            </ng-container>
                            <ng-container *ngIf="!projectVersion.current">
                                {{'project.versions.select.format' | translate : {version: projectVersion.version} }}
                            </ng-container>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field jemsFormFieldWidth="xx-large">
                    <mat-label>{{'export.label.export.language' | translate}}</mat-label>
                    <mat-select formControlName="exportLanguage">
                        <mat-option *ngFor="let exportLanguage of data.exportLanguages" [value]="exportLanguage"
                                    role="option">
                            <mat-label>{{'language.' + exportLanguage.toLowerCase() | translate}}</mat-label>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field jemsFormFieldWidth="xx-large">
                    <mat-label>{{'export.label.input.language' | translate}}</mat-label>
                    <mat-select formControlName="inputLanguage">
                        <mat-option *ngFor="let inputLanguage of data.inputLanguages" [value]="inputLanguage"
                                    role="option">
                            <mat-label>{{'language.' + inputLanguage.toLowerCase() | translate}}</mat-label>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <jems-pending-button jemsText
                                [disabled]="!selectedCategory || !exportLanguage || !inputLanguage || !data.projectId || data.isSPFProjectCallType"
                                (click)="exportData(selectedCategory, exportLanguage, inputLanguage, data.projectId, getVersion(data.versions))"
                                [pending]="isExportingInProgress$ | async">
                {{'export.label.export.button' | translate}}
            </jems-pending-button>
        </div>
    </div>
</jems-project-page-template>
