<jems-main-page-template [needsCard]="true">
    <ng-container page-title *ngIf="pageStore.currentUser$ | async as currentUser">
        <h1>{{'project.welcome' | translate: {name: currentUser.name, surname: currentUser.surname} }}</h1>
    </ng-container>

    <ng-container *jemsHasPermission="Permissions.ProjectsWithOwnershipRetrieve">
        <h2>{{'call.applications.title' | translate}}</h2>
        <jems-project-application-list jemsNoWidthLimit filterByOwner="true"></jems-project-application-list>
    </ng-container>

    <ng-container *jemsHasPermission="Permissions.CallPublishedRetrieve">
        <h2>{{'call.list.open.title' | translate}}</h2>
        <jems-call-list jemsNoWidthLimit [publishedCallsOnly]="true"></jems-call-list>
    </ng-container>

</jems-main-page-template>
