.description-form {
  max-width: 30rem;
  min-width: 12rem;
}

.description-text-area-field {
  display: block;
}
.description-text-area {
  border: 1px solid lightgray;
  height: 3rem;
}

.button {
  width: 5rem;
}

.right-button {
  float: right;
}

label {
  padding-left: 1rem;
  margin-bottom: 0;
}
mat-form-field {
  height: 100px;
}
