<mat-form-field [floatLabel]="label? 'auto' : 'never'" class="field" [appearance]="customStyle">
    <mat-label *ngIf="label">{{label | translate}}</mat-label>
    <textarea [formControl]="control" matInput
              [cdkTextareaAutosize]
              [placeholder]="placeholder | translate"
              [cdkAutosizeMinRows]="minRows"
              [cdkAutosizeMaxRows]="maxRows"
              (ngModelChange)="changed.emit()"
              #inputText [readonly]="disabled">
    </textarea>
    <app-context-info *ngIf="contextInfoText"
                      [infoText]="contextInfoText">
    </app-context-info>
    <mat-hint *ngIf="!disabled">
        {{inputText.value.length}} / {{characterLimit}} {{'common.textarea.hint' | translate}}
    </mat-hint>
    <mat-error>
        <div *ngIf="inputText.value.length > characterLimit">
            {{ 'common.error.field.max.length' | translate : {currentLength: inputText.value.length,maxLength:characterLimit } }}
        </div>
    </mat-error>
</mat-form-field>
