<mat-form-field [floatLabel]="label? 'auto' : 'never'" class="field" [appearance]="customStyle">
    <mat-label *ngIf="label">{{label | translate}}</mat-label>
    <textarea [formControl]="control" matInput
              [cdkTextareaAutosize]
              [placeholder]="placeholder | translate"
              [cdkAutosizeMinRows]="minRows"
              [cdkAutosizeMaxRows]="maxRows"
              (ngModelChange)="changed.emit()"
              #inputText [readonly]="disabled">
    </textarea>
    <mat-hint *ngIf="!disabled">
        {{inputText.value.length}} / {{characterLimit}} {{'common.textarea.hint' | translate}}
    </mat-hint>
    <mat-error>
        <div *ngFor="let error of errors | keyvalue">
            {{messages[error.key] || error.value || error.key | translate}}
            ({{inputText.value.length}}/{{characterLimit}} {{'common.textarea.hint' | translate}})
        </div>
    </mat-error>
</mat-form-field>
