<mat-form-field>
    <mat-label *ngIf="label">{{label | translate}}</mat-label>
    <textarea [formControl]="control" matInput
              [cdkTextareaAutosize]
              [cdkAutosizeMinRows]="minRows"
              [cdkAutosizeMaxRows]="maxRows"
              (ngModelChange)="changed.emit()"
              #inputText [readonly]="disabled">
    </textarea>
    <jems-context-info *ngIf="contextInfoText"
                      [infoText]="contextInfoText">
    </jems-context-info>
    <mat-hint *ngIf="!disabled" [jemsHintFor]="inputText" [hide]="errors !== null">
        <jems-text-hint [currentLength]="inputText.value.length" [maxLength]="characterLimit"></jems-text-hint>
    </mat-hint>
    <mat-error>
        <jems-form-field-errors [errors]="errors"></jems-form-field-errors>
    </mat-error>
</mat-form-field>
