<form [formGroup]="partnerForm" class="container">
    <h4 *ngIf="!partner?.name">{{'project.application.form.partner.add' | translate}}</h4>
    <h5><span>{{'project.partner.detail.title' | translate}}</span>
        <span class="header-button" *ngxPermissionsExcept="Permission.PROGRAMME_USER">
            <button *ngIf="formState === FormState.VIEW && editable" mat-raised-button
                    (click)="changeFormState$.next(FormState.EDIT)">
                {{'common.edit.label' | translate}}
            </button>
        </span>
    </h5>
    <mat-form-field *ngIf="formState === FormState.VIEW && partner.id" class="field col-md-12">
        <mat-label>{{'project.partner.id.label' | translate}}</mat-label>
        <input name="id" formControlName="id" matInput required>
    </mat-form-field>
    <mat-form-field *ngIf="formState === FormState.VIEW" class="field col-md-12">
        <mat-label>{{'project.partner.role.label' | translate}}</mat-label>
        <input ngModel="{{('common.label.project.partner.role.' + controls?.role?.value) | translate}}"
               name="role" formControlName="fakeRole" matInput required>
    </mat-form-field>
    <div *ngIf="formState === FormState.EDIT" class="field col-md-12">
        <div [class.valid-role]="!controls?.role?.errors"
             [class.invalid-role]="!!controls?.role?.errors">
            {{'project.partner.role.label' | translate}} *
        </div>
        <mat-button-toggle-group>
            <mat-button-toggle
                    [checked]="controls?.role.value === RoleEnum.PARTNER"
                    (change)="controls?.role.setValue(RoleEnum.PARTNER)"
                    [value]="RoleEnum.PARTNER">
                {{'common.label.project.partner.role.PARTNER' | translate}}
            </mat-button-toggle>
            <mat-button-toggle
                    [checked]="controls?.role.value === RoleEnum.LEADPARTNER"
                    (change)="controls?.role.setValue(RoleEnum.LEADPARTNER)"
                    [value]="RoleEnum.LEADPARTNER">
                {{'common.label.project.partner.role.LEAD_PARTNER' | translate}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-error>
            <app-form-field-errors
                    [errors]="controls?.role?.errors"
                    [messages]="roleErrors">
            </app-form-field-errors>
        </mat-error>
    </div>
    <mat-form-field class="field col-md-12">
        <mat-label>{{'project.partner.partner.organization.original.name.label' | translate}}</mat-label>
        <input name="nameInOriginalLanguage" formControlName="nameInOriginalLanguage" matInput
               placeholder="{{'project.partner.partner.organization.original.name.label' | translate}}">
        <mat-error>
            <app-form-field-errors
                    [errors]="controls?.nameInOriginalLanguage?.errors"
                    [messages]="nameInOriginalLanguageErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="field col-md-12">
        <mat-label>{{'project.partner.organization.english.name.label' | translate}}</mat-label>
        <input name="nameInEnglish" formControlName="nameInEnglish" matInput
               placeholder="{{'project.partner.organization.english.name.label' | translate}}">
        <mat-error>
            <app-form-field-errors
                    [errors]="controls?.nameInEnglish?.errors"
                    [messages]="nameInEnglishErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="field col-md-12">
        <mat-label>{{'project.partner.organization.department.label' | translate}}</mat-label>
        <input name="department" formControlName="department" matInput
               placeholder="{{'project.partner.organization.department.label' | translate}}">
        <mat-error>
            <app-form-field-errors
                    [errors]="controls?.department?.errors"
                    [messages]="departmentErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="field col-md-12">
        <mat-label>{{'project.partner.name.label' | translate}}</mat-label>
        <input name="name" formControlName="name" matInput placeholder="{{'project.partner.name.label' | translate}}"
               required>
        <mat-error>
            <app-form-field-errors
                    [errors]="controls?.name?.errors"
                    [messages]="nameErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>

    <div *ngIf="formState === FormState.EDIT" class="buttons">
        <button mat-raised-button color="secondary" class="button"
                type="button"
                (click)="onCancel()">
            {{'call.detail.button.cancel' | translate}}
        </button>
        <button mat-raised-button color="primary" class="button"
                type="button"
                [disabled]="partnerForm.invalid"
                (click)="onSubmit(controls)">
            {{'common.save.label' | translate}}
        </button>
    </div>
    <app-alert
            [show]="showSuccessMessage$ | async"
            [type]="Alert.SUCCESS">
        <p>{{'project.partner.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey && error.i18nKey !== 'project.partner.role.lead.already.existing'"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</form>

