.project-application-list-container {
  max-height: 300px;
  overflow: auto;
  margin-right: 30%;

  .project-application-table {
    width: 100%;

    .clickable-table-row {
      cursor: pointer;
    }
  }
}
