<app-main-page-template [needsCard]="true" *ngIf="project$ | async as project"
                        titleKey="project.application.form.lifecycle.title">
    <ng-container page-sub-title *ngxPermissionsExcept="[Permission.APPLICANT_USER]">
        <div appFormLayout appNoWidthLimit>
            <h2>{{project.id}} – {{project.acronym}}</h2>
            <app-project-application-information appNoWidthLimit [project]="project">
            </app-project-application-information>
        </div>
    </ng-container>

    <form appFormLayout [formGroup]="notesForm">
        <h3>{{'project.assessment.eligibilityDecision.dialog.title' | translate}}</h3>
        <mat-radio-group
                required
                name="assessment"
                formControlName="assessment"
                [disabled]="!!project.eligibilityDecision"
                (change)="assessmentChangeHandler($event)">
            <mat-radio-button *ngFor="let option of options" [value]="option">
                <div>{{'project.assessment.eligibilityDecision.dialog.select.' + option | translate}}</div>
            </mat-radio-button>
        </mat-radio-group>
        <app-expandable-textarea
                [control]="notesForm?.controls?.notes"
                [errors]="notesForm?.controls?.notes?.errors"
                [messages]="notesErrors"
                [characterLimit]="1000"
                [label]="'project.assessment.eligibilityDecision.dialog.field.note'"
                [disabled]="!!project.eligibilityDecision"
                [customStyle]="'outline'">
        </app-expandable-textarea>
        <mat-form-field appFormFieldWidth="x-large">
            <mat-label>
                {{'project.assessment.eligibilityDecision.dialog.field.date' | translate | dateFormatInfo}}
            </mat-label>
            <input name="decisionDate" formControlName="decisionDate" matInput required
                   [matDatepicker]="picker"
                   [readonly]="!!project.eligibilityDecision"
                   [max]="today">
            <mat-datepicker-toggle [disabled]="!!project.eligibilityDecision" matSuffix
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
                <app-form-field-errors
                        [errors]="notesForm?.controls?.decisionDate?.errors"
                        [messages]="dateErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <div appMultiColumnRow *ngIf="!project.eligibilityDecision">
            <button mat-stroked-button
                    (click)="redirectToProjectDetail()">
                {{'project.assessment.eligibilityDecision.dialog.button.cancel' | translate}}
            </button>

            <app-pending-button
                    [confirm]="getEligibilityDecisionConfirmation()"
                    [pending]="actionPending"
                    [disabled]="notesForm.invalid"
                    (clicked)="submitEligibilityDecision()">
                {{'project.assessment.eligibilityDecision.dialog.button.submit' | translate}}
            </app-pending-button>
        </div>
    </form>
</app-main-page-template>
