<jems-project-page-template [needsCard]="true" *ngIf="data$ | async as data"
                           titleKey="project.assessment.and.decision.header"
                           [isVersionedData]="false">
    <div page-sub-title jemsFormLayout jemsNoWidthLimit>
        <h2>{{data.currentVersionOfProjectTitle}}</h2>
        <jems-project-application-information jemsNoWidthLimit [project]="data.currentVersionOfProject">
        </jems-project-application-information>
    </div>

    <form jemsFormLayout [formGroup]="notesForm">
        <h3>{{'project.assessment.eligibilityDecision.dialog.title' | translate}}</h3>
        <mat-radio-group
                required
                name="assessment"
                formControlName="assessment"
                [disabled]="!!data.eligibilityDecision || !data.canSetEligibleDecision">
            <mat-radio-button *ngFor="let option of options" [value]="option">
                <div>{{'project.assessment.eligibilityDecision.dialog.select.' + option | translate}}</div>
            </mat-radio-button>
        </mat-radio-group>
        <jems-expandable-textarea
                [control]="notesForm?.controls?.notes"
                [errors]="notesForm?.controls?.notes?.errors"
                [messages]="notesErrors"
                [characterLimit]="1000"
                [label]="'project.assessment.eligibilityDecision.dialog.field.note'"
                [disabled]="!!data.eligibilityDecision || !data.canSetEligibleDecision"
                [customStyle]="'outline'">
        </jems-expandable-textarea>
        <mat-form-field jemsFormFieldWidth="x-large">
            <mat-label>
                {{'project.assessment.eligibilityDecision.dialog.field.date' | translate | dateFormatInfo}}
            </mat-label>
            <input name="decisionDate" formControlName="decisionDate" matInput required
                   [matDatepicker]="picker"
                   [readonly]="!!data.eligibilityDecision || !data.canSetEligibleDecision"
                   [max]="today">
            <mat-datepicker-toggle [disabled]="!!data.eligibilityDecision || !data.canSetEligibleDecision" matSuffix
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
                <jems-form-field-errors
                        [errors]="notesForm?.controls?.decisionDate?.errors"
                        [messages]="dateErrors">
                </jems-form-field-errors>
            </mat-error>
        </mat-form-field>
        <ng-container *ngIf="!data.eligibilityDecision">
            <div jemsMultiColumnRow *jemsHasPermission="[PermissionsEnum.ProjectStatusDecideEligible, PermissionsEnum.ProjectStatusDecideIneligible]">
                <button jemsText mat-stroked-button
                        (click)="redirectToAssessmentAndDecisions()">
                    {{'project.assessment.eligibilityDecision.dialog.button.cancel' | translate}}
                </button>

                <jems-pending-button
                        [confirm]="getEligibilityDecisionConfirmation()"
                        [pending]="actionPending"
                        [disabled]="notesForm.invalid"
                        (clicked)="submitEligibilityDecision()">
                    {{'project.assessment.eligibilityDecision.dialog.button.submit' | translate}}
                </jems-pending-button>
            </div>
        </ng-container>
    </form>
</jems-project-page-template>
