<app-main-page-template [needsCard]="true">
    <ng-container page-title *ngIf="pageStore.currentUser$ | async as currentUser">
        <h1>{{'project.welcome' | translate: {name: currentUser.name, surname: currentUser.surname} }}</h1>
    </ng-container>

    <ng-container *hasPermission="Permissions.ProjectsWithOwnershipRetrieve">
        <h2>{{'call.applications.title' | translate}}</h2>
        <app-project-application-list appNoWidthLimit filterByOwner="true"></app-project-application-list>
    </ng-container>

    <ng-container *hasPermission="Permissions.CallPublishedRetrieve">
        <h2>{{'call.list.open.title' | translate}}</h2>
        <app-call-list appNoWidthLimit [isApplicant]="true"></app-call-list>
    </ng-container>

</app-main-page-template>
