<ng-container *ngIf="formState === FormState.VIEW">
    <mat-form-field>
        <mat-label>{{'user.detail.field.password' | translate}}</mat-label>
        <input [disabled]="true"
               [ngModel]="'****'"
               name="fakePwd" matInput>
    </mat-form-field>
    <button jemsText mat-raised-button
            [disabled]="disabled"
            (click)="changeFormState$.next(FormState.EDIT)"
            color="primary">
        {{'user.detail.button.password.new' | translate}}
    </button>
</ng-container>
<form jemsFormLayout [formGroup]="passwordForm" *ngIf="formState === FormState.EDIT"
      (keydown.enter)="$event.preventDefault()">
    <jems-password-field
            *ngIf="ownUser && passwordForm?.controls?.oldPassword"
            [name]="'user.detail.field.password.old'"
            [passwordControl]="passwordForm.controls.oldPassword"
            [showHint]="false">
    </jems-password-field>
    <jems-password-field
            *ngIf="passwordForm?.controls?.password"
            [name]="'user.detail.field.password.new'"
            [passwordControl]="passwordForm.controls.password"
            [passwordErrors]="passwordErrors"
            [showHint]="true">
    </jems-password-field>
    <div jemsMultiColumnRow>
        <button jemsText mat-stroked-button
                [disabled]="disabled"
                (click)="changeFormState$.next(FormState.VIEW)">
            {{'user.detail.password.button.cancel' | translate}}
        </button>
        <button jemsText mat-raised-button
                color="primary"
                [disabled]="disabled || passwordForm.invalid || submitted"
                (click)="onSubmit()">
            {{'user.detail.password.button.save' | translate}}
        </button>
    </div>
    <jems-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nMessage?.i18nKey"
               [type]="Alert.ERROR">
        <jems-api-error-content [error]="error"></jems-api-error-content>
    </jems-alert>
</form>
<jems-alert
        [show]="!submitted && (showSuccessMessage$ | async)"
        [type]="Alert.SUCCESS">
    <p>{{'user.detail.password.save.success' | translate}}</p>
</jems-alert>
