.container {
  width: 20rem;

  .field {
    width: 100%;
    padding-top: 1rem;
  }

  .fake-password {
    //margin-top: 2rem;
    width: 20%;
  }

  button {
    margin-left: 0.5rem;
  }

  .buttons {
    margin-top: 1.2rem;
  }

  ::ng-deep.mat-form-field-disabled .mat-button-wrapper i {
    visibility: hidden;
  }

  ::ng-deep.mat-form-field-disabled .mat-form-field-underline {
    height: 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  input.mat-input-element {
    color: #343a40;
  }
}

