<div class="container vertical-center">
    <hr>
    <ng-container *ngIf="formState === FormState.VIEW">
        <mat-form-field class="fake-password">
            <mat-label>password</mat-label>
            <input [disabled]="true"
                   [ngModel]="'****'"
                   name="fakePwd" matInput>
        </mat-form-field>
        <button mat-raised-button
                (click)="changeFormState$.next(FormState.EDIT)">
            set new password
        </button>
    </ng-container>
    <form [formGroup]="passwordForm" *ngIf="formState === FormState.EDIT">
        <app-password-field
                *ngIf="ownUser && passwordForm?.controls?.oldPassword"
                [name]="'Old password'"
                [passwordControl]="passwordForm.controls.oldPassword"
                [passwordErrors]="oldPasswordErrors"
                [showHint]="false">
        </app-password-field>
        <app-password-field
                *ngIf="passwordForm?.controls?.password"
                [name]="'New password'"
                [passwordControl]="passwordForm.controls.password"
                [passwordErrors]="passwordErrors"
                [showHint]="true">
        </app-password-field>
        <div class="buttons">
            <button mat-raised-button
                    (click)="changeFormState$.next(FormState.VIEW)">
                cancel
            </button>
            <button mat-raised-button
                    color="primary"
                    [disabled]="passwordForm.invalid || submitted"
                    (click)="onSubmit()">
                save
            </button>
        </div>
    </form>
    <app-alert
            [show]="showSuccessMessage$ | async"
            [type]="Alert.SUCCESS">
        <p>{{'user.detail.password.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!submitted && !!error.i18nKey"
               [type]="Alert.ERROR">
        <p>{{error.i18nKey | translate}}</p>
    </app-alert>
</div>
