<div class="container vertical-center">
    <hr>
    <form [formGroup]="passwordForm">
        <app-password-field *ngIf="ownUser && passwordForm?.controls?.oldPassword"
                            [passwordControl]="passwordForm.controls.oldPassword"
                            [passwordErrors]="oldPasswordErrors"
                            [showHint]="false">
        </app-password-field>
        <app-password-field *ngIf="passwordForm?.controls?.password"
                            [passwordControl]="passwordForm.controls.password"
                            [passwordErrors]="passwordErrors"
                            [showHint]="editMode">
        </app-password-field>
        <button *ngIf="!editMode" mat-raised-button
                type="submit"
                (click)="enterEditMode()">
            set new password
        </button>
        <div *ngIf="editMode" class="buttons">
            <button mat-raised-button
                    type="submit"
                    (click)="enterViewMode()">
                cancel
            </button>
            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="passwordForm.invalid || submitted"
                    (click)="onSubmit()">
                save
            </button>
        </div>
        <app-form-validation
                [success]="success$ | async"
                [successMessage]="'user.detail.password.save.success'"
                [validationError]="validationError">
        </app-form-validation>
    </form>
</div>
