<app-main-page-template
        [needsCard]="needsCard"
        [headerTemplate]="isVersionedData ? versionWarn : null"
        [titleKey]="titleKey"
        [titleText]="titleText"
        [subTitleKey]="subTitleKey"
        [subTitleText]="subTitleText"
        [descriptionKey]="descriptionKey"
        [descriptionText]="descriptionText"
>
    <ng-content></ng-content>
</app-main-page-template>
<ng-template #versionWarn>
    <ng-container *hasPermission="PermissionsEnum.ProjectFileApplicationRetrieve; alternativeCondition pageStore.isThisUserOwner$ | async">
        <app-alert *ngIf="versionWarnData$ | async as data"
                   [type]="Alert.WARNING"
                   [show]="!data.selectedIsCurrent">
            <div id="version-warn">
                <span class="mt-2">{{'project.versions.warn.old.version' | translate}}</span>
                <span class="mt-2">
                    {{data.selected?.version}}, {{data.selected?.status}}
                    ({{data.selected?.createdAt | localeDate: 'L' : 'LT'}})
                </span>
                <button appText id="switch-to-current" mat-raised-button
                        (click)="pageStore.changeVersion(data.current)">
                    {{'project.versions.warn.switch' | translate}}
                </button>
            </div>
        </app-alert>
    </ng-container>
</ng-template>

<ng-template #sidenavVersionSelect>
    <ng-container *ngIf="versionSelectData$ | async as data">
        <mat-form-field *ngIf="data.versions.length" class="ml-4 mt-2">
            <mat-label>{{'project.versions.select.label' | translate}}</mat-label>
            <mat-select *ngIf="data.selectedVersion?.version"
                        [value]="data.selectedVersion"
                        (selectionChange)="pageStore.changeVersion($event.value)">
                <mat-option *ngFor="let projectVersion of data.versions;"
                            [value]="projectVersion">
                    <ng-container *ngIf="projectVersion.current">
                        {{'project.versions.select.format.current' | translate : {version: projectVersion.version} }}
                    </ng-container>
                    <ng-container *ngIf="!projectVersion.current">
                        {{'project.versions.select.format' | translate : {version: projectVersion.version} }}
                    </ng-container>
                    <span *ngIf="projectVersion.status === ProjectStatusEnum.MODIFICATIONREJECTED">{{'project.version.rejected' | translate}}</span>
                </mat-option>
            </mat-select>
            <input matInput style="display:none">
        </mat-form-field>
    </ng-container>
</ng-template>
