<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form [formGroup]="partnerAddressForm" class="container">
        <h4><span>{{'project.partner.address.header' | translate}}</span></h4>
        <h6><span>{{'project.partner.main-address.header' | translate}}</span></h6>

        <app-project-application-form-address
                *ngIf="partnerAddressForm?.controls"
                [partnerId]="partnerId"
                [addressForm]="partnerAddressForm.controls.organization"
                [nuts]="nuts">
        </app-project-application-form-address>

        <br><br><br>

        <h6><span>{{'project.partner.department-address.header' | translate}}</span></h6>
        <app-project-application-form-address
                *ngIf="partnerAddressForm?.controls"
                [partnerId]="partnerId"
                [addressForm]="partnerAddressForm.controls.department"
                [nuts]="nuts">
        </app-project-application-form-address>
    </form>
</app-form>
