<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form appFormLayout [formGroup]="partnerAddressForm">
        <h3>{{'project.partner.address.header' | translate}}</h3>
        <h4>{{'project.partner.main-address.header' | translate}}</h4>
        <app-project-application-form-address
                *ngIf="partnerAddressForm?.controls"
                [partnerId]="partnerId"
                [addressForm]="partnerAddressForm.controls.organization"
                [nuts]="nuts">
        </app-project-application-form-address>

        <h4>{{'project.partner.department-address.header' | translate}}</h4>
        <app-project-application-form-address
                *ngIf="partnerAddressForm?.controls"
                [partnerId]="partnerId"
                [addressForm]="partnerAddressForm.controls.department"
                [nuts]="nuts">
        </app-project-application-form-address>
    </form>
</app-form>
