.footer {
  bottom: 0;
  position: sticky;
}

.message-wrapper {
  min-height: 4rem;
  border-radius: .3rem;
  height: 100%;
}

.message {
  height: 100%;
  padding: 1.4rem;

  i {
    margin-right: .5rem;
  }
}
