<div *ngIf="event$ | async as event" [@slideInOut] class="footer">
    <ng-container *ngIf="cardTemplateRef">
        <ng-container [ngTemplateOutlet]="cardTemplateRef"
                      [ngTemplateOutletContext]="{$implicit: event}"></ng-container>
    </ng-container>
    <ng-container *ngIf="!cardTemplateRef">
        <ng-container [ngTemplateOutlet]="information"
                      [ngTemplateOutletContext]="{$implicit: event}"></ng-container>
    </ng-container>
</div>

<ng-template #information let-info>
    <div class="message-wrapper">
        <div class="message alert-success">
            <i class="far fa-check-circle"></i>
            <span *ngIf="info.i18nKey">{{info.i18nKey | translate : info.i18nArguments}}</span>
            <span *ngIf="!info.i18nKey">{{info | translate}}</span>
        </div>
    </div>
</ng-template>

