<p *ngIf="!indicatorPage?.content.length">No Output Indicators Saved</p>
<jems-table *ngIf="indicatorPage.content.length"
           [configuration]="indicatorTableConfiguration"
           [rows]="indicatorPage.content"
           [totalElements]="indicatorPage?.totalElements"
           [pageIndex]="pageIndex"
           (newPageIndex)="newPageIndex.emit($event)"
           (newPageSize)="newPageSize.emit($event)"
           (sortRows)="newSort.emit($event)">>
</jems-table>
<jems-alert *ngIf="outputIndicatorDeleteError$ | async as error"
            [show]="!!error"
            [type]="Alert.ERROR"
            (closed)="outputIndicatorDeleteError$.next(null);">
    <jems-api-error-content [error]="error"></jems-api-error-content>
</jems-alert>
<jems-alert
        [show]="outputIndicatorDeleteSuccess$ | async"
        [type]="Alert.SUCCESS">
    <p>{{'output.indicator.delete.success' | translate}}</p>
</jems-alert>

<ng-template #deleteCell let-outputIndicator>
    <button
            mat-icon-button color="accent"
            [disabled]="isProgrammeSetupRestricted"
            (click)="delete(outputIndicator);$event.stopPropagation();"
            matTooltip="{{'common.delete.entry.tooltip' | translate}}">
        <mat-icon>delete</mat-icon>
    </button>
</ng-template>
