.chip-option {
  overflow: hidden;
  height: auto;
  line-height: 1rem;
}

.chip-icon-option {
  position: absolute;
  right: 0;
  background-color: #e0e0e0;
  opacity: 1 !important;
  color: #929292 !important;
}
