<div class="toolbar" role="banner">
    <div *ngIf="isLoginNeeded">
        <div class="spacer"></div>
        <ng-container *ngIf="currentUser | async as user">
            <span class="d-inline-block">
                <app-menu [items]="menuItems | async"></app-menu>
            </span>
            <app-help-menu></app-help-menu>
            <span class="d-inline-block">
                <button mat-flat-button (click)="logout()">Logout</button>
            </span>
        </ng-container>
    </div>
    <!--    <mat-select #langSelect-->
    <!--                class="language-select"-->
    <!--                [value]="translate.currentLang"-->
    <!--                (selectionChange)="changeLanguage(langSelect.value)">-->
    <!--        <mat-option-->
    <!--                *ngFor="let lang of translate.getLangs()"-->
    <!--                [value]="lang">-->
    <!--            {{ lang }}-->
    <!--        </mat-option>-->
    <!--    </mat-select>-->
</div>
