@import "src/app/theme/custom_colors";

:host {
  display: inline-block;
}

.language-select {
  width: 6rem;
  margin-right: 1rem;
}
button {
  margin-right: 2rem;
}

.toolbar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background: $primaryDark;
  background: linear-gradient(90deg, $primaryLight 0%, $primaryDark 100%);
  top: 0;
  z-index: 100;
}

.mat-select {
  font-weight: 500;
}

.spacer {
  flex: 1;
}
