<div class="toolbar" role="banner">
    <ng-container *ngIf="isAuthenticated">
        <div class="spacer"></div>
        <ng-container *ngIf="currentUser">
                <span class="d-inline-block">
                    <app-menu [items]="menuItems | async"></app-menu>
                </span>
            <app-help-menu></app-help-menu>
        </ng-container>
    </ng-container>

    <mat-select *ngIf="languageService.languageList$ | async as languagelist"
                #langSelect
                class="language-select"
                [value]="translate.currentLang"
                (selectionChange)="changeLanguage(langSelect.value)">
        <mat-option *ngIf="!languagelist.isEnglishAvailable && translate.currentLang === languageService.default()"
                    [value]="languageService.default()">
            <mat-label>{{'language.en' | translate}}</mat-label>
        </mat-option>
        <mat-option *ngFor="let lang of languagelist.languages" [value]="lang">
            <mat-label>{{'language.' + lang.toLowerCase() | translate}}</mat-label>
        </mat-option>
    </mat-select>

    <ng-container *ngIf="isAuthenticated">
        <ng-container *ngIf="currentUser">
            <span class="d-inline-block">
                <button mat-flat-button
                        color="primary"
                        (click)="logout()"
                        [disabled]="logoutOngoing">
                    {{'topbar.main.button.logout' | translate}}
                </button>
            </span>
        </ng-container>
    </ng-container>
</div>
