<app-alert
        [show]="!!unitCost"
        [type]="Alert.SUCCESS">
    <p>{{'unit.cost.save.success' | translate: {unitCost: unitCost} }}</p>
</app-alert>

<p *ngIf="!dataSource?.data.length">{{'unit.cost.empty.list' | translate}}</p>
<mat-table appNoWidthLimit *ngIf="dataSource?.data.length" [dataSource]="dataSource">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{ 'unit.cost.table.column.name.name' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ translated(element?.name, languageService.systemLanguage$ | async) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>{{ 'unit.cost.table.column.name.unit.type' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ translated(element?.type, languageService.systemLanguage$ | async) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>{{ 'unit.cost.table.column.name.unit.category' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.categories?.length > 1 ? ('unit.cost.cost.category.Multiple' | translate) : ('unit.cost.cost.category.' + element?.categories[0] | translate) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="costPerUnit">
        <mat-header-cell *matHeaderCellDef class="justify-end">{{ 'unit.cost.table.column.name.cost.unit' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="justify-end">{{ element?.costPerUnit | asMoney }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['unitCost', 'detail', row.id]"></mat-row>

</mat-table>
