<form appFormLayout [formGroup]="userForm">
    <h3>{{'user.create.header' | translate}}</h3>

    <mat-form-field>
        <mat-label>{{'user.detail.field.name' | translate}}</mat-label>
        <input name="name" formControlName="name" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="userForm?.controls?.name?.errors"
                    [messages]="nameErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'user.detail.field.surname' | translate}}</mat-label>
        <input name="surname" formControlName="surname" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="userForm?.controls?.surname?.errors"
                    [messages]="surnameErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'user.detail.field.email' | translate}}</mat-label>
        <input name="email" formControlName="email" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="userForm?.controls?.email?.errors"
                    [messages]="emailErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'user.detail.field.role' | translate}}</mat-label>
        <mat-select name="role" formControlName="role" required>
            <mat-option *ngFor="let role of userRoles" [value]="role">
                {{role.name}}
            </mat-option>
        </mat-select>
        <mat-error>
            <app-form-field-errors
                    [errors]="userForm?.controls?.role?.errors"
                    [messages]="roleErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            type="button"
            (click)="onSubmit()"
            [disabled]="userForm.invalid || submitted">
        + {{'user.create.button.add' | translate}}
    </button>
    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'user.detail.save.success' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nMessage?.i18nKey"
               [type]="Alert.ERROR">
        <app-api-error-content [error]="error"></app-api-error-content>
    </app-alert>
</form>

