<div *ngxPermissionsOnly="[Permission.ADMINISTRATOR]">
    <a [routerLink]="['/user']">&lt; {{'user.detail.page.back.to.users' | translate}}</a>
</div>
<div *ngxPermissionsOnly="[Permission.PROGRAMME_USER]">
    <a [routerLink]="['/']">&lt; {{'user.detail.page.back.to.projects' | translate}}</a>
</div>
<div *ngxPermissionsOnly="[Permission.APPLICANT_USER]">
    <a [routerLink]="['/calls']">&lt; {{'common.back.to.dashboard' | translate}}</a>
</div>
<div class="container vertical-center">
    <h5>{{'user.detail.page.title' | translate}}
        <button class="header-button" color="primary" *ngIf="formState === FormState.VIEW" mat-raised-button
                [disabled]="disabled"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'user.detail.button.edit' | translate}}
        </button>
    </h5>
    <form [formGroup]="userForm">
        <mat-form-field class="field">
            <mat-label>{{'user.detail.field.name' | translate}}</mat-label>
            <input name="name" formControlName="name" matInput placeholder="{{'user.detail.field.name' | translate}}"
                   required>
            <mat-error>
                <app-form-field-errors
                        [errors]="userForm?.controls?.name?.errors"
                        [messages]="nameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label>{{'user.detail.field.surname' | translate}}</mat-label>
            <input name="surname" formControlName="surname" matInput
                   placeholder="{{'user.detail.field.surname' | translate}}" required>
            <mat-error>
                <app-form-field-errors
                        [errors]="userForm?.controls?.surname?.errors"
                        [messages]="surnameErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label>{{'user.detail.field.email' | translate}}</mat-label>
            <input name="email" formControlName="email" matInput placeholder="{{'user.detail.field.email' | translate}}"
                   required>
            <mat-error>
                <app-form-field-errors
                        [errors]="userForm?.controls?.email?.errors"
                        [messages]="emailErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <div *ngxPermissionsOnly="[Permission.ADMINISTRATOR]">
            <app-user-role-form-field
                    [roleId]="user?.userRole?.id"
                    [roleControl]="userForm?.controls?.role"
                    [roles]="userRoles">
            </app-user-role-form-field>
        </div>
        <div *ngIf="formState === FormState.EDIT">
            <button mat-raised-button
                    [disabled]="disabled"
                    (click)="changeFormState$.next(FormState.VIEW)">
                {{'user.detail.button.cancel' | translate}}
            </button>
            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="disabled || userForm.invalid || submitted"
                    (click)="onSubmit()">
                {{'user.detail.button.save' | translate}}
            </button>
        </div>
        <app-alert
                [show]="showSuccessMessage$ | async"
                [type]="Alert.SUCCESS">
            <p>{{'user.detail.save.success' | translate}}</p>
        </app-alert>
        <app-alert *ngIf="error$ | async as error"
                   [show]="!submitted && !!error.i18nKey"
                   [type]="Alert.ERROR">
            <p>{{error.i18nKey | translate}}</p>
        </app-alert>
    </form>
</div>
