<app-project-page-template *ngIf="data$ | async as data" [needsCard]="true"
                           [titleText]="'project.application.form.acronym' | translate : {projectTitle: data.projectTitle} "
                           subTitleKey="project.application.form.section.check.and.submit">
    <div appFormLayout>
        <div>
            {{'project.application.form.section.check.and.submit.info.line.1' | translate : {projectAcronym: data.projectTitle} }}
        </div>
        <div>
            {{'project.application.form.section.check.and.submit.info.line.2' | translate }}
        </div>

        <ng-container *hasPermission="[PermissionsEnum.ProjectCheckApplicationForm, PermissionsEnum.ProjectSubmission]; alternativeCondition data.isThisUserOwner">

            <ng-container
                    *ngIf="data.projectStatus === STATUS.DRAFT || data.projectStatus === STATUS.RETURNEDTOAPPLICANT">
                <h3>{{'project.detail.pre.condition.check.result.title' | translate}}</h3>
                <p>{{'project.detail.pre.condition.check.result.description' | translate}}</p>
            </ng-container>

            <div appNoWidthLimit>
                <ng-container *hasPermission="PermissionsEnum.ProjectCheckApplicationForm; alternativeCondition data.isThisUserOwner">
                    <app-pending-button
                            class="mr-2 mt-2"
                            *ngIf="data.projectStatus === STATUS.DRAFT || data.projectStatus === STATUS.RETURNEDTOAPPLICANT"
                            [disabled]="!data.isProjectLatestVersion"
                            [pending]="preConditionCheckInProgress"
                            (clicked)="preConditionCheck(data.projectId)">
                        {{'project.detail.button.pre.condition.check' | translate}}
                    </app-pending-button>
                </ng-container>

                <ng-container *hasPermission="PermissionsEnum.ProjectSubmission; alternativeCondition data.isThisUserOwner">
                    <app-pending-button
                            class="mr-2 mt-2"
                            *ngIf="data.projectStatus === STATUS.DRAFT || data.projectStatus === STATUS.STEP1DRAFT"
                            [confirm]="{title: 'project.detail.submit.dialog.title', message: 'project.detail.submit.dialog.message'}"
                            [disabled]="isSubmitDisabled(data.projectCallEndDate, data.hasPreConditionCheckSucceed, data.isProjectLatestVersion, data.projectStatus)"
                            [pending]="actionPending"
                            (clicked)="submitProject(data.projectId)">
                        {{'project.detail.button.submit' | translate}}
                    </app-pending-button>

                    <app-pending-button
                            class="mr-2 mt-2"
                            *ngIf="data.projectStatus === STATUS.RETURNEDTOAPPLICANT"
                            [confirm]="{title: 'project.detail.resubmit.dialog.title', message: 'project.detail.resubmit.dialog.message'}"
                            [disabled]="!data.isProjectLatestVersion || !data.hasPreConditionCheckSucceed"
                            [pending]="actionPending"
                            (clicked)="resubmitProject(data.projectId)">
                        {{'project.detail.button.resubmit' | translate}}
                    </app-pending-button>
                </ng-container>

                <app-project-application-pre-condition-check-result
                        *ngIf="data.preConditionCheckResults"
                        [preConditionCheckResult]="data.preConditionCheckResults"
                        appNoWidthLimit
                ></app-project-application-pre-condition-check-result>

            </div>
        </ng-container>
        <app-alert *ngIf="error$ | async as error"
                   [show]="!!error.i18nMessage?.i18nKey"
                   [type]="Alert.ERROR">
            <app-api-error-content [error]="error"></app-api-error-content>
        </app-alert>
    </div>
</app-project-page-template>
