<div class="row project-detail-row">
    <div class="col-sm-1 column">
        <span>{{'project.detail.table.id.application' | translate}}</span>
        <br>
        <span>{{project.id}}</span>
    </div>
    <div class="col-sm-1 column">
        <span>{{'project.detail.table.id.programme' | translate}}</span>
        <br>
        <span>dummy</span>
    </div>
    <div class="col-sm-2 column">
        <span>{{'project.detail.table.call.name' | translate}}</span>
        <br>
        <span>{{project.call.name}}</span>
    </div>
    <div class="col-sm-2 column">
        <span>{{'project.detail.table.project.acronym' | translate}}</span>
        <br>
        <span>{{project.acronym}}</span>
    </div>
    <div class="col-sm-2 column">
        <span>{{'project.detail.table.submission.first' | translate}}</span>
        <ng-container *ngIf="project.firstSubmission">
            <br>
            <span>{{project.firstSubmission?.updated | date : Tables.DEFAULT_DATE_FORMAT}}</span>
            <br>
            <span>by {{project.firstSubmission?.user?.name}} {{project.firstSubmission?.user?.surname}}</span>
        </ng-container>
    </div>
    <div class="col-sm-2 column">
        <span>{{'project.detail.table.submission.latest' | translate}}</span>
        <ng-container *ngIf="project.lastResubmission">
            <br>
            <span>{{project.lastResubmission?.updated | date : Tables.DEFAULT_DATE_FORMAT}}</span>
            <br>
            <span>by {{project.lastResubmission?.user?.name}} {{project.lastResubmission?.user?.surname}}</span>
        </ng-container>
    </div>
    <div class="col-sm-2 column">
        <span>{{'project.detail.table.status' | translate}}</span>
        <br>
        <span>{{project.projectStatus.status}}</span>
    </div>
</div>
