<h4>{{project.acronym}}</h4>
<mat-list class="key-value-list">
    <mat-list-item>
        <h6 matLine class="key">{{'project.detail.table.id.application' | translate}}</h6>
        <p matLine class="value">{{project.id}}</p>
    </mat-list-item>
    <mat-list-item>
        <h6 matLine class="key">{{'project.detail.table.id.programme' | translate}}</h6>
        <p matLine class="value">dummy</p>
    </mat-list-item>
    <mat-list-item>
        <h6 matLine class="key">{{'project.detail.table.status' | translate}}</h6>
        <p matLine class="value">{{'common.label.projectapplicationstatus.' + project.projectStatus.status | translate}}</p>
    </mat-list-item>
    <mat-list-item>
        <h6 matLine class="key">{{'project.detail.table.call.name' | translate}}</h6>
        <p matLine class="value">{{project.call.name}}</p>
    </mat-list-item>
    <mat-list-item>
        <h6 matLine class="key">{{'project.detail.table.project.acronym' | translate}}</h6>
        <p matLine class="value">{{project.acronym}}</p>
    </mat-list-item>
    <mat-list-item>
        <h6 matLine class="key">{{'project.detail.table.submission.first' | translate}}</h6>
        <p matLine class="value"
           *ngIf="project.firstSubmission">{{project.firstSubmission?.updated | date : Tables.DEFAULT_DATE_FORMAT}}
            ({{project.firstSubmission?.user?.name}} {{project.firstSubmission?.user?.surname}})</p>
        <p matLine class="value" *ngIf="!project.firstSubmission"></p>
    </mat-list-item>
    <mat-list-item>
        <h6 matLine class="key">{{'project.detail.table.submission.latest' | translate}}</h6>
        <p matLine class="value"
           *ngIf="project.lastResubmission">{{project.lastResubmission?.updated | date : Tables.DEFAULT_DATE_FORMAT}}
            ({{project.lastResubmission?.user?.name}} {{project.lastResubmission?.user?.surname}})</p>
        <p matLine class="value" *ngIf="!project.lastResubmission"></p>
    </mat-list-item>
    <mat-list-item *ngIf="project.projectData?.programmePriority">
        <h6 matLine class="key">{{'project.detail.table.programme.priority' | translate}}</h6>
        <p matLine class="value">{{project.projectData?.programmePriority?.code}}</p>
    </mat-list-item>
    <mat-list-item *ngIf="project.projectData?.specificObjective">
        <h6 matLine class="key">{{'project.detail.table.specific.objective' | translate}}</h6>
        <p matLine class="value">{{project.projectData?.specificObjective?.code}}</p>
    </mat-list-item>
</mat-list>
