<h5>{{project.acronym}}</h5>
<div class="row project-detail-row">
    <div class="col-sm-1 column">
        <span>Application ID</span>
        <br>
        <span>{{project.id}}</span>
    </div>
    <div class="col-sm-1 column">
        <span>Programm ID</span>
        <br>
        <span>dummy</span>
    </div>
    <div class="col-sm-2 column">
        <span>Call ID</span>
        <br>
        <span>dummy</span>
    </div>
    <div class="col-sm-2 column">
        <span>Project Acronym</span>
        <br>
        <span>{{project.acronym}}</span>
    </div>
    <div class="col-sm-2 column">
        <span>First submission</span>
        <br>
        <span>{{project.submissionDate | date : Tables.DEFAULT_DATE_FORMAT}}</span>
    </div>
    <div class="col-sm-2 column">
        <span>Latest re-submission</span>
        <br>
        <span>{{project.resubmissionDate | date : Tables.DEFAULT_DATE_FORMAT}}</span>
    </div>
    <div class="col-sm-2 column">
        <span>Status</span>
        <br>
        <span>{{project.projectStatus.status}}</span>
    </div>
</div>
