<app-project-page-template [needsCard]="true" *ngIf="data$ | async as data"
                           titleKey="project.assessment.and.decision.header">

    <div page-sub-title appNoWidthLimit appFormLayout>
        <h2>{{data.project.customIdentifier}} – {{data.project.acronym}}</h2>
        <app-project-application-information appNoWidthLimit [project]="data.project">
        </app-project-application-information>
    </div>

    <form appFormLayout [formGroup]="qualityCheckForm">
        <h3>{{'project.assessment.qualityCheck.dialog.title' | translate}}</h3>
        <mat-radio-group
                required
                name="result"
                formControlName="result"
                [disabled]="!!data.qualityAssessment">
            <mat-radio-button
                    *ngFor="let option of options" [value]="option">
                {{'project.assessment.qualityCheck.dialog.select.' + option | translate}}
            </mat-radio-button>
        </mat-radio-group>
        <app-expandable-textarea [control]="qualityCheckForm?.controls?.note"
                                 [errors]="qualityCheckForm?.controls?.note?.errors"
                                 [messages]="notesErrors"
                                 [characterLimit]="1000"
                                 [label]="'project.assessment.qualityCheck.dialog.field.note'"
                                 [disabled]="!!data.qualityAssessment"
                                 [customStyle]="'outline'">
        </app-expandable-textarea>
        <div appMultiColumnRow *ngIf="!data.qualityAssessment">
            <button mat-stroked-button
                    (click)="onCancel()">{{'project.assessment.qualityCheck.dialog.button.cancel' | translate}}
            </button>

            <app-pending-button
                    [confirm]="getQualityCheckConfirmation()"
                    [pending]="actionPending"
                    [disabled]="qualityCheckForm.invalid"
                    (clicked)="onSubmit()">
                {{'project.assessment.qualityCheck.dialog.button.submit' | translate}}
            </app-pending-button>
        </div>
    </form>
</app-project-page-template>
