<jems-project-page-template [needsCard]="true" *ngIf="data$ | async as data"
                           titleKey="project.assessment.and.decision.header"
                            [isVersionedData]="false">

    <div page-sub-title jemsNoWidthLimit jemsFormLayout>
        <h2>{{data.currentVersionOfProjectTitle}}</h2>
        <jems-project-application-information jemsNoWidthLimit [project]="data.currentVersionOfProject">
        </jems-project-application-information>
    </div>

    <form jemsFormLayout [formGroup]="qualityCheckForm">
        <h3>{{'project.assessment.qualityCheck.dialog.title' | translate}}</h3>
        <mat-radio-group
                required
                name="result"
                formControlName="result"
                [disabled]="!!data.qualityAssessment">
            <mat-radio-button
                    *ngFor="let option of options" [value]="option">
                {{'project.assessment.qualityCheck.dialog.select.' + option | translate}}
            </mat-radio-button>
        </mat-radio-group>
        <jems-expandable-textarea [control]="qualityCheckForm?.controls?.note"
                                 [errors]="qualityCheckForm?.controls?.note?.errors"
                                 [messages]="notesErrors"
                                 [characterLimit]="1000"
                                 [label]="'project.assessment.qualityCheck.dialog.field.note'"
                                 [disabled]="!!data.qualityAssessment"
                                 [customStyle]="'outline'">
        </jems-expandable-textarea>
        <div jemsMultiColumnRow *ngIf="!data.qualityAssessment">
            <button jemsText mat-stroked-button
                    (click)="onCancel()">{{'project.assessment.qualityCheck.dialog.button.cancel' | translate}}
            </button>

            <jems-pending-button
                    [confirm]="getQualityCheckConfirmation()"
                    [pending]="actionPending"
                    [disabled]="qualityCheckForm.invalid"
                    (clicked)="onSubmit()">
                {{'project.assessment.qualityCheck.dialog.button.submit' | translate}}
            </jems-pending-button>
        </div>
    </form>
</jems-project-page-template>
