@use '../../../../../project/project-application/report/partner-report-detail-page/partner-report-financial-overview-tab/remove-custom-table-overrides';
$input-col-width: 9rem;

.mat-table {
  overflow: auto;
  max-height: calc(100vh - 15rem);
  .mat-header-row {
    position: sticky;
    top: 0;
    z-index: 1000;
    mat-header-cell {
      background-color: var(--table-backaground-color);
    }
  }
}

.border-cell-right {
  border-right: .0625rem solid var(--table-border-color);
}
.border-cell-left {
  border-left: .0625rem solid var(--table-border-color);
}

.mat-column-select {
  padding-left: 0;
  min-width: 4.5rem;
  max-width: 4.5rem;
}

.mat-column-projectId {
  min-width: 6rem;
}
.mat-column-projectAcronym {
  min-width: 8rem;
}
.mat-column-priorityAxis {
  min-width: 4rem;
}
.mat-column-claimNo {
  min-width: 3rem;
}
.mat-column-maApprovalDate {
  min-width: 6rem;
}
.mat-column-totalEligible {
  min-width: 8rem;
}
.mat-column-partnerContribution,
.mat-column-publicContribution,
.mat-column-autoPublicContribution,
.mat-column-totalEligibleWithoutScoArt9495,
.mat-column-fundAmount,
.mat-column-unionContribution,
.mat-column-privateContribution {
  min-width: $input-col-width;
  max-width: $input-col-width;
}

.mat-column-correction {
  padding-right: 0;
  min-width: 4.5rem;
  max-width: 4.5rem;
}

.mat-column-projectId,
.mat-column-projectAcronym,
.mat-column-priorityAxis,
.mat-column-claimNo,
.mat-column-maApprovalDate,
.mat-column-totalEligible,
.mat-column-totalEligibleWithoutScoArt9495,
.mat-column-unionContribution,
.mat-column-fundAmount,
.mat-column-partnerContribution,
.mat-column-publicContribution,
.mat-column-autoPublicContribution,
.mat-column-privateContribution {
  padding-left: .5rem;
}
.mat-column-privateContribution {
  padding-right: .5rem;
}

.limit-input-width {
  width: $input-col-width;
}

.edited-row {
  height: 10rem;
}

.save-icon {
  transform: scale(0.8);
}

.fund-cell {
  .paid {
    margin-top: -0.33rem;
    font-size: 0.8em;
    color: var(--font-color-secondary);
  }
}

.button-cell {
  margin-top: 2rem;
}
