<jems-project-page-template
        *ngIf="data$ | async as data"
        titleKey="project.application.form.section.part.c"
        subTitleText="{{'project.application.form.workpackage.form.header' | translate}}{{data.workPackageNumber}}">
    <jems-form (save)="onSubmit()"
              (discard)="discard(data.investment, data.workPackageNumber)">
        <form jemsFormLayout [formGroup]="workPackageInvestmentForm">
            <span>
                <a color="primary" class="mr-1" mat-icon-button *ngIf="(formService.dirty$ | async) === false"
                   routerLink=".."
                   matTooltip="{{ 'project.application.form.workpackage.investments.back.to.list' | translate }}">
                    <mat-icon class="icon-back" fontSet="material-icons-outlined">arrow_circle_left</mat-icon>
                </a>
                <h3 class="put-icon-to-header-line">{{'project.application.form.workpackage.investment.form.title' | translate}}
                    <span *ngIf="data.investment.investmentNumber">
                        {{data.workPackageNumber}}.{{data.investment.investmentNumber}}
                </span>
                </h3>
            </span>

            <mat-form-field>
                <mat-label>{{'project.application.form.workpackage.investment.number' | translate}}</mat-label>
                <input name="number" formControlName="number" matInput>
            </mat-form-field>

            <jems-multi-language-container
                    *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.TITLE">
                <jems-multi-language-form-field
                        label="project.application.form.workpackage.investment.title"
                        [formControlName]="constants.TITLE.name"
                        [maxLength]="constants.TITLE.maxLength">
                </jems-multi-language-form-field>
            </jems-multi-language-container>

            <jems-project-periods-select
                    *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.EXPECTED_DELIVERY_PERIOD"
                    [periods]="data.periods"
                    [control]="workPackageInvestmentForm.get(constants.EXPECTED_DELIVERY_PERIOD.name)"
                    label='project.application.form.workpackage.investment.expected.delivery.period'
                    (selectionChanged)="formService.setDirty(true)">
            </jems-project-periods-select>

            <ng-container
                    *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.JUSTIFICATION">

                <h4>{{'project.application.form.workpackage.investment.justification' | translate}}</h4>

                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.JUSTIFICATION.WHY_IS_INVESTMENT_NEEDED">
                    <p>{{'project.application.form.workpackage.investment.justification.explanation' | adaptTranslationKeyByCallType | async | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.JUSTIFICATION_EXPLANATION.name"
                                [maxLength]="constants.JUSTIFICATION_EXPLANATION.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>

                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.JUSTIFICATION.CROSS_BORDER_TRANSNATIONAL_RELEVANCE_OF_INVESTMENT">
                    <p>{{'project.application.form.workpackage.investment.justification.transactional.relevance' | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.JUSTIFICATION_TRANSNATIONAL_RELEVANCE.name"
                                [maxLength]="constants.JUSTIFICATION_TRANSNATIONAL_RELEVANCE.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>

                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.JUSTIFICATION.WHO_IS_BENEFITING">
                    <p>{{'project.application.form.workpackage.investment.justification.benefits' | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.JUSTIFICATION_BENEFITS.name"
                                [maxLength]="constants.JUSTIFICATION_BENEFITS.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>

                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.JUSTIFICATION.PILOT_CLARIFICATION">
                    <p>{{'project.application.form.workpackage.investment.justification.pilot' | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.JUSTIFICATION_PILOT.name"
                                [maxLength]="constants.JUSTIFICATION_PILOT.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>

            </ng-container>

            <ng-container
                    *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.ADDRESS">
                <h4>{{'project.application.form.workpackage.investment.location' | translate}}</h4>
                <p>{{'project.application.form.workpackage.investment.location.description' | translate}}</p>
                <jems-project-application-form-address
                        [addressForm]="workPackageInvestmentForm.controls.address"
                        [nuts]="data.nuts"
                        [fieldIds]="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.ADDRESS">
                </jems-project-application-form-address>
            </ng-container>

            <ng-container *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.RISK">
                <h4>{{'project.application.form.workpackage.investment.risk' | translate}}</h4>

                <p>{{'project.application.form.workpackage.investment.risk.description' | translate}}</p>
                <jems-multi-language-container>
                    <jems-multi-language-form-field
                            type="textarea"
                            [label]="'common.textarea.enter.text'"
                            [formControlName]="constants.RISK.name"
                            [maxLength]="constants.RISK.maxLength">
                    </jems-multi-language-form-field>
                </jems-multi-language-container>
            </ng-container>

            <ng-container
                    *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.DOCUMENTATION">
                <h4>{{'project.application.form.workpackage.investment.documentation' | translate}}</h4>

                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.DOCUMENTATION.DOCUMENTATION_TECHNICAL_REQUIREMENTS_AND_PERMISSIONS">
                    <p>{{'project.application.form.workpackage.investment.documentation.description.line.1' | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.DOCUMENTATION.name"
                                [maxLength]="constants.DOCUMENTATION.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>

                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.DOCUMENTATION.DOCUMENTATION_EXPECTED_IMPACTS">
                    <p>{{'project.application.form.workpackage.investment.documentation.description.line.2' | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.DOCUMENTATION_EXPECTED_IMPACTS.name"
                                [maxLength]="constants.DOCUMENTATION_EXPECTED_IMPACTS.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>
            </ng-container>

            <ng-container
                    *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.OWNERSHIP">
                <h4>{{'project.application.form.workpackage.investment.ownership' | translate}}</h4>

                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.OWNERSHIP.WHO_OWNS_THE_INVESTMENT_SITE">
                    <p>{{'project.application.form.workpackage.investment.ownership.site.location' | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.OWNERSHIP_SITE_LOCATION.name"
                                [maxLength]="constants.OWNERSHIP_SITE_LOCATION.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>


                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.OWNERSHIP.OWNERSHIP_AFTER_END_OF_PROJECT">
                    <p>{{'project.application.form.workpackage.investment.ownership.retain' | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.OWNERSHIP_RETAIN.name"
                                [maxLength]="constants.OWNERSHIP_RETAIN.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>

                <ng-container
                        *jemsFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_C.PROJECT_WORK_PLAN.INVESTMENTS.OWNERSHIP.MAINTENANCE">
                    <p>{{'project.application.form.workpackage.investment.ownership.maintenance' | translate}}</p>
                    <jems-multi-language-container>
                        <jems-multi-language-form-field
                                type="textarea"
                                [label]="'common.textarea.enter.text'"
                                [formControlName]="constants.OWNERSHIP_MAINTENANCE.name"
                                [maxLength]="constants.OWNERSHIP_MAINTENANCE.maxLength">
                        </jems-multi-language-form-field>
                    </jems-multi-language-container>
                </ng-container>
            </ng-container>
        </form>
    </jems-form>
</jems-project-page-template>
