.wrapper {
  margin-top: 2rem;

  .field-wide {
    width: 100%;
    margin-right: 30%;
  }

  .intro-text {
    width: 100%;
    padding-top: 2rem;
  }

  .view-text {
    overflow-wrap: break-word;
    color: var(--font-color-primary);
    white-space: pre-wrap;
  }
}
