.wrapper {
  margin-top: 2rem;

  .field-wide {
    width: 70%;
    margin-right: 30%;
  }

  .header-button {
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 0.25rem;
  }

  .button {
    margin-right: 3rem;
  }

  .intro-text {
    width: 100%;
    padding-top: 2rem;
  }

  .view-text {
    overflow-wrap: break-word;
    color: var(--font-color-primary);
    white-space: pre-wrap;
  }
}
