#status {
  display: flex;
  align-items: baseline;

  .mat-chip {
    color: var(--font-color-status-chips);
    font-weight: 600;
  }

  .open {
    background-color: var(--status-draft);
  }

  .approved {
    background-color: var(--status-contracted);
  }

  .declined {
    background-color: var(--status-declined);
  }
}
