<mat-expansion-panel [expanded]="!decision" class="mt-4">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div id="status">
                <mat-chip-list class="mr-1 ml-1">
                    <mat-chip selected="true"
                              [class.open]="isStatusOpen()"
                              [class.approved]="isStatusAccepted()"
                              [class.declined]="isStatusDeclined()">
                        {{'common.label.projectapplicationstatus.' + getDecision() | translate}}
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="ml-1 mt-1">
                {{'project.application.form.section.modification.past.index' | translate : {index: index} }}
                <span *ngIf="version"> - {{'project.application.form.section.modification.version' | translate : {version: version.version} }}</span>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <jems-form [formGroup]="decisionForm"
              (save)="saveConfirmation()"
              (discard)="decisionForm.reset()">
        <form jemsFormLayout [formGroup]="decisionForm">
            <div jemsLabel class="mat-required-marker"
                 [ngClass]="{'empty': !approvedToggle.checked && !rejectedToggle.checked}">
                {{'project.application.form.section.modification.decision' | translate}}
            </div>
            <mat-button-toggle-group formControlName="status">
                <mat-button-toggle #approvedToggle [value]="ProjectStatus.APPROVED">
                    <span jemsText
                          maxWidth="230">{{'project.application.form.section.modification.approve' | translate}}</span>
                </mat-button-toggle>
                <mat-button-toggle #rejectedToggle [value]="ProjectStatus.MODIFICATIONREJECTED">
                    <span jemsText
                          maxWidth="230">{{'project.application.form.section.modification.reject' | translate}}</span>
                </mat-button-toggle>
            </mat-button-toggle-group>

            <div jemsMultiColumnRow stretch>
                <mat-form-field jemsFormFieldWidth="xx-large">
                    <mat-label>{{'project.assessment.fundingDecision.dialog.field.date' | translate | dateFormatInfo}}</mat-label>
                    <input required formControlName="decisionDate" matInput
                           [matDatepicker]="decisionPicker"
                           [max]="today">
                    <mat-datepicker-toggle matSuffix [for]="decisionPicker"></mat-datepicker-toggle>
                    <mat-datepicker #decisionPicker></mat-datepicker>
                    <mat-error>
                        <jems-form-field-errors
                                [errors]="decisionForm?.controls?.decisionDate?.errors"
                                [messages]="dateErrors">
                        </jems-form-field-errors>
                    </mat-error>
                </mat-form-field>

                <mat-form-field jemsFormFieldWidth="xx-large">
                    <mat-label>{{'Entry into force' | translate | dateFormatInfo}}</mat-label>
                    <input required formControlName="entryIntoForceDate" matInput
                           [matDatepicker]="forcePicker">
                    <mat-datepicker-toggle matSuffix [for]="forcePicker"></mat-datepicker-toggle>
                    <mat-datepicker #forcePicker></mat-datepicker>
                    <mat-error>
                        <jems-form-field-errors
                                [errors]="decisionForm?.controls?.decisionDate?.errors"
                                [messages]="dateErrors">
                        </jems-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </div>

            <jems-expandable-textarea class="mt-2"
                                     [control]="decisionForm?.controls?.note"
                                     [errors]="decisionForm?.controls?.note?.errors"
                                     [characterLimit]="10000"
                                     label="project.assessment.fundingDecision.dialog.field.note"
                                     [customStyle]="'outline'">
            </jems-expandable-textarea>
        </form>
    </jems-form>

</mat-expansion-panel>
