<ng-container *ngIf="data$ | async as data">
    <mat-expansion-panel *ngIf="isPanelVisible(data.callHasTwoSteps)" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>{{'project.assessment.check.header' | translate}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div appMultiColumnRow stretch class="mb-4">
            <div>{{'project.assessment.eligibilityCheck.title' | translate}}</div>
            <div>
                <span *ngIf="decisions?.eligibilityAssessment">
                    {{'common.label.projecteligibilityassessmentresult.' + decisions?.eligibilityAssessment.result | translate}}
                </span>
            </div>
            <ng-container *ngIf="isAssessmentEditable(decisions?.eligibilityAssessment, data.isProjectLatestVersion)">
                <button *hasPermission="Permissions.ProjectAssessmentEligibilityEnter"
                        mat-stroked-button appFormFieldWidth="x-large"
                        [routerLink]="['./assessment/eligibilityCheck', step]" queryParamsHandling="merge">
                    {{'project.assessment.eligibilityCheck.assessment' | translate}}
                </button>
            </ng-container>
            <ng-container *ngIf="!isAssessmentEditable(decisions?.eligibilityAssessment, data.isProjectLatestVersion)">
                <button *hasPermission="Permissions.ProjectAssessmentView"
                        [disabled]="!decisions?.eligibilityAssessment"
                        mat-stroked-button appFormFieldWidth="x-large"
                        [routerLink]="['./assessment/eligibilityCheck', step]" queryParamsHandling="merge">
                    {{'project.assessment.eligibilityCheck.assessment.view' | translate}}
                </button>
            </ng-container>
        </div>
        <div appMultiColumnRow stretch>
            <div>{{'project.assessment.qualityCheck.title' | translate}}</div>
            <div>
                <span *ngIf="decisions?.qualityAssessment">
                    {{'common.label.projectqualityassessmentresult.' + decisions?.qualityAssessment.result | translate}}
                </span>
            </div>
            <ng-container *ngIf="isAssessmentEditable(decisions?.qualityAssessment, data.isProjectLatestVersion)">
                <button *hasPermission="Permissions.ProjectAssessmentQualityEnter"
                        mat-stroked-button appFormFieldWidth="x-large"
                        [disabled]="projectStatus.status === stepStatus.ineligible"
                        [routerLink]="['./assessment/qualityCheck', step]" queryParamsHandling="merge">
                    {{'project.assessment.qualityCheck.assessment' | translate}}
                </button>
            </ng-container>
            <ng-container *ngIf="!isAssessmentEditable(decisions?.qualityAssessment, data.isProjectLatestVersion)">
                <button *hasPermission="Permissions.ProjectAssessmentView"
                        [disabled]="!decisions?.qualityAssessment"
                        mat-stroked-button appFormFieldWidth="x-large"
                        [routerLink]="['./assessment/qualityCheck', step]" queryParamsHandling="merge">
                    {{'project.assessment.qualityCheck.assessment.view' | translate}}
                </button>
            </ng-container>
        </div>
    </mat-expansion-panel>
</ng-container>
