<mat-expansion-panel
        *ngIf="projectStatus.status !== STATUS.DRAFT && projectStatus.status !== STATUS.RETURNEDTOAPPLICANT"
        [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>{{'project.assessment.check.header' | translate}}</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="projectStatus.status !== STATUS.DRAFT">
        <div appMultiColumnRow stretch class="mb-4">
            <div>{{'project.assessment.eligibilityCheck.title' | translate}}</div>
            <div>
                <span *ngIf="decisions?.eligibilityAssessment">
                    {{'common.label.projecteligibilityassessmentresult.' + decisions?.eligibilityAssessment.result | translate}}
                </span>
            </div>
            <button *ngIf="!decisions?.eligibilityAssessment"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [routerLink]="'./assessment/eligibilityCheck'">
                {{'project.assessment.eligibilityCheck.assessment' | translate}}
            </button>
            <button *ngIf="decisions?.eligibilityAssessment"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [routerLink]="'./assessment/eligibilityCheck'">
                {{'project.assessment.eligibilityCheck.assessment.view' | translate}}
            </button>
        </div>
        <div appMultiColumnRow stretch>
            <div>{{'project.assessment.qualityCheck.title' | translate}}</div>
            <div>
                <span *ngIf="decisions?.qualityAssessment">
                    {{'common.label.projectqualityassessmentresult.' + decisions?.qualityAssessment.result | translate}}
                </span>
            </div>
            <button *ngIf="!decisions?.qualityAssessment"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [disabled]="projectStatus.status === STATUS.INELIGIBLE"
                    [routerLink]="'./assessment/qualityCheck'">
                {{'project.assessment.qualityCheck.assessment' | translate}}
            </button>
            <button *ngIf="decisions?.qualityAssessment"
                    mat-stroked-button appFormFieldWidth="x-large"
                    [routerLink]="'./assessment/qualityCheck'">
                {{'project.assessment.qualityCheck.assessment.view' | translate}}
            </button>
        </div>
    </div>
</mat-expansion-panel>
