<mat-form-field class="field">
    <mat-label>{{name | translate}}</mat-label>
    <input [type]="hide ? 'password' : 'text'"
           [formControl]="passwordControl"
           matInput required>
    <button appText mat-icon-button matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
        <app-form-field-errors
                [errors]="passwordControl?.errors"
                [messages]="passwordErrors">
        </app-form-field-errors>
    </mat-error>
    <mat-hint *ngIf="showHint">{{'user.registration.field.password.hint' | translate}}</mat-hint>
</mat-form-field>
