.container {
  width: 50rem;

  .button-div {
    display: inline-block;

    .button {
      margin-right: 2rem;
      margin-bottom: 0.25rem;
      margin-top: 1rem;
    }
  }

  .edit-button {
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
