<ng-container *ngIf="details$ | async as details">
    <app-project-application-form-partner-budget-options
            [success$]="optionsSaveSuccess$"
            [error$]="optionsSaveError$"
            [editable]="partnerStore.projectEditable$ | async"
            [officeAdministrationFlatRate]="details.officeAdministrationFlatRate"
            [staffCostsFlatRate]="details.staffCostsFlatRate"
            (saveBudgetOptions)="saveBudgetOptions.next($event)">
    </app-project-application-form-partner-budget-options>
    <app-project-application-form-partner-budget
            [success$]="saveSuccess$"
            [error$]="saveError$"
            [editable]="partnerStore.projectEditable$ | async"
            [officeAdministrationFlatRate]="details.officeAdministrationFlatRate"
            [staffCostsFlatRate]="details.staffCostsFlatRate"
            [budgets]="details.budgets"
            (save)="saveBudgets$.next($event)"
            (cancelEdit)="cancelEdit$.next()">
    </app-project-application-form-partner-budget>
</ng-container>
