<app-form *ngIf="partner$ | async as partner"
          (save)="onSubmit(controls)"
          (discard)="discard(partner)">
    <form appFormLayout id="partner-form" [formGroup]="partnerForm">
        <h3>{{'project.partner.detail.title' | translate}}</h3>

        <mat-form-field *ngIf="!partnerForm.enabled && partner.sortNumber">
            <mat-label>{{'project.application.form.partner.table.number' | translate}}</mat-label>
            <input name="sortNumber" formControlName="sortNumber" matInput>
        </mat-form-field>

        <ng-container *ngIf="!partnerForm.enabled">
            <mat-form-field *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.ROLE">
                <mat-label>{{'project.partner.role.label' | translate}}</mat-label>
                <input ngModel="{{('common.label.project.partner.role.' + controls?.role?.value) | translate}}"
                       name="role" formControlName="fakeRole" matInput>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="partnerForm.enabled">
            <div *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.ROLE">
                <div appLabel>{{'project.partner.role.label' | translate}} *</div>
                <mat-button-toggle-group formControlName="role">
                    <mat-button-toggle [value]="RoleEnum.PARTNER">
                        {{'common.label.project.partner.role.PARTNER' | translate}}
                    </mat-button-toggle>
                    <mat-button-toggle [value]="RoleEnum.LEADPARTNER">
                        {{'common.label.project.partner.role.LEAD_PARTNER' | translate}}
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <mat-error>
                    <app-form-field-errors
                            [errors]="controls?.role?.errors"
                            [messages]="roleErrors">
                    </app-form-field-errors>
                </mat-error>
            </div>
        </ng-container>

        <mat-form-field class="w-100"
                        *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.ABBREVIATED_ORGANISATION_NAME">
            <mat-label>{{'project.partner.name.label' | translate}}</mat-label>
            <input #abbreviationInput name="abbreviation" formControlName="abbreviation" matInput required>
            <mat-hint [appHintFor]="abbreviationInput" [hide]="controls?.abbreviation?.errors !== null">
                <app-text-hint [currentLength]="abbreviationInput?.value?.length" [maxLength]="15"></app-text-hint>
            </mat-hint>
            <mat-error>
                <app-form-field-errors
                        [errors]="controls?.abbreviation?.errors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100"
                        *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.ORIGINAL_NAME_OF_ORGANISATION">
            <mat-label>{{'project.organization.original.name.label' | translate}}</mat-label>
            <input #nameInOriginalLanguageInput name="nameInOriginalLanguage" formControlName="nameInOriginalLanguage"
                   matInput>
            <mat-hint [appHintFor]="nameInOriginalLanguageInput"
                      [hide]="controls?.nameInOriginalLanguage?.errors !== null">
                <app-text-hint [currentLength]="nameInOriginalLanguageInput?.value?.length"
                               [maxLength]="100"></app-text-hint>
            </mat-hint>
            <mat-error>
                <app-form-field-errors
                        [errors]="controls?.nameInOriginalLanguage?.errors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <app-multi-language-container [staticLanguages]="[LANGUAGE.EN]"
                                      *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.ENGLISH_NAME_OF_ORGANISATION">
            <app-multi-language-form-field
                    label="project.organization.english.name.label"
                    formControlName="nameInEnglish"
                    maxLength="100">
            </app-multi-language-form-field>
        </app-multi-language-container>

        <app-multi-language-container
                *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.DEPARTMENT_UNIT_DIVISION">
            <app-multi-language-form-field
                    label="project.organization.department.label"
                    type="textarea"
                    formControlName="department"
                    maxLength="250">
            </app-multi-language-form-field>
        </app-multi-language-container>

        <h4>{{'project.partner.detail.title.legal.financial' | translate}}</h4>

        <mat-form-field *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.TYPE">
            <mat-label>{{'project.partner.type' | translate}}</mat-label>
            <mat-select name="partnerType" formControlName="partnerType">
                <mat-option *ngFor="let type of ProjectApplicationFormPartnerEditConstants.partnerTypeEnums" [value]="type">
                    {{'project.application.form.relevance.target.group.' + type | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.SUB_TYPE">
            <mat-label>{{'project.partner.subType' | translate}}</mat-label>
            <mat-select name="partnerSubType" formControlName="partnerSubType">
                <mat-option *ngFor="let subType of ProjectApplicationFormPartnerEditConstants.partnerSubTypeEnums" [value]="subType">
                    {{'project.application.form.relevance.target.group.' + subType | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.LEGAL_STATUS">
            <mat-label>{{'project.partner.legal.status' | translate}}</mat-label>
            <mat-select name="legalStatusId" formControlName="legalStatusId" required>
                <mat-option *ngFor="let status of legalStatuses$ | async" [value]="status.id">
                    {{ status.description | translateBySystemLanguage | async }}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-form-field-errors
                        [errors]="controls?.legalStatus?.errors"
                        [messages]="legalStatusErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.NACE_GROUP_LEVEL">
            <mat-label>{{'project.partner.nace' | translate}}</mat-label>
            <input name="nace" formControlName="nace" matInput
                   [matAutocomplete]="nace"
                   (focusout)="selectionUnfocused($event)">
            <mat-autocomplete #nace="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let naceValue of filteredNace | async" [value]="naceValue">
                    {{displayFn(naceValue)}}
                </mat-option>
            </mat-autocomplete>
            <mat-error>
                <app-form-field-errors
                        [errors]="controls?.nace?.errors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.VAT_IDENTIFIER">
            <mat-label>{{'project.partner.vat' | translate}}</mat-label>
            <input #vatInput name="vat" formControlName="vat" matInput>
            <mat-hint [appHintFor]="vatInput" [hide]="controls?.vat?.errors !== null">
                <app-text-hint [currentLength]="vatInput?.value?.length" [maxLength]="50"></app-text-hint>
            </mat-hint>
            <mat-error>
                <app-form-field-errors
                        [errors]="controls?.vat?.errors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <ng-container *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.VAT_RECOVERY">
            <p>{{'project.partner.recoverVat.intro.text' | translate}}</p>

            <mat-button-toggle-group formControlName="vatRecovery">
                <mat-button-toggle [value]="VatRecoveryEnum.Yes">
                    {{'common.label.project.partner.recoverVat.true' | translate}}
                </mat-button-toggle>
                <mat-button-toggle [value]="VatRecoveryEnum.Partly">
                    {{'common.label.project.partner.recoverVat.partly' | translate}}
                </mat-button-toggle>
                <mat-button-toggle [value]="VatRecoveryEnum.No">
                    {{'common.label.project.partner.recoverVat.false' | translate}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </ng-container>

        <mat-form-field class="w-100" *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.OTHER_IDENTIFIER_NUMBER_AND_DESCRIPTION">
            <mat-label>{{'project.partner.other.identifier.number' | translate}}</mat-label>
            <input #otherIdentifierNumberInput name="otherIdentifierNumber" formControlName="otherIdentifierNumber" matInput>
            <mat-hint [appHintFor]="otherIdentifierNumberInput" [hide]="controls?.otherIdentifierNumber?.errors !== null">
                <app-text-hint [currentLength]="otherIdentifierNumberInput?.value?.length" [maxLength]="50"></app-text-hint>
            </mat-hint>
            <mat-error>
                <app-form-field-errors
                        [errors]="controls?.otherIdentifierNumber?.errors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>

        <app-multi-language-container
                *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.OTHER_IDENTIFIER_NUMBER_AND_DESCRIPTION">
            <app-multi-language-form-field
                    label="project.partner.other.identifier.description"
                    formControlName="otherIdentifierDescription"
                    maxLength="100">
            </app-multi-language-form-field>
        </app-multi-language-container>

        <mat-form-field class="w-100" *appFormFieldVisibilityStatus="APPLICATION_FORM.SECTION_B.IDENTITY.PIC">
            <mat-label>{{'project.partner.pic' | translate}}</mat-label>
            <input currencyMask type="integer" name="pic" formControlName="pic" matInput
                   (paste)="tools.checkDigitsOnPaste($event)" (keypress)="tools.checkDigitsOnInput($event)"
                   [options]="{min: 0, max: 999999999, nullable: true, thousands: ''}">
            <mat-error>
                <app-form-field-errors
                        [errors]="controls?.pic?.errors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
    </form>
</app-form>
