#partner-form {
  > * {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .mat-input-element {
    color: var(--font-color-primary);
  }

  .valid-role {
    font-size: 0.875rem;
    color: var(--font-color-secondary);
  }

  .invalid-role {
    font-size: 0.875rem;
    color: var(--warn-color);
  }

  .toggle-button-field {
    padding-bottom: 1rem;
    display: block;
  }
}
