.wrapper {
  margin-top: 2rem;

  .field {
    max-width: 35rem;
    width: 100%;
    padding-top: 1rem;
    display: block;
  }

  .button {
    margin-right: 3rem;
  }

  .mat-input-element {
    color: var(--font-color-primary);
  }

  .valid-role {
    font-size: 0.875rem;
    color: var(--font-color-secondary);
  }

  .invalid-role {
    font-size: 0.875rem;
    color: var(--warn-color);
  }

  .intro-text-small{
    font-size: 0.75rem;
  }

  .toggle-button-field{
    padding-bottom: 1rem;
  }
}
