<a class="link" (click)="onCancel()">{{'back.programme.priority' | translate}}</a>
<div class="container">
    <br>
    <br>
    <h5>{{'programme.priority.add.new' | translate}}</h5>
    <form [formGroup]="priorityForm">
        <h6>{{'programme.priority.add.title' | translate}}</h6>
        <mat-form-field class="field-left">
            <mat-label>{{'programme.priority.field.code' | translate}}</mat-label>
            <input name="priorityCode" formControlName="priorityCode" matInput placeholder="{{'programme.priority.field.code' | translate}}" required>
            <mat-error>
                <app-form-field-errors
                        [errors]="priorityForm?.controls?.priorityCode?.errors"
                        [messages]="priorityCodeErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field-right">
            <mat-label>{{'programme.priority.field.title' | translate}}</mat-label>
            <input name="priorityTitle" formControlName="priorityTitle" matInput placeholder="{{'programme.priority.field.title' | translate}}" required>
            <mat-error>
                <app-form-field-errors
                        [errors]="priorityForm?.controls?.priorityTitle?.errors"
                        [messages]="priorityTitleErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <h6>{{'programme.priority.add.objective.title' | translate}}</h6>
        <mat-form-field class="field-full">
            <mat-label>{{'programme.priority.field.objective.select' | translate}}</mat-label>
            <mat-select name="policyObjective" formControlName="policyObjective"
                        (selectionChange)="changeCurrentObjective($event.value)" required
                        panelClass="material-select-panel">
                <mat-option *ngFor="let objective of objectives" [value]="objective">
                    {{objective}} - {{'programme.objective.' + objective | translate}}
                </mat-option>
            </mat-select>
            <mat-error>
                <app-form-field-errors
                        [errors]="priorityForm?.controls?.policyObjective?.errors"
                        [messages]="policyObjectiveErrors">
                </app-form-field-errors>
            </mat-error>
        </mat-form-field>
        <div *ngIf="priorityForm?.controls?.policyObjective?.value">
            <app-programme-policy-checkbox [policyForm]="policyForm" [checked]="checked">
            </app-programme-policy-checkbox>
        </div>
        <button mat-raised-button (click)="onCancel()" class="button">
            {{'programme.priority.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="submit"
                class="button"
                [disabled]="priorityForm.invalid || policyForm.invalid || submitted"
                (click)="onSubmit()">
            {{'programme.priority.button.add' | translate}}
        </button>
        <app-alert
                [show]="showSuccessMessage$ | async"
                [type]="Alert.SUCCESS">
            <p>{{'programme.priority.save.success' | translate}}</p>
        </app-alert>
        <app-alert *ngIf="error$ | async as error"
                   [show]="!submitted && !!error.i18nKey"
                   [type]="Alert.ERROR">
            <p>{{error.i18nKey | translate}}</p>
        </app-alert>
        <app-alert *ngIf="error$ | async as error"
                   [show]="!submitted && !!error.i18nFieldErrors?.programmePriorityPolicies?.i18nKey"
                   [type]="Alert.ERROR">
            <p>{{error.i18nFieldErrors?.programmePriorityPolicies?.i18nKey | translate}}</p>
        </app-alert>
    </form>
</div>
