.container {
  width: 80rem;

  .field-left {
    width: 30%;
    padding-top: 1rem;
    margin-right: 1rem;
  }

  .field-right {
    width: 60%;
    padding-top: 1rem;
    margin-right: 1rem;
  }

  .field-full {
    width: 91.5%;
    padding-top: 1rem;
    margin-right: 1rem;
  }

  button {
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 0.25rem;
  }

  .button {
    margin-top: 1rem;
  }
}
