$topBarHeight: 2.875rem;

jems-top-bar {
  min-height: $topBarHeight;
  z-index: 100;
  width: 100%;
  position: relative;
  top: 0;
}

.main-content {
  padding: 2rem 1rem 3rem 1rem;
}

mat-sidenav-container {
  position: fixed;
  top: $topBarHeight;
  bottom: 0;
  width: 100%;
}
