<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form [formGroup]="futurePlansForm">
        <h5 class="header" id="projectFuturePlansHeading">
            {{'project.application.form.section.part.c.subsection.eight' | translate}}
        </h5>

        <div class="intro-text">
            {{'project.application.form.future.plans.intro' | translate}}
        </div>
        <div class="intro-text">
            <h6>{{'project.application.form.future.plans.field.1' | translate}}</h6>
            <p class="intro-text-small">{{'project.application.form.future.plans.field.1.intro' | translate}}</p>
        </div>
        <app-expandable-textarea class="field"
                                 [control]="futurePlansForm?.controls?.ownership"
                                 [errors]="futurePlansForm?.controls?.ownership?.errors"
                                 [messages]="ownershipErrors"
                                 [characterLimit]="5000"
                                 [label]="'common.textarea.enter.text'"
                                 [disabled]="!editable">
        </app-expandable-textarea>

        <div class="intro-text">
            <h6>{{'project.application.form.future.plans.field.2' | translate}}</h6>
            <p class="intro-text-small">{{'project.application.form.future.plans.field.2.intro' | translate}}</p>
        </div>
        <app-expandable-textarea class="field"
                                 [control]="futurePlansForm?.controls?.durability"
                                 [errors]="futurePlansForm?.controls?.durability?.errors"
                                 [messages]="durabilityErrors"
                                 [characterLimit]="5000"
                                 [label]="'common.textarea.enter.text'"
                                 [disabled]="!editable">
        </app-expandable-textarea>

        <div class="intro-text">
            <h6>{{'project.application.form.future.plans.field.3' | translate}}</h6>
            <p class="intro-text-small">{{'project.application.form.future.plans.field.3.intro' | translate}}</p>
        </div>
        <app-expandable-textarea class="field"
                                 [control]="futurePlansForm?.controls?.transferability"
                                 [errors]="futurePlansForm?.controls?.transferability?.errors"
                                 [messages]="transferabilityErrors"
                                 [characterLimit]="5000"
                                 [label]="'common.textarea.enter.text'"
                                 [disabled]="!editable">
        </app-expandable-textarea>
    </form>
</app-form>
