<app-form (save)="onSubmit()"
          (discard)="resetForm()">
    <form [formGroup]="futurePlansForm">
        <h5 class="header" id="projectFuturePlansHeading">
            {{'project.application.form.section.part.c.subsection.eight' | translate}}
        </h5>

        <div class="intro-text">
            {{'project.application.form.future.plans.intro' | translate}}
        </div>
        <div class="intro-text">
            <h6>{{'project.application.form.future.plans.field.1' | translate}}</h6>
            <p class="intro-text-small">{{'project.application.form.future.plans.field.1.intro' | translate}}</p>
        </div>
        <app-multi-language>
            <app-multi-language-form-field
                    class="field"
                    type="textarea"
                    [label]="'common.textarea.enter.text'"
                    [formControlName]="'ownership'"
                    [maxLength]="5000">
            </app-multi-language-form-field>
        </app-multi-language>

        <div class="intro-text">
            <h6>{{'project.application.form.future.plans.field.2' | translate}}</h6>
            <p class="intro-text-small">{{'project.application.form.future.plans.field.2.intro' | translate}}</p>
        </div>
        <app-multi-language>
            <app-multi-language-form-field
                    class="field"
                    type="textarea"
                    [label]="'common.textarea.enter.text'"
                    [formControlName]="'durability'"
                    [maxLength]="5000">
            </app-multi-language-form-field>
        </app-multi-language>

        <div class="intro-text">
            <h6>{{'project.application.form.future.plans.field.3' | translate}}</h6>
            <p class="intro-text-small">{{'project.application.form.future.plans.field.3.intro' | translate}}</p>
        </div>
        <app-multi-language>
            <app-multi-language-form-field
                    class="field"
                    type="textarea"
                    [label]="'common.textarea.enter.text'"
                    [formControlName]="'transferability'"
                    [maxLength]="5000">
            </app-multi-language-form-field>
        </app-multi-language>
    </form>
</app-form>
