<ng-container *ngIf="details$ | async as details">
    <div *ngxPermissionsExcept="Permission.APPLICANT_USER">
        <h5>{{'programme.data.page.title' | translate}}</h5>
        <mat-tab-group class="programme-tab-menu"
                       [selectedIndex]="activeTab$ | async">
            <mat-tab label="Basic Data">
                <app-programme-data
                        [success$]="programmeSaveSuccess$"
                        [error$]="programmeSaveError$"
                        [programme]="details.programme"
                        (saveProgrammeData)="saveProgrammeData$.next($event)">
                </app-programme-data>
            </mat-tab>
            <mat-tab label="Programme Priorities">
                <app-programme-priorities>
                </app-programme-priorities>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-container>
