<app-main-page-template [needsCard]="true"
                        *ngIf="details$ | async as details"
                        titleKey="project.application.form.lifecycle.title">
    <div appFormLayout>

        <div appNoWidthLimit>
            <h2>{{details.project.id}} - {{details.project.acronym}}</h2>
            <app-project-application-information appNoWidthLimit
                                                 [project]="details.project">
            </app-project-application-information>
        </div>

        <app-project-application-actions appNoWidthLimit></app-project-application-actions>
        <div appFormLayout *ngxPermissionsExcept="Permission.APPLICANT_USER" id="project-detail-container">
            <app-project-application-decisions appNoWidthLimit step="1"
                                               [callHasTwoSteps]="projectDetailStore.callHasTwoSteps$ | async"
                                               [decisions]="project.firstStepDecision"
                                               [projectStatus]="project.projectStatus">
            </app-project-application-decisions>
            <app-project-application-assessments appNoWidthLimit step="1"
                                                 [decisions]="project.firstStepDecision"
                                                 [projectStatus]="project.projectStatus">
            </app-project-application-assessments>

            <ng-container *ngIf="project.step2Active">
                <app-project-application-decisions appNoWidthLimit step="2"
                                                   [callHasTwoSteps]="projectDetailStore.callHasTwoSteps$ | async"
                                                   [decisions]="project.secondStepDecision"
                                                   [projectStatus]="project.projectStatus">
                </app-project-application-decisions>
                <app-project-application-assessments appNoWidthLimit step="2"
                                                     [decisions]="project.secondStepDecision"
                                                     [projectStatus]="project.projectStatus">
                </app-project-application-assessments>
            </ng-container>
        </div>

        <h3>
            {{'file.tab.header' | translate}}
            <app-context-info infoText="{{'file.tab.info' | translate}}"></app-context-info>
        </h3>
        <mat-tab-group appNoWidthLimit>
            <mat-tab label="{{'file.tab.application' | translate}}">
                <ng-template matTabContent>
                    <app-project-application-files
                            [projectId]="projectId"
                            [fileType]="fileType.APPLICANTFILE">
                    </app-project-application-files>
                </ng-template>
            </mat-tab>
            <mat-tab *ngIf="projectDetailStore.assessmentFilesVisible$ | async"
                     label="{{'file.tab.assessment' | translate}}">
                <ng-template matTabContent>
                    <app-project-application-files
                            [projectId]="projectId"
                            [fileType]="fileType.ASSESSMENTFILE">
                    </app-project-application-files>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</app-main-page-template>
