<div jemsFormLayout [formGroup]="formGroup">


    <mat-table *ngIf="dimensionCodesTableData.length > 0" jemsNoWidthLimit
               class="table-condensed mt-3 mb-3"
               id="monitoring-dimension-codes-table"
               [jemsTableConfig]="[{minInRem:9},{minInRem:6, maxInRem:12},{minInRem:8, maxInRem:10},{minInRem: 4,maxInRem:8}, {minInRem:2, maxInRem: 2}]"
               [dataSource]="dimensionCodesTableData"
               formArrayName="dimensionCodesItems">
        <ng-container matColumnDef="dimension">
            <mat-header-cell *matHeaderCellDef>
                    <span jemsText
                          maxLines="2">{{'project.application.contract.monitoring.project.dimension' | translate}}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i" class="dimension-code w-100">
                <mat-form-field class="w-100">
                    <mat-select formControlName="dimension" class="placeholder-required" required
                                placeholder="{{'project.contracting.monitoring.dimension.input.select' | translate}}">
                        <mat-option *ngFor="let dimension of dimensionsEnum" [value]="dimension"
                                    (onSelectionChange)="resetDimensionControl($event, i)">
                           {{'programme.objective.dimension.' + dimension.toLowerCase() | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        <jems-form-field-errors [errors]="control?.errors"></jems-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dimensionCode">
            <mat-header-cell *matHeaderCellDef>
                    <span jemsText
                          maxLines="2">{{'project.application.contract.monitoring.project.dimension.code' | translate}}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                <mat-form-field class="w-100">
                    <mat-select class="placeholder-required" formControlName="dimensionCode" required
                                placeholder="{{'project.contracting.monitoring.dimension.code.input.select' | translate}}">
                        <mat-option
                                *ngFor="let dimensionCode of getCodesForDimension(control?.get('dimension').value)"
                                [value]="dimensionCode">
                                {{dimensionCode}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        <jems-form-field-errors
                                [errors]="control?.controls?.dimensionCode?.errors"
                                [messages]="{dimensionCodeAmountAlreadyExists: 'project.application.contract.monitoring.project.dimension.code.warning'}"
                                condensed="true">
                        </jems-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="projectBudgetAmountShare">
            <mat-header-cell *matHeaderCellDef>
                    <span jemsText class="justify-end"
                          maxLines="2">{{'project.application.contract.monitoring.project.dimension.budget.share.amount' | translate}}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                <mat-form-field class="w-100"
                                (keyup)="setDimensionCodeBudgetPercentShare($event, i)">
                    <input currencyMask
                           formControlName="projectBudgetAmountShare"
                           type="decimal"
                           matInput
                           required
                           [options]="{align: 'right'}">
                    <mat-error>
                        <jems-form-field-errors
                                [errors]="control?.controls?.projectBudgetAmountShare?.errors"
                                [messages]="{dimensionCodeAmountError: 'project.application.contract.monitoring.project.dimension.budget.share.amount.warning'}"
                                condensed="true">
                        </jems-form-field-errors>
                    </mat-error>
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="projectBudgetPercentShare">
            <mat-header-cell *matHeaderCellDef>
                    <span jemsText
                          maxLines="2">{{'project.application.contract.monitoring.project.dimension.budget.share.percent' | translate}}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                <mat-form-field class="w-100" class="mat-form-field-disabled">
                    <input formControlName="projectBudgetPercentShare"
                           matInput
                           readonly>
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let control;  let i = index" [formGroupName]="i">
                <button *ngIf="editable" type="button" (click)="removeItem(i)"
                        mat-icon-button color="accent">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="dimensionCodesColumnsToDisplay"></mat-header-row>
        <mat-row
                *matRowDef="let dimensionCodesRowData; columns: dimensionCodesColumnsToDisplay; let rowIndex = index"></mat-row>
    </mat-table>

    <button *ngIf="editable"
            mat-stroked-button type="button" class="mb-2"
            (click)="addDimensionCodeData()">
        <mat-icon>add</mat-icon>
        <span>&nbsp;{{'project.application.contract.monitoring.project.intervention.code.add' | translate}}</span>
    </button>
</div>
