<app-main-page-template [needsCard]="true" *ngIf="details$ | async as details"
                        titleKey="project.application.form.lifecycle.title">

    <div page-sub-title appNoWidthLimit appFormLayout>
        <h2>{{details.acronym}}</h2>
        <app-project-application-information
                appNoWidthLimit
                [project]="details.project">
        </app-project-application-information>
    </div>

    <div appFormLayout>
        <h3>{{'project.assessment.fundingDecision.dialog.title' | translate}}</h3>
        <app-project-application-funding-decision
                appNoWidthLimit
                *ngIf="details.showWithConditions"
                [project]="details.project"
                [status]="details.withConditionsStatus"
                [stepStatus]="stepStatus"
                [fundingDecision]="details.fundingDecision"
                [eligibilityDecisionDate]="details.eligibilityDecisionDate"
                [options]="details.withConditionsStatusOptions"
                [submitLabel]="details.withConditionsSubmitLabel">
        </app-project-application-funding-decision>
        <app-project-application-funding-decision
                appNoWidthLimit
                [project]="details.project"
                [status]="details.fundingDecision"
                [stepStatus]="stepStatus"
                [fundingDecision]="details.fundingDecision"
                [eligibilityDecisionDate]="details.eligibilityDecisionDate"
                [options]="details.statusOptions"
                [submitLabel]="details.submitLabel">
        </app-project-application-funding-decision>
    </div>
</app-main-page-template>
