<app-project-page-template [needsCard]="true" *ngIf="details$ | async as details"
                           titleKey="project.application.form.lifecycle.title">

    <div page-sub-title appNoWidthLimit appFormLayout>
        <h2>{{details.project.acronym}}</h2>
        <app-project-application-information
                appNoWidthLimit
                [project]="details.project">
        </app-project-application-information>
    </div>

    <div appFormLayout>
        <h3>{{'project.assessment.fundingDecision.dialog.title' | translate}}</h3>
        <app-project-application-funding-decision
                appNoWidthLimit
                *ngIf="details.showSecondDecision"
                [project]="details.project"
                [status]="details.finalFundingDecision"
                [stepStatus]="stepStatus"
                [fundingDecision]="details.finalFundingDecision"
                [eligibilityDecisionDate]="details.eligibilityDecisionDate"
                [options]="details.optionsForSecondDecision"
                [submitLabel]="'project.assessment.fundingDecision.submit.finalize.label'">
        </app-project-application-funding-decision>
        <app-project-application-funding-decision
                appNoWidthLimit
                [project]="details.project"
                [status]="step === '2' ? details.preFundingDecision : details.finalFundingDecision"
                [stepStatus]="stepStatus"
                [fundingDecision]="step === '2' ? details.preFundingDecision : details.finalFundingDecision"
                [eligibilityDecisionDate]="details.eligibilityDecisionDate"
                [options]="details.fullOptions"
                [submitLabel]="'project.assessment.fundingDecision.submit.label'">
        </app-project-application-funding-decision>
    </div>
</app-project-page-template>
