<jems-project-page-template [needsCard]="true" *ngIf="details$ | async as details"
                           titleKey="project.assessment.and.decision.header"
                           [isVersionedData]="false">

    <div page-sub-title jemsNoWidthLimit jemsFormLayout>
        <h2>{{details.currentVersionOfProjectTitle}}</h2>
        <jems-project-application-information jemsNoWidthLimit [project]="details.currentVersionOfProject">
        </jems-project-application-information>
    </div>

    <div jemsFormLayout>
        <h3>{{'project.assessment.fundingDecision.dialog.title' | translate}}</h3>
        <jems-project-application-funding-decision
                jemsNoWidthLimit
                *ngIf="details.showSecondDecision"
                [currentVersionOfProject]="details.currentVersionOfProject"
                [currentVersionOfProjectStatus]="details.finalFundingDecision"
                [userCanChangeFunding]="details.userCanChangeFunding"
                [stepStatus]="stepStatus"
                [fundingDecision]="details.finalFundingDecision"
                [eligibilityDecisionDate]="details.eligibilityDecisionDate"
                [options]="details.optionsForSecondDecision"
                [submitLabel]="'project.assessment.fundingDecision.submit.finalize.label'">
        </jems-project-application-funding-decision>
        <jems-project-application-funding-decision
                jemsNoWidthLimit
                [currentVersionOfProject]="details.currentVersionOfProject"
                [currentVersionOfProjectStatus]="step === '2' ? (details.preFundingDecision || details.finalFundingDecision) : details.finalFundingDecision"
                [userCanChangeFunding]="details.userCanChangeFunding"
                [stepStatus]="stepStatus"
                [fundingDecision]="step === '2' ? (details.preFundingDecision || details.finalFundingDecision) : details.finalFundingDecision"
                [eligibilityDecisionDate]="details.eligibilityDecisionDate"
                [options]="details.fullOptions"
                [submitLabel]="'project.assessment.fundingDecision.submit.label'">
        </jems-project-application-funding-decision>
    </div>
</jems-project-page-template>
