<form jemsFormLayout [formGroup]="lumpSumForm">
    <div jemsMultiColumnRow>
        <a color="primary" class="mr-1" mat-icon-button *ngIf="formState !== FormState.EDIT"
           routerLink="../../.."
           matTooltip="{{ 'programme.simplified.cost.options.back.to.list' | translate }}">
            <mat-icon class="icon-back" fontSet="material-icons-outlined">arrow_circle_left</mat-icon>
        </a>
        <h3 class="mb-0 put-icon-to-header-line">{{'lump.sum.title' | translate}}</h3>
        <button mat-raised-button color="primary"
                *ngIf="formState === FormState.VIEW && (programmeEditableStateStore.hasEditPermission$ | async)"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'lump.sum.button.edit' | translate}}
        </button>
    </div>

    <jems-multi-language-container [switchButtonsVisible]="formState === FormState.EDIT">
        <jems-multi-language-form-field
                formControlName="name"
                label="lump.sum.form.field.name"
                [maxLength]="50">
        </jems-multi-language-form-field>
    </jems-multi-language-container>

    <jems-multi-language-container [switchButtonsVisible]="formState === FormState.EDIT">
        <jems-multi-language-form-field
                formControlName="description"
                label="lump.sum.form.field.description"
                [maxLength]="255">
        </jems-multi-language-form-field>
    </jems-multi-language-container>

    <mat-form-field>
        <mat-label>{{'lump.sum.form.field.cost' | translate}}</mat-label>
        <input currencyMask type="decimal"
               [options]="{nullable: true}"
               name="cost" formControlName="cost" matInput required>
        <mat-error>
            <jems-form-field-errors
                    [errors]="lumpSumForm?.controls?.cost?.errors"
                    [messages]="costErrors">
            </jems-form-field-errors>
        </mat-error>
    </mat-form-field>

    <div>
        <div jemsLabel class="mat-required-marker"
             [ngClass]="{'empty': lumpSumForm?.controls?.allowSplitting?.errors}">
            {{'lump.sum.allow.splitting' | translate}}
        </div>
        <mat-button-toggle-group
                [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)">
            <mat-button-toggle
                    value="Yes"
                    [checked]="previousSplitting === 'Yes'"
                    (change)="changeSplitting($event.value)">
                <span jemsText maxWidth="230">{{'common.yes' | translate}}</span>
            </mat-button-toggle>
            <mat-button-toggle
                    value="No"
                    [checked]="previousSplitting === 'No'"
                    (change)="changeSplitting($event.value)">
                <span jemsText maxWidth="230">{{'common.no' | translate}}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>

    <div>
        <div jemsLabel class="mat-required-marker"
             [ngClass]="{'empty': lumpSumForm?.controls?.isFastTrack?.errors}">
            {{'lump.sum.is.fast.track' | translate}}
        </div>
        <mat-button-toggle-group
                [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate && isFastTrackLumpSumLocked)">
            <mat-button-toggle
                    value="Yes"
                    [checked]="isFastTrack === 'Yes'"
                    (change)="changeFastTrack($event.value)">
                <span jemsText maxWidth="230">{{'common.yes' | translate}}</span>
            </mat-button-toggle>
            <mat-button-toggle
                    value="No"
                    [checked]="isFastTrack === 'No'"
                    (change)="changeFastTrack($event.value)">
                <span jemsText maxWidth="230">{{'common.no' | translate}}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>

    <div>
        <div jemsLabel class="mat-required-marker"
             [ngClass]="{'empty': lumpSumForm?.controls?.phase?.errors}">
            {{'lump.sum.related.phase' | translate}}
        </div>
        <mat-button-toggle-group
                [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)">
            <mat-button-toggle
                    value="{{ProgrammeLumpSumDTO.PhaseEnum.Preparation}}"
                    [checked]="previousPhase === ProgrammeLumpSumDTO.PhaseEnum.Preparation"
                    (change)="changePhase($event.value)">
                <span jemsText maxWidth="230">{{'lump.sum.phase.preparation' | translate}}</span>
            </mat-button-toggle>
            <mat-button-toggle
                    value="{{ProgrammeLumpSumDTO.PhaseEnum.Implementation}}"
                    [checked]="previousPhase === ProgrammeLumpSumDTO.PhaseEnum.Implementation"
                    (change)="changePhase($event.value)">
                <span jemsText maxWidth="230">{{'lump.sum.phase.implementation' | translate}}</span>
            </mat-button-toggle>
            <mat-button-toggle
                    value="{{ProgrammeLumpSumDTO.PhaseEnum.Closure}}"
                    [checked]="previousPhase === ProgrammeLumpSumDTO.PhaseEnum.Closure"
                    (change)="changePhase($event.value)">
                <span jemsText maxWidth="230">{{'lump.sum.phase.closure' | translate}}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>

    <div>
        <h4 jemsLabel class="mat-required-marker"
             [ngClass]="{'empty': lumpSumForm?.controls?.categories?.errors}">
            {{'lump.sum.cost.categories' | translate}}
        </h4>
        <p>{{'programme.lumpSum.categories.min.2' | translate}}</p>
        <div *ngFor="let element of categories">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="checkSelection(element)"
                          [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)"
                          [checked]="selection.isSelected(element)">
                {{'lump.sum.cost.category.' + element | translate}}
            </mat-checkbox>
            <br>
        </div>
    </div>
    <br><br>

    <div jemsMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button mat-stroked-button
                type="button"
                (click)="onCancel()">
            {{'lump.sum.new.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                [disabled]="lumpSumForm.invalid || submitted || !validNumberOfSelections"
                (click)="onSubmit()">
            {{'lump.sum.new.button.save' | translate}}
        </button>
    </div>
    <jems-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'lump.sum.new.message.successful' | translate}}</p>
    </jems-alert>
    <jems-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nMessage?.i18nKey"
               [type]="Alert.ERROR">
        <jems-api-error-content [error]="error"></jems-api-error-content>
    </jems-alert>
</form>



