<form appFormLayout [formGroup]="lumpSumForm">
    <div appMultiColumnRow>
        <h3 class="mb-0">{{'lump.sum.title' | translate}}</h3>
        <button mat-raised-button color="primary"
                *ngIf="formState === FormState.VIEW && (programmeEditableStateStore.hasEditPermission$ | async)"
                (click)="changeFormState$.next(FormState.EDIT)">
            {{'lump.sum.button.edit' | translate}}
        </button>
    </div>

    <app-multi-language-container [switchButtonsVisible]="formState === FormState.EDIT">
        <app-multi-language-form-field
                formControlName="name"
                label="lump.sum.form.field.name"
                [maxLength]="50">
        </app-multi-language-form-field>
    </app-multi-language-container>

    <app-multi-language-container [switchButtonsVisible]="formState === FormState.EDIT">
        <app-multi-language-form-field
                formControlName="description"
                label="lump.sum.form.field.description"
                [maxLength]="255">
        </app-multi-language-form-field>
    </app-multi-language-container>

    <mat-form-field>
        <mat-label>{{'lump.sum.form.field.cost' | translate}}</mat-label>
        <input currencyMask type="decimal"
               [options]="{min: 0.00}"
               name="cost" formControlName="cost" matInput required>
        <mat-error>
            <app-form-field-errors
                    [errors]="lumpSumForm?.controls?.cost?.errors"
                    [messages]="costErrors">
            </app-form-field-errors>
        </mat-error>
    </mat-form-field>

    <div>
        <div appLabel>
            {{'lump.sum.allow.splitting' | translate}} *
        </div>
        <mat-button-toggle-group
                [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)">
            <mat-button-toggle
                    value="Yes"
                    [checked]="previousSplitting === 'Yes'"
                    (change)="changeSplitting($event.value)">
                {{'lump.sum.splitting.yes' | translate}}
            </mat-button-toggle>
            <mat-button-toggle
                    value="No"
                    [checked]="previousSplitting === 'No'"
                    (change)="changeSplitting($event.value)">
                {{'lump.sum.splitting.no' | translate}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-error>
            <app-form-field-errors
                    [errors]="lumpSumForm?.controls?.allowSplitting?.errors"
                    [messages]="allowSplittingErrors">
            </app-form-field-errors>
        </mat-error>
    </div>

    <div>
        <div appLabel>{{'lump.sum.related.phase' | translate}} *</div>
        <mat-button-toggle-group
                [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)">
            <mat-button-toggle
                    value="{{ProgrammeLumpSumDTO.PhaseEnum.Preparation}}"
                    [checked]="previousPhase === ProgrammeLumpSumDTO.PhaseEnum.Preparation"
                    (change)="changePhase($event.value)">
                {{'lump.sum.phase.preparation' | translate}}
            </mat-button-toggle>
            <mat-button-toggle
                    value="{{ProgrammeLumpSumDTO.PhaseEnum.Implementation}}"
                    [checked]="previousPhase === ProgrammeLumpSumDTO.PhaseEnum.Implementation"
                    (change)="changePhase($event.value)">
                {{'lump.sum.phase.implementation' | translate}}
            </mat-button-toggle>
            <mat-button-toggle
                    value="{{ProgrammeLumpSumDTO.PhaseEnum.Closure}}"
                    [checked]="previousPhase === ProgrammeLumpSumDTO.PhaseEnum.Closure"
                    (change)="changePhase($event.value)">
                {{'lump.sum.phase.closure' | translate}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-error>
            <app-form-field-errors
                    [errors]="lumpSumForm?.controls?.phase?.errors"
                    [messages]="phaseErrors">
            </app-form-field-errors>
        </mat-error>
    </div>

    <div>
        <div appLabel>{{'lump.sum.cost.categories' | translate}} *</div>
        <div *ngFor="let element of categories">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="checkSelection(element)"
                          [disabled]="formState === FormState.VIEW || (isProgrammeSetupLocked && !isCreate)"
                          [checked]="selection.isSelected(element)">
                {{'lump.sum.cost.category.' + element | translate}}
            </mat-checkbox>
            <br>
        </div>
        <mat-error>
            <app-form-field-errors
                    [errors]="lumpSumForm?.controls?.categories?.errors"
                    [messages]="categoriesErrors">
            </app-form-field-errors>
        </mat-error>
    </div>

    <div appMultiColumnRow *ngIf="formState === FormState.EDIT">
        <button mat-stroked-button
                type="button"
                (click)="onCancel()">
            {{'lump.sum.new.button.cancel' | translate}}
        </button>
        <button mat-raised-button
                color="primary"
                type="button"
                [disabled]="lumpSumForm.invalid || submitted || !validNumberOfSelections"
                (click)="onSubmit()">
            {{'lump.sum.new.button.save' | translate}}
        </button>
    </div>

    <app-alert
            [show]="!submitted && (showSuccessMessage$ | async)"
            [type]="Alert.SUCCESS">
        <p>{{'lump.sum.new.message.successful' | translate}}</p>
    </app-alert>
    <app-alert *ngIf="error$ | async as error"
               [show]="!!error.i18nMessage?.i18nKey"
               [type]="Alert.ERROR">
        <app-api-error-content [error]="error"></app-api-error-content>
    </app-alert>
</form>



