<mat-button-toggle-group
        [disabled]="disabled"
        (change)="selected.emit($event.value)"
        [(ngModel)]="previousSelection">
    <mat-button-toggle
            value="PositiveEffects"
            (change)="selected.emit($event.value)">
        {{'project.application.form.management.principles.table.contribution.type.positive' | translate}}
    </mat-button-toggle>
    <mat-button-toggle
            value="Neutral"
            (change)="selected.emit($event.value)">
        {{'project.application.form.management.principles.table.contribution.type.neutral' | translate}}
    </mat-button-toggle>
    <mat-button-toggle
            value="NegativeEffects"
            (change)="selected.emit($event.value)">
        {{'project.application.form.management.principles.table.contribution.type.negative' | translate}}
    </mat-button-toggle>
</mat-button-toggle-group>